﻿@using WebApp.Models;
@using Web.Repositories.Admin;
@using WebApp.Services;
@{
    Layout = "~/Areas/Siteadmin/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "管理首頁";

}



<div class="content-body">
    <section class="panel panel-default">
        <header class="panel-heading">
            <h1 class="h5 float-left font-weight-bold">匯入</h1>
            <div class="float-right">

                <!--

                   <div class="btn-group btn-group-sm dropdown" role="group">
                     <button class="btn dropdown-toggle btn-main" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="語系" id="tableLen"><i class="icon-globe"></i><span class="ml-1 d-none d-md-inline-block">語系</span></button>
                     <div class="dropdown-menu dropdown-menu-right" aria-labelledby="tableLen"><a class="dropdown-item selected" href="#">中文</a><a class="dropdown-item" href="#">English</a>
                     </div>
                   </div>
                   -->
            </div>
        </header>
        <div class="panel-wrapper">
            <div class="panel-body">
                <form action="~/Siteadmin/@ViewBag.ControllerName/ImportSave" method="post" name="saveForm" id="saveForm" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()


                    <fieldset>


                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="password">
                                匯入
                                <span class="text-danger ml-1">*</span>
                            </label>
                            <div class="col-sm-4">
                                <input class="" type="file" name="postFile" id="postFile" />
                            </div>


                            <small class="form-text text-muted offset-md-2 col-sm-9"></small>
                            <div class="_formErrorMsg"></div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="password">
                                產品線
                            </label>
                            <div class="col-sm-4">
                                <select class="bs-select form-control" name="category_id" id="category_id">


                                    <option value="">請選擇</option>

                                    @if (ViewBag.ProductCategory != null)
                                    {
                                        int i = 1;
                                        foreach (ProductCategory item in ViewBag.ProductCategory)
                                        {
                                            LanguageResource LangData = item.LangData.FirstOrDefault();

                                            List<ProductCategory> nextCategory = await (new Helper()).NextCategory(item.id, "en");

                                            <option value="@item.id">@LangData?.title</option>

                                            if (nextCategory.Count > 0)
                                            {
                                                foreach (ProductCategory subItem in nextCategory)
                                                {
                                                    LanguageResource subLangData = subItem.LangData.FirstOrDefault();

                                                    <option value="@subLangData.id">　└@subLangData?.title</option>
                                                }
                                            }
                                        }
                                    }

                                </select>
                            </div>


                            <small class="form-text text-muted offset-md-2 col-sm-9"></small>
                            <div class="_formErrorMsg"></div>
                        </div>


                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="password">

                            </label>
                            <div class="col-sm-4">
                                <a href="/Files/Import/sample.xlsx">下載參考檔案</a>
                            </div>


                            <small class="form-text text-muted offset-md-2 col-sm-9"></small>
                            <div class="_formErrorMsg"></div>
                        </div>

                        @if (ViewBag.showResult == "Y")
                        {
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">

                                </label>

                                <div class="col-sm-4">
                                    匯入結果：成功：<span style="color:#FF0000;">@ViewBag.numOK</span> ， 失敗(帳號重複)：<span style="color:#FF0000;">@ViewBag.numErr</span>
                                </div>


                                <small class="form-text text-muted offset-md-2 col-sm-9"></small>
                                <div class="_formErrorMsg"></div>
                            </div>
                        }


                    </fieldset>





                    <div class="text-center my-4 form-btn-group">
                        <button class="btn btn-main btn-submit" type="submit">送出</button>
                        <button class="btn btn-default" type="reset">清除重填</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- / layout-content-->
</div>


@section Scripts {

    <script>



    </script>
}