﻿<div class="award-list bg-E5F5F3">
    <div class="award-list-title-box color-6DC5BA">
        <div class="award-list-icon">
            <img src="/styles/images/career/award-icon1.webp" alt>
        </div>
        <h2 class="award-list-title">National Awards</h2>
    </div>
    <div class="award-list-info">
        <p>
            National Excellent Employer-employees relationship Enterprise Award.
        </p>
        <p>
            National Excellent Education and Training Enterprise Award.
        </p>
        <p>
            National Excellent Labor conditions Enterprise Award.
        </p>
        <p>
            National Excellent Safety and Health Self-examination Enterprise Award.
        </p>
        <p>
            National Excellent Employees Welfare Committee Award.
        </p>
        <p>
            Taiwan Corporate Sustainability Reports Award–Gold Medal for Large Enterprises.
        </p>
    </div>
</div>