﻿<div class="award-list bg-DEECF7">
    <div class="award-list-title-box color-5C9FD6">
        <div class="award-list-icon">
            <img src="/styles/images/career/award-icon2.webp" alt>
        </div>
        <h2 class="award-list-title">City Government Awards</h2>
    </div>
    <div class="award-list-info">
        <p>
            Excellent enterprise for Labor Education in Taichung County.
        </p>
        <p>
            LOHAS Work Environment Award of Taichung City Government and Hsinchu Branch received Friendly Employer Award.
        </p>
        <p>
            Excellent Breastfeeding Rooms for Workplace Award of Taichung City Government.
        </p>
        <p>
            The Fastest Award and Health Promotion Award of Workplace Health Promotion Competition by Taichung City Government.
        </p>
        <p>
            Quality Award of the Child Care Measures Plan of Business Unit by the Labor Affairs Bureau of Taichung City Government.
        </p>
        <p>
            Award of Happy Workplace by Taichung City Government and Changhua County Government.
        </p>
        <p>
            Award of Health Enterprise Workplace by Health Bureau of Taichung City Government.
        </p>
    </div>
</div>