﻿<div class="award-list bg-EAE8F4">
    <div class="award-list-title-box color-8174BE">
        <div class="award-list-icon">
            <img src="/styles/images/career/award-icon3.webp" alt>
        </div>
        <h2 class="award-list-title">Executive Yuan Awards</h2>
    </div>
    <div class="award-list-info">
        <p>
            Healthy Workplace Badge and Health Management Award from Department of Health, Executive Yuan.
        </p>
        <p>
            Creating Employment Opportunities Contribution Award, Executive Yuan.
        </p>
        <p>
            Healthy Workplace- Annual Special Contribution Award from Department of Health, Executive Yuan.
        </p>
        <p>
            Employer Supports Employee’s Child Weaning Period Award from Executive Yuan Council of Labor Affairs.
        </p>
        <p>
            TTQS (Talent Quality-management System) Gold Awards from Ministry of Labor, Executive Yuan.
        </p>
        <p>
            National Talent Development Awards (NTDA) from Ministry of Labor, Executive Yuan.
        </p>

    </div>
</div>