﻿<div class="award-list bg-FFEED8">
    <div class="award-list-title-box color-E2911D">
        <div class="award-list-icon">
            <img src="/styles/images/career/award-icon4.webp" alt>
        </div>
        <h2 class="award-list-title">Executive Yuan Awards</h2>
    </div>
    <div class="award-list-info">
        <p>
            Advanced Award of Promoting Workplace Work Equal Rights (CTSP Branch) by the Central Taiwan Science Park Bureau, MOST.
        </p>
        <p>
            Award of Promoting Workplace Work Equal Rights (Hsinchu Branch) by the Hsinchu Science Park Bureau, MOST.
        </p>
        <p>
            Sports Certified Enterprise Award Business Unit by the Sports Administration Ministry of Education.
        </p>
        <p>
            Accredited Healthy Workplace Award of Health Promotion Administration, Ministry of Health and Welfare.
        </p>
        <p>
            Excellent Employer of Research and Development Substitute Services Award from Ministry of the Interior.
        </p>
        <p>
            Excellent Enterprise Award from Manila Economic and Cultural Office (MECO).
        </p>

    </div>
</div>