﻿@using WebApp.Services;
@inject LocalService _localizer
@{
    LanguageResource categoryData = ViewBag.category.LangData[0];
    List<ProductCategory> TechnologyCategory = ViewBag.TechnologyCategory;

}
<main>
    <h1 class="title-h1">Technology</h1>
    <div class="page-banner-box">
        <div class="page-banner">
            <h2 class="page-banner-title">@_localizer.GetLocalizedHtmlString("Technology").ToString()</h2>
            <img class="img-object" src="/styles/images/finance/page-banner1.webp" alt>
        </div>
        <div class="breadnav-block fade">
            <ul class="breadnav-box">
                <li><a href="@Url.Content("~/" + ViewBag.culture)"><i class="demo-icon icon-home"></i></a></li>
                <li><a href="@Html.Raw(ViewBag.culturePath + "Technology")"><span>@_localizer.GetLocalizedHtmlString("Technology").ToString()</span></a></li>
                <li><span>@categoryData?.title</span></li>
            </ul>
            <div class="breadnav-bg"></div>
        </div>
    </div>
    <div class="bg-fff">
        <div class="service-page-top">
            <div class="container-box">
                <div class="service-top-back-box fade-right">
                    <a href="@Html.Raw(ViewBag.culturePath + "Technology")" class="back-box">
                        <span class="back-menu"></span>
                        <span class="back-p">@_localizer.GetLocalizedHtmlString("Menu").ToString()</span>
                    </a>
                    <a href="@Html.Raw(ViewBag.culturePath + "Technology")" class="back-box">
                        <span class="back-icon"></span>
                        <span class="back-p">@_localizer.GetLocalizedHtmlString("Back").ToString()</span>
                    </a>
                </div>
                <h2 class="service-page-top-title fade">@categoryData?.title </h2>
                <div class="service-page-top-info edit-box fade-up">
                    <img src="@Html.Raw((new Helper()).FormatPic(categoryData , "path_pic" , "image"))" alt="@Html.Raw((new Helper()).FormatPic(categoryData , "path_pic" , "title"))">
                    @Html.Raw(@categoryData?.DetailsData?.editor ?? "")
                </div>
            </div>
        </div>
        @if (TechnologyCategory != null)
        {
            <div class="page-list-block">
                <div class="container-box">
                    <div class="service-list-box">

                        @foreach (ProductCategory item in TechnologyCategory.Where(m => m.parent_id == categoryData.ProductCategoryId).ToList())
                        {
                            LanguageResource LangData = item.LangData.FirstOrDefault();

                            <div class="service-list">
                                <a href="@Html.Raw(ViewBag.culturePath + "TechnologyData/" + item.id)" class="service-list-title-box">
                                    <span class="service-list-title">@LangData?.title</span>
                                    <span class="service-list-link"></span>
                                </a>
                                <span class="service-img">
                                    <img src="@Html.Raw((new Helper()).FormatPic(LangData , "pic" , "image"))" alt="@Html.Raw((new Helper()).FormatPic(LangData , "pic" , "title"))">
                                </span>
                                <span class="service-list-info">
                                    @Html.Raw(LangData?.DetailsData?.notes)
                                </span>
                            </div>


                        }

                    </div>
                </div>
            </div>

        }
    </div>
</main>