﻿@using WebApp.Services;
@inject LocalService _localizer
@{
    LanguageResource categoryData = ViewBag.category.LangData[0];
    List<ProductCategory> TechnologyCategory = ViewBag.TechnologyCategory;


}
<main>
    <h1 class="title-h1">Technology</h1>
    <div class="page-banner-box">
        <div class="page-banner">
            <h2 class="page-banner-title">@_localizer.GetLocalizedHtmlString("Technology").ToString()</h2>
            <img class="img-object" src="/styles/images/finance/page-banner1.webp" alt>
        </div>
        <div class="breadnav-block fade">
            <ul class="breadnav-box">
                <li><a href="@Url.Content("~/" + ViewBag.culture)"><i class="demo-icon icon-home"></i></a></li>
                <li><span>@_localizer.GetLocalizedHtmlString("Technology").ToString()</span></li>
            </ul>
            <div class="breadnav-bg"></div>
        </div>
    </div>
    <div class="bg-fff">

        @Html.Raw(categoryData.DetailsData?.editor ?? "")

        @if (TechnologyCategory != null)
        {
            <div class="page-list-block">
                <div class="container-box">
                    <div class="service-list-box">
                        @foreach (ProductCategory item in TechnologyCategory.Where(m => m.parent_id == "Technology").ToList())
                        {
                            LanguageResource LangData = item.LangData.FirstOrDefault();

                            if (LangData != null)
                            {
                                    List<ProductCategory> SubProductCategory = TechnologyCategory.Where(m => m.parent_id == item.id).ToList();

                            string url = ViewBag.culturePath + "TechnologyData/" + item.id;

                            if (SubProductCategory != null && SubProductCategory.Count > 0)
                            {
                                url = ViewBag.culturePath + "TechnologyList/" + item.id;
                            }





                            <div class="service-list">
                                <a href="@url" class="service-list-title-box">
                                    <span class="service-list-title">@LangData?.title</span>
                                    <span class="service-list-link"></span>
                                </a>
                                <span class="service-img">
                                    <img src="@Html.Raw((new Helper()).FormatPic(LangData , "pic" , "image"))" alt="@Html.Raw((new Helper()).FormatPic(LangData , "pic" , "title"))">
                                </span>
                                <span class="service-list-info">
                                    @Html.Raw(LangData?.DetailsData?.notes)
                                </span>

                                @if (SubProductCategory != null && SubProductCategory.Count > 0)
                                {

                                    List<string> subCategoryId = SubProductCategory.Select(m => m.id).ToList();

                                    <div class="service-list-class-box">
                                        @foreach (ProductCategory subItem in SubProductCategory)
                                        {
                                            LanguageResource subLangData = subItem.LangData.FirstOrDefault();
                                            <div class="service-list-class">
                                                <a href="@Html.Raw(ViewBag.culturePath + "TechnologyData/" + subItem.id)" class="class-title-box">
                                                    <span class="class-title">@subLangData?.title</span>
                                                    <span class="class-link-icon"></span>
                                                </a>
                                            </div>
                                        }

                                    </div>
                                }
                            </div>





                            }
                        }
                    </div>
                </div>
            </div>

        }
    </div>
</main>
