﻿<div class="service-top-box">
    <div class="service-top-left">
        <p class="service-top-ps">Dedicated to Being Your Preferred Solution Provider Pushing the limits worldwide</p>
        <h3 class="service-top-title">What We Do</h3>
    </div>
    <div class="service-top-right">
        <p>Siliconware is one of the leading service-oriented companies in the semiconductor manufacturing field. Services are held increasingly more accountable to the business. They support to deliver on both quality and cost-effectiveness to our company and our valuable customers. </p>
        <p style="font-weight: 500;">Siliconware offers four different categories of service which are Assembly Service, Test Service, Bumping Service and Quality Management.</p>
    </div>
</div>