﻿<p>
    Siliconware's Design Center is proud of being one of the most experienced packaging design teams worldwide. For those customers that require modifications or completely new designs, our design center fits the bill precisely, with a full service operation that ensures your packages work flawlessly.
</p>
<p>To minimize your product development cycle and improve the throughput quality of your manufactures, be a partner with experienced Siliconware, who provide one-stop shopping service: Design, Assembly and Test.</p>
<div class="service-page-top-info-list">
    <h3>Why Choose the Siliconware Design Center ?</h3>
    <p>Siliconware Design Center offers the latest design software and hardware to optimize the manufacturing of your packages, and provides:</p>
    <ul>
        <li>Experienced Design Personnel Technical Assistance on substrate base, lead frame base and bumping mask designs</li>
        <li>Full vendor technical issues support</li>
        <li>Broad range of advanced substrate and lead frame base design types</li>
        <li>Short lead time for custom designs</li>
    </ul>
    <p>Additionally, Design Outputs can be provided in a host of file formats including:</p>
    <p>Bonding Diagram, Layout Drawing, Tooling Drawing, Package Outline Drawing</p>
