﻿@using WebApp.Models;
@using Web.Repositories.Admin;
@using WebApp.Services;
@{
    Layout = "~/Areas/Siteadmin/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "管理首頁";
    SystemMenu systemMenuData = ViewBag.SystemMenuData;
    Dictionary<String, Object> columns = ViewBag.Columns;
    Helper helper = new Helper();
    List<SystemMenu> systemMenus = ViewBag.SystemMenu;
    List<RolePermission> rolePermissions = ViewBag.RolePermission;
}



<div class="content-body">
    <section class="panel panel-default">
        <header class="panel-heading">
            <h1 class="h5 float-left font-weight-bold">@systemMenuData.title</h1>
            <div class="float-right">
                <a class="btn btn-sm btn-light" title="返回" href="~/Siteadmin/@ViewBag.ControllerName/List/@ViewBag.Uri"><i class="icon-undo2"></i><span class="ml-1 d-none d-md-inline-block">返回</span></a>
                <!--
                   <div class="btn-group btn-group-sm dropdown" role="group">
                     <button class="btn dropdown-toggle btn-main" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="語系" id="tableLen"><i class="icon-globe"></i><span class="ml-1 d-none d-md-inline-block">語系</span></button>
                     <div class="dropdown-menu dropdown-menu-right" aria-labelledby="tableLen"><a class="dropdown-item selected" href="#">中文</a><a class="dropdown-item" href="#">English</a>
                     </div>
                   </div>
                   -->
            </div>
        </header>
        <div class="panel-wrapper">
            <div class="panel-body">
                <form action="~/Siteadmin/@ViewBag.ControllerName/Save" method="post" name="saveForm" id="saveForm">
                    @Html.AntiForgeryToken()

                    <input type="hidden" name="id" id="id" value="@ViewBag.Id" />

                    <input type="hidden" name="created_at" value="@Html.Raw( (ViewBag.Data != null && ViewBag.Data.ContainsKey("created_at")) ? ViewBag.Data["created_at"] : DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss"))" />

                      <input type="hidden" name="roles" id="roles" value="" />
                        <input type="hidden" name="lang" value="@ViewBag.adminNowLang.language_id" />
                    @if (columns.ContainsKey("main"))
                    {

                        <fieldset>
                            <legend class="legend h6 mb-4">
                                <i class="icon-angle-double-down2 mr-3"></i>主要設定
                            </legend>

                            @foreach (Columns item in (List<Columns>)columns["main"])
                            {

                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse("[" + item.options.ToString() + "]");
                                ViewBag.colJson = mJObj[0];//欄位設定
                                ViewBag.col = item;//欄位資料
                                ViewBag.categories = helper.GetCategory(mJObj[0], ViewBag.Uri , ViewBag.adminNowLang.language_id);//取得分類判斷

                                //欄位名稱
                                ViewBag.colName = !string.IsNullOrEmpty(ViewBag.col.sub_column_name) ? ViewBag.col.column_name + "[" + ViewBag.col.sub_column_name + "]" : ViewBag.col.column_name;

                                //欄位ID
                                ViewBag.colId = !string.IsNullOrEmpty(ViewBag.col.sub_column_name) ? ViewBag.col.column_name + "_" + ViewBag.col.sub_column_name : ViewBag.col.column_name;




                                @Html.Partial("Form/" + mJObj[0]["view"])
                                ;
                            }


                        </fieldset>
                    }


                    <fieldset class="mt-4">
                        <legend class="legend h6 mb-4">
                            <i class="icon-angle-double-down2 mr-3"></i>權限設定
                        </legend>

                        <div class="form-group">
                            <div class="button-multiselect-box">
                                <a class="permission-on-all btn btn-secondary btn-sm" href="javascript:void(0)">選擇全部</a>
                                <a class="permission-off-all btn btn-secondary btn-sm" href="javascript:void(0)">清除選取</a>
                            </div>
                        </div>

                        @foreach (SystemMenu menu in systemMenus)
                        {

                            List<SystemMenu> systemMenus2 = (new Helper()).menu(menu.id);

                            @if (systemMenus2.Count > 0)
                            {
                                foreach (SystemMenu menu2 in systemMenus2.Where(m => m.parent_id != "default").ToList())
                                {
                                    List<SystemMenu> systemMenus3 = (new Helper()).menu(menu2.id);

                                    <h3 class="h6">
                                        @menu2.title
                                        <div class="custom-control custom-checkbox custom-control-inline ml-3">
                                            <input class="custom-control-input permission-check-all ignore-valid permission-lay" data-category="control-system" type="checkbox" id="category-@menu2.id" />
                                            <label class="custom-control-label" for="category-@menu2.id">選擇全部</label>
                                        </div>
                                    </h3>
                                    @if (systemMenus3.Count > 0)
                                    {
                                        int r = 0;

                                        @foreach (SystemMenu menu3 in systemMenus3)
                                        {
                                              string checkeda = "";
                                              string checked1 = "";
                                              string checked2 = "";
                                             if(rolePermissions != null && rolePermissions.Where(m=>m.MenuId == menu3.id).FirstOrDefault() != null){
                                                checkeda = "checked";
                                              }
                                              if(rolePermissions != null && rolePermissions.Where(m=>m.MenuId == menu3.id).Where(m=>m.Permission == "F").FirstOrDefault() != null){
                                                checked1 = "checked";
                                              }
                                               if(rolePermissions != null && rolePermissions.Where(m=>m.MenuId == menu3.id).Where(m=>m.Permission == "F").FirstOrDefault() != null){
                                                checked2 = "checked";
                                              }
                                            
                                               <div class="form-group bg-light border p-2">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="row">
                                          
                                          



                                                            <div class="col-md-6 permission-set">
                                                                <div class="row">
                                                                    <div class="col-4">
                                                                        <div class="custom-control custom-checkbox">

                                                                            <input class="custom-control-input ignore-valid switch-set menuId_@menu3.id category-@menu2.id permission-set"

                                                               type="checkbox"
                                                               @checkeda
                                                               id="set-@menu3.id" value="@menu3.id" />

                                                                            <label class="custom-control-label"
                                                               for="set-@menu3.id">@menu3.title</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col text-muted">
                                                                        <div class="custom-control custom-checkbox custom-control-inline">
                                                                            <input class="custom-control-input permission-item category-control-system category-@menu2.id set-@menu3.id"
                                                               data-category="control-system"
                                                               type="checkbox"
                                                               name="Role[@menu3.id][]"
                                                               id="@Html.Raw(menu3.id + "_F")"
                                                               @checked1
                                                               value="F"
                                                                />
                                                                            <label class="custom-control-label"
                                                               for="@Html.Raw(menu3.id + "_F")">完全控制</label>
                                                                        </div>
                                                                        <div class="custom-control custom-checkbox custom-control-inline">
                                                                            <input class="custom-control-input permission-item category-control-system category-@menu2.id set-@menu3.id"
                                                               data-category="control-system"
                                                               type="checkbox"
                                                               name="Role[@menu3.id][]"
                                                               id="@Html.Raw(menu3.id + "_O")"
                                                               @checked2
                                                               value="O"
                                                                />
@*                                                                            <label class="custom-control-label"
                                                               for="@Html.Raw(menu3.id + "_O")">唯讀</label>*@
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>




                                                            
                                          
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                          
                                          
                                        }
                                    }
                                }
                            }
                        }

                    </fieldset>


                    @if (columns.ContainsKey("adv"))
                    {
                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4">
                                <i class="icon-angle-double-down2 mr-3"></i>進階選項
                            </legend>
                            @foreach (Columns item in (List<Columns>)columns["adv"])
                            {

                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse("[" + item.options.ToString() + "]");
                                ViewBag.colJson = mJObj[0];//欄位設定
                                ViewBag.col = item;//欄位資料
                                ViewBag.categories = helper.GetCategory(mJObj[0], ViewBag.Uri , ViewBag.adminNowLang.language_id);//取得分類判斷

                                //欄位名稱
                                ViewBag.colName = !string.IsNullOrEmpty(ViewBag.col.sub_column_name) ? ViewBag.col.column_name + "[" + ViewBag.col.sub_column_name + "]" : ViewBag.col.column_name;

                                //欄位ID
                                ViewBag.colId = !string.IsNullOrEmpty(ViewBag.col.sub_column_name) ? ViewBag.col.column_name + "_" + ViewBag.col.sub_column_name : ViewBag.col.column_name;

                                @Html.Partial("Form/" + mJObj[0]["view"])
                                ;
                            }
                        </fieldset>
                    }


                    <div class="text-center my-4 form-btn-group">
                        <button class="btn btn-main" type="submit">送出</button>
                        <button class="btn btn-default" type="reset">清除重填</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- / layout-content-->
</div>


@section Scripts {

<script>
    $(function () {

        $('.permission-on-all').click(function(){
        
            $('.switch-set').prop('checked' , true);
            $('.permission-item').prop('checked' , true);
        });

          $('.permission-off-all').click(function(){
        
            $('.switch-set').prop('checked' , false);
            $('.permission-item').prop('checked' , false);
        });

            $('.permission-lay').click(function(){
        
                $('.'+$(this).attr("id")).prop('checked' , $(this).prop('checked'));
            
            });

        $('.permission-set').click(function(){
        
                $('.'+$(this).attr("id")).prop('checked' , $(this).prop('checked'));
            
            });
       });

</script>
}