﻿@{
    Layout = null;
    ViewBag.Title = "File Manager";
}

<link type="text/css" rel="stylesheet" href="/static/modules/elFinder/css/elfinder.min.css" />
<link type="text/css" rel="stylesheet" href="/static/modules/elFinder/css/theme.css" />
<link type="text/css" rel="stylesheet" href="/static/modules/elFinder/themes/windows-10/css/theme.css" />


<div id="elfinder"></div>

<script src="/static/modules/lib/jquery.min.js"></script>
<script src="/static/modules/lib/jquery-ui.min.js"></script>
<script src="/static/modules/elFinder/js/elfinder.min.js"></script>
<script src="/static/modules/elFinder/js/i18n/elfinder.zh_TW.js"></script>

<script type="text/javascript">
    // Documentation for client options:
    // https://github.com/Studio-42/elFinder/wiki/Client-configuration-options

var elf = null;

    $(document).ready(function() {
        var myCommands = elFinder.prototype._options.commands;
        var disabled = ['callback', 'chmod', 'editor', 'netmount', 'ping', 'help']; // Not yet implemented commands in elFinder.NetCore
        elFinder.prototype.i18.en.messages.TextArea = "Edit";
        elFinder.prototype.i18.en.messages.errNewNameSelection = 'Unable to create new file with name "$1"';
        $.each(disabled, function(i, cmd) {
            (idx = $.inArray(cmd, myCommands)) !== -1 && myCommands.splice(idx, 1);
        });
        var options = {
            url: '/el-finder/file-system/connector', // Default (Local File System)
    @*//customData: { folder: '@Model.Folder', subFolder: '@Model.SubFolder' }, // customData passed in every request to the connector as query strings. These values are used in FileController's Index method.*@
            rememberLastDir: false, // Prevent elFinder saving in the Browser LocalStorage the last visited directory
                commands: myCommands,
                    //lang: 'pt_BR', // elFinder supports UI and messages localization. Check the folder Content\elfinder\js\i18n for all available languages. Be sure to include the corresponding .js file(s) in the JavaScript bundle.
                    uiOptions: { // UI buttons available to the user
            toolbar: [
                //['back', 'forward'],
                //['reload'],
                //['home', 'up'],
                //['mkdir', 'mkfile', 'upload'],
                //['open', 'download'],
                //['undo', 'redo'],
                //['info'],
                //['quicklook'],
                //['copy', 'cut', 'paste'],
                //['rm'],
                //['duplicate', 'rename', 'edit'],
                //['selectall', 'selectnone', 'selectinvert'],
                ['view', 'sort'],
                ['search']
            ]
        },
        getFileCallback: function (file, fm) {

            addImages(file);

        },
        handlers: {
            select: function(event, elfinderInstance) {
                //return false;
            },
            add: function(event, fm) { 

              
               
            
            
            },
            upload: function(event, fm) {
              var files = event.data.added;
                var paths = "";
                files.forEach(function(item) {
                   // paths.push(fm.path(item.hash, true) + '\\' + fm.path(item.name, true));
                   
                    if (item.name != "") {
                         paths = paths + fm.path(item.hash, true) + '\\' + fm.path(item.name, true);
                    }
                   

                });

                if (paths != "") {
                     $.ajax({
                        url: "/el-finder/file-system/addFile",
                        type: "POST",
                        data: { paths: paths },
                        success: function(item) {

                           // elf.exec('reload');
                           // return false;
                        }
                    });
                }
            }

        }

        //onlyMimes: ["image", "text/plain"] // Get files of requested mime types only
        //lang: 'vi', // Change language
    };
    elf = $('#elfinder').elfinder(options).elfinder('instance');});

    function addImages(file) {

        let inputId = '@ViewBag.Id';

        var fileName = '';

        if (file.path != null) {
            fileName = '/' + file.path.replace(/\\/g, '/').replace('local/', '');
        }
        else {
            fileName = '/' + file.replace(/\\/g, '/').replace('local/', '');
        }


        var inputFiled = $('#' + inputId, window.parent.document);
        //  console.log(inputFiled.);

        // let input_id = inputId;

        //var input_id = inputFiled.selector.replace('#','');

     

        let plural = inputFiled.attr('data-plural');
           console.log(plural);
        var viewFileNmae = fileName.split('/');


        var addMovieButLeft = '';
        var addMovieButRight = '';
        var altInputeWidth = '130px;';




        if (plural == 'Y') {
            addMovieButLeft = '<div style="float: left;"><a href="javascript:vold(0);"  class="movePic" data-act="left"><i class="fa fa-chevron-circle-left"></i></a></div>';
            addMovieButRight = '<div  style="float: right;"><a href="javascript:vold(0);" class="movePic" data-act="right"><i class="fa fa-chevron-circle-right"></i></a></div>';
          //  altInputeWidth = '95px;';
        }


        var imgData = '<div  class="imgLayOut col-sm-2 card mr-2 d-inline-block ui-sortable-handle uploadFilePic" data-filename="' + fileName + '" data-filed="' + inputFiled.attr('id') + '" style="width: auto;">' +
            '<div><a href="' + fileName + '" data-fancybox="gallery" class="files_' + inputId + '" >' +
            '<div style="background:#fff url(' + fileName + ') center center no-repeat; width:130px; height:130px;background-size: cover;" ></div>' +
            '</a></div>' +
            '<div class="inputLay">' +
            //addMovieButLeft +
            '<div class="pt5">' +
            '<input type="text"  class="' + inputId + '_title"  value="" style="width:' + altInputeWidth + '" placeholder="圖片描述">' +



            '</div>' +
            // addMovieButRight +
            '</div>' +
            '<div style="text-align: center;"><a href="javascript:vold(0);" class="delFile files_' + inputId + '" data-file="' + inputId + '" title="刪除" data-plural="' + plural + '">[<i class="fa fa-trash-o">刪除</i>]</a></div>' +
            '</div>';

        var fileData = '<div class="imgLayOut uploadFile" data-filename="' + fileName + '" data-filed="' + inputFiled.attr('id') + '"><a href="' + fileName + '" target="_blank" class="files_' + inputId + '" data-filename="' + fileName + '" data-filed="' + inputFiled.attr('id') + '">' + fileName + '</a><input type="text" class="' + inputId + '_title is-valid" value="" style="width: 200px" placeholder="檔案標題">　<button type="button" class="btn btn-sm delFile files_' + inputId + '" data-file="' + inputId + '" data-file="' + inputId + '"><i class="fa fa-trash">刪除</i></button></div>';


        //一般上傳圖片
        if (inputFiled.attr('class').indexOf('editor') == -1) {

            //單圖
            if (plural == 'N') {
                if (inputId.indexOf('files') == -1) {
                    inputFiled.prev('.viewPic').html(imgData);
                }
                else {
                    inputFiled.prev('.viewPic').html(fileData);

                }
            }
            //多圖
            if (plural == 'Y') {

                if (inputId.indexOf('files') == -1) {
                    inputFiled.prev('.viewPic').append(imgData);
                }
                else {
                    inputFiled.prev('.viewPic').append(fileData);
                }
            }
        }
        //編輯器
        else {
            window.parent.processSelectedFile(file.url, inputId);
        }

        parent.jQuery.colorbox.close();

    }
</script>
