﻿.fade-up,
.fade,
.fade-left,
.fade-right{
    opacity: 0;
}

.fade-up.a-play{
	animation: fadeInUp .8s ease 0s 1 forwards;
}
.fade.a-play{
	animation: fade .8s ease 0s 1 forwards;
}
.fade-left.a-play{
    animation: fade-left .8s ease 0s 1 forwards;
}
.fade-right.a-play{
    animation:  fade-right .8s ease 0s 1 forwards;
}
@keyframes arrow-right {
    from {
        -webkit-transform: translate3d(0px, 0, 0);
        transform: translate3d(0px, 0, 0);
    }
    to {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

@keyframes arrow-left {
    from {
        -webkit-transform: translate3d(0px, 0, 0);
        transform: translate3d(0px, 0, 0);
    }
    to {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
}


@keyframes rotate360 {
    form{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 50%, 0);
      transform: translate3d(0, 50%, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
}

@keyframes fade {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
}


@keyframes fade-left {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100px, 0, 0);
        transform: translate3d(100px, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0px, 0, 0);
        transform: translate3d(0px, 0, 0);
    }
}
@keyframes fade-right {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100px, 0, 0);
        transform: translate3d(-100px, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0px, 0, 0);
        transform: translate3d(0px, 0, 0);
    }
}