
.icon-language-icon:before { content: '\e800'; } /* '' */
.icon-ig:before { content: '\e801'; } /* '' */
.icon-location-2:before { content: '\e801'; } /* '' */
.icon-line:before { content: '\e802'; } /* '' */
.icon-fb:before { content: '\e803'; } /* '' */
.icon-search-2:before { content: '\e804'; } /* '' */
.icon-plus-3:before { content: '\e805'; } /* '' */
.icon-plus-1:before { content: '\e806'; } /* '' */
.icon-subscribe:before { content: '\e807'; } /* '' */
.icon-footer-line:before { content: '\e808'; } /* '' */
.icon-home:before { content: '\e809'; } /* '' */
.icon-twitter-1:before { content: '\e80a'; } /* '' */
.icon-service-more:before { content: '\e80b'; } /* '' */
.icon-location-3:before { content: '\e80c'; } /* '' */
.icon-twitter:before { content: '\e873'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
