﻿@charset "UTF-8";
html,
body {
    width: 100%;
    min-height: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    text-align: left;
    overflow: visible;
    font-size: 15px;
    line-height: 1.6;
    background-color: #fff;
    font-family:'Public Sans', "Noto Sans SC", "Noto Sans TC","Noto Serif TC", "Microsoft JhengHei", "sans-serif";
}

img {
    max-width: 100%;
    vertical-align: middle;
}

p,
article {
    font-size: 16px;
}
.Noto-Sans{
    font-family: "Noto Sans TC","Noto Sans SC","Noto Serif TC", "Microsoft JhengHei", "sans-serif";
}

/*可利用*/

.img {
    position: relative;
    font-size: 0;
}

.img>span {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
}

.img>span:before {
    content: ' ';
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
}

.img>span>img,
.img>span>iframe {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

.img>span>iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.clear:after {
    display: block;
    height: 0;
    clear: both;
    content: "";
    visibility: hidden;
}

#contact_form label.error {
    color: red;
}

.main-bg {
    width: 100%;
    display: block;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .5s ease;
}


/* --------------------------------- */

select::-ms-expand {
    display: none;
}
.edit-box{
    overflow: auto;
    font-family: "Noto Sans SC","Noto Sans TC","Noto Sans SC", "Microsoft JhengHei", "sans-serif";
}
.edit-box b {
    font-weight: bold;
}

.edit-box td,
.edit-box th{
    padding: 0 15px;
    box-sizing: border-box;
    vertical-align:middle;
}

.edit-box ol ul,
.edit-box ul ol,
.edit-box ul ul,
.edit-box ol ol {
    margin-top: 0;
    margin-bottom: 0
}
.editor::after,
.edit-box::after{
    content: '';
    width: 0;
    height: 0;
    display: block;
    clear: both;
    float: none;
  }
.edit-box a{
    text-decoration: underline;
}


input {
    outline: none;
}

.edit-box iframe {
    max-width: 100%;
    box-sizing: border-box;
}


:-webkit-autofill {
    -webkit-text-fill-color: #000 !important;
    transition: background-color 5000s ease-in-out 0s;
}

.edit-box sup {
    vertical-align: super;
}

.zoomWindowContainer>div {
    border-radius: 50% !important;
    overflow: hidden;
    margin: 0 20px;
}

.zoomLens {
    border-radius: 50% !important;
}

.mb10 {
    margin-bottom: 10px;
}

.slick-next{
    right: 0;
    z-index: 1;
}
.slick-prev{
    left: 0;
    z-index: 1;
}
.slick-dots{
    bottom: 0;
}
.slick-dotted.slick-slider{
    margin-bottom: 0;
}

.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show>.btn-light.dropdown-toggle {
    background-color: transparent;
}
.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
    outline: none!important;
}
.btn-check:checked + .btn-light:focus,
.btn-check:active + .btn-light:focus,
.btn-light:active:focus,
.btn-light.active:focus,
.show > .btn-light.dropdown-toggle:focus,
.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select>select.mobile-device:focus+.dropdown-toggle,
.btn-check:focus + .btn-light,
.btn-light:focus{
    box-shadow:none;
    outline-offset: 0;
}