﻿@using WebApp.Services;
@inject LocalService _localizer

<main>
    <h1 class="title-h1">Contact Us</h1>
    <div class="page-banner-box">
        <div class="page-banner">
            <h2 class="page-banner-title">@_localizer.GetLocalizedHtmlString("ContactUs").ToString()</h2>
            <img class="img-object" src="/styles/images/contact/contact-banner.webp" alt>
        </div>

    </div>
    <div class="bgf5f5f5">
        <div class="contact-ok-box">
            <div class="contact-ok-img">
                <img src="/styles/static/icon/contact-OK.webp" alt>
            </div>
            <h2>@_localizer.GetLocalizedHtmlString("Your_message_was_sent_successfully").ToString() </h2>
            <p>@_localizer.GetLocalizedHtmlString("Thankyou").ToString()</p>
            <a href="@Url.Content("~/" + ViewBag.culture)" class="back-button"><span>@_localizer.GetLocalizedHtmlString("OK").ToString()</span></a>
        </div>
    </div>
</main>