﻿@using WebApp.Services;
@inject LocalService _localizer
@{
    List<SiteParameterItem> siteItems = ViewBag.siteItem;
    LanguageResource thisLangData = ViewBag.LangData;
}

<main class="_loading">
    <h1 class="title-h1">Contact Us</h1>
    <div class="page-banner-box">
        <div class="page-banner">
            <h2 class="page-banner-title">@_localizer.GetLocalizedHtmlString("ContactUs").ToString()</h2>
            <img class="img-object" src="/styles/images/contact/contact-banner.webp" alt>
        </div>
        <div class="breadnav-block fade">
            <ul class="breadnav-box">
                <li><a href="@Url.Content("~/" + ViewBag.culture)"><i class="demo-icon icon-home"></i></a></li>
                <li><span>@_localizer.GetLocalizedHtmlString("ContactUs").ToString()</span></li>
            </ul>
            <div class="breadnav-bg"></div>
        </div>
    </div>
    <div class="contact-block">
        <div class="w-1500 flex contact-box">
@*            <div class="contact-left fade-right">
                <form action="~/Contact/Send" method="post" name="saveForm" id="saveForm">
                    @Html.AntiForgeryToken()
                    <input type="hidden" class="form-control" id="lang" name="lang" value="@ViewBag.nowLang">

                    <div class="contact-list">
                        <h3 class="contact-list-title"><span>*</span>@_localizer.GetLocalizedHtmlString("Name").ToString()</h3>
                        <div class="contact-input-box">
                            <input type="text" required id="name" name="name">
                        </div>
                    </div>
                    <div class="contact-list">
                        <h3 class="contact-list-title"><span>*</span>@_localizer.GetLocalizedHtmlString("Email").ToString()</h3>
                        <div class="contact-input-box">
                            <input type="email" required id="email" name="email">
                        </div>
                    </div>
                    <div class="contact-list">
                        <h3 class="contact-list-title">@_localizer.GetLocalizedHtmlString("PhoneNumber").ToString()</h3>
                        <div class="contact-input-box">
                            <input type="tel" onkeyup="value=value.replace(/[^\d\-\+\#\d]/g,'')" id="contact_tel" name="contact[tel]">
                        </div>
                    </div>
                    <div class="contact-list">
                        <h3 class="contact-list-title"><span>*</span>@_localizer.GetLocalizedHtmlString("CountryArea").ToString()</h3>
                        <div class="contact-select-box">
                            <select class="contact-select" id="options_country" name="contact[Country]" data-dropup-auto="false" required>

                                <option value="">@_localizer.GetLocalizedHtmlString("CountryArea").ToString()</option>
                                @if (siteItems.Where(m => m.category_id == "CountryArea").Count() > 0)
                                {

                                    foreach (SiteParameterItem item in siteItems.Where(m => m.category_id == "CountryArea").ToList())
                                    {
                                        LanguageResource LangData = item.LangData.FirstOrDefault();

                                        <option value="@LangData?.title">@LangData?.title</option>
                                    }

                                }
                            </select>
                        </div>
                    </div>
                    <div class="contact-list">
                        <h3 class="contact-list-title"><span>*</span>@_localizer.GetLocalizedHtmlString("Company").ToString()</h3>
                        <div class="contact-input-box">
                            <input type="text" required id="options_company" name="contact[Company]">
                        </div>
                    </div>
                    <div class="contact-list">
                        <h3 class="contact-list-title"><span>*</span>@_localizer.GetLocalizedHtmlString("Category").ToString()</h3>
                        <div class="contact-check-box">

                            @if (siteItems.Where(m => m.category_id == "ProductCategory").Count() > 0)
                            {
                                int i = 1;
                                foreach (SiteParameterItem item in siteItems.Where(m => m.category_id == "ProductCategory").ToList())
                                {
                                    LanguageResource LangData = item.LangData.FirstOrDefault();

                                    <div class="contact-check">
                                        <input type="checkbox" id="@Html.Raw("options_ProductCategory" + i)" name="options[ProductCategory]" value="@item.id" required>

                                        <label for="@Html.Raw("options_ProductCategory" + i)">@LangData?.title</label>
                                    </div>

                                    i++;
                                }
                            }

                        </div>
                    </div>
                    <!--
                    <div class="contact-list">
                        <h3 class="contact-list-title">@_localizer.GetLocalizedHtmlString("Modelname").ToString()</h3>
                        <div class="contact-input-box">
                            <input type="text" id="contact_ModelName" name="options[ModelName]">
                        </div>
                    </div>
                    -->
                    <div class="contact-list">
                        <h3 class="contact-list-title">@_localizer.GetLocalizedHtmlString("Subject").ToString()</h3>
                        <div class="contact-input-box">
                            <input type="text" id="contact_subject" name="contact[Subject]">
                        </div>
                    </div>
                    <div class="contact-list">
                        <h3 class="contact-list-title"><span>*</span>@_localizer.GetLocalizedHtmlString("Description").ToString()</h3>
                        <div class="contact-input-box">
                            <textarea class="contact-textarea" id="contact_Description" name="contact[Description]" required></textarea>
                        </div>
                    </div>
                    <div class="contact-verificarion-box">
                        <h3 class="contact-list-title"><span>*</span> @_localizer.GetLocalizedHtmlString("VerificarionCode").ToString()</h3>
                        <div class="contact-verificarion">
                            <input type="text" required id="verification" name="verification">
                            <a href="javascript:void(0)" class="verificarion-img codeImg">
                                <img src="~/api/Captcha" alt="" id="changeImg">
                            </a>
                        </div>
                    </div>
                    <div class="form-button bg-gradient-005DAA">
                        <button class="button submitBut" type="submit">@_localizer.GetLocalizedHtmlString("Submit").ToString()</button>
                    </div>
                </form>
            </div>*@


            @Html.Raw( thisLangData?.DetailsData?.editor ?? "" )



        </div>
    </div>
</main>


@section Scripts {
    <script src="~/static/modules/validate/jquery.validate.js"></script>
    <script src="~/static/admin/js/validate.js"></script>
    <script src="~/static/modules/module-localization.js"></script>
    <script src="/static/modules/sweetalert/sweetalert.min.js"></script>
    <script src="/static/modules/sweetalert/ui-sweetalert.min.js"></script>


    <script>
        $(function () {

            $("#saveForm").each(function () {

                $("#saveForm").validate({


                    submitHandler: function (form) {



                        swal({
                            title: "@Html.Raw(@_localizer.GetLocalizedHtmlString("SystemMsg").ToString())",//系統訊息
                            text: "@Html.Raw(_localizer.GetLocalizedHtmlString("SendForm").ToString())",//確定送出諮詢表單
                            type: "warning",
                            className: "submitBut",
                            showCancelButton: true,
                            confirmButtonColor: "#e7505a",
                            confirmButtonText: "@Html.Raw(_localizer.GetLocalizedHtmlString("OK").ToString())",
                            closeOnConfirm: false,
                            cancelButtonText: "@Html.Raw(_localizer.GetLocalizedHtmlString("Cancel").ToString())",
                        },
                            function () {

                              

                                $('.submitBut').attr("disabled", true);

                                let needVal = new FormData();
                                needVal.append("verification", $('#verification').val());



                                $.ajax({
                                    type: 'POST',
                                    url: '/CheckVerification',
                                    data: needVal,
                                    //dataType: 'json',
                                    cache: false,
                                    contentType: false,
                                    processData: false,
                                    headers: {
                                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                                    },
                                    success: function (json) {


                                        if (json == "verificationError") {

                                            swal("Warning!", '@Html.Raw(@_localizer.GetLocalizedHtmlString("VerificationError").ToString())', "warning");

                                            $('.submitBut').attr("disabled", false);

                                            return false;
                                        }
                                        else {
                                          //  $("body").loading();
                                            $('.sa-confirm-button-container').find('button').attr('disabled' , true);

                                            form.submit();
                                        }

                                    },
                                });


                            });
                    },
                    errorPlacement: function (error, element) {
                        element.attr('style', 'border:#FF0000 1px solid;');
                        element.parents('.form-group').find("._formErrorMsg").html('<div style="color: #FF0000; padding-bottom: 10px; padding-left: 10px;">' + error.text() + '</div>');

                        if (element.attr('id') == 'options_country' && element.next('.select-selected') != null) {
                            // $( "#options_country" ).focus();


                            $('html, body').animate({
                                scrollTop: $("#name").offset().top
                            }, 300);

                            element.next('.select-selected').attr('style', 'border:#FF0000 1px solid;');
                        }



                    },
                    success: function (error, element) {
                        // element.attr('style', '');
                        console.log(element);
                        return false;
                    }
                });



            });
            $('#modal').each(function () {
                $('#modal').modal('show');
            });

            $('#modalError').each(function () {
                $('#modalError').modal('show');
            });

            $('#changeImg').click(function () {
                $(this).attr('src', $(this).attr('src') + "?d=" + Date.now());
            });

            //$('#changeImg').click();
            $('#changeImg').trigger("click");
        });

        window.onload = function () {

            //$('#changeImg').trigger("click");

        }
    </script>
}