﻿@using WebApp.Models;
@{
    Layout = "~/Areas/Siteadmin/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "管理首頁";
}



<div class="content-body" id="ga">
    <!-- layout-content-->
    <!-- row  -->
    <div class="row">
        <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
            <section class="panel">
                <header class="panel-heading text-center">
                    <h2 class="h5 px-2">年度瀏覽次數</h2>
                </header>
                <div class="panel-body px-0 py-0">
                    <div class="h1 text-center font-weight-bold pb-2"><span class="text-primary">{{pathViewCount}} </span></div>
                    <div class="progress" title="" style="height: 5px;">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    @if (ViewBag.LoginLog != null)
                    {
                        <div class="row text-center py-3">
                            <div class="col"><span class="d-block text-muted small">登入ip</span><span class="d-block font-weight-bold mb-1">@ViewBag.LoginLog.ip</span></div>
                            <div class="col"><span class="d-block text-muted small">上次登入日期</span><span class="d-block font-weight-bold mb-1">@DateTime.Parse(ViewBag.LoginLog.created_at.ToString()).ToString("yyyy/MM/dd")</span></div>
                        </div>
                    }


                </div>
            </section>
            <section class="panel">
                <header class="panel-heading text-center">
                    <h2 class="h5">最新消息</h2>
                </header>
                @if (ViewBag.news != null)
                {
                    foreach (LanguageResource item in ViewBag.news)
                    {
                        <div class="clearfix px-4"><a class="flot-left small" href="/Siteadmin/ArticleNews/Edit/@item.id">@item.title?.ToString().Substring((item.title.ToString().Length - 7))...</a><span class="float-right"><span class="badge badge-pill badge-main">@DateTime.Parse(item.created_at.ToString()).ToString("yyyy/MM/dd")</span></span></div>
                        <hr class="my-2 w-100">
                    }
                }




            </section>
        </div>
        <div class="col-xl-9 mt-xl-0 mt-3">
            <section class="panel">
                <header class="panel-heading">
                    <h2 class="h5 float-left">年度數量</h2>

                </header>

                <div class="panel-wrapper"></div>
                <div class="panel-body pb-3">
                    <div id="analyticsAge" style="height:353px;"></div>
                </div>
            </section>
        </div>
    </div>
    <!-- / row-->
    <!-- row    -->
    <div class="row text-center mt-3">
        <!-- col-->
        <div class="col-xl-3 col-md-6 col-sm-6">
            <section class="panel p-3 bg-main text-white">
                <div class="row">
                    <div class="col"><span class="d-block mb-1 h3">{{socialCount}}</span><span class="d-block">社群網站來源數</span></div>
                    <div class="col"><span class="icon-comment-square display-4"></span></div>
                </div>
            </section>
        </div>
        <!-- / col-->
        <!-- col-->
        <div class="col-xl-3 col-md-6 col-sm-6">
            <section class="panel p-3 bg-warning text-white">
                <div class="row">
                    <div class="col"><span class="d-block mb-1 h3">{{totalWebViewNum}}</span><span class="d-block">總瀏覽次數</span></div>
                    <div class="col"><span class="icon-eye4 display-4"></span></div>
                </div>
            </section>
        </div>
        <!-- / col-->
        <!-- col-->
        <div class="col-xl-3 col-md-6 col-sm-6">
            <section class="panel p-3 bg-success text-white">
                <div class="row">
                    <div class="col"><span class="d-block mb-1 h3">{{userType[0]}}</span><span class="d-block">年度新訪問者數</span></div>
                    <div class="col"><span class="icon-new-tab display-4"></span></div>
                </div>
            </section>
        </div>
        <!-- / col-->
        <!-- col-->
        <div class="col-xl-3 col-md-6 col-sm-6">
            <section class="panel p-3 bg-primary text-white">
                <div class="row">
                    <div class="col"><span class="d-block mb-1 h3">{{userType[1]}}</span><span class="d-block">年度回訪問者數</span></div>
                    <div class="col"><span class="icon-history display-4"></span></div>
                </div>
            </section>
        </div>
        <!-- / col-->
    </div>
    <!-- / row-->
    <!-- row  -->
    <div class="row mt-3">
        <div class="col-xl-6 col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <h2 class="h5 float-left">搜尋引擎來源數量</h2>
                </header>
                <div class="panel-wrapper">
                    <div class="panel-body" style="min-height:270px;">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="font-weight-bold">
                                    <tr>
                                        <th class="text-center hidden-lg-down">#</th>
                                        <th class="hidden-lg-down">搜尋引擎</th>
                                        <th class="hidden-lg-down">瀏覽數</th>
                                    </tr>
                                </thead>

                                <tbody v-if="searchEngine != null">

                                    <tr v-for="(item, index) in searchEngine">
                                        <th class="text-center hidden-lg-down" scope="row">{{(index+1)}}</th>
                                        <td class="text-nowrap hidden-lg-down">{{item.source}}</td>
                                        <td class="text-nowrap hidden-lg-down">{{item.count}}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-xl-6 col-lg-6 col-sm-12">
            <section class="panel">
                <header class="panel-heading mb-2">
                    <h2 class="h5 float-left">網站來源關鍵字</h2>

                </header>
                <div class="panel-wrapper">
                    <div class="panel-body" style="min-height:270px;">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="font-weight-bold">
                                    <tr>
                                        <th class="text-center hidden-lg-down">#</th>
                                        <th class="hidden-lg-down">關鍵字</th>
                                        <th class="hidden-lg-down">數量</th>
                                    </tr>
                                </thead>
                                <tbody v-if="keywords != null">

                                    <tr v-for="(item, index) in keywords">
                                        <th class="text-center hidden-lg-down" scope="row">{{(index+1)}}</th>
                                        <td class="text-nowrap hidden-lg-down">{{item.source}}</td>
                                        <td class="text-nowrap hidden-lg-down">{{item.count}}</td>
                                    </tr>



                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>
    <!-- / row-->
    <!-- / layout-content-->
</div>
@section Scripts {

    <!--ammap-->
    <script src="/static/modules/amcharts/ammap.js"></script>

    <script src="/static/modules/amcharts/maps/js/worldLow.js"></script>

    <!--amcharts-->
    <script src="/static/modules/amcharts/amcharts.js"></script>

    <script src="/static/modules/amcharts/pie.js"></script>

    <script src="/static/modules/amcharts/serial.js"></script>

    <script src="/static/modules/amcharts/plugins/export/export.min.js"></script>

    <script src="/static/modules/amcharts/plugins/dataloader/dataloader.min.js"></script>

    <script src="/static/modules/amcharts/themes/light.js"></script>


    <script src="/static/admin/js/vue.min.js"></script>
    @*<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.min.js"></script>*@
    @*<script src="/static/admin/js/vue.runtime.min.js"></script>*@
    <script src="/static/admin/js/ga.js"></script>
    <script>
        // $(function ()

        GaScript.getPathViewCount();
        GaScript.getSocialCount();
        GaScript.getTotalWebViewNum();
        GaScript.getUserType();
        GaScript.getOrganicSearches();
        GaScript.getKeywords();
        GaScript.getYear();
          //  });

    </script>
}