﻿<div class="edit-box about-info-box editor Noto-Sans">
    <h2 class="fz-18 color-005EAB mb-20 fw-bold">研發領域</h2>
    <p class="mb-10 color-646464">『矽品是全球封測代工業中第一家生產12吋晶圓凸塊(Bumping)的公司，不但持續精進IC核心技術，更積極鑽研2.5DIC、扇出型晶圓級封裝(FOWLP)、系統級封裝(SiP) 、封裝層疊(PoP)、高效能覆晶封裝等先進技術，矽品將持續創新以提升對市場的反應能力，取得市場先機。』</p>
    <p class="mb-30 color-646464">為確保於競爭激烈的市場占有重要領導地位，矽品除了在研究創新的領域持續拓展深耕之外，更結合台灣產業界及學界人才，擴大矽品研發的既有能量，將目前各種資源進行最有效的提升與整合，同時以嚴謹的管理制度與有效的留才計劃，培育高階封裝研發人才、加速商品開發時程，以滿足客戶及市場之未來需求。</p>
    <div class="border-line mb-40"></div>
    <h2 class="fz-22 color-005EAB mb-30 fw-bold text-center">研發替代役人員運用與期滿後留用規劃</h2>
    <img class="mb-30" src="/styles/images/career/substitute-4-img.webp" alt>
    <div class="border-line mb-40"></div>
    <div class="job-list-box justify-center">
        <div class="job-list">
            <div class="job-list-info">
                <div class="job-list-icon">
                    <img src="/styles/images/career/job-icon1.webp" alt="">
                </div>
                <p class="job-list-title">職缺查詢</p>
            </div>
        </div>
        <div class="job-list">
            <div class="job-list-info">
                <div class="job-list-icon">
                    <img src="/styles/images/career/job-icon2.webp" alt="">
                </div>
                <p class="job-list-title">個人履歷</p>
            </div>
        </div>
        <div class="job-list">
            <div class="job-list-info">
                <div class="job-list-icon">
                    <img src="/styles/images/career/job-icon3.webp" alt="">
                </div>
                <p class="job-list-title">應徵狀態追蹤</p>
            </div>
        </div>
        <div class="job-list">
            <div class="job-list-info">
                <div class="job-list-icon">
                    <img src="/styles/images/career/qr-job.webp" alt="">
                </div>
                <p class="job-list-title">更多職缺查詢</p>
            </div>
            <div class="job-list-info">
                <div class="job-list-icon">
                    <img src="/styles/images/career/qr-fb.webp" alt="">
                </div>
                <p class="job-list-title">粉絲專頁</p>
            </div>
        </div>
    </div>
</div>