﻿<div class="edit-box about-info-box editor Noto-Sans">
    <h2 class="fz-18 color-005EAB mb-20 fw-bold">研發佈局</h2>
    <h4 class="substitute2-title">Provide Total Solution</h4>
    <div class="substitute2-top-box relative">
        <div class="substitute2-top-info-box">
            <div class="substitute2-top-info color-66629F">
                <div class="mb-10">
                    <h2 class="fz-20 fw-bold">設計協助</h2>
                    <h3 class="fz-16 mb-10">Desugb Solution</h3>
                </div>
                <p>1. 導熱架 / 基板設計</p>
                <p>2. 晶圓光罩設計</p>
                <p>3. 封裝結構 / 模組設計</p>
                <p>4. 射頻線路 / 天線設計</p>
                <p>5. 電 / 熱 / 應力模擬</p>
            </div>
            <div class="substitute2-top-info color-9BCA3C">
                <div class="mb-10">
                    <h2 class="fz-20 fw-bold">功能測試</h2>
                    <h3 class="fz-16 mb-10">Function Test</h3>
                </div>
                <p>1. 晶圓測試</p>
                <p>2. 晶圓光罩設計</p>
                <p>3. 協助系統級測試工程</p>
            </div>
            <div class="substitute2-top-info color-5CBFA9">
                <div class="mb-10">
                    <h2 class="fz-20 fw-bold">先進系統級封裝技術</h2>
                    <h3 class="fz-16 mb-10">Advanced SiP Module Technologies</h3>
                </div>
                <p>1. 天線內建整合</p>
                <p>2. 區塊式電磁干擾遮蔽</p>
                <p>3. 主被動元件嵌入整合</p>
            </div>
        </div>
        <div class="substitute2-top-img">
            <img src="/styles/images/career/substitute-2-img-all.webp" alt>
        </div>
        <div class="substitute2-top-info-box">
            <div class="substitute2-top-info color-8968A4">
                <div class="mb-10">
                    <h2 class="fz-20 fw-bold">晶圓凸塊</h2>
                    <h3 class="fz-16 mb-10">Water Bumping</h3>
                </div>
                <p>1. 製程：電鍍</p>
                <p>2. 種類：錫凸塊、鋼柱、凸塊、晶圓級封裝</p>
            </div>
            <div class="substitute2-top-info color-5E8EC6">
                <div class="mb-10">
                    <h2 class="fz-20 fw-bold">前端封裝技術</h2>
                    <h3 class="fz-16 mb-10">Front- end Packaging<br> Technologies</h3>
                </div>
                <p>1. 晶圓薄型化</p>
                <p>2. 晶圓切割</p>
                <p>3. 3D上片</p>
                <p>4. 覆晶 (錫凸塊 /  銅柱凸塊)</p>
                <p>5. 鎳線 (金 / 銀 / 銅)</p>
            </div>
            <div class="substitute2-top-info color-49B7CD">
                <div class="mb-10">
                    <h2 class="fz-20 fw-bold">後端封裝技術</h2>
                    <h3 class="fz-16 mb-10">Back- end Packaging Technologies</h3>
                </div>
                <p>1. 點膠 / 模壓</p>
                <p>2. 印字</p>
                <p>3. 植球 / 電鍍</p>
                <p>4. 成型 / 切單</p>
            </div>
        </div>
    </div>
    <h2 class="fz-18 color-005EAB mb-20 fw-bold">研發佈局</h2>
    <div class="flex-inline mb-20 substitute2-img-box">
        <div class="flex-inline-list w-50 img-max">
            <img src="/styles/images/career/gif/4_2_4_03photo.gif" alt>
        </div>
        <div class="flex-inline-list w-50 img-max">
            <img src="/styles/images/career/gif/4_2_4_04photo.gif" alt>
        </div>
    </div>
    <div class="flex-inline mb-20  substitute2-img-box">
        <div class="flex-inline-list img-max" style="width:48%">
            <img src="/styles/images/career/gif/4_0_3_02.gif" alt>
        </div>
        <div class="flex-inline-list img-max" style="width:52%">
            <img src="/styles/images/career/substitute-2-img5.webp" alt>
        </div>
    </div>
    <div class="flex-inline mb-20">
        <div class="flex-inline-list">
            <img src="/styles/images/career/gif/4_0_3_03.gif" alt>
        </div>
    </div>
</div>