﻿<div class="edit-box about-info-box editor Noto-Sans">
    <div class="substitute1-top">
        <img src="/styles/images/career/substitute-1-top.webp" alt>
    </div>
    <h2 class="fz-18 color-005EAB mb-20 fw-bold">未來研究發展計畫</h2>
    <table class="substitute-table mb-40">
        <thead>
            <tr>
                <td style="width:25%">
                    類別
                </td>
                <td style="width:30%">
                    應用
                </td>
                <td style="width:45%">
                    特性
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="fz-16 fw-bold color-505050">FCCSP系列</td>
                <td class="text-left">應用於行動通訊產品，如手機、平板電腦、無線網卡等。</td>
                <td class="text-left">
                    <ul class="careers-ul">
                        <li>銲線－堆疊式－超薄型覆晶晶片尺寸式封裝(Ultra Thin WB-SFCCSP)</li>
                        <li>覆晶晶片尺寸式封裝整合球面覆晶封裝技術(with LSD(Land Side Die))</li>
                        <li>G天線覆晶晶片尺寸式封裝整合球面覆晶封裝技術(5G Antenna FCCSP with LSD(Land Side Die))</li>
                        <li>薄型高頻寬封裝層疊覆晶晶片尺寸式封裝(Thin & High Bandwidth PoP)</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="fz-16 fw-bold color-505050">FCBGA系列</td>
                <td class="text-left">應用於個人電腦、平板電腦、互聯網絡設備等，主要零件如繪圖卡、晶片組、應用處理器。</td>
                <td class="text-left">
                    <ul class="careers-ul">
                        <li>77.5mm x 77.5mm之大尺寸覆晶球柵陣列 (77.5mm x 77.5mm large size FCBGA)</li>
                        <li>2.1D 細線寬線距基板之大覆晶球柵陣列 (2.1D FCBGA with L/S:2/2um)</li>
                        <li>2.5D/3D積體電路結合72.5mm x 70mm之大尺寸覆晶球柵陣列(2.5D/ 3D IC on 72.5mm x70mm large size FCBGA)</li>
                        <li>天線覆晶晶片尺寸式封裝整合球面覆晶封裝技術 (Antenna FCBGA with LSD(Land Side Die))</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="fz-16 fw-bold color-505050">CSP系列</td>
                <td class="text-left">應用於消費性及通訊產品，如藍芽耳機、手機、平板電腦、指紋辨識感應器、穿戴式裝置、物聯網等。</td>
                <td class="text-left">
                    <ul class="careers-ul">
                        <li>扇出型－面板型式封裝 (FO-Panel)</li>
                        <li>極薄型晶圓級晶片尺寸式封裝 (Extremely-Thin WLCSP)</li>
                        <li>光學感應銲線式指紋辨識感應器封裝 (Optical Wire Bond Finger Print Sensor Packaging)</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="fz-16 fw-bold color-505050">系統封裝系列</td>
                <td class="text-left">應用於消費性及通訊產品，如微型硬碟、數位相機、手機、平板電腦、穿戴式裝置、物聯網等。</td>
                <td class="text-left">
                    <ul class="careers-ul">
                        <li>5G天線封裝模組 (5G Antenna in Package)</li>
                        <li>具3D結構之電源管理模組及無線通訊模組</li>
                        <li>具選擇性模壓及電磁屏蔽 (Selective Mold & Partial EMI coating) 之無線射頻模組極薄型雙面組裝SiP模組 (Ultra-thin double side SiP)</li>
                        <li>2.5D/ 3D 積體電路結合4層/8層高頻寬記憶體 (2.5D/ 3D IC with 4H/8H HBM(High Bandwidth Memory))</li>
                    </ul>
                </td>
            </tr>

        </tbody>
    </table>
    <h2 class="fz-18 color-005EAB mb-20 fw-bold">新技術部份</h2>
    <table class="substitute-table mb-40">
        <thead>
            <tr>
                <td style="width:30%">
                    類別
                </td>
                <td style="width:70%">
                    特性
                </td>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="fz-16 fw-bold color-505050">封裝技術封裝技術</td>
                <td class="text-left">
                    <ul class="careers-ul">
                        <li>超薄晶圓封裝技術12吋銅柱凸塊晶圓研磨至50um (Wafer Thinning)</li>
                        <li>40um晶片直列式銲墊間距銅線打線技術 (40um linear pitch, Cu wire bonding)</li>
                        <li>14nm銅製程低介電常數晶圓銲線封裝技術 (Wire Bond technology on14nm ELK wafer)</li>
                        <li>電漿切割技術 (Plasma Dicing)</li>
                        <li>遠程電漿技術 (Remote Plasma)</li>
                        <li>雷射輔助接合技術 (LAB(Laser Assisted Bonding))</li>
                        <li>SiC/GaN wafer 切割技術 (SiC/GaN wafer die saw tech)</li>
                        <li>5nm銅製程低介電常數晶圓覆晶 (Flip Chip technology on 5nm ELK wafer)</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="fz-16 fw-bold color-505050">晶圓凸塊技術</td>
                <td class="text-left">
                    <ul class="careers-ul">
                        <li>5nm銅製程低介電常數晶圓凸塊技術 (Bumping on 5nm ELK wafer)</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="fz-16 fw-bold color-505050">封裝技術</td>
                <td class="text-left">
                    <ul class="careers-ul">
                        <li>先進製程 5G 整合天線封裝 (AIP - Antenna In Package) 成品天線量測驗證</li>
                        <li>先進製程 24GHz 射頻車用雷達成品量產測試</li>
                        <li>高頻訊號 40GHz 射頻 IC 插座量產校正</li>
                    </ul>
                </td>
            </tr>



        </tbody>
    </table>
    <h2 class="fz-18 color-005EAB mb-20 fw-bold">專利與發表文章</h2>
    <p class="mb-30 color-646464">隨著規模及業務持續擴大，矽品公司自1995年起不餘遺力的投資智慧財產權之技術專利申請。近10年來專利申請及通過案件逐年累積成長，2011至2020年為台灣法人發明專利申請前一百大(資料來源自經濟部智慧財產局)；2020年在文章發表上，在ECTC、ECWC、ICEP、ICEPT、IWLPC、IMPACT、iMAPS、及Interpack Conference總計發表 23篇文章及資料。</p>
    <img src="/styles/images/career/substitute-1-img.webp" alt>
</div>