﻿<div class="edit-box about-info-box editor">
    <h2 class="fz-18 color-005EAB mb-40 fw-bold">Employees Health Management</h2>
    <div class="health-top mb-30">
        <img src="/styles/images/career/health-top.webp" alt>
    </div>
    <p class="fw-bold color-323232 mb-20">1. Physical examination</p>
    <p class="mb-35">We care about employees' health, so a physical examination program is held annually to help employees realize their own health condition.</p>
    <img class="mb-35" src="/styles/images/career/health-img1.webp" alt>
    <p class="fw-bold color-323232 mb-20">2. Provide diversified health promotion activities</p>
    <p class="mb-35">Provide multiple health promotion activities under the great support of Chairman and high-level cadres, and based on the results of employee physical examination, questionnaire survey results and industry characteristics, ESH Division, Human Resources Division and Welfare Committee plan and handle "Multiple health promotion activities". Pursuit to create a healthy,harmonious and safe working environment, ultimately promote the health and balance of colleagues work and life.</p>
    <img class="mb-35" src="/styles/images/career/health-img2.webp" alt>
    <p class="fw-bold color-323232 mb-20">3. On-site physicians for consultation</p>
    <p class="mb-35">SPIL arranges physicians for on-site visit every month, and provides online reservation mechanism for the convenience. In addition, SPIL arranges physicians to production line to provide medical consultation service.</p>
    <img class="mb-35" src="/styles/images/career/health-img3.webp" alt>
    <p class="fw-bold color-323232 mb-20">4. Promote the "Employee assistance programs" (EAP)</p>
    <p class="mb-35">In order to help colleagues solving problems of physical and psychological pressure to devote to work, improve productivity, SPIL using internal and external resources to handle the "Employee assistance programs" (EAP), including "physical and psychological pressure" and "healthy" , to help employees maintain personal health, improve the quality of work and life.</p>
    <img class="mb-35" src="/styles/images/career/health-img4.webp" alt>
</div>