﻿<div class="edit-box about-info-box editor Noto-Sans">
    <h2 class="fz-18 color-005EAB mb-40 fw-bold">員工健康管理</h2>
    <div class="health-top mb-30">
        <img src="/styles/images/career/health-ch-top.webp" alt>
    </div>
    <p class="fw-bold color-323232 mb-20">1. 定期健康檢查</p>
    <p class="mb-35">我們重視同仁健康，每年定期舉辦員工健康檢查，幫助同仁掌握自己的健康狀況。</p>
    <img class="mb-35" src="/styles/images/career/health-img1.webp" alt>
    <p class="fw-bold color-323232 mb-20">2.  提供多元健康促進活動</p>
    <p class="mb-35">在董事長及各高階主管支持下，環安衛處、人資處與福利委員會依據員工健康檢查結果、員工問卷調查結果及產業特性，規劃辦理『多元健康促進活動』，以促進同仁身體健康並平衡工作與生活，最終以營造健康、和諧與安全的工作環境為目標。</p>
    <img class="mb-35" src="/styles/images/career/health-img2.webp" alt>
    <p class="fw-bold color-323232 mb-20">3.  臨廠醫師駐診</p>
    <p class="mb-35">矽品公司每個月均安排醫師臨廠訪視，並提供線上預約機制，以避免同仁候診時間過長；此外，更安排醫師至產線提供醫療諮詢服務。</p>
    <img class="mb-35" src="/styles/images/career/health-img3.webp" alt>
    <p class="fw-bold color-323232 mb-20">4. 『員工生活服務方案』(EAP)</p>
    <p class="mb-35">公司協助同仁解決身心壓力問題、使其全力投入工作，提升生產力，因此運用內、外部資源辦理『員工生活服務方案』簡稱EAP)，涵蓋包括「身心壓力」與「健康」層面，協助員工維護個人健康，提升工作及生活品質。</p>
    <img class="mb-35" src="/styles/images/career/health-img4.webp" alt>
</div>