﻿<div class="edit-box about-info-box editor">
    <h2 class="fz-18 color-005EAB mb-40 fw-bold">Human Resources Development System</h2>
    <div class="careers-hr-box">
        <div class="text-center mb-30 hr-top">
            <img src="/styles/images/career/hr-top.webp" alt>
        </div>
        <div class="text-center mb-30 hr-arrow">
            <img src="/styles/images/career/hr-arrow.webp" alt>
        </div>
        <div class="hr-tab bg-FFEED8">
            <h3 class="fw-bold color-E2911D fz-22">Philosophy</h3>
        </div>
        <div class="text-center mb-30 hr-arrow">
            <img src="/styles/images/career/hr-arrow.webp" alt>
        </div>
        <div class="hr-tab bg-FFEED8">
            <h3 class="fw-bold color-E2911D fz-22">Business Strategy</h3>
        </div>
        <div class="text-center mb-30 hr-arrow">
            <img src="/styles/images/career/hr-arrow.webp" alt>
        </div>
        <div class="hr-icon-box">
            <div class="hr-icon-list bg-DFF1F4">
                <div class="hr-icon-img">
                    <img src="/styles/images/career/hr-icon1.webp" alt>
                </div>
                <p class="fw-bold">Organization<br> Responsibility</p>
            </div>
            <div class="hr-icon-list bg-F9EDEC">
                <div class="hr-icon-img">
                    <img src="/styles/images/career/hr-icon2.webp" alt>
                </div>
                <p class="fw-bold">Recruitment</p>
            </div>
            <div class="hr-icon-list bg-EFF0DD">
                <div class="hr-icon-img">
                    <img src="/styles/images/career/hr-icon3.webp" alt>
                </div>
                <p class="fw-bold">Training <br> development</p>
            </div>
            <div class="hr-icon-list bg-DFF1F4">
                <div class="hr-icon-img">
                    <img src="/styles/images/career/hr-icon4.webp" alt>
                </div>
                <p class="fw-bold">Compensation <br>Motivation</p>
            </div>
            <div class="hr-icon-list bg-DFF1F4">
                <div class="hr-icon-img">
                    <img src="/styles/images/career/hr-icon5.webp" alt>
                </div>
                <p class="fw-bold">Performance <br>  Development</p>
            </div>
            <div class="hr-icon-list bg-F9EDEC">
                <div class="hr-icon-img">
                    <img src="/styles/images/career/hr-icon6.webp" alt>
                </div>
                <p class="fw-bold">Rotation</p>
            </div>
            <div class="hr-icon-list bg-EFF0DD">
                <div class="hr-icon-img">
                    <img src="/styles/images/career/hr-icon7.webp" alt>
                </div>
                <p class="fw-bold">Employee Benefits</p>
            </div>
            <div class="hr-icon-list bg-DFF1F4">
                <div class="hr-icon-img">
                    <img src="/styles/images/career/hr-icon8.webp" alt>
                </div>
                <p class="fw-bold">Employee  <br> Relationship</p>
            </div>
        </div>
        <div class="hr-bottom bg-63A4D9 text-center fw-bold">e-HR Manpower Resources Information Service</div>
    </div>
</div>