﻿<div class="edit-box about-info-box editor Noto-Sans">
    <div class="careers-hr-box">
        <div class="text-center mb-30 hr-top">
            <img src="/styles/images/career/hr-ch-top.webp" alt>
        </div>
        <div class="text-center mb-30 hr-arrow">
            <img src="/styles/images/career/hr-arrow.webp" alt>
        </div>
        <div class="hr-tab bg-FFEED8">
            <h3 class="fw-bold color-E2911D fz-22">經營理念</h3>
        </div>
        <div class="text-center mb-30 hr-arrow">
            <img src="/styles/images/career/hr-arrow.webp" alt>
        </div>
        <div class="hr-tab bg-FFEED8">
            <h3 class="fw-bold color-E2911D fz-22">營運策略</h3>
        </div>
        <div class="text-center mb-30 hr-arrow">
            <img src="/styles/images/career/hr-arrow.webp" alt>
        </div>
        <div class="hr-icon-box">
            <div class="hr-icon-list bg-DFF1F4">
                <div class="hr-icon-img">
                    <img src="/styles/images/career/hr-icon1.webp" alt>
                </div>
                <p class="fw-bold">組織定位</p>
            </div>
            <div class="hr-icon-list bg-F9EDEC">
                <div class="hr-icon-img">
                    <img src="/styles/images/career/hr-icon2.webp" alt>
                </div>
                <p class="fw-bold">招募甄選</p>
            </div>
            <div class="hr-icon-list bg-EFF0DD">
                <div class="hr-icon-img">
                    <img src="/styles/images/career/hr-icon3.webp" alt>
                </div>
                <p class="fw-bold">訓練發展</p>
            </div>
            <div class="hr-icon-list bg-DFF1F4">
                <div class="hr-icon-img">
                    <img src="/styles/images/career/hr-icon4.webp" alt>
                </div>
                <p class="fw-bold">薪酬激勵</p>
            </div>
            <div class="hr-icon-list bg-DFF1F4">
                <div class="hr-icon-img">
                    <img src="/styles/images/career/hr-icon5.webp" alt>
                </div>
                <p class="fw-bold">績效發展</p>
            </div>
            <div class="hr-icon-list bg-F9EDEC">
                <div class="hr-icon-img">
                    <img src="/styles/images/career/hr-icon6.webp" alt>
                </div>
                <p class="fw-bold">職務輪調</p>
            </div>
            <div class="hr-icon-list bg-EFF0DD">
                <div class="hr-icon-img">
                    <img src="/styles/images/career/hr-icon7.webp" alt>
                </div>
                <p class="fw-bold">員工福利</p>
            </div>
            <div class="hr-icon-list bg-DFF1F4">
                <div class="hr-icon-img">
                    <img src="/styles/images/career/hr-icon8.webp" alt>
                </div>
                <p class="fw-bold">員工關係</p>
            </div>
        </div>
        <div class="hr-bottom bg-63A4D9 text-center fw-bold">e-HR 全方位人力資源資訊服務</div>
    </div>
</div>