﻿<div class="edit-box about-info-box editor Noto-Sans">
    <p class="mb-35">人才是矽品最重要的資產，我們提供每一位優秀同仁優厚的薪酬待遇及良好的工作環境。</p>
    <div class="incentives-banner-box">
        <div class="incentives-banner">
            <img src="/styles/images/career/incentives-banner-ch.webp" alt>
        </div>
    </div>
    <div class="incentives-icon-box">
        <div class="incentives-icon-list">
            <div class="incentives-icon">
                <img src="/styles/images/career/Incentives-list1.webp" alt>
                <h3 class="incentives-icon-title color-40ACBF">穩定薪資</h3>
            </div>
            <p class="text-center incentives-icon-p">具競爭力的薪資水準，每年依公司營運狀況及個人績效表現進行薪資調整</p>
            <div class="incentives-icon-list-img">
                <img src="/styles/images/career/Incentives-list1-img.webp" alt>
            </div>
        </div>
        <div class="incentives-icon-list">
            <div class="incentives-icon">
                <img src="/styles/images/career/Incentives-list2.webp" alt>
                <h3 class="incentives-icon-title color-40ACBF">公司禮金</h3>
            </div>
            <p class="text-center incentives-icon-p">提供年節獎金、績效獎金、提案獎金、專利獎金，獎勵績效優異及工作卓越之同仁</p>
            <div class="incentives-icon-list-img">
                <img src="/styles/images/career/Incentives-list2-img.webp" alt>
            </div>
        </div>
        <div class="incentives-icon-list">
            <div class="incentives-icon">
                <img src="/styles/images/career/Incentives-list3.webp" alt>
                <h3 class="incentives-icon-title color-40ACBF">員工分紅</h3>
            </div>
            <p class="text-center incentives-icon-p">公司依年度獲利狀況提撥10%為員工酬勞，讓員工共享經營成果，為中部第一家導入員工酬勞企業</p>
            <div class="incentives-icon-list-img">
                <img src="/styles/images/career/Incentives-list3-img.webp" alt>
            </div>
        </div>
    </div>
    <div class="incentives-icon-box">
        <div class="incentives-icon-list">
            <div class="incentives-icon">
                <img src="/styles/images/career/Incentives-list4.webp" alt>
                <h3 class="incentives-icon-title color-E08985">全方位保險</h3>
            </div>
            <p class="text-center incentives-icon-p">提供全方位保險</p>
            <div class="incentives-icon-list-img">
                <img src="/styles/images/career/Incentives-list4-img.webp" alt>
            </div>
        </div>
        <div class="incentives-icon-list">
            <div class="incentives-icon">
                <img src="/styles/images/career/Incentives-list5.webp" alt>
                <h3 class="incentives-icon-title color-E08985">退休制度</h3>
            </div>
            <p class="text-center incentives-icon-p">依勞工退休金條例，提供選擇新制、選舊制和選擇新制但保有舊制年資之方式</p>
            <div class="incentives-icon-list-img">
                <img src="/styles/images/career/Incentives-list5-img.webp" alt>
            </div>
        </div>
    </div>
    <div class="incentives-icon-box mb-40">
        <div class="incentives-icon-list">
            <div class="incentives-icon">
                <img src="/styles/images/career/Incentives-list6.webp" alt>
                <h3 class="incentives-icon-title color-B4BC43">員工照顧</h3>
            </div>
            <p class="text-center incentives-icon-p">四星級員工宿舍/員工休閒活動中心/員工餐廳/員工交通</p>
            <div class="incentives-icon-list-img">
                <img src="/styles/images/career/Incentives-list6-img.webp" alt>
            </div>
        </div>
        <div class="incentives-icon-list">
            <div class="incentives-icon">
                <img src="/styles/images/career/Incentives-list7.webp" alt>
                <h3 class="incentives-icon-title color-B4BC43">福利委員會</h3>
            </div>
            <p class="text-center incentives-icon-p">福委會網路系統/團體活動/社團活動/托兒服務/特約商店/其他(各項慶賀金、慰問金、急難救助金之給付)</p>
            <div class="incentives-icon-list-img">
                <img src="/styles/images/career/Incentives-list7-img.webp" alt>
            </div>
        </div>
        <div class="incentives-icon-list">
            <div class="incentives-icon">
                <img src="/styles/images/career/Incentives-list8.webp" alt>
                <h3 class="incentives-icon-title color-B4BC43">駐廠服務</h3>
            </div>
            <p class="text-center incentives-icon-p ">提供多元駐廠服務如銀行、保險、旅遊、報稅、商品特賣會等，構築便利的矽品生活圈</p>
            <div class="incentives-icon-list-img">
                <img src="/styles/images/career/Incentives-list8-img.webp" alt>
            </div>
        </div>
    </div>
    <h2 class="fz-18 color-005EAB mb-15 fw-bold">薪酬</h2>
    <ul class="careers-ul mb-35">
        <li class="mb-10">具競爭力的薪資水準，每年依公司營運狀況及個人績效表現進行薪資調整</li>
        <li class="mb-10">提供年節獎金、績效獎金、提案獎金、專利獎金，獎勵績效優異及工作卓越之同仁</li>
        <li class="mb-10">公司依年度獲利狀況提撥10%為員工酬勞，讓員工共享經營成果，為中部第一家導入員工酬勞企業</li>
        <li class="mb-10">全方位保險 </li>
        <li class="mb-10">退休制度 </li>
        <li class="mb-10">依勞工退休金條例，選擇新制人員，依法每月提撥薪資6%存入勞保局勞工個人帳戶；另對選擇舊制和選擇新制但保有舊制年資人員，依法令成立退休金監督委員會，按   月提撥勞工退休準備金存入台灣銀行，保障員工退休後生活。每年年度終了前，估算勞工退休準備金專戶餘額，若該餘額不足給付次一年度內預估達到退休條件之勞工，將於次年度三月底前一次提撥其差額，並送事業單位勞工退休準備金監督委員會審議</li>

    </ul>
    <h2 class="fz-18 color-005EAB mb-15 fw-bold">福委會網路系統(採彈性福利制度)</h2>
    <p class="mb-40 color-646464">員工可由網路系統進行各項員工個人福利金運用調查登記，隨時查詢各項福利資訊，於福利金額度內由同仁自行規劃運用個人福利金</p>
    <div class="mb-40">
        <img src="/styles/images/career/Incentives-img1.webp" alt>
    </div>
    <div class="incentives-list-box flex-3">
        <div class="flex-3-list mb-35">
            <div class="mb-35">
                <img src="/styles/images/career/Incentives-img2.webp" alt>
            </div>
            <h2 class="fz-18 color-005EAB mb-15 fw-bold">四星級員工宿舍</h2>
            <p class="color-646464">提供遠地同仁溫馨舒適之住宿環境</p>
        </div>
        <div class="flex-3-list mb-35">
            <div class="mb-35">
                <img src="/styles/images/career/Incentives-img3.webp" alt>
            </div>
            <h2 class="fz-18 color-005EAB mb-15 fw-bold">員工休閒活動中心</h2>
            <p class="color-646464">設有健身房、韻律教室、桌球室、撞球室、KTV室、閱覽區、才藝教室</p>
        </div>
        <div class="flex-3-list mb-35">
            <div class="mb-35">
                <img src="/styles/images/career/Incentives-img4.webp" alt>
            </div>
            <h2 class="fz-18 color-005EAB mb-15 fw-bold">員工餐廳</h2>
            <p class="color-646464">豐富、多樣化的餐飲及餐費補助，提供自助餐、特色餐、風味餐、麵食、蔬食餐作為選擇，營養與健康兼備</p>
        </div>
        <div class="flex-3-list mb-35">
            <div class="mb-35">
                <img src="/styles/images/career/Incentives-img5.webp" alt>
            </div>

        </div>
        <div class="flex-3-list mb-35">
            <div class="mb-35">
                <img src="/styles/images/career/Incentives-img6.webp" alt>
            </div>
        </div>
        <div class="flex-3-list mb-35">
            <div class="mb-35">
                <img src="/styles/images/career/Incentives-img7.webp" alt>
            </div>
        </div>
    </div>
    <h2 class="fz-18 color-005EAB mb-15 fw-bold">員工交通</h2>
    <p class="mb-35 color-646464">設有員工上下班之交通車及汽機車停車場</p>
    <h2 class="fz-18 color-005EAB mb-15 fw-bold">團體活動</h2>
    <p class="mb-35 color-646464">定期舉辦員工家庭日、旅遊活動、藝文活動及康樂活動</p>
    <div class="incentives-list-box flex-3">
        <div class="flex-3-list mb-35">
            <div class="mb-35">
                <img src="/styles/images/career/Incentives-img8.webp" alt>
            </div>
            <h2 class="fz-18 color-005EAB mb-15 fw-bold">社團活動</h2>
            <p class="color-646464">成立各類型社團供同仁自由參加</p>
        </div>
        <div class="flex-3-list mb-35">
            <div class="mb-35">
                <img src="/styles/images/career/Incentives-img9.webp" alt>
            </div>
            <h2 class="fz-18 color-005EAB mb-15 fw-bold">特約商店</h2>
            <p class="color-646464">推動特約商店給予員工優惠，並提供多樣之提貨券、禮券、餐券、文藝票券等供選擇。</p>
        </div>
    </div>
    <h2 class="fz-18 color-005EAB mb-15 fw-bold">托兒服務</h2>
    <p class="color-646464 mb-40">與多所幼稚園簽訂特約，提供優惠及客制化的托兒服務</p>
    <h2 class="fz-18 color-005EAB mb-15 fw-bold">其他</h2>
    <p class="color-646464 mb-40">各項慶賀金、慰問金、急難救助金之給付</p>
</div>