﻿<div class="edit-box about-info-box editor Noto-Sans">
    <div class="awards-banner">
        <img src="/styles/images/career/job-banner.webp" alt>
    </div>
    <div class="job-box">
        <p class="fw-bold fz-18 mb-10 color-005EAB">歡迎使用矽品人才招募系統</p>
        <ul class="careers-ul">
            <li class="mb-10">您可透過線上查詢目前矽品之人才職缺資訊 , 並可挑選職缺和投遞履歷資料。</li>
            <li class="mb-10">您如果要修改履歷或是查詢應徵狀態 , 請輸入您履歷中的電子郵件及密碼以登入本系統。</li>
            <li class="mb-10">如有任何問題,歡迎參閱線上系統使用說明。</li>
            <li class="mb-10">矽品精密工業股份有限公司詳細地圖下載。</li>
        </ul>
        <div class="job-list-box">
            <div class="job-list">
                <div class="job-list-info">
                    <div class="job-list-icon">
                        <img src="/styles/images/career/job-icon1.webp" alt>
                    </div>
                    <p class="job-list-title">職缺查詢</p>
                </div>
            </div>
            <div class="job-list">
                <div class="job-list-info">
                    <div class="job-list-icon">
                        <img src="/styles/images/career/job-icon2.webp" alt>
                    </div>
                    <p class="job-list-title">個人履歷</p>
                </div>
            </div>
            <div class="job-list">
                <div class="job-list-info">
                    <div class="job-list-icon">
                        <img src="/styles/images/career/job-icon3.webp" alt>
                    </div>
                    <p class="job-list-title">應徵狀態追蹤</p>
                </div>
            </div>
            <div class="job-list">
                <div class="job-list-info">
                    <div class="job-list-icon">
                        <img src="/styles/images/career/qr-job.webp" alt>
                    </div>
                    <p class="job-list-title">更多職缺查詢</p>
                </div>
                <div class="job-list-info">
                    <div class="job-list-icon">
                        <img src="/styles/images/career/qr-fb.webp" alt>
                    </div>
                    <p class="job-list-title">粉絲專頁</p>
                </div>
            </div>
        </div>
    </div>

</div>