﻿<div class="edit-box about-info-box editor Noto-Sans">
    <div class="awards-banner mb-70">
        <img src="/styles/images/career/recruitment-banner-ch.webp" alt>
    </div>
    <div class="recruitment-info-box">
        <div class="recruitment-info-left">
            <div class="recruitment-info-top relative ">
                <div class="recruitment-info relative pl-60">
                    <div class="recruitment-info-icon">
                        <img src="/styles/images/career/recruitment-icon1.webp" alt>
                    </div>
                    <div class="recruitment-info-title bg-ECF7F9 color-40ACBF"><span>履歷登錄</span></div>
                </div>
                <div class="recruitment-down-arrow">
                    <img src="/styles/images/career/recruitment-icon1-arrow.webp" alt>
                </div>
            </div>
            <div class="recruitment-info-mid relative">
                <div class="recruitment-info-mid-left">
                    <div class="recruitment-info-list relative">
                        <div class="recruitment-info relative pl-60">
                            <div class="recruitment-info-icon">
                                <img src="/styles/images/career/recruitment-icon2.webp" alt>
                            </div>
                            <div class="recruitment-info-title bg-F9E9D2 color-E2911D">
                                <span>履歷初審</span>
                                <span class="fw-500 fz-16">有職缺(1天內)</span>
                                <span class="recruitment-info-title-ps">無適合職缺</span>
                                <div class="recruitment-mail-arrow">
                                    <img src="/styles/images/career/recruitment-icon-mail-arrow.webp" alt>
                                </div>
                            </div>

                        </div>
                        <div class="recruitment-down-arrow">
                            <img src="/styles/images/career/recruitment-icon2-arrow.webp" alt>
                        </div>
                    </div>
                    <div class="recruitment-info-list relative">
                        <div class="recruitment-info relative pl-60">
                            <div class="recruitment-info-icon">
                                <img src="/styles/images/career/recruitment-icon3.webp" alt>
                            </div>
                            <div class="recruitment-info-title bg-F0F2D9 color-B4BC43">履歷登錄</div>
                        </div>
                        <div class="recruitment-down-arrow">
                            <img src="/styles/images/career/recruitment-icon3-arrow.webp" alt>
                        </div>
                    </div>
                    <div class="recruitment-info-list relative">
                        <div class="recruitment-info relative pl-60">
                            <div class="recruitment-info-icon">
                                <img src="/styles/images/career/recruitment-icon4.webp" alt>
                            </div>
                            <div class="recruitment-info-title bg-DBF0EE color-49B6A9">
                                <span>需求主管選擇履歷</span>
                                <span class="fw-500 fz-16">通過</span>
                                <span class="recruitment-info-title-ps">備取</span>
                                <div class="recruitment-mail-arrow">
                                    <img src="/styles/images/career/recruitment-icon-mail-arrow.webp" alt>
                                </div>
                            </div>
                        </div>
                        <div class="recruitment-down-arrow">
                            <img src="/styles/images/career/recruitment-icon4-arrow.webp" alt>
                        </div>
                    </div>
                    <div class="recruitment-info-list relative">
                        <div class="recruitment-info relative pl-60">
                            <div class="recruitment-info-icon">
                                <img src="/styles/images/career/recruitment-icon5.webp" alt>
                            </div>
                            <div class="recruitment-info-title bg-EEECF9 color-8174BE">
                                <span>安排面試</span>
                                <span class="fw-500 fz-16">3天內</span>
                            </div>
                        </div>
                        <div class="recruitment-down-arrow">
                            <img src="/styles/images/career/recruitment-icon5-arrow.webp" alt>
                        </div>
                    </div>
                    <div class="recruitment-info-list relative">
                        <div class="recruitment-info relative pl-60">
                            <div class="recruitment-info-icon">
                                <img src="/styles/images/career/recruitment-icon6.webp" alt>
                            </div>
                            <div class="recruitment-info-title  bg-E8F5FC color-1D96E2">
                                <span>面試結果</span>
                                <span class="fw-500 fz-16">7天內</span>
                                <div class="recruitment-mail-arrow">
                                    <img src="/styles/images/career/recruitment-icon-mail-arrow.webp" alt>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="recruitment-info-mid-right">
                    <h3 class="fz-20 color-808080 fw-bold text-center mb-20">E-mail回覆 / <br>資料轉入人才庫</h3>
                    <img src="/styles/images/career/recruitment-icon-mail.webp">
                </div>
                <div class="recruitment-down-arrow">
                    <img src="/styles/images/career/recruitment-icon6-arrow.webp" alt="">
                </div>
            </div>
            <div class="recruitment-info-bottom relative">
                <div class="recruitment-info relative pl-60">
                    <div class="recruitment-info-icon">
                        <img src="/styles/images/career/recruitment-icon7.webp" alt>
                    </div>
                    <div class="recruitment-info-title bg-EBF0FA color-3387CC"><span>通知報到</span></div>
                </div>
            </div>
        </div>
        <div class="recruitment-info-right">
            <div class="recruitment-ch-link text-center">
                <img class="mb-20" src="/styles/images/career/qr-job-ch.webp" alt>
                <h2 class="fw-bold fz-22 color-646464">更多職缺查詢</h2>
            </div>
            <div class="recruitment-ch-link text-center">
                <img class="mb-20" src="/styles/images/career/qr-fb-ch.webp" alt>
                <h2 class="fw-bold fz-22 color-646464">粉絲專頁</h2>
            </div>
            <div class="recruitment-ch-link text-center">
                <img class="mb-20" src="/styles/images/career/recruitment-join-ch.webp" alt>
                <h2 class="fw-bold fz-22 color-646464">加入矽品<span class="recruitment-ch-link-span">就是現在</span></h2>
            </div>
        </div>
    </div>

</div>