﻿<div class="edit-box about-info-box editor">
    <div class="awards-banner">
        <img src="/styles/images/career/recruitment-banner.webp" alt>
    </div>
    <div class="award-list-box recruitment">
        <div class="award-list bg-E5F5F3">
            <h2 class="recruitment-list-title color-6DC5BA">Taiwan</h2>
            <p class="mb-15">You may contact us through the following methods :</p>
            <div class="award-list-info">
                <p>
                    Phone : 886-4-25341525 ext. 3124
                </p>
                <p>
                    Submit your resumes to : anthonypeng@spil.com.tw
                </p>
            </div>
            <div class="recruitment-ball">
                <img src="/styles/static/careers/ball-icon.png" alt>
            </div>
        </div>
        <div class="award-list bg-DEECF7">
            <h2 class="recruitment-list-title color-6DC5BA">USA</h2>
            <p class="mb-15">Siliconware USA, Inc. is a fast growing IC Assembly and Test subcontractor representative. We are seeking professional candidates</p>
            <p class="mb-15">with global perspective on the semiconductor industry to join our organization in San Jose CA, Tempe AZ, Lewisville TX, and Huntington Beach CA.</p>
            <div class="award-list-info">
                <p>
                    Contact : Please mail resume to HR Manager of Siliconware USA, Inc. at 1735 Technology Drive, Suite 300, San Jose, CA 95110.
                </p>
                <p>
                    Fax : 408-573-5530
                </p>
                <p>
                    Email : hr@spilca.com
                </p>
            </div>
            <div class="recruitment-ball">
                <img src="/styles/static/careers/ball-icon.png" alt>
            </div>
        </div>

    </div>

</div>