﻿<div class="edit-box about-info-box editor Noto-Sans">
    <div class="training-banner">
        <div class="training-banner-bg">
            <img class="img-object" src="/styles/images/career/training-banner-bg.webp" alt>
        </div>
        <div class="training-ch-banner">
            <h3 class="training-ch-banner-title">人才發展政策</h3>
            <ul class="careers-ul">
                <li>建置完整教育訓練及發展體系，提供職場上豐富多樣的學習</li>
                <li>強化組織發展與個人績效連結，以因應公司未來發展，培訓未來組織所需要的專業與管理人才</li>
            </ul>
        </div>
        <div class="training-banner-img-box">
            <div class="training-banner-img">
                <img src="/styles/images/career/training-ch-banner-img.webp" alt>
            </div>
        </div>
    </div>
    <h2 class="fz-18 color-005EAB mb-15 fw-bold">全方位的人才培育系統</h2>
    <p class="mb-40">無論擔任管理職或專業職都能有適當的培訓，針對不同對象提供階層別的訓練：</p>
    <div class="flex flex-warp mb-40 training-list-box">
        <div class="training-list w-265">
            <div class="training-list-class bg-EDF8F6 color-49B6A9">新進員工</div>
            <div class="training-list-info-block">
                <div class="training-list-info-box w-265">
                    <h2 class="training-list-title bg-49B6A9">職前訓練</h2>
                    <div class="training-list-p bg-EDF8F6">
                        <p class="mb-20">落實新人訓練與照顧，建立標準化訓練，讓新人能快速融入矽品大家庭</p>
                        <p>內容包含：</p>
                        <ul class="careers-ul">
                            <li>新人通識訓練</li>
                            <li>產品製程介紹</li>
                            <li>環安衛介紹</li>
                            <li>資訊安全介紹</li>
                            <li>文化介紹</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="training-list w-545">
            <div class="training-list-class bg-EBF3FA color-005EAB">在職員工、主管</div>
            <div class="training-list-info-block">
                <div class="training-list-info-box w-265">
                    <h2 class="training-list-title bg-3387CC">專業訓練</h2>
                    <div class="training-list-p bg-EBF3FA">
                        <p class="mb-20">依職務個別能力展開各單位專業訓練及能力評鑑，協助同仁勝任工作</p>
                        <p>內容包含：</p>
                        <ul class="careers-ul">
                            <li>技術工程人員專業訓練</li>
                            <li>設備人員技能訓練</li>
                            <li>直接人員技能訓練</li>
                        </ul>
                    </div>
                </div>
                <div class="training-list-info-box w-265">
                    <h2 class="training-list-title bg-8174BE">管理訓練</h2>
                    <div class="training-list-p bg-F1EDF7">
                        <p class="mb-20">根據不同階層的管理職能設計規劃管理課程，以培養組織所需管理人才</p>
                        <p>內容包含：</p>
                        <ul class="careers-ul mb-20">
                            <li>新任/儲備主管培訓</li>
                            <li>新任/儲備主任及領班培訓</li>
                        </ul>
                        <p>課程包含：</p>
                        <ul class="careers-ul">
                            <li>管理者任務與職責</li>
                            <li>績效管理</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <h2 class="fz-18 color-005EAB mb-15 fw-bold">多元化的教育訓練體系</h2>
    <p class="mb-40">依公司目標、組織功能與個人職務需求建置訓練體系，其課程分類如下：</p>
    <h2 class="fz-18 color-005EAB mb-15 fw-bold">實戰英語能力提昇</h2>
    <p class="mb-25">針對工作需要，提供多元外語學習管道，提升競爭力，包括實戰英文、TOEIC精修班等課程。</p>
    <h2 class="fz-18 color-005EAB mb-15 fw-bold">創新學習環境</h2>
    <p class="fw-bold">線上學習</p>
    <p class="mb-25">除實體課程訓練，並規劃多元的線上學習環境，打破時間、空間的限制，讓同仁能依需求即時學習，激發同仁自主學習的精神，深耕矽品人的競爭優勢。</p>
    <div class="training-icon-list-box">
        <div class="training-icon-list border-E2911D">
            <div class="training-icon-img">
                <img src="/styles/images/career/training-list1.webp" alt>
            </div>
            <h2 class="training-icon-title">核心課程</h2>
            <p>彙整各職務能力共通核心技能所定義課程，分技術、品質、管理、生產、資訊、環安衛、生產企劃/工業工程七大類，包括品管知識、統計技術、製程與材料介紹、環安衛各專責人員訓練</p>
        </div>
        <div class="training-icon-list border-B4BC43 text-center">
            <div class="training-icon-img">
                <img src="/styles/images/career/training-list2.webp" alt>
            </div>
            <h2 class="training-icon-title">選修課程</h2>
            <p>同仁依個人職務發展需要選修課程，如溝通技巧、簡報技巧等</p>
        </div>
        <div class="training-icon-list boder-49B6A9 text-center">
            <div class="training-icon-img">
                <img src="/styles/images/career/training-list3.webp" alt>
            </div>
            <h2 class="training-icon-title">年度策略課程</h2>
            <p>為達公司不同階段的目標，特別規劃的訓練課程</p>
        </div>
    </div>

    <div class="mb-30"><img src="/styles/images/career/training-img1.webp" alt></div>
    <p class="color-323232 mb-10 fw-bold">自主學習</p>
    <p class="mb-40">專業技術及優良穩定的品質是矽品的競爭優勢，藉由資深專業人才的經驗傳承達到教學相長的目的，並激發同仁自主學習的精神，以深耕矽品人的競爭優勢。</p>
    <img src="/styles/images/career/training-img2.webp" alt>
</div>