﻿<div class="edit-box about-info-box editor">
    <div class="training-banner">
        <div class="training-banner-bg">
            <img class="img-object" src="/styles/images/career/training-banner-bg.webp" alt>
        </div>
        <p class="training-banner-p">SPIL offers a complete training and development system for employees to learn various subjects at work in order to further self-development and promote the work efficiency.</p>
        <div class="training-banner-img-box">
            <div class="training-banner-img">
                <img src="/styles/images/career/training-banner-img.webp" alt>
            </div>
        </div>
    </div>
    <h2 class="fz-18 color-005EAB mb-15 fw-bold">Comprehensive Talents Nurturing System</h2>
    <p class="mb-40">There is suitable training available for everyone no matter what their positions, whether in management or a different area of expertise, and which provides different levels of training for different targets :</p>
    <div class="flex flex-warp mb-40 training-list-box">
        <div class="training-list w-265">
            <div class="training-list-class bg-EDF8F6 color-49B6A9">New Employee</div>
            <div class="training-list-info-block">
                <div class="training-list-info-box w-265">
                    <h2 class="training-list-title bg-49B6A9">New Employee Training</h2>
                    <div class="training-list-p bg-EDF8F6">Implement training and mentoring programs for new employees, establish a system of standardized education and training, to help new employees adapt to SPIL’s large family in the shortest possible time.</div>
                </div>
            </div>
        </div>
        <div class="training-list w-545">
            <div class="training-list-class bg-EBF3FA color-005EAB">Professional、Management</div>
            <div class="training-list-info-block">
                <div class="training-list-info-box w-265">
                    <h2 class="training-list-title bg-3387CC">Professional Training</h2>
                    <div class="training-list-p bg-EBF3FA">Based on the special abilities needed in every position, develop a special skills training and abilities evaluation program, to help employees maintain and develop their qualifications so that they can do their work better.</div>
                </div>
                <div class="training-list-info-box w-265">
                    <h2 class="training-list-title bg-8174BE">Management Training</h2>
                    <div class="training-list-p bg-F1EDF7">
                        <p>Based on different management functions, devise and plan a management program to train talent needed in the organization</p>
                        <p class="mt-10 mb-10">Including :</p>
                        <ul class="careers-ul">
                            <li>Training for newly appointed/reserve supervisors.</li>
                            <li>Training for newly appointed/reserve supervisor, shift leader</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <h2 class="fz-18 color-005EAB mb-15 fw-bold">Diverse Education and Training System</h2>
    <p>Which is set based on company’s goal, organization function and individual position requirements, and divided into different courses as follows:</p>
    <div class="training-icon-list-box">
        <div class="training-icon-list border-E2911D">
            <div class="training-icon-img">
                <img src="/styles/images/career/training-list1.webp" alt>
            </div>
            <h2 class="training-icon-title">Core program</h2>
            <p>By consolidating each position’s capability, common core abilities are defined and classified into seven types of training: Technical, Quality, Management, Production, IT, ESH and Production Planning/ Industrial Engineering.</p>
        </div>
        <div class="training-icon-list border-B4BC43 text-center">
            <div class="training-icon-img">
                <img src="/styles/images/career/training-list2.webp" alt>
            </div>
            <h2 class="training-icon-title">Selective program</h2>
            <p>Employees can choose their own training course based on individual position development needs.</p>
        </div>
        <div class="training-icon-list boder-49B6A9 text-center">
            <div class="training-icon-img">
                <img src="/styles/images/career/training-list3.webp" alt>
            </div>
            <h2 class="training-icon-title">Annual strategic program</h2>
            <p>In order to reach the company’s goals in each phase, training programs are planned accordingly.</p>
        </div>
    </div>
    <h2 class="fz-18 color-005EAB mb-15 fw-bold">Practical English Ability Improvement</h2>
    <p class="mb-40">Based on work requirements, foreign language channels are provided in order to enhance competitiveness (Ex. Presentation Skill, Email Writing, TOEIC Test Skill…etc.).</p>
    <h2 class="fz-18 color-005EAB mb-20 fw-bold">Creative Learning Environment</h2>
    <p class="fw-bold color-323232 mb-10">On-Line Learning</p>
    <p class="mb-40">Aside from actual class training, there is also a diverse e-learning environment, breaking the time/space limitation, so that employees can learn whenever they need to, encouraging self-motivated learning and enhancing the competitive advantage of each SPIL employee.</p>
    <div class="mb-30"><img src="/styles/images/career/training-img1.webp" alt></div>
    <p class="color-323232 mb-10 fw-600">Self-Learning</p>
    <p class="mb-40">Expertise, excellence & stability quality are very important for SPIL's competitive advantage. To maintain the competitiveness, the senior professional talented employees are encouraged to share their abundant experiences and pass on their expertise to the new talents at work, at the same time, to encourage employees to self-study that can lead to increased competitiveness of SPIL employees.</p>
    <img src="/styles/images/career/training-img2.webp" alt>
</div>