﻿<div class="edit-box about-info-box editor">
    <img class="mb-30" src="/styles/images/sustainability/sustainability-detail1-img.webp" alt>
    <p class="fz-26 fw-bold color-005EAB mb-15">Business Performance in 2020</p>
    <p class="mb-15">Looking back on 2020, most economies have been severely impacted by the COVID-19 pandemic. As per the OECD's estimate in December 2020, the global economy would decline by 4.2%. In response to the impact of the pandemic, countries have launched relief policies and expanded the fiscal expenditures to stimulate their economies and mitigate the impact of the pandemic.</p>
    <p class="mb-15">However, the impact of lockdowns in various countries has facilitated a sharp increase in the demand for remote working/learning, conference calls, and entertainment. It has driven the surge in sales of computers, consumer electronics, and household communications products.</p>
    <p class="mb-30">Also, with the 5G devices and the establishment of data centers, the semiconductor demand has rebounded strongly in the second half of the year. According to OMDIA's statistics in the third quarter of 2020, the global semiconductor market bucked the trend and grew by 4.9%. The supply chain's active efforts in increasing inventory and tight production capacity have propped up the packaging and testing industry's average selling price. As per Prismark's statistics in January 2021, the growth in 2020 was expected to reach 15%. With the efforts of all our employees, SPIL's performance was outstanding, with the revenue reaching a record high of NT$102 billion.</p>
    <img class="mb-30" src="/styles/images/sustainability/sustainability-detail1-img2.webp" alt>
    <p class="fw-bold fz-26 mb-10 color-005EAB">Financials</p>
    <ul class="careers-ul">
        <li class="mb-10">Monthly Sales</li>
        <li class="mb-10">Financial Reports</li>
    </ul>
</div>