﻿<div class="edit-box about-info-box editor">
    <img class="mb-50" src="/styles/images/sustainability/sustainability-detail5-img.webp" alt>
    <p class="mb-20">SPIL is committed to giving back to society. Thus, social charity, community participation and care, and support of the arts are important parts of SPIL's social responsibility. The Company has long invested in manpower and resources to actively give back to the community. It is our hope to become a driving force for social improvement.</p>
    <div class="flex sustainability-detail5-img m-warp mb-50">
        <div class="sm-padding-30 flex-2">
            <img src="/styles/images/sustainability/sustainability-detail5-img-2.webp" alt>
        </div>
        <div class="sm-padding-30 flex-2">
            <img src="/styles/images/sustainability/sustainability-detail5-img3.webp" alt>
        </div>
    </div>
    <p class="fz-26 fw-bold color-005EAB mb-20">Social welfare</p>
    <p class="fz-18 fw-bold color-646464 mb-15">1. Pei-Sheng Cultural and Educational Foundation</p>
    <p class="mb-15">To contribute back to the society and ensure shareholders' right and interests simultaneously, Chairman of SPIL Bough Lin established Pei-Sheng Cultural and Educational Foundation. The Foundation was established for Chairman Lin's little brother Mr. Lin Wen-Jin who suffered from Down's Syndrome when he was born. Although there was no relevant institution to take care of Mr. Lin Wen-Jin, the love and care of Mr. Lin's parents, siblings and relatives contributed to the peace and great happiness of his entire life for forty some years. In the year after Lin Wen-Jin passed away, SPIL became publicly listed on the TWSE. After the family discussion, it was decided that all of Mr. Lin Wen-Jin shares would be donated and a foundation named after of his grandfather ("Pei-Sheng Cultural and Educational Foundation") was established. The Foundation was established to caring for and promoting cultural and educational activities of people with mental retardation, enabling them to have contacts with the society through various activities. Therefore, the sponsored targets are mostly related to public welfare groups related to mental disability each year. Besides, due to insufficient medical resources in rural areas, Pei-Sheng has been proactive in providing assistance thereto with an expectation that the Foundation's assistance and sponsorship will help to increase citizens' life quality and enhance public welfare.</p>
    <p class="fz-18 fw-bold color-646464 mb-15">2. Care for schools at rural area</p>
    <p class="mb-15">Over the last 13 years, SPIL has been continuously caring for Heping Elementary School located SPIL has shown concern for Heping Elementary School in Heping District, Taichung City, for 14 consecutive years by providing assistance in improvements of the teaching environment. In December 2020, 40 students and faculty members were invited to participate in the 2020 "Keep the Rhythm" online running/hiking activity.</p>
    <p class="fz-18 fw-bold color-646464 mb-15">3. SPIL's 100 Dollar Family Care Club</p>
    <p class="mb-15">After the September 21 Earthquake, SPIL called the employees to establish the "Hundred-Dollar In the aftermath of the 921 Earthquake, Siliconware Precision Industries Co., Ltd. enlisted staff members to establish the "SPIL Family Assistance 100-Dollar Club" with the goal of maintaining assistance and support for children and families through small individual donations of 100 NTD, which are pooled to create a charity fund. As of 2020, the child support fund amounts to over NT$ 70 million. Over 31,000 individuals currently make donations to the Family Assistance "100-Dollar" Club every year. These donations cover the living expenses of over 3,000 children and teenagers. In addition, 340 financially challenged children and teenagers in Taiwan have been adopted to support them in their stable pursuit of academic studies and pass on positive concepts such as diligent learning, fraternity & filial piety, and sociability & helpfulness.</p>
    <p class="fz-18 fw-bold color-646464 mb-15">4. Volunteer Club</p>
    <p class="mb-15">In 2013, SPIL established a Volunteers Club. Different from the donation-oriented Hundred-Dollar TFCF Club, Volunteers Club encourages members to undertake social services.</p>
    <p class="mb-50">Apart from our staffs, members of the Volunteers Club also include friends and relatives of SPIL's employee. AlthoughVolunteers Club had only few members in the beginning of its establishment, by holding a number of volunteer activities, we have successively increased our number of volunteers and the service hours thereof. It is our expectation that the Volunteers Club will be continuously promoted with SPIL's support and we hope that more employees will join us.</p>
    <p class="fz-26 fw-bold color-005EAB mb-20">Community Involvement and Concern</p>
    <p class="fz-18 fw-bold color-646464 mb-30">1. Participation in Community Activities</p>
    <img class="mb-30" src="/styles/images/sustainability/sustainability-detail5-img4.webp" alt>
    <p class="fz-18 fw-bold color-646464 mb-30">2. Community Participation and Investment in Resources</p>
    <p class="mb-50">As of 2011, the Company offers scholarships to outstanding students from financially challenged and underprivileged families in Tanzi District, Taichung, Changhua City, and Hemei Township in Changhua County. Students enrolled in senior and vocational high schools, colleges, and graduate schools have a chance to receive SPIL scholarships if their academic performance and moral conduct meet the required criteria. In 2020, 118 were awarded such scholarships. The total number of grant and scholarship recipients amounts to 2,058.</p>
    <p class="fz-26 fw-bold color-005EAB mb-20">Industry-Academia Cooperation- Campus Development Plan: Developing a Brand-New Win-Win Generation</p>
    <p class="mb-15">For many years, SPIL has been dedicated to industry-academia cooperation and holding a series of on-campus exchange programs: Campus lectures, company visits, business mentor projects, internship programs and courses with practice credit. Through company visits, students willbe able to understand the packaging and testing processes of the semiconductor industry;and to better understand on site assembly operations through window show or show room.Various seminars held by SPIL also enable students to enhance their hard and soft powerrequired for future career. In the meantime, their dedicated business mentors will alsoinstruct them to bridge the gap between school and workplace. During the semesters,students can also study practice credit to connect their knowledge learned from the schooland practical experiences obtained from the workplace. As for graduate or senior universitystudents, they can further join the internship programs.</p>
    <p class="mb-50">As the National Chung Hsing University "Corporate Mentor" Program entered its seventh installment in 2020, an intercollegiate format was adopted for the first time to ensure greater diversity in the field of participation. SPIL enlists production line managers for on-site tours that aim to break through the barrier of imagination and give students a deeper understanding of practical operations. The Company has designed team project competitions to further familiarize students with the packaging and testing industry and thereby reinforce links between activity participation and willingness to learn. Corporate mentor activities are conducive to the early recruitment of outstanding talent by the Company and enable students to gain a better understanding of industry dynamics, explore their career interests, and build up abilities essential for employment at an early stage. These activities also represent a channel for businesses to give back to universities and society. The facilitate the generation of positive cycles in the field of industry-academia collaboration under the premise of win-win models.</p>
    <img class="mb-50" src="/styles/images/sustainability/sustainability-detail5-img5.webp" alt>

</div>