﻿<div class="edit-box about-info-box editor">
    <img class="mb-50" src="/styles/images/sustainability/sustainability-detail6-img.webp" alt>
    <p class="fz-26 fw-bold color-005EAB mb-20">Employee Interests</p>
    <p class="fz-18 fw-bold color-646464 mb-15">1. Value labor rights and human rights standards</p>
    <p class="mb-15 color-646464">To maintain each employee's human and labor rights, SPIL referred the Electronics Industry Responsible Business Alliance (RBA) as its internal management principle, and formed a cross-department work team that includes environmental safety and health, human resources, procurement, finance, legal, and audit units fulfills our corporate social responsibility.</p>
    <p class="mb-30 color-646464">SPIL labor and human rights standards are as follows:</p>
    <img class="mb-30" src="/styles/images/sustainability/sustainability-detail6-img2.webp" alt>
    <p class="fz-18 fw-bold color-646464 mb-15">2. Promote Good Employer and Employee Relationship</p>
    <p class="mb-15 color-646464">To promote harmonious employer and employee relationship, employment contract are executedbetween SPIL and every employee, and provide various communication channels.</p>
    <p class="mb-15 color-646464">Regular employer and employee meetings are periodically convened. Each facility shall have designated personnel who listen to employees' thoughts and recommendations. Siliconware Technology (SuZhou) Limited employees are 100% guaranteed by collective labor contracts. If major changes occur at work (such as change in facilities and job position) the company will communicate with employees in advance.</p>
    <p class="fz-18 fw-bold color-646464 mb-15">3. Convenient and Unimpeded Complaint Channels and Employee Communication</p>
    <p class="mb-15 color-646464">SPIL provides complete communication channels that both official and contract employees can use to express employee problems, instantly communicate with management level, and build a harmonious employer and employee work environment. In addition, SPIL has formed various committees participated by representatives for both employees and employers. These committees discuss various issues and maintain a good communication mechanism. We have designated employee relationship personnel in each facility to assist employees and listen to their thoughts. Response channels are as follows:</p>
    <img class="mb-50" src="/styles/images/sustainability/sustainability-detail6-img3.webp" alt>
    <p class="fz-26 fw-bold color-005EAB mb-20">Human Resource Management</p>
    <p class="fz-18 fw-bold color-646464 mb-15">1. Training development</p>
    <p class="mb-15 color-646464">To achieve the goal of training for corporate good, the training unit has established a sound training and development system to provide a rich diversity of learning opportunities and environment and the knowledge about why the company provides so many training for the employees in order to help all fellow workers cope with the future development of the company and, thus, develop capable hands for the organizations in both professional and management aspects.</p>
    <p class="mb-15 color-646464">As a result, the company develops a robust talent incubation program based on departmental goals, job assignments and personal development needs, and provide employees appropriate training that fits the bill. The training system covers two major aspects: </p>
    <p class="mb-15 color-646464">As a result, the company develops a robust talent incubation program based on departmental goals, job assignments and personal development needs, and provide employees appropriate training that fits the bill. The training system covers two major aspects: </p>
    <p class="mb-15 color-646464">(1) New recruit system: establish standardized training, put the new recruit awareness training and pre-job training in practice and reach out to the new recruits in order to help them become a part of the big SPIL family as quickly as possible.</p>
    <p class="mb-50 color-646464">(2) Current employee system: unfold the 7 categories of in-job training requested by individual departments, including technical, quality, management, production, information, ESH (environment, safety and health), production planning/industrial engineering, ensure that the quality of manpower meets the needs for assignments, and help employee grow.</p>
    <img class="mb-50" src="/styles/images/sustainability/sustainability-detail6-img4.webp" alt>
    <p class="mb-15 color-646464">According to perspectives such as the goals, tasks, self-growth needs, and etc. of each department, SPIL planned consummate manpower cultivation plan to provide employees with appropriate trainings that could meet the requirements. The training system could be divided into two main perspectives, which include new recruits system and active employee system.</p>
    <p class="fz-18 fw-bold color-646464 mb-15">2. Employee Career Development</p>
    <p class="mb-15 color-646464">Ever since 2011, Siliconware Precision Industries has been developing various key points of training and capability development based on the development needs of management and engineering positions as an effort to combine individual career development and training programs, and now comes up with an engineering training road map to give all employees a clear picture of training programs of every stage along the way and the paths leading to professional development, thus achieving talent incubation.</p>
    <p class="mb-30 color-646464">The training road map is updated constantly to optimize employees' career development continuously. The roadmap for "engineering" and "management" trainings have been updated in 2019 to continuously optimize training and project management courses offered to new engineers and junior supervisors. Not only the training needs of departments are satisfied, but also all fellow workers are more aware of where they are going from this point on and, thus, encouraged to constantly improve themselves for continuous employment and build a lifetime learning plan.</p>
    <img class="mb-30" src="/styles/images/sustainability/sustainability-detail6-img5.webp" alt>
    <p class="fz-18 fw-bold color-646464 mb-15">3. Learning International Languages</p>
    <p class="mb-15 color-646464">Because of internationalization trends, the learning of international languages is extremely important. SPIL promotes diversified English learning activities and courses, and company internal website, bulletin board announcements, activity posters, and online learning platforms are being used for large quantity of promotions. This sends all activity information to every SPIL employee in the hopes of increasing the English ability of SPIL staff.</p>
    <p class="fz-18 fw-bold color-646464 mb-15">4. Forming a Learning Environment</p>
    <p class="mb-15 color-646464">SPIL hopes to form a learning environment that can improve employees' voluntary learning space and atmosphere, especially when planning the learning bulletin board in the training space. Main topics include know technical knowledge, activity information, and course information. Employees can use extracurricular time to learn new knowledge naturally. This can intangibly pass down cultural and value perspectives and gradually build value and recognition.</p>
    <p class="fz-18 fw-bold color-646464 mb-15">5. Comprehensive Performance Management System</p>
    <p class="mb-40 color-646464">To achieve company, department, and individual objectives, and to accurately understand colleagues' work, performance, an annual performance review is conducted on all employees every year. After the employee self-evaluation, and after the immediate supervisor receives the opinion of the line or case supervisor, the immediate supervisor shall speak to employees regarding their performance, and talk about improving their work performance and provide career planning counseling. Assessment items include work implementation results, ethics and integrity, and continuous improvements. The assessment result is used as a basis for awarding performance rewards, bonuses, promotions, salary adjustments, and personnel training/cultivation. For colleagues with weaker performances, supervisors shall assist with setting a counseling plan and give work guidance, training, or position transfer to improve personnel capability and performance.</p>
    <p class="fz-26 fw-bold color-005EAB mb-20">Recruiting and Retaining Talented people</p>
    <p class="mb-40 color-646464">"Talent" is SPIL's most important asset. Thus, our highest principle is to actively hire, motivate, and retain talents. Under the premise of conforming with the Labor Standard Act, the Act of Gender Equality in Employment, and Employment Service Act, this company recruit personnel in a legal, fair, and open manner. Our priority is to recruit from local residents in the operating area. Recruitment tools include job bank platforms and cooperating with education institutions. Industry-academia cooperation can cultivate talent or obtain references with talent recommendation reward mechanism and from actual projects. This allows the company to obtain top technical talents.</p>
    <p class="fz-26 fw-bold color-005EAB mb-20">Talent recruitment and keeping</p>
    <p class="mb-15 color-646464">As the growth of SPIL relies on continuous contributions of our employees, “talents” are the most important assets for us. Proactively recruiting, encouraging and retaining talents is the prime directive for talent acquisition. Apart from encouraging our employees to take on-the-job trainings and constructing a healthy and safe environment, we also support the establishment of a harmonious labor-management relationship; adopt a profit-sharing remuneration system; and promote family friendly measures and subsidies to attract talents.</p>
    <p class="mb-15 color-646464">Furthermore, to maintain our competitive advantages on the challenge of global competition, we have adopted a legal, open and impartial talent recruitment system to put talents in the right position and to bring the best thereof.</p>
    <p class="mb-15 color-646464">We comply with Labor Standards Act, Act of Gender Equality in Employment and Employment Service Act; and always recruit residents of where our operations sites are located at priority.</p>
    <p class="mb-15 color-646464">Also, the job bank recruitment platform enables us to recruit students with extraordinary performance by offering them internships and industrial-academic cooperation plans; planning school seminars and company visits. All of these enable not only the students to join the production and development of semiconductor products, but also ourselves to cultivate talents for the industry. In the meantime, we have been developing the English-speaking talent market to facilitate our overseas expansion plan and operations while enhancing SPIL's international competitiveness.</p>
    <p class="fz-18 fw-bold color-646464 mb-15">1. Employment and assistance for disabilities</p>
    <p class="mb-15 color-646464">SPIL values the employment of people with physical and mental disabilities. By cooperating with various local service stations, we established channels for employing people withdisabilities. In addition to following laws that protect the rights of people withdisabilities, SPIL hires one person with disabilities for every 100 employees we hire.</p>
    <p class="mb-15 color-646464">Senior supervisors also instructed related units to hire disabled employees in excess ofthe statutory minimum (10%) to implement our corporate social responsibilities; take careof families of the disabled; offer work opportunities to the disabled. Over the last 5 years.In 2020, thenumber reached 32 people.</p>
    <p class="fz-18 fw-bold color-646464 mb-15">2. Measures for the leave without pay policy for nursery</p>
    <p class="mb-15 color-646464">SPIL actively support the leave without pay policy for nursing baby of government by implementing 5 methods: "guarantees of returning and keeping the former positions", "alternative employees", "applications for labor allowance", "reinstatement transitionperiod", and "permission for the request for reinstatements in advance."</p>
    <p class="mb-15 color-646464">Since thegovernment announced and implemented the systems of leaves without pays for maternityor nursing baby on 8th, March, 2002, number of applicants gradually increased yearafter year. As of the end of 2020, over 3,000 colleagues have applied for child-careleaves.SPIL has one of the highest parental leave application rates among Taiwancompanies.</p>
    <img class="mb-50 color-646464" src="/styles/images/sustainability/sustainability-detail6-img6.webp" alt>
    <p class="fz-18 fw-bold color-646464 mb-15">3. Remuneration and welfares</p>
    <p class=" fw-bold color-646464 mb-15">(1) Remuneration Policy</p>
    <p class="mb-15 color-646464">The overall salary covers base pay, allowance, bonus and employee reward. Salary is paid at a market-oriented level depending on the job responsibilities, core skills, education background and experience, work performance, future development of company, continuous performance-based employment and shareholders' interests. There is no discrimination on the basis of gender, age, race, religion, political inclination or marriage status. Workers in Taiwan are paid equal to or better than the minimum wages required by the Labor Standards Act. Workers at a foreign office are provided the wages and welfare in accordance with applicable local laws and regulations.</p>
    <p class=" fw-bold color-646464 mb-15">(2) Comprehensive insurance</p>
    <p class="mb-15 color-646464">SPIL provides each employee with insurance that conform to local regulations. In the Taiwan area, each employee not only has labor and health insurance, but also group insurance. Group insurance includes life insurance, accident insurance, medical insurance, public accident insurance, and cancer insurance. Dependents of colleagues can participate in discounted company group insurance that is lower than the market price. Thus, SPIL takes care of the families of colleagues. Women employees who have undergone C-section and are hospitalized receives insurance payout. Thus, colleagues are sufficiently insured, so they can concentrates on work without worries.</p>
    <p class=" fw-bold color-646464 mb-15">(3) Comprehensive pension system</p>
    <p class="mb-50 color-646464">Taiwan has a new and old retirement system. For colleagues that chose the new system, 6% of their salaries are saved in an individual account at Bureau of Labor insurance. For employees under the old system, and for employees that chose the new system but has seniority from the old system, a pension fund supervisory committee was established according to law to see to it that a 2% labor retirement fund is saved to ensure colleagues' retirement life.</p>
    <p class="fz-26 fw-bold color-005EAB mb-20">Employee caring</p>
    <p class="fz-18 fw-bold color-646464 mb-15">1. Health care</p>
    <p class="mb-15 color-646464">Healthy employees are our company's most valuable asset. Healthy and happy employees can bring high creativity, efficiency, production, and profit to a company. Thus, maintaining employees' health is a goal that the company has continued to promote.</p>
    <p class=" fw-bold color-646464 mb-15">(1) Employee health check-up</p>
    <p class="mb-15 color-646464">To implement employee health care, SPIL conducts annual health checkups for employees and workers that engage in especially hazardous work. Special work environments include environments that are noisy or have ionizing radiation or special chemicals.</p>
    <p class=" fw-bold color-646464 mb-15">(2) Employee Assistance Program (EAP)</p>
    <p class="mb-15 color-646464">It has been four years since SPIL introduced the EAP program. Cooperation between internal management personnel and external professional agencies provided care and consultation for colleagues with physical and mental stress problems.</p>
    <p class=" fw-bold color-646464 mb-15">(3) Setup Automated External Defibrillator (AED)</p>
    <p class="mb-15 color-646464">In recent years, coronary artery heart disease has become the third ranked cause of death in the Taiwan region. In response to the Emergency Medical Service Act, SPIL began setting up AEDs in 2014. In 2015, six AEDs were set up in each facility, which are located in more crowded places or convenient to be reached: such as restaurants, convenience stores, and the main lobby. Rescue during critical rescue time improved emergency rescue efficiency and give employees another layer of health protection.</p>
    <p class=" fw-bold color-646464 mb-15">(4) Musculoskeletal hazards prevention</p>
    <p class="mb-15 color-646464">In order to prevent long-term repetitive operations from causing musculoskeletal-related injuries, promotion of prevention mainly depends on industry-academic cooperation with China Medical University's Department of Occupational Safety and Health. The integration of actual practice and academic learning can allow preventive work to successfully proceed.</p>
    <p class=" fw-bold color-646464 mb-15">(5) Workplace maternal health protection</p>
    <p class="mb-15 color-646464">Since 2015, SPIL was promoting women's health protection and arranging for pregnant or nursing mothers to have health counseling. Resident physicians and nurses gave consultation to nursing mothers, including risk assessment and control, interview and guidance from physicians, and risk management, arrangement of suitable work, and other related measures.</p>
    <p class=" fw-bold color-646464 mb-15">(6) Prevent work overload</p>
    <p class="mb-15 color-646464">In order to prevent work overload, we overtime control warning mechanisms were set-up. When a colleague approaches the set warning limit, the system will automatically inform the supervisor and plant services, and remind managers to make appropriate manpower planning and for plant services to care for colleagues' physical condition on a regular basis.</p>
    <p class="fz-18 fw-bold color-646464 mb-15">2. Health promotion programs</p>
    <p class="mb-15 color-646464">The annual health promotion activities are organized based on the employ examination results, employee need survey results and the requirements of Occupational Safety and Health Act and by working with various charity organizations. The main functions of these activities are toprovide employees health information and enhance their healthy behaviors for the prevention of health conditions. The employee examination results of 2019 indicated that the main healthconcerns among employees are still over-weighing and abnormal serum lipid level, which meansthat weight watch and the development of the habit of exercising are still the topics to beworked on for health promotion.</p>
    <p class="fz-18 fw-bold color-646464 mb-15">3. Promote balance between work and life</p>
    <p class="mb-50 color-646464">To improve colleagues' work efficiency and performance, and allow colleagues to spend more time with family and participate in social activities and sports, SPIL provides employees with more diverse and convenient services. The company organizes many diverse activities, including outdoor activities, cultural events, film showing, competitions, lectures,and galas to give colleagues a balanced and healthy life outside of work and maintain physical and mental health.</p>
    <p class="fz-26 fw-bold color-005EAB mb-20">Safe work environment</p>
    <p class="mb-15 color-646464">Silicon Precision Industries acquired the certification of new “ISO 45001 occupational health and safety management systems” standards. The management scope thereof includes all workers controlled by the organization, implementation works or operation related activities as described in the following Table. The Company has, according to the spirit of new ISO 45001 standards, established occupational safety and health management rules in order to minimize the occurrence of occupational injury through continuous improvements and establishment of projects. Besides, SPIL also hold occupational safety and health facilitation activities, educational trainings and emergency response drills, hoping to ducate all workers the right safety and health concepts and knowledge. The purposes of above measures are to reduce employees' operating risks; implement environmental safety and health management; and create a quality workplace in order to create safety awareness and culture, enhance employees' work efficiency and quality and fulfill the Company's corporate social responsibilities.</p>
    <p class="fz-18 fw-bold color-646464 mb-15">1. Reducing work-related injuries</p>
    <p class="mb-15 color-646464">SPIL's production units have collectively formed a project team designated to lowerwork-relatedinjuries in facilities through themed routine inspections.</p>
    <p class="mb-15 color-646464">The teamwouldannounceenvironmental safety and health requirements and carry out themed audits toreview,discuss,and fan-out the issues on a monthly basis.</p>
    <p class="fz-18 fw-bold color-646464 mb-15">2. Emergency Responses</p>
    <p class="mb-15 color-646464">SPIL has already established the relevant emergency plans for possible disasters (such as earthquakes, typhoons, floods, fires, or chemical spills) as well as emergency response teams at each plant. To enable the response team members to become familiarized with the emergency response procedures and the relevant equipment use methods, and emergency team training is held once every six months.</p>
    <p class="mb-15 color-646464">To enhance the response capacities, the regional teams shall identify possible emergencies that may occur on an annual basis and conduct scenario drills (firefighting, chemical spill rescue, etc.). The subjects of the drills include stakeholders such as visitors, contractors, and the clients' personnel stationed at the plant. To enhance the colleagues' emergency refuge familiarity and hasten evacuations during earthquakes, fires, and other disasters; SPIL has started to implement employee evacuation drills for the respective plant buildings, levels, and rooms.</p>
    <p class="fz-18 fw-bold color-646464 mb-15">3. Chemicals management</p>
    <p class="fw-bold color-646464 mb-15">(1) Cloud management system for chemicals</p>
    <p class="mb-15 color-646464">In 2019, we have introduced a cloud management system for chemicals. With over 1,000 safety data sheets (SDSs), this system has a complete database that is managed by dedicated personnel and connected to the list of chemicals and the floor plans of our production facilities. In the meanwhile, chemical control banding (CCB) is also included in the systematic management that fulfill the chemical management requirements of Occupational Safety and Health Administration (OSHA), National Fire Agency (NFA) and Ministry of Economic Affairs (MOEA).</p>
    <p class="mb-15 color-646464">The system also has the function of “automatic classification of controlled substances”, allowing the Company to precisely determine controlled substances that are listed by the customers in order to fulfill their respective expectations and demands.</p>
    <p class="mb-15 color-646464">Apart from reducing at least 50% of the time required by manual works, the system has, in overall, obviously enhanced the management of chemical data with respect to their compliance with regulations, immediacy and integrity.</p>
    <p class="fw-bold color-646464 mb-15">(2) Audit of chemical SDS</p>
    <p class="mb-15 color-646464">In 2019, through the audit mechanism of Green product Management (GPM), SPIL has requested suppliers to ensure the compliance of SDS with relevant decrees and regulations. It is especially so for the CAS No. Exposure Limit of hazardous substances, which is one of the key points of review. It is our expectation that we will be able to minimize potential risks derived from unknown objects and further enhance our chemical management.</p>
    <p class="fw-bold color-646464 mb-15">(3) Registration of chemical substances</p>
    <p class="mb-15 color-646464">Controlled and priority management chemicals: SPIL does not use any highly hazardous, controlled chemicals. The declaration of first and second stage designated lists of priority management chemicals was finalized in September 2020.</p>
    <p class="fz-18 fw-bold color-646464 mb-15">4. Monitoring of the operating environment and exposure assessment</p>
    <p class="mb-15 color-646464">With the assistance of industrial and mining technicians, the Company already drafted the sampling strategy and plan by laws. In 2020, the Company's operating environmentassessment result was < 1/2 PEL (including operations of special health hazards: Operationsrelated to chemicals classified as hexane, arsenic, manganese and its compounds, chromic acidand its salts, nickel and its compounds, mercury and inorganic compounds), which is consideredas the level-1 management(< 1/2PEL). The Company therefore continue to maintain currentcontrol and management measures to ensure that all of our employees work in a healthy and safe environment. All of the chemical classification records will be successively establishedin the chemical cloud system to implement control banding.</p>
    <img class="mb-50 color-646464" src="/styles/images/sustainability/sustainability-detail6-img7.webp" alt>





</div>