﻿<div class="edit-box about-info-box editor line-height-2">
    <p class="color-646464 mb-15">矽品精密為了讓資訊揭露的內容可以符合讀者的期待與需求，在撰寫2021 年永續報告書時，依循全球永續性標準理事會發行的GRI準則，建立涵蓋5 大步驟的重大性分析，決定欲溝通的利害關係人、瞭解利害關係人優先關注的議題，進而作為編撰報告書的參考基礎，並確保報告書內容包涵利害關係人包容性、永續性的脈絡、重大性及完整性等原則。</p>
    <p class="color-646464 mb-50">為了完整呈現整體的價值鏈，相關重大議題之資訊揭露，包含矽品精密及矽科廠，也藉由專責組織成員的參與討論，界定每個考量面及指標包含的範疇。</p>
    <div class="communication-list-box mb-50">
        <div class="communication-list">
            <div class="communication-list-icon">
                <img src="/styles/images/sustainability/stakeholder-list1.webp" alt>
            </div>
            <div class="communication-list-info-box color-646464">
                <h2 class="communication-list-title text-center">
                    蒐集永續議題<br>
                    蒐集6大個議題
                </h2>
                <div class="communication-list-info">
                    <p class="mb-20">永續議題蒐集基礎：</p>
                    <ul class="careers-ul">
                        <li class="mb-20">全球標準 (IS026000, GRI standards, UN GC,DJSI, RBA 等）</li>
                        <li>網路資訊中有關矽品精密之永續議題</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="communication-list">
            <div class="communication-list-icon">
                <img src="/styles/images/sustainability/stakeholder-list2.webp" alt>
            </div>
            <div class="communication-list-info-box color-646464">
                <h2 class="communication-list-title text-center">
                    鑑別利害關係人<br>
                    6個主要利害關係人
                </h2>
                <div class="communication-list-info">
                    <p>透過 CSR 小組 成員的腦力激盪，列出 11 個相關的利害關係人，進而採用 AA1000 SES-2015 利害關係人議和標準 (Stakeholder Engagement Standard) 五大原則進行排序，鑑別出 6個須聚焦溝 通的主要利害關係人，包括：員工、客戶、供應商、政府/公務單位、承攪商、社區/鄰里。</p>
                </div>
            </div>
        </div>
        <div class="communication-list">
            <div class="communication-list-icon">
                <img src="/styles/images/sustainability/stakeholder-list3.webp" alt>
            </div>
            <div class="communication-list-info-box color-646464">
                <h2 class="communication-list-title text-center">
                    重大性分析<br>
                    9個關注議題
                </h2>
                <div class="communication-list-info">
                    <p class="mb-20">根據永續背景及利害關係人調查結果，条整 19個永續議題，進行重大性評估，分別為：</p>
                    <ul class="num-ul">
                        <li class="mb-20">利害關係人對於每個議題之「關注程度」評估（發放 417 份問卷向利害關係人進行調查）。</li>
                        <li>每個議題對於公司永續營運之「衝擊程度」評估，由 CSR 專責單位主管及同仁決定。</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="communication-list">
            <div class="communication-list-icon">
                <img src="/styles/images/sustainability/stakeholder-list4.webp" alt>
            </div>
            <div class="communication-list-info-box color-646464">
                <h2 class="communication-list-title text-center">
                    核定重大性指標<br>
                    13個重大主題
                </h2>
                <div class="communication-list-info">
                    <p class="mb-20">依據重大性分析過程所決定的 13 個重大主題，由CSR 小組成員決定各個重大主題須優先揭露的項目，並且經由高階主管確認及核准。</p>
                </div>
            </div>
        </div>
        <div class="communication-list">
            <div class="communication-list-icon">
                <img src="/styles/images/sustainability/stakeholder-list5.webp" alt>
            </div>
            <div class="communication-list-info-box color-646464">
                <h2 class="communication-list-title text-center">
                    蒐集永續議題<br>
                    2個內部實體邊界<br>
                    2個外部實體邊界
                </h2>
                <div class="communication-list-info">
                    <p class="mb-20">針對己界定的重大指標，逐一確認會產生衝擊的組織內外的寊體，進一步釐清報告書資訊揭露之邊界。</p>
                    <ul class="num-ul">
                        <li class="mb-20">內部實體邊界：包括矽品精密及矽科廠，子公司 SPIL BVI. Holding 因業務性質，除合併财務資訊外無 CSR 相關之重大議題，故不列入。</li>
                        <li>外部寊體邊界：包括供應商（含承攬商）、客戶。</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <p class="fz-26 fw-bold color-005EAB mb-20">重大性議題分析結果</p>
    <p class="mb-40">矽品精密透過重大性分析了解哪些資訊是利害關係人優先關注的議題，針對蒐集的19個永續議題進行重大性評估，重大性議題以落於中~ 高度衝擊、中~ 高度關切之交集處為主，最終確認9 個核心議題及10 個永續管理議題，核心議題為報告書編撰的基礎，讓資訊揭露的內容可以符合利害關係人的期待與需求。</p>
    <img src="/styles/images/sustainability/stakeholder-img.webp" alt>



</div>