﻿<div class="edit-box about-info-box editor">
    <div class="questionnaire-box">
        <div class="questionnaire-left">
            <p class="mb-15 color-646464">To comply with the trend of globalization and fulfill the stakeholder’s expectation of company transparency, Siliconware Precision Industries Co. Ltd. had published Corporate Sustainability Report every year, to communicate with all interested stakeholders in a responsible manner to let know SPIL’s effort for social responsibility.</p>
            <p class="mb-15 color-646464">In order to communicate effectively with our stakeholders and have a clear view of the issues that may be important to them or draw their attentions. Please kindly provide us your precious comments and suggestions. We value them greatly as an opportunity of making improvement for the company and these will be the fundamental reference of the information disclosure in our CSR report.</p>
            <p class="mb-15 color-646464">The application of the survey is restricted to the materiality analysis in CSR reports. No private information is required. It would be really appreciate if you could convey honestly through the survey with your authentic self.</p>
        </div>
        <div class="questionnaire-right">
            <img src="/styles/images/sustainability/questionnaire-img.webp" alt>
        </div>
    </div>
</div>