﻿@using WebApp.Services;
@inject LocalService _localizer
@{
    LanguageResource categoryData = ViewBag.category.LangData[0];
    List<ProductCategory> ICPackagingCategory = ViewBag.ICPackagingCategory;
    List<ProductSet> productsAll = ViewBag.Product;

}

<main>
    <h1 class="title-h1">IC Packaging</h1>
    <div class="page-banner-box">
        <div class="page-banner">
            <h2 class="page-banner-title">@_localizer.GetLocalizedHtmlString("IC_Packaging").ToString()</h2>
            <img class="img-object" src="/styles/images/finance/page-banner1.webp" alt>
        </div>
        <div class="breadnav-block fade">
            <ul class="breadnav-box">
                <li><a href="@Url.Content("~/" + ViewBag.culture)"><i class="demo-icon icon-home"></i></a></li>
                <li><span>@_localizer.GetLocalizedHtmlString("IC_Packaging").ToString()</span></li>
            </ul>
            <div class="breadnav-bg"></div>
        </div>
    </div>
    <div class="bg-fff">
        <div class="search-top-box">
            @if (ViewBag.nowLang == "en")
            {
                <form class="products-search-box" action="@Url.Content("~/" + ViewBag.culture + "IC_PackagingSearch")" method="get">
                    <button type="submit" class="products-search-submit">
                        <i class="demo-icon icon-search-2"></i>
                        @_localizer.GetLocalizedHtmlString("ProductSearch").ToString()
                    </button>
                    <input type="text" class="products-search-input keywords" name="keywords" placeholder="@_localizer.GetLocalizedHtmlString("Keywords").ToString()...">
                </form>
            }
            else
            {
                <form class="products-search-box" action="@Url.Content("~/" + ViewBag.culture + "/IC_PackagingSearch")" method="get">
                    <button type="submit" class="products-search-submit">
                        <i class="demo-icon icon-search-2"></i>
                        @_localizer.GetLocalizedHtmlString("ProductSearch").ToString()
                    </button>
                    <input type="text" class="products-search-input keywords" name="keywords" placeholder="@_localizer.GetLocalizedHtmlString("Keywords").ToString()...">
                </form>
            }



            @Html.Raw(categoryData.DetailsData?.editor ?? "")


        </div>

        @if (ICPackagingCategory != null)
        {

            <div class="page-list-block">
                <div class="container-box">
                    <div class="service-list-box">


                        @foreach (ProductCategory item in ICPackagingCategory.Where(m => m.parent_id == "ICPackaging").ToList())
                        {
                            LanguageResource LangData = item.LangData.FirstOrDefault();

                            if (LangData != null)
                            {
                                List<ProductCategory> SubProductCategory = ICPackagingCategory.Where(m => m.parent_id == item.id).ToList();

                                string url = ViewBag.culturePath + "IC_PackagingData/" + item.id;

                                if (SubProductCategory != null && SubProductCategory.Count > 0)
                                {
                                    url = ViewBag.culturePath + "IC_PackagingSecond/" + item.id;
                                }

                                <div class="service-list">
                                    <a href="@url" class="service-list-title-box">
                                        <span class="service-list-title">@LangData?.title</span>
                                        <span class="service-list-link"></span>
                                    </a>
                                    <div class="service-img">
                                        <img src="@Html.Raw((new Helper()).FormatPic(LangData , "pic" , "image"))" alt="@Html.Raw((new Helper()).FormatPic(LangData , "pic" , "title"))">
                                    </div>

                                    @if (SubProductCategory != null && SubProductCategory.Count > 0)
                                    {
                                        <div class="service-list-class-box">


                                            @foreach (ProductCategory subItem in SubProductCategory)
                                            {
                                                LanguageResource subLangData = subItem.LangData.FirstOrDefault();

                                                var products = productsAll.Where(m => m.category_id == subItem.id).ToList();
                                                if (products.Count() == 0)
                                                {
                                                    @* <div class="first-class-title-box  class-title-box">
                            <span class="class-title">@subLangData?.title</span>
                            <a href="@Html.Raw(ViewBag.culturePath + "IC_PackagingThird/" + subItem.id)" class="class-link-icon"></a>
                            </div>*@
                                                    <div class="service-list-class">
                                                        <a href="@Html.Raw(ViewBag.culturePath + "IC_PackagingThird/" + subItem.id)" class="class-title-box">
                                                            <span class="class-title">@subLangData?.title</span>
                                                            <span class="class-link-icon"></span>
                                                        </a>
                                                    </div>

                                                    @if (products != null && products.Count > 0)
                                                    {
                                                        <div class="second-class-title-box">

                                                            @foreach (ProductSet product in products)
                                                            {
                                                                LanguageResource productLangData = product.LangData.FirstOrDefault();

                                                                <a href="@Html.Raw(ViewBag.culturePath + "IC_PackagingData/" + product.id)" class="class-title-box">
                                                                    <span class="class-title">@productLangData?.title</span>
                                                                    <span class="class-link-icon"></span>
                                                                </a>
                                                            }
                                                        </div>

                                                    }
                                                }
                                                else
                                                {
                                                    <div class="service-list-class more-class">
                                                        <div class="first-class-title-box  class-title-box">
                                                            <span class="class-title">@subLangData?.title</span>
                                                            <a href="@Html.Raw(ViewBag.culturePath + "IC_PackagingThird/" + subItem.id)" class="class-link-icon"></a>
                                                        </div>
                                                        @if (products != null && products.Count > 0)
                                                        {
                                                            <div class="second-class-title-box">

                                                                @foreach (ProductSet product in products)
                                                                {
                                                                    LanguageResource productLangData = product.LangData.FirstOrDefault();

                                                                    <a href="@Html.Raw(ViewBag.culturePath + "IC_PackagingData/" + product.id)" class="class-title-box">
                                                                        <span class="class-title">@productLangData?.title</span>
                                                                        <span class="class-link-icon"></span>
                                                                    </a>
                                                                }
                                                            </div>

                                                        }
                                                    </div>
                                                }

                                            }







                                        </div>
                                    }
                                    else
                                    {
                                        <div class="service-list-info">@Html.Raw(LangData.DetailsData?.notes ?? "")</div>
                                    }




                                </div>
                            }

                        }



                    </div>
                </div>
            </div>

        }

    </div>
</main>