﻿@model IEnumerable<WebApp.Models.ProductSet>
@using WebApp.Services;
@inject LocalService _localizer;
@{
    List<ProductCategory> ICPackagingCategory = ViewBag.ICPackagingCategory;
}
<main>
    <h1 class="title-h1">IC Packaging</h1>
    <div class="page-banner-box">
        <div class="page-banner">
            <h2 class="page-banner-title">@_localizer.GetLocalizedHtmlString("IC_Packaging").ToString()</h2>
            <img class="img-object" src="/styles/images/finance/page-banner1.webp" alt>
        </div>
        <div class="breadnav-block fade">
            <ul class="breadnav-box">
                <li><a href="@Url.Content("~/" + ViewBag.culture)"><i class="demo-icon icon-home"></i></a></li>
                <li><span>@_localizer.GetLocalizedHtmlString("IC_Packaging").ToString()</span></li>
            </ul>
            <div class="breadnav-bg"></div>
        </div>
    </div>
    <div class="bgf5f5f5">
        <div class="search-top-box">
            @if (ViewBag.nowLang == "en")
            {
                <form class="products-search-box" action="@Url.Content("~/" + ViewBag.culture + "IC_PackagingSearch")" method="get">
                    <button type="submit" class="products-search-submit">
                        <i class="demo-icon icon-search-2"></i>
                        @_localizer.GetLocalizedHtmlString("ProductSearch").ToString()
                    </button>
                    <input type="text" class="products-search-input keywords" name="keywords" placeholder="@_localizer.GetLocalizedHtmlString("Keywords").ToString()...">
                </form>
            }
            else
            {
                <form class="products-search-box" action="@Url.Content("~/" + ViewBag.culture + "/IC_PackagingSearch")" method="get">
                    <button type="submit" class="products-search-submit">
                        <i class="demo-icon icon-search-2"></i>
                        @_localizer.GetLocalizedHtmlString("ProductSearch").ToString()
                    </button>
                    <input type="text" class="products-search-input keywords" name="keywords" placeholder="@_localizer.GetLocalizedHtmlString("Keywords").ToString()...">
                </form>
            }

            <p class="search-top-ps">
                About <span class="color-005EAB">@ViewBag.Count</span> results found for <span class="color-005EAB">"@ViewBag.Keywords"</span>
            </p>
        </div>


        <div class="search-page-block">

            @if (Model != null)
            {
                <div class="container-box">

                    <div class="search-list-box">


                        @foreach (ProductSet item in Model)
                        {
                            LanguageResource LangData = item.LangData.FirstOrDefault();

                            var category = ICPackagingCategory.Where(m => m.id == item.category_id).FirstOrDefault();

                            List<Dictionary<string, string>> Breadcrumbs = (new Helper()).GetBreadcrumbs(category, ViewBag.ICPackagingCategory);

                            <a class="search-list" href="@Html.Raw(ViewBag.culturePath + "IC_PackagingData/" + item.id)">
                                <span class="search-img">
                                    <img src="@Html.Raw((new Helper()).FormatPic(LangData , "pic" , "image"))" alt="@Html.Raw((new Helper()).FormatPic(LangData , "pic" , "title"))">
                                </span>
                                <span class="search-info-box">
                                    <span class="search-info-title">@LangData?.title</span>
                                    <span class="search-info-p">
                                        @_localizer.GetLocalizedHtmlString("IC_Packaging").ToString()

                                        @for (int i = (Breadcrumbs.Count - 1); i >= 0; i--)
                                        {


                                            @Html.Raw("  >  " + Breadcrumbs[i]["title"])


                                        }

                                        @Html.Raw("  >  " +  category.LangData.FirstOrDefault().title)
                                    </span>
                                </span>
                                <span class="service-list-link"></span>
                            </a>
                        }


                    </div>

                    @{
                        /*頁碼*/
                    }
                    @Html.Partial("PaginationSearch")
                </div>
            }

        </div>


    </div>
</main>