﻿@using WebApp.Services;
@inject LocalService _localizer
@{
    LanguageResource categoryData = ViewBag.category.LangData[0];
    List<ProductCategory> ICPackagingCategory = ViewBag.ICPackagingCategory;
    List<ProductSet> productsAll = ViewBag.Product;

}

<main>
    <h1 class="title-h1">IC Packaging</h1>
    <div class="page-banner-box">
        <div class="page-banner">
            <h2 class="page-banner-title">@_localizer.GetLocalizedHtmlString("IC_Packaging").ToString()</h2>
            <img class="img-object" src="/styles/images/finance/page-banner1.webp" alt>
        </div>
        <div class="breadnav-block fade">
            <ul class="breadnav-box">
                <li><a href="@Url.Content("~/" + ViewBag.culture)"><i class="demo-icon icon-home"></i></a></li>
                <li><a href="@Html.Raw(ViewBag.culturePath + "IC_Packaging")"><span>@_localizer.GetLocalizedHtmlString("IC_Packaging").ToString()</span></a></li>
                <li><span>@categoryData?.title</span></li>
            </ul>
            <div class="breadnav-bg"></div>
        </div>
    </div>
    <div class="bg-fff">
        <div class="service-page-top">
            <div class="container-box">
                <div class="service-top-back-box fade-right">
                    <a href="@Html.Raw(ViewBag.culturePath + "IC_Packaging")" class="back-box">
                        <span class="back-menu"></span>
                        <span class="back-p">@_localizer.GetLocalizedHtmlString("Menu").ToString()</span>
                    </a>
                    <a href="@Html.Raw(ViewBag.culturePath + "IC_Packaging")" class="back-box">
                        <span class="back-icon"></span>
                        <span class="back-p">@_localizer.GetLocalizedHtmlString("Back").ToString()</span>
                    </a>
                    @if (ViewBag.nowLang == "en")
                    {
                        <form class="packaging-top-search" action="@Url.Content("~/" + ViewBag.culture + "IC_PackagingSearch")" method="get">
                            <button type="submit" class="packaging-top-search-submit">
                                <i class="demo-icon icon-search-2"></i>
                                @_localizer.GetLocalizedHtmlString("ProductSearch").ToString()
                            </button>
                            <input class="packaging-top-search-text keywords" name="keywords" type="text" placeholder="@_localizer.GetLocalizedHtmlString("Keywords").ToString()...">
                        </form>
                    }
                    else
                    {
                        <form class="packaging-top-search" action="@Url.Content("~/" + ViewBag.culture + "/IC_PackagingSearch")" method="get">
                            <button type="submit" class="packaging-top-search-submit">
                                <i class="demo-icon icon-search-2"></i>
                                @_localizer.GetLocalizedHtmlString("ProductSearch").ToString()
                            </button>
                            <input class="packaging-top-search-text keywords" name="keywords" type="text" placeholder="@_localizer.GetLocalizedHtmlString("Keywords").ToString()...">
                        </form>
                    }

                </div>
                <h2 class="service-page-top-title fade">@categoryData?.title</h2>

                @if (!string.IsNullOrEmpty(categoryData?.pic) && categoryData?.pic != "{}" && categoryData?.PicData.path_pic != null)
                {
                    <div class="service-page-top-info edit-box fade-up">

                        <img src="@categoryData?.PicData.path_pic[0]?.path" alt="categoryData?.PicData.path_pic[0]?.title">
                    </div>
                }

                <div class="service-page-top-info edit-box fade-up">
                    @Html.Raw(categoryData?.DetailsData?.editor ?? "")
                </div>
            </div>
        </div>

        @if (ICPackagingCategory != null)
        {
            <div class="page-list-block">
                <div class="container-box">
                    <div class="service-list-box">
                        @foreach (ProductCategory item in ICPackagingCategory.Where(m => m.parent_id == categoryData.ProductCategoryId).ToList())
                        {
                            LanguageResource LangData = item.LangData.FirstOrDefault();

                            var products = productsAll.Where(m => m.category_id == item.id).ToList();

                            <div class="service-list fade-up">
                                <a href="@Html.Raw(ViewBag.culturePath + "IC_PackagingThird/" + item.id)" class="service-list-title-box">
                                    <span class="service-list-title">@LangData?.title</span>
                                    <span class="service-list-link"></span>
                                </a>
                                <div class="service-img">
                                    <img src="@Html.Raw((new Helper()).FormatPic(LangData , "pic" , "image"))" alt="@Html.Raw((new Helper()).FormatPic(LangData , "pic" , "title"))">
                                </div>


                                @if (products != null && products.Count > 0)
                                {
                                    <div class="service-list-class-box">
                                        @foreach (ProductSet product in products)
                                        {
                                            LanguageResource productLangData = product.LangData.FirstOrDefault();
                                            <div class="service-list-class">
                                                <a href="@Html.Raw(ViewBag.culturePath + "IC_PackagingData/" + product.id)" class="class-title-box">
                                                    <span class="class-title">@productLangData?.title</span>
                                                    <span class="class-link-icon"></span>
                                                </a>
                                            </div>
                                        }
                                    </div>
                                }

                            </div>

                        }





                    </div>
                </div>
            </div>

        }

    </div>
</main>
