﻿@using WebApp.Models;
@using Web.Repositories.Admin;
@using WebApp.Services;
@{
    Layout = "~/Areas/Siteadmin/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "管理首頁";
    Helper helper = new Helper();

}
<link type="text/css" rel="stylesheet" href="/static/modules/elFinder/css/elfinder.min.css" />
<link type="text/css" rel="stylesheet" href="/static/modules/elFinder/css/theme.css" />
<link type="text/css" rel="stylesheet" href="/static/modules/elFinder/themes/windows-10/css/theme.css" />


<div class="content-body">
    <section class="panel panel-default">
        <header class="panel-heading">
            <h1 class="h5 float-left font-weight-bold">檔案總管</h1>
       
        </header>
        <div class="panel-wrapper">
            <div class="panel-body">




                <div id="elfinder"></div>


                
           
            </div>
        </div>
    </section>
    <!-- / layout-content-->
</div>


@section Scripts {

    <script src="/static/modules/elFinder/js/elfinder.min.js"></script>
    <script src="/static/modules/elFinder/js/i18n/elfinder.zh_TW.js"></script>

    <script type="text/javascript">
        // Documentation for client options:
        // https://github.com/Studio-42/elFinder/wiki/Client-configuration-options

        var elf = null;

        $(document).ready(function () {
            var myCommands = elFinder.prototype._options.commands;
            var disabled = ['callback', 'chmod', 'editor', 'netmount', 'ping', 'help']; // Not yet implemented commands in elFinder.NetCore
            elFinder.prototype.i18.en.messages.TextArea = "Edit";
            elFinder.prototype.i18.en.messages.errNewNameSelection = 'Unable to create new file with name "$1"';
            $.each(disabled, function (i, cmd) {
                (idx = $.inArray(cmd, myCommands)) !== -1 && myCommands.splice(idx, 1);
            });
            var options = {
                url: '/el-finder/file-system/connector', // Default (Local File System)
        @*//customData: { folder: '@Model.Folder', subFolder: '@Model.SubFolder' }, // customData passed in every request to the connector as query strings. These values are used in FileController's Index method.*@
                rememberLastDir: false, // Prevent elFinder saving in the Browser LocalStorage the last visited directory
                    commands: myCommands,
                        //lang: 'pt_BR', // elFinder supports UI and messages localization. Check the folder Content\elfinder\js\i18n for all available languages. Be sure to include the corresponding .js file(s) in the JavaScript bundle.
                        uiOptions: { // UI buttons available to the user
                toolbar: [
                    ['back', 'forward'],
                    ['reload'],
                    ['home', 'up'],
                    ['mkdir', 'mkfile', 'upload'],
                    ['open', 'download'],
                    ['undo', 'redo'],
                    ['info'],
                    ['quicklook'],
                    ['copy', 'cut', 'paste'],
                    ['rm'],
                    ['duplicate', 'rename', 'edit'],
                    ['selectall', 'selectnone', 'selectinvert'],
                    ['view', 'sort'],
                    ['search']
                ]
            },
            getFileCallback: function (file, fm) {

              //  addImages(file);

            },
            handlers: {
                select: function(event, elfinderInstance) {
                    //return false;
                },
                add: function(event, fm) {





                },
                upload: function(event, fm) {
                    var files = event.data.added;
                    var paths = "";
                    files.forEach(function (item) {
                        // paths.push(fm.path(item.hash, true) + '\\' + fm.path(item.name, true));

                        if (item.name != "") {
                            paths = paths + fm.path(item.hash, true) + '\\' + fm.path(item.name, true);
                        }


                    });

                    if (paths != "") {
                        $.ajax({
                            url: "/el-finder/file-system/addFile",
                            type: "POST",
                            data: { paths: paths },
                            success: function (item) {

                                // elf.exec('reload');
                                // return false;
                            }
                        });
                    }
                }

            }

            //onlyMimes: ["image", "text/plain"] // Get files of requested mime types only
            //lang: 'vi', // Change language
        };
        elf = $('#elfinder').elfinder(options).elfinder('instance');});

    
    </script>
}