﻿ <div class="text-center d-inline-block"><a class="badge badge-pill {class} changeCActive status{id}_text" 
     href="javascript:void(0)" data-id="{id}" data-active={active} title="點選變更狀態">{title}</a></div>