﻿<div class="custom-control custom-checkbox">
<input class="custom-control-input custom-control-input-danger delId" value="{id}" type="checkbox" id="id_{id}" >
<label for="id_{id}" class="custom-control-label"></label>
</div>