﻿
<button class="btn btn-outline-default btn-sm delItem trashItem" title="刪除" type="button" role="button" aria-pressed="true" data-id="{id}">
    <i class="icon-trash"></i><span class="text-hide">刪除</span></button>
                          