﻿<a class="thumb" href="{pic}" data-fancybox="" data-caption="">
    <span class="imgFill imgLiquid_bgSize imgLiquid_ready" style="background: url('{pic}') center center no-repeat; background-size: cover;">
        <img src="{pic}" alt="" style="display: none;">
    </span>
</a>