﻿<div class="text-nowrap talbe-sort">
    <span class="text-hide">{sort}</span><a class="btn btn-link icon-arrow-long-up p-0 m-0 changeSort" role="button" data-type="up" aria-pressed="true" data-id="{id}"></a>

    <input class="form-control form-control-sm text-center d-inline-block sortValue {id}_sortValue" type="text" value="{sort}" data-id="{id}"  data-sort="{sort}" />

    <a class="btn btn-link icon-arrow-long-down p-0 m-0 changeSort" data-type="down" role="button" aria-pressed="true" data-id="{id}"></a>
</div>