﻿<div class="container-box">

    <div class="spil-info-box">
        <h2 class="fade">We Are SPIL</h2>
        <p class="fade">Our dedication to enhancing quality and developing technical innovations to satisfy customers' needs has made SPIL one of the top leaders in creating high value-added solutions, to the point where we are now the world class IC packaging and testing services provider.</p>
        <a href="" class="financial-info-link fade-up">
            <span class="financial-link-p">Read More</span>
            <span class="financial-link-icon"><img src="/styles/static/icon/financial-arrow.svg" alt></span>
        </a>
    </div>
    <div class="spil-round-block fade-up">
        <img class="spil-round-bg" src="/styles/static/home/spil-round.png" alt>
        <div class="spil-round-box">
            <a href="" class="spil-round-list">
                <span class="spil-round-info">
                    <span class="spil-round-icon">
                        <img src="/styles/images/home/spil-icon1.png" style="margin-right: 13px;" alt>
                    </span>
                    <span class="spil-round-title">Innovation</span>
                </span>
                <span class="spil-round-hover">
                    <span></span>
                </span>
                <span class="spil-round-mask"></span>
            </a>
            <a href="" class="spil-round-list">
                <span class="spil-round-info">
                    <span class="spil-round-icon">
                        <img src="/styles/images/home/spil-icon2.png" alt>
                    </span>
                    <span class="spil-round-title">High Performance</span>
                </span>
                <span class="spil-round-hover">
                    <span></span>
                </span>
                <span class="spil-round-mask"></span>
            </a>
            <a href="" class="spil-round-list">
                <span class="spil-round-info">
                    <span class="spil-round-icon">
                        <img src="/styles/images/home/spil-icon3.png" alt>
                    </span>
                    <span class="spil-round-title">Miniaturization</span>
                </span>
                <span class="spil-round-hover">
                    <span></span>
                </span>
                <span class="spil-round-mask"></span>
            </a>
            <a href="" class="spil-round-list">
                <span class="spil-round-info">
                    <span class="spil-round-icon">
                        <img src="/styles/images/home/spil-icon4.png" alt>
                    </span>
                    <span class="spil-round-title">Multifunctional<br>Integration</span>
                </span>
                <span class="spil-round-hover">
                    <span></span>
                </span>
                <span class="spil-round-mask"></span>
            </a>
        </div>
    </div>

</div>