﻿<a href="/Download/Index" class="download d-block position-relative overflow-hidden">
    <img class="object-fit h-100" src="/styles/images/layout/footer-right.jpg" alt="">
    <span class="text-inner d-block absolute-center w-100 max620 px-4">
        <span class="d-block fz-19 mb-2">員工下載專區</span>
        <span class="d-block fz-34 fw-bold max300 mb-xl-4 pb-md-3 mb-md-3 px-4 mx-auto">各式支援軟體及文件下載</span>
        <span class="d-none d-md-table mx-auto">
            <span class="more d-flex align-items-center border border-orange rounded-30 py-2 ps-3 px-4">
                <i class="icon-plus fz-16 me-xl-4 pe-2"></i>
                <span class="pe-xl-2">DOWNLOAD NOW</span>
            </span>
        </span>
    </span>
</a>