﻿<div class="invest-info-box fade-up">
    <div class="invest-info-list">
        <div class="invest-info-num">NTD<span class="run-thousand decimal" data-number="107">0</span>Billion</div>
        <span class="invest-info-line"></span>
        <p>NT$107 billion Revenue reached all-time high in 2021.</p>
    </div>
    <div class="invest-info-list">
        <div class="invest-info-num"><span class="run-thousand decimal" data-number="100">0</span>%</div>
        <span class="invest-info-line"></span>
        <p>100% conflict-free EN-US">SPIL formulated conflict minerals management policy and requires suppliers to comply with them.</p>
    </div>
    <div class="invest-info-list">
        <div class="invest-info-num"><span class="run-thousand decimal" data-number="90">0</span>%</div>
        <span class="invest-info-line"></span>
        <p>90% recycling rate ives for implementing effective waste management to reduce the impact of environment during the operation.</p>
    </div>
    <div class="invest-info-list">
        <div class="invest-info-num"><span class="run-thousand decimal" data-number="90">0</span>%</div>
        <span class="invest-info-line"></span>
        <p>90% customer satisfaction er’s feedback and satisfaction are the driving force behind our continuous improvement and service quality enhancement.</p>
    </div>



</div>