﻿<p class="color-646464">剛從研究所畢業對業界毫無概念，所幸申請到研發替代役的名額，使我能提早一年進入職場探索職場未知的旅途。目前在公司從事新產品製程開發的工作，主要負責的是上片站，內容是對新產品的評估以及製成當中的良率管控和異常分析。剛開始有許多需要學習的地方，且不免俗還是會遇到許困難以及挑戰，但是這些都是必經的過程。當自己跨過了這些山和大海，才會感覺到自己的努力及成長。</p>
<p class="color-646464">到公司服役已有半年的時間，學到如何處理事情以及分析異常現象，更重要的是學到了人與人之間的相處應對及對談溝通的技巧。這些都要非常感謝主管以及同事們，夥伴們都很樂意與我分享知識，對我這個新手傾囊相授，讓我更能快速地融入這個大環境中，並在我的人生當中建立新的里程碑。</p>