﻿<p class="color-646464">很幸運收到矽品的面試邀約，並於半年前以研發替代役的身分進入公司，讓自己能馬上踏入職場與社會接軌。初次踏入電腦整合製造這個領域，對我來說是一份全新的挑戰！面對幾乎經驗全無的我，同事們還是很細心的解說，並協助尋找相關資源，讓我能早點進入狀況，培養危機處理的能力，而目前也可以獨自處理一些案件。</p>
<p class="color-646464">服務的過程中，除了專業知識的增進，在人員溝通協調上也讓我學習不少，一個大的案件，一定需要多方單位的合作，目標才會慢慢的成形，這與學校的經驗是很不同的，很開心能參與其中。科技日新月異，公司也與時俱進，持續往智能工廠的路走著，儘管途中的我們，每天都有不同的挑戰需要面對，但相信三年下來的累積，對我未來的職涯是明朗的，也謝謝公司提供環境，我會持續學習與充實自己，使自己保持競爭力。</p>