﻿<p class="color-646464">研究所畢業後，希望自己能夠早日進入職場發揮所學，於是選擇投入「研發替代役」的行列，並在與智慧製造處主管的面試過程中，見識到矽品在智慧製造的決心與衝勁，於是決定選擇矽品作為自己進入職場的起點。</p>
<p class="color-646464">剛進入本單位，許多工作內容都不懂，尤其是製程、系統等，對我來說都是陌生的，非常慶幸的是智慧製造處的學長學姊們都相當熱心，也很有耐心的指導，讓我在短短幾個月內就能適應本單位的環境，直屬主管也很適時的給予協助跟挑戰，讓我們真的能在職場上學習進步。</p>
<p class="color-646464">智慧製造處是一個充滿挑戰的單位，在這裡所接觸的專案與技術皆與最新科技息息相關，無論是人工智慧亦或是擴增實境，並且在完善專案以外，這裡也重視技術標準的建立，也大膽的放手讓我們去訂定智能化的技術標準，期望透過完成專案的同時，將經驗傳承至下一個需要相關技術的單位或人員，使智慧製造能更加有效率的改善矽品的產能，我會在其中持續精進自己各方面的能力，期望能夠因此成為更值得被信賴的人。</p>