﻿<p class="color-646464">研究所畢業後，選擇了"研發替代役"作為社會新鮮人的開端，很榮幸能夠加入矽品這個大家庭，並在此服務。目前服務單位內容為測試載板的設計與維修，除了學習如何設計一個符合規範的測試載板，也培養能夠從實際的載板上發現問題，並且分析問題可能發生的原因，且提出改善方案。在過程中不免俗地遇到了</p>
<p class="color-646464">困難以及不懂的地方，感謝長官與前輩們都非常熱心，以及耐心的教導，讓我能夠突破自己，並且在專業能力上更加精進。</p>
<p class="color-646464">加入矽品三個多月到現在，也學習到了團隊溝通的重要性以及當責的精神，除了不只要做對的事情，還必須把事情做對、做好，並為最終結果負完全責任!相信不僅是工作上，對於未來不管面對任何事情，這種積極的態度一定能給予我正向的幫助。最後很開心能夠加入矽品，我會在這三年其中努力精進自己，期許自己成為可信賴的人，並持續貢獻所長。</p>