﻿<p class="color-646464">畢業之後有幸申請上研發替代役，提早與業界接軌，無疑是人生的一大轉折點。在工作岡位上面對挑戰是與求學生涯截然不同的經歷，半年來也從中學到了許多。</p>
<p class="color-646464">在技術開發部門中，需要的是旺盛的好奇心及面對未知的勇氣。「如何踏出下一步？」這個問題，是永遠沒有正確答案的。正如同我們的人生，沒有人可以給予正解，只能相信自己的所學與經驗，紮紮實實地向前邁進。這或許就是真理吧。</p>