﻿<p class="color-646464">研究所畢業後，選擇了研發替代役作為進入職場的開端，在進入矽品的一年多以來，面對許多挑戰，面對的過程中也曾感到徬徨無助，好在前輩及主管都相當熱心，傾囊相授自身所學，讓我得以克服各種挑戰，</p>
<p class="color-646464">每當完成一個挑戰，都感覺自己成長了一些，也了解到許多事情單靠自己是無法獨力完成的，必須仰賴整個團隊之間的互相合作才得以完成。</p>
<p class="color-646464">在部門學到了許多先進封裝的知識，這是之前在學校所無法學到的，也瞭解到目前製程上還有許多問題需要改善，希望在研替的三年期間裡，可以以我所學，幫助團隊解決問題，並且持續增長，增進自己及公司價值。</p>