﻿@using WebApp.Models;
@using WebApp.Services;
@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery;
@{
    List<SystemMenu> systemMenus = ViewBag.SystemMenu;
    WebApp.Models.SystemMenu systemMenuData = ViewBag.SystemMenuData;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <meta name="csrf-token" content="@Antiforgery.GetAndStoreTokens(Context).RequestToken">

    <link type="text/css" rel="stylesheet" href="/static/modules/jquery/ui/themes/base/jquery-ui.min.css" />
    <link type="text/css" rel="stylesheet" href="/static/modules/jquery/ui/themes/base/jquery-ui.structure.min.css" />
    <link type="text/css" rel="stylesheet" href="/static/modules/jquery/ui/themes/smoothness/theme.min.css" />

    <link type="text/css" rel="stylesheet" href="/static/modules/elFinder/css/elfinder.min.css" />
    <link type="text/css" rel="stylesheet" href="/static/modules/elFinder/css/theme.css" />
    <link type="text/css" rel="stylesheet" href="/static/modules/elFinder/themes/windows-10/css/theme.css" />

    @{
            /*<link rel="stylesheet" href="/static/modules/summernote/summernote-bs4.min.css">*/
    }

    <link type="text/css" rel="stylesheet" href="/static/admin/css/app.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.4.33/example1/colorbox.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css" rel="stylesheet">

</head>
<body>

    <div class="wrapper">

        <!-- *  header-->
        <div class="page-header fixed-top">
            <h1 class="navbar-brand left-width pl-3 navbar navbar-expand-lg"><a class="font-weight-bold text-uppercase" href="~/Siteadmin"><img class="mr-1 align-middle" src="@ViewBag.webData?.PicData.icon[0].path" style="height:35px;"><span class="d-none text-main">minmax</span></a></h1>
            <button class="btn btn-link toggle-left-nav-btn no-decoration" id="toggle_nav_btn" type="button"><span class="text-hide">選單</span><span class="line"></span></button>
            <div class="top-right pr-2 mt-1">
                <div class="d-inline-block dropdown globe">
                    <p>@ViewBag.adminnowlang.title</p>
                </div>

                @if (ViewBag.languages.Count > 0)
                {
                    int i = 0;

                    <div class="d-inline-block dropdown globe">

                        <button class="btn btn-link dropdown-toggle px-2" id="menu-globe" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-globe h4"></i><span class="text-hide">語系</span></button>
                        <div class="dropdown-menu dropdown-menu-right rounded-0" aria-labelledby="menu-globe">


                            @foreach (Languages item in ViewBag.languages)
                            {
                                <a class="dropdown-item" href="/Siteadmin/Home/SetLang/@item.language_id"><span>@item.title</span></a>

                                i++;
                            }

                        </div>
                    </div>
                }

                <div class="d-inline-block dropdown globe">
                    <button class="btn btn-link dropdown-toggle px-2" id="menu-profile" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="@ViewBag.username"><i class="icon-user h4"></i><span class="text-hide">帳戶</span></button>
                    <div class="dropdown-menu dropdown-menu-right rounded-0" aria-labelledby="menu-profile">
@*                        <a class="dropdown-item active" href="/Siteadmin/IdentityUser/Edit/@ViewBag.User.Id"><i class="icon-vcard"></i><span>個人資料</span></a>
                        <a class="dropdown-item" href="/Siteadmin/WebData/Edit/web"><i class="icon-equalizer"></i><span>系統設定</span></a>*@
                        <a class="dropdown-item" href="/Siteadmin/Login/Logout"><i class="icon-log-out"></i><span>登出</span></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- * /  header  -->

        <div class="border-box page-content">

            <div class="content-header">
                <div class="row justify-content-between">
                    <div class="col-auto">
                        <nav class="ml-2 mt-1" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#"><i class="icon-home3 mr-2"></i><span>系統首頁</span></a></li>
                                @if (ViewBag.SystemMenuData != null)
                                {
                                    <li class="breadcrumb-item active"><span>@Html.Raw( (ViewBag.parent_id == "Product") ? "ICPackaging" : (ViewBag.parent_id == "TopService") ? "Service" : systemMenuData.title)   </span></li>
                                }

                            </ol>
                        </nav>
                    </div>
                </div>
            </div>

            @RenderBody()

        </div>


        <!-- *  sidebar-->
        <nav class="fixed-sidebar-left left-width">
            <ul class="side-nav nicescroll-bar">



                @foreach (SystemMenu menu in systemMenus)
                {
                    string menuPermission1 = (new Helper()).GetPermission(menu, ViewBag.NowRoleId);
                    if (menuPermission1 != "N")
                    {
                        <li class="navigation-header"><span>@Html.Raw(menu.title)</span><i class="icon-dots-three-horizontal"></i></li>


                        List<SystemMenu> systemMenus2 = (new Helper()).menu(menu.id);

                        if (systemMenus2.Count > 0)
                        {

                            foreach (SystemMenu menu2 in systemMenus2)
                            {

                                List<SystemMenu> systemMenus3 = (new Helper()).menu(menu2.id);

                                string menuPermission2 = (new Helper()).GetPermission(menu2, ViewBag.NowRoleId);

                                if (menuPermission2 != "N")
                                {
                                    if (systemMenus3.Count > 0)
                                    {
                                        <li>

                                            <a class="@if(ViewBag.PrevSystemMenuData != null && ViewBag.PrevSystemMenuData.id != menu2.id){
                    @Html.Raw("collapsed")
;}"
                       href="javascript:void(0);"
                       data-toggle="collapse"
                       aria-expanded="@if(ViewBag.PrevSystemMenuData != null && ViewBag.PrevSystemMenuData.id != menu2.id){
                                               @Html.Raw("false")
;} else {
                                               @Html.Raw("true")
;}"
                       data-target="#@menu2.uri">

                                                <div class="float-left">
                                                    <i class="@Html.Raw(!string.IsNullOrEmpty(menu2.icon) ? menu2.icon : "icon-chart2")"></i><span class="right-nav-text">@Html.Raw(menu2.title)</span>
                                                </div>
                                                <div class="float-right"><i class="icon-chevron-small-right"></i></div>
                                                <div class="clearfix"></div>
                                            </a>
                                            <ul class="collapse @if(ViewBag.PrevSystemMenuData != null && ViewBag.PrevSystemMenuData.id == menu2.id){
                    @Html.Raw("show")
;} collapse-level-1" id="@menu2.uri">

                                                @foreach (SystemMenu menu3 in systemMenus3)
                                                {
                                                    string menuPermission3 = (new Helper()).GetPermission(menu3, ViewBag.NowRoleId);

                                                    if (menuPermission3 != "N")
                                                    {
                                                        string color = "";
                                                        if (ViewBag.SystemMenuData != null && ViewBag.SystemMenuData.id == menu3.id)
                                                        {
                                                            if (!string.IsNullOrEmpty(ViewBag.NowUrl.ToString()))
                                                            {
                                                                if (ViewBag.NowUrl.ToString() == menu3.uri.ToString())
                                                                {
                                                                    color = "style=\"color:#FF0000\"";
                                                                }
                                                            }
                                                            else
                                                            {
                                                                color = "style=\"color:#FF0000\"";
                                                            }


                                                        }

                                                        if (!string.IsNullOrEmpty(menu3.link))
                                                        {
                                                            <li><a href="@menu3.link" @Html.Raw(color)>@Html.Raw(menu3.title)</a></li>
                                                        }
                                                        else
                                                        {
                                                            <li><a href="@Url.Content("~/Siteadmin/"+menu3.model+"/List")" @Html.Raw(color)>@Html.Raw(menu3.title)</a></li>
                                                        }

                                                    }

                                                }

                                            </ul>
                                        </li>

                                    }
                                    else
                                    {

                                        <li>
                                            <a href="@Html.Raw(!string.IsNullOrEmpty(menu2.link) ? menu2.link : "#")" target="_blank">
                                                <div class="float-left"><i class="@Html.Raw(!string.IsNullOrEmpty(menu2.icon) ? menu2.icon : "icon-home3")"></i><span class="right-nav-text">@Html.Raw(menu2.title) </span></div>
                                                <div class="clearfix">
                                                </div>
                                            </a>
                                        </li>

                                    }
                                }


                            }
                        }





                        <li>
                            <hr class="mb-0">
                        </li>
                    }
                }



            </ul>
        </nav>


        <!--彈跳視窗-->
        <div class="modal fade bd-example-modal-lg" id="modal_file" tabindex="-1" role="dialog" aria-hidden="true">



            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">媒體庫</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button><span aria-hidden="true">×</span>
                    </div>
                    <div class="modal-body">
                        <div id="elfinder"></div>
                    </div>
                </div>
            </div>
        </div>





        <footer class="page-footer small p-2">
            <p class="mb-0">2022 © minmax. design by <a href="http://minmax.biz" target="_blank">minmax</a></p>
        </footer>

        <input type="hidden" id="fileMegRoot" value="@Url.Content("~/file-manager")" />

        <input type="hidden" id="ControllerName" value="@ViewBag.ControllerName" />

        <input type="hidden" id="nextCheck" value="@Html.Raw(ViewBag.nextCheck ?? "")" />



    </div>


    <script src="/static/modules/lib/jquery.min.js"></script>
    <script src="/static/modules/lib/jquery-ui.min.js"></script>
    <script src="/static/modules/lib/jquery.browser.min.js"></script>
    <script src="/static/modules/lib/popper.min.js"></script>
    @*<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.runtime.min.js"></script>*@
    @*<script src="/static/modules/vue/vue.config.js"></script>*@
    
    @*<script src="/static/modules/vue/vue.js"></script>*@

    @*<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>*@
    @*<script src="/static/modules/vue/vue.global.js"></script>*@
    <script src="/static/modules/vue/vue.min.js"></script>
    
    @*<script src="/static/modules/vue/vue.runtime.js"></script>*@
    @*<script src="/static/modules/vue/vue.runtime.min.js"></script>*@

    @*<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>*@


    <script src="/static/modules/slimscroll/jquery.slimscroll.js"></script>

    <script src="/static/modules/bootstrap4/dist/js/bootstrap.min.js"></script>

    <script src="/static/modules/imgLiquid/imgLiquid-min.js"></script>

    <script src="/static/modules/fancybox/jquery.fancybox.min.js"></script>

    <script src="/static/modules/sweetalert/sweetalert.min.js"></script>
    <script src="/static/modules/sweetalert/ui-sweetalert.min.js"></script>

    <script src="/static/modules/tabdrop/js/bootstrap-tabdrop.js"></script>





    @*<script src="/static/modules/datatables/datatables.min.js"></script>*@
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    

    <script src="/static/modules/tinymce/tinymce.min.js"></script>

    <script src="/static/modules/bootstrap-daterangepicker/moment.min.js"></script>
    <script src="/static/modules/bootstrap-daterangepicker/daterangepicker.js"></script>

    <script src="/static/modules/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

    <script src="/static/modules/multiselect/js/jquery.multi-select.js"></script>

    <script src="/static/modules/quicksearch/jquery.quicksearch.js"></script>
    <script src="/static/modules/select2/js/select2.full.min.js"></script>

    <script src="/static/modules/validate/jquery.validate.js"></script>
    <script src="/static/modules/validate/additional-methods.js"></script>

    <script src="/static/modules/inputmask/jquery.inputmask.bundle.min.js"></script>

    <script src="/static/modules/elFinder/js/elfinder.min.js"></script>
    <script src="/static/modules/elFinder/js/i18n/elfinder.zh_TW.js"></script>

    <script src="/static/modules/repeater/jquery.repeater.min.js"></script>

    <script src="/static/modules/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>

    <script src="/static/modules/nestable/jquery.nestable.js"></script>

    <script src="/static/modules/dropzonejs/dropzone.js"></script>

    <script src="/static/modules/jcrop/jquery.Jcrop.min.js"></script>
    <script src="/static/modules/jcrop/jquery.color.js"></script>

    <script src="/static/modules/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>

    <script src="/static/modules/bootstrap-tagsinput/bootstrap4-tagsinput.js"></script>

    <script src="/static/modules/typeahead/typeahead.bundle.js"></script>

    <!-- * * * swiper 圖片輪播-->
    <script src="/static/modules/swiper/js/swiper.min.js"></script>

    <script src="/static/modules/module-localization.js"></script>

    <script src="/static/modules/highlight/highlight.min.js"></script>

    @{
        /*<script src="/static/modules/summernote/summernote-bs4.min.js"></script>
        <script src="/static/modules/summernote/lang/summernote-zh-TW.js"></script>
        <script src="/static/modules/summernote/summernote-ext-elfinder.js"></script>*/
    }


    <script src="/static/modules/tinymce/tinymce.min.js"></script>

@*    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.4.33/jquery.colorbox-min.js"></script>
    <script type="text/javascript" src="https://nao-pon.github.io/tinymceElfinder/tinymceElfinder.js"></script>*@
    <script src="/static/admin/js/tinymceElfinder.js"></script>
    <script src="/static/admin/js/colorbox.js"></script>

    <script src="/static/admin/js/init.js"></script>
    <script src="/static/admin/js/form.js"> </script>
    <script src="/static/admin/js/validate.js"></script>
    <script src="/static/admin/js/datatables.js"></script>

    <!----->
    <script src="/static/admin/js/elFinder.js"></script>

    <script>
        let ELFINDER_POPUP_URL = '@Url.Content("~/file-manager/__INPUT_ID__")';
        let TinyMCE_ELFINDER_POPUP_URL = '@Url.Content("~/el-finder/file-system/connector")';
        let searchVal = {};
        let searchJson = {};
        let dataTableObj = null;
        let rootPath = '@ViewBag.RootPath';
        let thisUrl = '@ViewBag.appSeting["APP_URL"]';
    </script>

    @{
        double jsversionid = (new Helper()).versionid();
    }
    <script src="/static/admin/js/ajax.js?v=@jsversionid"></script>

    @await RenderSectionAsync("Scripts", required: false)



</body>
</html>
