﻿@using WebApp.Services;
@{
    Layout = "~/Areas/Siteadmin/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "管理首頁";
    WebApp.Models.SystemMenu systemMenuData = ViewBag.SystemMenuData;
    Dictionary<String, Object> dataTableColnum = ViewBag.dataTableColnum;
    Helper helper = new Helper();
    var menuOptions = Newtonsoft.Json.Linq.JArray.Parse("[" + systemMenuData.options.ToString() + "]");

}
<div class="content-body">
    <!-- layout-content-->
    <section class="panel panel-default">
        <header class="panel-heading">
            <h1 class="h5 float-left font-weight-bold">@systemMenuData.title</h1>
            <div class="float-right">
                @if (menuOptions[0]["list"].ToString() == "Y")
                {
                    <a class="btn btn-sm btn-light" title="返回" href="~/Siteadmin/@ViewBag.ControllerName/List"><i class="icon-undo2"></i><span class="ml-1 d-none d-md-inline-block">返回</span></a>
                }
                @if (menuOptions[0]["add"].ToString() == "Y")
                {
                    <a class="btn btn-sm ml-1 btn-main"
                   role="button" title="新增" href="@Url.Content("~/Siteadmin/" +  ViewBag.ControllerName + "/Edit/add" + (!string.IsNullOrEmpty(ViewBag.NowUrl.ToString()) ? "/" + ViewBag.NowUrl.ToString() : "") )">
                        <i class="icon-plus2"></i><span class="ml-1 d-none d-md-inline-block">新增</span>
                    </a>
                }
                @if (menuOptions[0]["del"].ToString() == "Y")
                {
                    <a class="btn btn-sm ml-1 btn-main delAllItem"
                   role="button" title="刪除" href="javascript:void(0);">
                        <i class="icon-trash"></i><span class="ml-1 d-none d-md-inline-block">刪除</span>
                    </a>
                }

                <!-- <div class="btn-group btn-group-sm dropdown" role="group">
                     <button class="btn dropdown-toggle btn-main" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="語系" id="tableLen"><i class="icon-globe"></i><span class="ml-1 d-none d-md-inline-block">語系</span></button>
                     <div class="dropdown-menu dropdown-menu-right" aria-labelledby="tableLen">
                         <a class="dropdown-item selected" href="#">中文</a><a class="dropdown-item" href="#">English</a>
                     </div>
                 </div>-->
                @if ((ViewBag.CanImport.Contains(ViewBag.NowUrl)) && ViewBag.CanImportModel.Contains(ViewBag.ControllerName))
                {
                    <a class="btn btn-sm ml-1 btn-main"
                   role="button" title="新增" href="~/Siteadmin/@ViewBag.ControllerName/Import/@ViewBag.NowUrl">
                        <i class="icon-upload2"></i><span class="ml-1 d-none d-md-inline-block">匯入</span>
                    </a>
                }
            </div>
        </header>

        <div class="panel-wrapper">
            <div class="panel-body">
                <div class="table-toolbar row">

                    @if (ViewBag.Search != null)
                    {
                        <div class="col-md-auto">
                            <div class="dataTablesSearch row no-gutters">
                                <label class="col-auto mr-2"><i class="icon-search i-o align-middle h3 mb-0 p-0"></i>搜尋</label>
                                <div class="col col-md-auto mr-1">
                                    <input class="form-control form-control-sm table-search-input" type="search" placeholder="" aria-controls="tableList" />
                                </div>
                                <div class="col-auto mr-1">
                                    <select class="bs-select form-control min-w-select" data-style="btn-outline-light btn-sm">
                                        <option value="all">所有範圍</option>
                                        @foreach (KeyValuePair<string, object> item in (Dictionary<string, object>)ViewBag.Search)
                                        {
                                            if (item.Value != "")
                                            {
                                                <option value="@item.Key">@item.Value</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    }


                    @if (ViewBag.Find != null)
                    {
                        <div class="col-md">
                            <div class="datatableFilter row no-gutters justify-content-end text-nowrap">
                                <label class="col-auto mr-1"><i class="icon-narrow i-o align-middle h3 mb-0 p-0"></i>檢視</label>
                                @foreach (KeyValuePair<string, object> item in (Dictionary<string, object>)ViewBag.Find)
                                {
                                    <div class="col col-md-auto ml-1">
                                        <select class="bs-select form-control min-w-select findData"
                                        data-live-search="true" data-size="8" data-style="btn-outline-light btn-sm"
                                        data-col="@item.Key">
                                            <option selected="selected" value="">@Html.Raw(helper.SearchSubject(item.Key))</option>
                                            @foreach (KeyValuePair<string, string> subItem in (Dictionary<string, string>)item.Value)
                                            {

                                                if (subItem.Value != "")
                                                {
                                                    if (ViewBag.NowUrl == "news")
                                                    {
                                                        if (subItem.Key != "video")
                                                        {
                                                            <option value="@subItem.Key">@subItem.Value</option>
                                                        }
                                                    }
                                                    else if (ViewBag.NowUrl == "video")
                                                    {
                                                        if (subItem.Key == "video")
                                                        {
                                                            <option value="@subItem.Key">@subItem.Value</option>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <option value="@subItem.Key">@subItem.Value</option>
                                                    }
                                                }


                                            }

                                        </select>

                                    </div>
                                }


                            </div>
                        </div>
                    }

                </div>

                @if ((bool)ViewBag.BreadCrumbs)
                {
                    <ol class="breadcrumb p-1">


                        @if (ViewBag.Data != null)
                        {
                            <li class="breadcrumb-item">
                                <a href="~/Siteadmin/@ViewBag.ControllerName/List">
                                    <i class="icon-folder-open mr-2"></i>
                                    <span>根列表</span>
                                </a>
                            </li>
                            <li class="breadcrumb-item active">
                                <span>@ViewBag.Data.title</span>
                            </li>
                        }
                        else
                        {
                            <li class="breadcrumb-item active">
                                <i class="icon-folder-open mr-2"></i>
                                <span>根列表</span>
                            </li>
                        }
                    </ol>
                }



                <table class="table table-striped table-bordered dt-responsive nowrap datatables" style="width:100%" id="tableList">
                    <thead>
                        <tr>

                            @foreach (KeyValuePair<string, object> item in dataTableColnum)
                            {
                                dynamic subject = item.Value;

                                switch (item.Key)
                                {
                                    case "id":

                                        <th class="nosort w-3">
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input group-checkable selAll" type="checkbox" value="1" aria-label="選取"
                                           data-set="#tableList .checkboxes" id="selectall" />
                                                <label class="custom-control-label" for="selectall"></label>
                                            </div>
                                        </th>

                                        break;

                                    default:
                                        <th>@subject["title"].ToString()</th>
                                        break;
                                }
                            }


                        </tr>
                    </thead>

                </table>


            </div>
        </div>
    </section>
    <!-- / layout-content-->
</div>


@section Scripts {
    <script>




        $(function() {
            runDataTable(searchJson);
        });

        function runDataTable(searchJson) {

            $('.rank').each(function() {

                if ($(this).val() != '') {
                    searchVal[$(this).attr('data-field')] = $(this).val();
                    searchJson = JSON.stringify(searchVal);
                }
            });




            dataTableObj = $('#tableList').dataTable({

                "ajax": {
                    "url": '/Siteadmin/@ViewBag.ControllerName/dataTable/@ViewBag.Id',
                    "data": { searchJson },
                    "type": "POST",
                    "dataType": 'json',
                    headers: {
                        // 'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    }
                },
                "autoWidth": false,
                "processing": true,
                "serverSide": true,
                "columns": [
        @foreach (KeyValuePair<string, object> item in dataTableColnum)
        {
            @Html.Raw("{'data': '"+item.Key+"'},")
            ;
        }
                                             ],
                "order": [
                    [@Html.Raw(ViewBag.orderBy)]
                ],
                columnDefs: [{
                    "targets": [0 @ViewBag.LastCloseSortIndex ],
                    "orderable": false
                }],

                pageLength: 25,
                language: {
                    aria: {
                        sortAscending: ": 生序",
                        sortDescending: ": 降序"
                    },
                    emptyTable: "無資料",
                    info: "<span class='text-muted'>_START_ 到 _END_ 筆，全部 _TOTAL_ 筆</span>",
                    infoEmpty: "無資料",
                    //infoFiltered: "(篩選1 from _MAX_ total 筆)",
                    infoFiltered: "",
                    lengthMenu: "<span class='mr-1 text-muted'>每頁</span>  _MENU_",
                    search: "<i class='icon-search'></i> 搜尋：",
                    zeroRecords: "無資料",
                    paginate: {
                        previous: "上一頁",
                        next: "下一頁",
                        last: "<i class='icon-last_page'></i>",
                        first: "<i class='icon-first_page'></i>"
                    }
                },

            });

        }

    </script>
}