﻿<div class="banner-img">
    <img class="img-object pc-img" src="/styles/images/home/banner3.webp" alt="">
    <img class="img-object mb-img" src="/styles/images/home/mb-banner3.webp" alt="">
</div>
<div class="banner-info-box">
    <div class="banner-info container-box ">
        <h2 class="Poppins">贏得客戶信任，共創高科技未來。</h2>
        <p>後端 IC 封裝交鑰匙解決方案提供商，包括晶圓凸塊、晶圓分類、組裝和測試。</p>
        <a href="" class="banner-link">Learn More</a>
    </div>
</div>