﻿<div class="edit-box about-info-box editor">
    <div class="overview-img">
        <img src="/styles/images/about/overview-img.webp" alt>
    </div>
    <div class="overview-tag-box">
        <div class="overview-tag">
            <div class="overview-left">
                <p>Company Name</p>
            </div>
            <div class="overview-right">
                <p>Siliconware Precision Industries Co., Ltd.</p>
                <p>Note: Siliconware Precision Industries Co., Ltd., Advanced Semiconductor Engineering, Inc. and USI Inc., are the members of ASE Technology Holding Co., Ltd. (ticker TWSE:3711, NYSE:ASX), which is the largest outsourced semiconductor assembly and test company in the world.</p>
            </div>
        </div>
        <div class="overview-tag">
            <div class="overview-left">
                <p>Principal Activities</p>
            </div>
            <div class="overview-right">
                <p>Backend IC packaging turnkey solutions provider that include wafer bumping, wafer sort, assembly and testing.</p>
            </div>
        </div>
        <div class="overview-tag">
            <div class="overview-left">
                <p>Capital</p>
            </div>
            <div class="overview-right">
                <p>NTD 36,517,488,780</p>
            </div>
        </div>
        <div class="overview-tag">
            <div class="overview-left">
                <p>Chairman</p>
            </div>
            <div class="overview-right">
                <p>C.W. Tsai</p>
            </div>
        </div>
        <div class="overview-tag">
            <div class="overview-left">
                <p>President</p>
            </div>
            <div class="overview-right">
                <p>C.W. Tsai</p>
            </div>
        </div>
        <div class="overview-tag">
            <div class="overview-left">
                <p>Principal Office</p>
            </div>
            <div class="overview-right">
                <p>No. 123, Sec. 3, Da Fong Rd., Tantzu, Taichung 427, Taiwan, R.O.C.</p>
            </div>
        </div>
        <div class="overview-tag">
            <div class="overview-left">
                <p>Number of Employees</p>
            </div>
            <div class="overview-right">
                <p>About 23,000</p>
            </div>
        </div>
        <div class="overview-tag">
            <div class="overview-left">
                <p>Auditors</p>
            </div>
            <div class="overview-right">
                <p>Deloitte & Touche</p>
            </div>
        </div>
        <div class="overview-tag">
            <div class="overview-left">
                <p>Tel</p>
            </div>
            <div class="overview-right">
                <p>886-4-25341525</p>
            </div>
        </div>
        <div class="overview-tag">
            <div class="overview-left">
                <p>Fax</p>
            </div>
            <div class="overview-right">
                <p>886-4-25342025</p>
            </div>
        </div>
        <div class="overview-tag">
            <div class="overview-left">
                <p>Email</p>
            </div>
            <div class="overview-right">
                <p>info@spil.com.tw</p>
            </div>
        </div>
        <div class="overview-tag">
            <div class="overview-left">
                <p>Website</p>
            </div>
            <div class="overview-right">
                <p>www.spil.com.tw</p>
            </div>
        </div>
    </div>
    <div class="about-overview">
        <p>Established in May 1984, Siliconware Precision Industries Co., Ltd. has become one of the leading providers of comprehensive semiconductor assembly and test services. SPIL posted annual sales of NT$107.8 billion in 2021 and currently employs around 23,000 people worldwide.</p>
        <p>
            SPIL is dedicated to meeting all customer's integrated circuit packaging and testing requirements. Our turnkey solutions range from bumping, wafer sort, assembly, final test, to shipment. Products include advanced leadframe and substrate based packages, which are widely used in, but not limited to, computers, tablets, cellular phones, set-top boxes, LCD monitors, wearable devices, smart appliances, IoT, fingerprint sensor, smart cars, VR/AR, artificial intelligence, drones, smart speakers, digital cameras and video game consoles.
        </p>
        <p>Our dedication to enhancing quality and developing technical innovations to satisfy customers' needs has made SPIL one of the top leaders in creating high value-added solutions, to the point where we are now the world class IC packaging and testing services provider.</p>
        <p>SPIL provides services and support to fabless design houses, integrated device manufacturers and wafer foundries globally. We constantly upgrade our processes to meet the demand for the most advanced manufacturing technology and also build a strong reputation for high quality products and services. This has made us a partner our customers know they can trust. Our passion for quality has also enabled us to maintain consistent growth and maximize returns for our shareholders.</p>
        <p>SPIL's headquarters is located in Taichung, Taiwan. Our offices throughout the United States offer convenient support to customers' headquarters. SPIL operates seven factories. Da Fong Factory, Zhong Ke Factory, Zhong Gong Factory, and Chung Shan Factory are located in Taichung. Chang Hua Factory located in ChangHua. Two other factories are located in the Hsinchu Science Park (HsinChu branch company). In addition, there is a subsidiary located in China, Siliconware Technology (SuZhou) Co., Ltd.</p>
    </div>
    <div class="factory-img-box">
        <div class="factory-img">
            <img src="/styles/images/about/overview-list1.webp" alt>
        </div>
        <div class="factory-img">
            <img src="/styles/images/about/overview-list2.webp" alt>
        </div>
        <div class="factory-img">
            <img src="/styles/images/about/overview-list3.webp" alt>
        </div>
        <div class="factory-img">
            <img src="/styles/images/about/overview-list4.webp" alt>
        </div>
        <div class="factory-img">
            <img src="/styles/images/about/overview-list5.webp" alt>
        </div>
        <div class="factory-img">
            <img src="/styles/images/about/overview-list6.webp" alt>
        </div>
    </div>
</div>