﻿<div class="edit-box about-info-box editor">
    <div class="organization-img">
        <img src="/styles/images/about/organization-img.webp" alt>
    </div>
    <div class="organization-list-box">
        <div class="organization-list">
            <div class="organization-list-img">
                <img src="/styles/images/about/organization-list1.webp" alt>
            </div>
            <div class="organization-list-info-box">
                <h2 class="organization-list-title">Manufacturing Group</h2>
                <div class="organization-list-info">
                    <p>Assembly Manufacturing Management, Testing Service, Engineering and R&D Management, Quality Assurance System, Facility Management, Intellectual Property Management, Intelligent Manufacturing Development and Management, Business & Operation Result Analysis, Production Planning, Industrial Engineering, Business Flow Efficiency, Establishment and Maintenance of Information Management and Application System</p>
                </div>
            </div>
        </div>
        <div class="organization-list">
            <div class="organization-list-img">
                <img src="/styles/images/about/organization-list2.webp" alt>
            </div>
            <div class="organization-list-info-box">
                <h2 class="organization-list-title">Administration Group</h2>
                <div class="organization-list-info">
                    <p>Assembly Manufacturing Management, Testing Service, Engineering and R&D Management, Quality Assurance System, Facility Management, Intellectual Property Management, Intelligent Manufacturing Development and Management, Business & Operation Result Analysis, Production Planning, Industrial Engineering, Business Flow Efficiency, Establishment and Maintenance of Information Management and Application System</p>
                </div>
            </div>
        </div>
        <div class="organization-list">
            <div class="organization-list-img">
                <img src="/styles/images/about/organization-list3.webp" alt>
            </div>
            <div class="organization-list-info-box">
                <h2 class="organization-list-title">Europe & Asia Sales Ceter<br> North America Customer Service Div.</h2>
                <div class="organization-list-info">
                    <p>Marketing Strategies, Sales Management, Business & Sales Promotion Customer's Satisfaction Management</p>
                </div>
            </div>
        </div>
    </div>
</div>