﻿<div class="edit-box about-info-box editor">
    <h2 class="fz-26 color-005EAB mb-20 fw-bold">Vision</h2>
    <p class="mb-40">Excel as World Class Leading Provider of Assembly and Test.</p>
    <div class="vision-sheet-box">
        <div class="vision-sheet-left">
            <img style="-webkit-filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.2));filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.2))" src="/styles/images/about/vision-img1.webp" alt>
        </div>
        <div class="vision-sheet-right">
            <p class="mb-30"><span class="fz-26 fw-bold fz-26 color-005EAB">Core Value</span> consists of <span class="fw-bold">Mission</span> and <span class="fw-bold">Philosophy.</span></p>
            <div class="bg-F5F5F5 plr-25 radius-10 mb-20">
                <p class="ptb-15"><span class="fw-bold color-005EAB">Mission</span> /  Win Customers' Confidence and Create the High-Tech Future.</p>
            </div>
            <div class="bg-F5F5F5 plr-25 radius-10">
                <p class="ptb-15 border-bottom-DCDCDC"><span class="fw-bold color-005EAB">Philosophy </span> /  To achieve the outer performances by inner operations.</p>
                <div class="flex align-center ptb-15 border-bottom-DCDCDC">
                    <div class="vision-list-img">
                        <img src="/styles/images/about/vision-top-list1.webp" alt>
                    </div>
                    <div class="vision-list-p">The outer circle expresses SPIL's outward harmony and tolerant ability.</div>
                </div>
                <div class="flex align-center ptb-15">
                    <div class="vision-list-img">
                        <img src="/styles/images/about/vision-top-list2.webp" alt>
                    </div>
                    <div class="vision-list-p">The inner square expresses SPIL's implicit stability and core.</div>
                </div>
            </div>
        </div>
    </div>
    <h2 class="fz-26 color-005EAB mb-20 fw-bold">No Compromise Policy</h2>
    <p class="mb-40">Like other enterprises, SPIL's main goal is to generate profit, but most importantly, SPIL is emphasizing on stable profit. In business development, SPIL never sacrifices quality, safety, and law-abiding. Therefore, SPIL’s No-Compromise Policy consists of no compromise on quality, no compromise on safety, and no compromise on law-abiding.</p>
    <div class="vision-list-box flex">
        <div class="vision-list">
            <img src="/styles/images/about/vision-list1.webp" alt>
        </div>
        <div class="vision-list">
            <img src="/styles/images/about/vision-list2.webp" alt>
        </div>
        <div class="vision-list">
            <img src="/styles/images/about/vision-list3.webp" alt>
        </div>
    </div>
</div>