﻿<div class="edit-box about-info-box editor">
    <div class="security-box">
        <h2 class="fz-26 mb-30 fw-bold color-005EAB">Business Continuity Management (BCM) Policy</h2>
        <p class="mb-50">SPIL is a world-class enterprise and an important partner in the semiconductor supply chain. We have established and maintained risk management mechanisms. When facing various damages, SPIL can rapidly respond to any unexpected situation to reduce business impacts and maintain competitive advantages to protect the rights and safety of SPIL, customers, investors, suppliers and employees.</p>
        <p class="fw-bold mb-30">SPIL BCM plan includes:</p>
        <div class="flex-3 mb-50">
            <div class="security-list flex-3-list">
                <div class="security-list-img">
                    <img src="/styles/images/about/security-list-1.webp" alt>
                </div>
                <p>Robust risk management, effective plan and flexible resources.</p>
            </div>
            <div class="security-list flex-3-list">
                <div class="security-list-img">
                    <img src="/styles/images/about/security-list-2.webp" alt>
                </div>
                <p>Real-time review and regular drill to ensure effectiveness of the plan.</p>
            </div>
            <div class="security-list flex-3-list">
                <div class="security-list-img">
                    <img src="/styles/images/about/security-list-3.webp" alt>
                </div>
                <p>Improving BCM and strengthening company tenacity.</p>
            </div>
        </div>
        <p>SPIL adheres to the commitment of business continuity to achieve sustainable business objectives and demonstrate corporate social responsibility.</p>
    </div>
    <div class="security-box">
        <h2 class="fz-26 mb-30 fw-bold color-005EAB">Information Security Policy</h2>
        <div class="flex-3">
            <div class="security-list flex-3-list">
                <div class="security-list-img">
                    <img src="/styles/images/about/security-list-4.webp" alt>
                </div>
                <p>Ensuring the confidentiality of information, and protecting the best interests of company.</p>
            </div>
            <div class="security-list flex-3-list">
                <div class="security-list-img">
                    <img src="/styles/images/about/security-list-5.webp" alt>
                </div>
                <p>Ensuring the integrity of the information, and improving the quality of management.</p>
            </div>
            <div class="security-list flex-3-list">
                <div class="security-list-img">
                    <img src="/styles/images/about/security-list-6.webp" alt>
                </div>
                <p>Ensuring the availability of the information, and providing instant service.</p>
            </div>
        </div>
    </div>
    <div class="security-box">
        <h2 class="fz-26 mb-30 fw-bold color-005EAB">Supply Chain Security Policy</h2>
        <div class="flex-4">
            <div class="security-list2 flex-4-list">
                <div class="security-icon mb-25">
                    <img src="/styles/images/about/security-icon-1.webp" alt>
                </div>
                <h2 class="fz-18 fw-bold color-505050 mb-25">Adherence to Legal<br> Regulations: </h2>
                <p>Comply with domestic and foreign laws and regulations related to supply chain security. Implement the security control to meet the storage, transportation and logistics security requirement.</p>
            </div>
            <div class="security-list2 flex-4-list">
                <div class="security-icon mb-25">
                    <img src="/styles/images/about/security-icon-2.webp" alt>
                </div>
                <h2 class="fz-18 fw-bold color-505050 mb-25">Security System<br> Establishment: </h2>
                <p>Implement risk assessment and construct internal and external supply chain security management system to reduce potential human damage risks during storage, transportation and logistics of product/service.</p>
            </div>
            <div class="security-list2 flex-4-list">
                <div class="security-icon mb-25">
                    <img src="/styles/images/about/security-icon-3.webp" alt>
                </div>
                <h2 class="fz-18 fw-bold color-505050 mb-25">Implementation of Security Management: </h2>
                <p>Through the security training and advocacy, enhance staff awareness of security. Review and improve safety measures and encourage full participation to demonstrate the corporate security culture.</p>
            </div>
            <div class="security-list2 flex-4-list">
                <div class="security-icon mb-25">
                    <img src="/styles/images/about/security-icon-4.webp" alt>
                </div>
                <h2 class="fz-18 fw-bold color-505050 mb-25">Continuous Security Improvements: </h2>
                <p>Through periodic audit and review, achieve continuous improvement. Ensure the applicability and effectiveness of the storage, transportation and logistics security management system.</p>
            </div>
        </div>
    </div>
</div>