﻿<div class="edit-box about-info-box editor">
    <div class="about-stakeholder-box flex-3">
        <div class="about-stakeholder">
            <div class="stakeholder-img-box color-40ACBF">
                <div class="stakeholder-img">
                    <img src="/styles/images/about/stakeholder-1.webp" alt>
                </div>
                <h3 class="stakeholder-title">Sustainable Management</h3>
            </div>
            <p>Looking back on 2020, most economies have been severely impacted by the COVID-19</p>
            <p><a href="" class="stakeholder-link">More</a></p>
        </div>
        <div class="about-stakeholder">
            <div class="stakeholder-img-box color-E08985">
                <div class="stakeholder-img">
                    <img src="/styles/images/about/stakeholder-2.webp" alt>
                </div>
                <h3 class="stakeholder-title">Innovations and Services</h3>
            </div>
            <p>SPIL has always been committed to providing the best service and quality to customers, and believes that excellent</p>
            <p><a href="" class="stakeholder-link">More</a></p>
        </div>
        <div class="about-stakeholder">
            <div class="stakeholder-img-box color-B4BC43">
                <div class="stakeholder-img">
                    <img src="/styles/images/about/stakeholder-3.webp" alt>
                </div>
                <h3 class="stakeholder-title">Responsible Supply Chain</h3>
            </div>
            <p>Sustainable supplier management has been adopted by SPIL in the beginning of our cooperation with suppliers.</p>
            <p><a href="" class="stakeholder-link">More</a></p>
            <p><a href="" class="stakeholder-link">Supplier Code of Conduct</a></p>
            <p><a href="" class="stakeholder-link">SPIL support diversity program</a></p>
        </div>
        <div class="about-stakeholder">
            <div class="stakeholder-img-box color-40ACBF">
                <div class="stakeholder-img">
                    <img src="/styles/images/about/stakeholder-4.webp" alt>
                </div>
                <h3 class="stakeholder-title">Environment friendly</h3>
            </div>
            <p>Climate change has become a significant hazardous issue around the globe. Be aware of the impacts thereof,</p>
            <p><a href="" class="stakeholder-link">More</a></p>
        </div>
        <div class="about-stakeholder">
            <div class="stakeholder-img-box color-E08985">
                <div class="stakeholder-img">
                    <img src="/styles/images/about/stakeholder-5.webp" alt>
                </div>
                <h3 class="stakeholder-title">Social Prosperity</h3>
            </div>
            <p>SPIL is committed to giving back to society. Thus, social charity, community participation and care</p>
            <p><a href="" class="stakeholder-link">More</a></p>
        </div>
        <div class="about-stakeholder">
            <div class="stakeholder-img-box color-B4BC43">
                <div class="stakeholder-img">
                    <img src="/styles/images/about/stakeholder-6.webp" alt>
                </div>
                <h3 class="stakeholder-title">Happy Workplace</h3>
            </div>
            <p>To maintain each employee's human and labor rights, SPIL referred the Electronics Industry Responsible</p>
            <p><a href="" class="stakeholder-link">More</a></p>
            <p><a href="" class="stakeholder-link">Supplier Code of Conduct</a></p>
            <p><a href="" class="stakeholder-link">SPIL support diversity program</a></p>
        </div>
    </div>
    <p class="about-stakeholder-p">Should you have further questions or suggestions, please feel free to contact us. Thank you.</p>
    <a class="about-stakeholder-p" href="mailto:csr@spil.com.tw">E-Mail：csr@spil.com.tw</a>
    <a class="about-stakeholder-p" href="tel:+886425341525">Phone：+886-4-2534-1525</a>
    <p class="about-stakeholder-p" href="javascript:void(0)">Web：Click here</p>
</div>