﻿<div class="contact-right fade-left">
    <div class="contact-company">
        <h2 class="contact-company-title">Corporate Headquarters & Da Fong Facility</h2>
        <div class="contact-company-add">
            <h3>Chung Te Entrance:</h3>
            <a href="https://goo.gl/maps/GRtM2AKtYEYF2wFr8" target="_blank">No. 468, Sec. 5, Chung Te Rd., Tantzu,Taichung , Taiwan 427, R.O.C.</a>
        </div>
        <div class="contact-company-add">
            <h3>Da Fong Entrance:</h3>
            <a href="https://goo.gl/maps/KiXZNTijradndmEP7" target="_blank">No. 123, Sec. 3, Da Fong Rd., Tantzu,Taichung , Taiwan 427, R. O. C.</a>
        </div>
        <ul class="contact-company-info">
            <li>
                <span class="company-list-icon">
                    <img src="/styles/static/icon/company-list.svg" alt>
                </span>
                <a href="tel:+886425341525" class="company-list-link">Tel: 886-4-2534-1525</a>
            </li>
            <li>
                <span class="company-list-icon">
                    <img src="/styles/static/icon/company-list.svg" alt>
                </span>
                <div class="company-list-link">Fax: 886-4-2534-2025</div>
            </li>
            <li>
                <span class="company-list-icon">
                    <img src="/styles/static/icon/company-list.svg" alt>
                </span>
                <a href="mailto:info@spil.com.tw" class="company-list-link">Email: info@spil.com.tw</a>
            </li>
        </ul>
        <a href="https://goo.gl/maps/bnDNPPYJPdVcbB366" class="contact-map-link" target="_blank">
            <i class="demo-icon icon-location"></i>
            <span>Map</span>
        </a>
        <div class="contact-verificarion-box">
            <a class="contact-about-link" href="/About/Locations"><span>Other Locations and Business Contact</span></a>
        </div>
    </div>
</div>