﻿<div class="edit-box fade">
    <p style="margin-bottom:25px;">The materials in this Web site are provided by Siliconware Precision Industries, Ltd. ("SPIL" or "Siliconware") as a service to our customers.</p>
    <h2 class="fz-26 mb-20 color-005EAB fw-bold">DISCLAIMER</h2>
    <p class="mb-15 color-505050">THE MATERIALS ON THIS SITE ARE PROVIDED "AS IS" WITHOUT WARRANTY, EITHER EXPRESS OR IMPLIED INCLUDING WARRANTIES OF MERCHANTABILITY, FITNESS FOR ANY PARTICULAR PURPOSE OR USE, OR NONINFRINGEMENT OF INTELLECTUAL PROPERTY.</p>
    <p class="mb-15 color-505050">SILICONWARE DOES NOT WARRANTY OR MAKE ANY REPRESENTATIONS REGARDING THE USE, VALIDITY, ACCURACY OR RELIABILITY OF THE MATERIALS INCLUDING TEXT, IMAGES, LINKS, OR OTHER ITEMS ON THIS SITE OR OTHER SITES LINKED TO THIS SITE. UNDER NO CIRCUMSTANCES SHALL SILICONWARE, ITS SUPPLIERS, OR PARTNERS BE LIABLE FOR ANY DAMAGES WHATSOEVER (INCLUDING BUT NOT LIMITED TO DAMAGES FOR LOSS OF PROFITS, BUSINESS INTERRUPTION, LOSS OF INFORMATION) ARISING OUT OF THE USE OF OR INABILITY TO USE THE MATERIALS ON THIS SITE, EVEN IF SILICONWARE HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATION MAY NOT APPLY TO YOU.</p>
    <p class="mb-25 color-505050">THE INFORMATION PUBLISHED ON THIS WEB SITE COULD INCLUDE TECHNICAL INACCURACIES OR TYPOGRAPHICAL ERRORS. CHANGES ARE PERIODICALLY MADE TO THE INFORMATION CONTAINED ON THIS SITE. SILICONWARE, ITS SUPPLIERS, AND ITS PARTNERS MAY MAKE IMPROVEMENTS AND/OR CHANGES TO THE WEB SITE DESCRIBED HEREIN AT ANY TIME.</p>
    <h2 class="fz-26 mb-20 color-005EAB fw-bold">LINKS TO OUTSIDE SITES</h2>
    <p class="mb-25 color-505050">Siliconware's Web site may contain links to outside sites. These links are provided as a courtesy to our customers and in no way imply endorsement by Siliconware. Siliconware is in no way responsible for the content of any site linked to from the Siliconware Web site.</p>
    <h2 class="fz-26 mb-20 color-005EAB fw-bold">TRADEMARKS</h2>
    <p class="color-505050">The Siliconware logo is a registered trademark of Siliconware. Other products, logos, and company names mentioned herein may be the trademarks or registered trademarks of their respective owners.</p>
</div>