﻿<div class="edit-box fade">

    <h2 class="fz-26 mb-20 color-005EAB fw-bold">Introduction</h2>
    <p class="mb-25 color-505050">The Siliconware Precision Industries Co., Ltd. (SPIL, Siliconware) name and logo should be used in accordance with established Company specifications. The following contains information regarding the approval process, correct name usage, proper logo colors, and logotypes.</p>

    <h2 class="fz-26 mb-20 color-005EAB fw-bold">Logo Usage Approval</h2>
    <p class="color-505050 mb-15">The Siliconware Precision Industries Co., Ltd. (SPIL, Siliconware) name and logo should be used in accordance with established Company specifications. The following contains information regarding the approval process, correct name usage, proper logo colors, and logotypes.</p>
    <p class="color-505050 mb-15 fw-bold">Stephen Tsai</p>
    <p class="color-505050 mb-15">Siliconware Precision Industries Co., Ltd.</p>
    <p class="color-505050 mb-15">Market Analysis Dept.</p>
    <p class="color-505050 mb-15">No. 123, Sec. 3, Da Fong Rd., Tan tzu, Taichung, Taiwan, R. O. C.</p>
    <p class="color-505050 mb-15">Tel: 886-4-2534 -1525</p>
    <p class="color-505050 mb-15">Fax: 886-4-2534-2025</p>
    <p class="color-505050 mb-25">email: info@spil.com.tw</p>
    <h2 class="fz-26 mb-20 color-005EAB fw-bold">Press Release Approval</h2>
    <p class="color-505050 mb-15">All third-party press releases using the SPIL name require advance review and approval by SPIL Corporate Public Relations. Minimum approval time is two business days. All request should be forwarded to:</p>
    <p class="color-505050 mb-15">Stephen Tsai</p>
    <p class="color-505050 mb-15">Siliconware Precision Industries Co., Ltd.</p>
    <p class="color-505050 mb-15">Market Analysis Dept.</p>
    <p class="color-505050 mb-15">No. 123, Sec. 3, Da Fong Rd., Tan tzu, Taichung, Taiwan, R. O. C.</p>
    <p class="color-505050 mb-15">Tel: 886-4-2534 -1525</p>
    <p class="color-505050 mb-15">Fax: 886-4-2534-2025</p>
    <p class="color-505050 mb-25">email: info@spil.com.tw</p>
    <h2 class="fz-26 mb-20 color-005EAB fw-bold">Company Name Usage</h2>
    <p class="color-505050 mb-15">Marketing communications will typically feature the name "Siliconware Precision Industries Co., Ltd." on the first mention, and simply SPIL in all subsequent mentions. SPIL is always spelled with all capital letters.</p>
    <p class="color-505050 mb-15">When mentioning the company name as Siliconware Precision Industries Co., Ltd., all first letter should be set with an initial cap only and always spelled out, except Co. and Ltd. The company should never be listed as "Siliconware Precision Industries" or "Siliconware Precision Industries Co." However, the SPIL or Siliconware name may be used without the tag after initial mention.</p>
    <h2 class="fz-26 mb-20 color-005EAB fw-bold">Use of the SPIL Logotype</h2>
    <p class="color-505050 mb-15">The logo is a symbol of Siliconware Precision Industries Co., Ltd. It is a sign of ownership, a promise of performance and our legal trademark.</p>
    <p class="color-505050 mb-25">Correct and consistent of the SPIL logotype is important for building recognition of the SPIL name, protecting our valuable trademark rights and strengthening our identity across all communication materials.</p>
    <h2 class="fz-26 mb-20 color-005EAB fw-bold">Logotype Usage Guidelines</h2>
    <p class="color-505050 mb-40">To ensure proper representation of SPIL, the following guidelines must be followed for all logo usage. If you have any questions regarding these usage guidelines, please contact:</p>
    <p class="fw-bold color-505050 mb-15">Stephen Tsai</p>
    <p class="color-505050 mb-15">Siliconware Precision Industries Co., Ltd.</p>
    <p class="color-505050 mb-15">Market Analysis Dept.</p>
    <p class="color-505050 mb-15">No. 123, Sec. 3, Da Fong Rd., Tan tzu, Taichung, Taiwan, R. O. C.</p>
    <p class="color-505050 mb-15">Tel: 886-4-2534 -1525</p>
    <p class="color-505050 mb-15">Fax: 886-4-2534-2025</p>
    <p class="color-505050 mb-40">email: info@spil.com.tw</p>
    <p class="fw-bold color-505050 mb-15">Overall Guidelines</p>
    <p class="color-505050 mb-15">Use only the approved files, provided by SPIL, for reproducing the logotype</p>
    <p class="color-505050 mb-15">Do not modify the provided files</p>
    <p class="color-505050 mb-40">When sizing the logotype file in documents, always scale the logotype proportionally.</p>
    <p class="fw-bold color-505050 mb-15">Logotype Color</p>
    <p class="color-505050 mb-30">The SPIL logotype may only be reproduced in one of the following three color treatments.</p>
    <img class="mb-30" src="/styles/images/privacy/terms-2-img.webp" alt>
    <p class="color-505050 mb-40">Use the information below for accurate color reproduction. No other colors or treatments should be used.</p>
    <p class="fw-bold color-505050 mb-15">Print applications:</p>
    <p class="color-505050 mb-15">Pantone 286</p>
    <p class="color-505050 mb-15">Four-color process: C100 M66 Y0 K2</p>
    <p class="color-505050 mb-40">Black</p>
    <p class="fw-bold color-505050 mb-15">Web applications:</p>
    <p class="color-505050 mb-40">R0 G82 B164<br>Black</p>
    <p class="fw-bold color-505050 mb-15">White/Reversed</p>
    <p class="color-505050 mb-40">The logo can be reversed to white, out of a solid field of color. The solid color should be dark enough to provide adequate contrast for the legibility of the logo.</p>
    <p class="fw-bold color-505050 mb-15">Logotype Minimum Size and Orientation</p>
    <p class="color-505050 mb-15">The minimum reproduction size of the SPIL logo is 7/8". Never reproduce the logo at smaller sizes.</p>
    <p class="color-505050 mb-15">When used in large format, i.e. posters, trade show graphics and banners, it should be enlarged proportionately. But never be so big that it's over bearing.</p>
    <p class="color-505050 mb-40">Always use the logotype in horizontal format. Do not use the logotype in a vertical format, as this affects the readability of the logotype and changes its representation as our trademark.</p>
    <p class="fw-bold color-505050 mb-15">Logotype Incorrect usage</p>
    <p class="color-505050 mb-15">• The logo should never be altered in any way.</p>
    <p class="color-505050 mb-15">• Type or visuals should never obscure or overprint the logo.</p>
    <p class="color-505050 mb-15">• Fonts within the logo should never be exchanged.</p>
    <p class="color-505050">• The logo should never be used as a part of a visual.</p>



</div>