﻿<div class="edit-box fade">
    <h3 style="color:#005EAB;font-size:26px;font-weight: bold;margin-bottom:20px">Who We Are</h3>
    <p style="margin-bottom:15px;">At <a href="https://www.spil.com.tw/" style="color:#005EAB;">https://www.spil.com.tw/</a>, we are committed to maintaining the trust and confidence of all visitors to our web site. In particular, we want you to know that <a style="color:#005EAB;" href="https://www.spil.com.tw/">https://www.spil.com.tw/</a> is not in the business of selling, renting or trading email lists with other companies and businesses for marketing purposes. </p>
    <p style="margin-bottom:15px;">In this Privacy Policy, we’ve provided detailed information on when and why we collect personal information, how we use it, the limited conditions under which we may disclose it to others, and how we keep it secure. </p>
    <p style="margin-bottom:25px;">We take your privacy seriously and take measures to provide all visitors and users of <a style="color:#005EAB;" href="https://www.spil.com.tw/">https://www.spil.com.tw/</a> with a safe and secure environment. </p>
    <h3 style="color:#005EAB;font-size:26px;font-weight: bold;margin-bottom:20px">Cookies</h3>
    <p style="margin-bottom:25px;"><a style="color:#005EAB;" href="https://www.spil.com.tw/">https://www.spil.com.tw/</a> may set and access <a style="color:#005EAB;" href="https://www.spil.com.tw/">https://www.spil.com.tw/</a> cookies on your computer.  Cookies are used to provide our system with the basic information to provide the services you are requesting.  Cookies can be cleared at any time from your internet browser settings. </p>
    <h3 style="color:#005EAB;font-size:26px;font-weight: bold;margin-bottom:20px">Google Analytics</h3>
    <p style="margin-bottom:25px;">When someone visits <a style="color:#005EAB;" href="https://www.spil.com.tw/">https://www.spil.com.tw/</a> we use a third party service, Google Analytics, to collect standard internet log information and details of visitor behaviour patterns. We do this to track things such as the number of visitors to the various parts of the site and interactions with the site. This information is processed in a way which does not identify anyone. We do not make, and do not allow Google to make, any attempt to find out the identities of visitors to our website.  </p>
    <h3 style="color:#005EAB;font-size:26px;font-weight: bold;margin-bottom:20px">Website Comments</h3>
    <p style="margin-bottom:25px;">When someone visits <a style="color:#005EAB;" href="https://www.spil.com.tw/">https://www.spil.com.tw/</a>, there may be an ability to submit comments on particular articles or pages.  When comments are submitted, you are entitled to use aliases or information that completely hides your identity. When a comment is submitted, the relevant details (name, email, website) that you provide are stored.  These details are stored so that we can display your comment back to you, and to anyone viewing the comment sections on the site. We do not verify information entered nor do we require verification.</p>
    <h3 style="color:#005EAB;font-size:26px;font-weight: bold;margin-bottom:20px">Third Parties</h3>
    <p style="margin-bottom:25px;">There may be some circumstances where your IP address, geographic location, and other browser related details may be shared with third party companies.  We may share your above mentioned data with following third party companies from time to time.</p>
    <h3 style="color:#005EAB;font-size:26px;font-weight: bold;margin-bottom:20px">Access to Your Personal Information</h3>
    <p style="margin-bottom:25px;">You are entitled to view, amend, or delete the personal information that we hold. Email your request to our data protection officer [YOUR FIRST NAME] at [EMAIL ADDRESS] and we will work with you to remove any of your personal data we may have.</p>
    <h3 style="color:#005EAB;font-size:26px;font-weight: bold;margin-bottom:20px">Changes to Our Privacy Policy</h3>
    <p style="margin-bottom:15px;">We may make changes to our Privacy Policy in the future, however, the most current version of the policy will govern our processing of your personal data and will always be available to you.</p>
    <p style="margin-bottom:25px;">If we make a change to this policy that, in our sole discretion, is material, we will notify you by an update or email, where possible. By continuing to access or use our services, you agree to be bound to the terms of our Privacy Policy.</p>
</div>