﻿
<div class="location-list-p">
    <p class="fw-bold">Chung Te Entrance:</p>
    <p>No. 468, Sec. 5, Chung Te Rd., Tantzu,Taichung , Taiwan 427, R.O.C.</p>
</div>
<div class="location-list-p">
    <p class="fw-bold">Da Fong Entrance:</p>
    <p>No. 123, Sec. 3, Da Fong Rd., Tantzu,Taichung , Taiwan 427, R. O. C.</p>
</div>
