﻿@using WebApp.Models;
@using Web.Repositories.Admin;
@using WebApp.Services;
@{
    Layout = "~/Areas/Siteadmin/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "管理首頁";
    SystemMenu systemMenuData = ViewBag.SystemMenuData;
    Dictionary<String, Object> columns = ViewBag.Columns;
    Helper helper = new Helper();

     var menuOptions = Newtonsoft.Json.Linq.JArray.Parse("[" + systemMenuData.options.ToString() +"]");
}



<div class="content-body">
    <section class="panel panel-default">
        <header class="panel-heading">
            <h1 class="h5 float-left font-weight-bold">@systemMenuData.title</h1>
            <div class="float-right">
                   @if(menuOptions[0]["edit_list"].ToString() == "Y"){
                <a class="btn btn-sm btn-light" title="返回" href="~/Siteadmin/@ViewBag.ControllerName/List/@ViewBag.Uri"><i class="icon-undo2"></i><span class="ml-1 d-none d-md-inline-block">返回</span></a>
                   }
                <!--
                   <div class="btn-group btn-group-sm dropdown" role="group">
                     <button class="btn dropdown-toggle btn-main" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="語系" id="tableLen"><i class="icon-globe"></i><span class="ml-1 d-none d-md-inline-block">語系</span></button>
                     <div class="dropdown-menu dropdown-menu-right" aria-labelledby="tableLen"><a class="dropdown-item selected" href="#">中文</a><a class="dropdown-item" href="#">English</a>
                     </div>
                   </div>
                   -->
            </div>
        </header>
        <div class="panel-wrapper">
            <div class="panel-body">
                <form action="~/Siteadmin/@ViewBag.ControllerName/Save" method="post" name="saveForm" id="saveForm">
                    @Html.AntiForgeryToken()

                    <input type="hidden" name="id" value="@ViewBag.Id" />
                    <input type="hidden" name="uri" value="@ViewBag.Uri" />
                    <input type="hidden" name="sort" value="@Html.Raw( (ViewBag.Data != null && ViewBag.Data.ContainsKey("sort")) ? ViewBag.Data["sort"] : "1")" />
                    <input type="hidden" name="created_at" value="@Html.Raw( (ViewBag.Data != null && ViewBag.Data.ContainsKey("created_at")) ? ViewBag.Data["created_at"] : DateTime.Now.ToString("yyyy-MM-dd HH:mm"))" />

                    @if (columns.ContainsKey("main"))
                    {

                        <fieldset>
                            <legend class="legend h6 mb-4">
                                <i class="icon-angle-double-down2 mr-3"></i>主要設定
                            </legend>

                            @foreach (Columns item in (List<Columns>)columns["main"])
                            {

                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse("[" + item.options.ToString() + "]");
                                ViewBag.colJson = mJObj[0];//欄位設定
                                ViewBag.col = item;//欄位資料
                                ViewBag.categories = helper.GetCategory(mJObj[0], !string.IsNullOrEmpty(ViewBag.Uri) ? ViewBag.Uri : null , "" );//取得分類判斷

                                //欄位名稱
                                ViewBag.colName = !string.IsNullOrEmpty(ViewBag.col.sub_column_name) ? ViewBag.col.column_name + "[" + ViewBag.col.sub_column_name + "]" : ViewBag.col.column_name;

                                //欄位ID
                                ViewBag.colId = !string.IsNullOrEmpty(ViewBag.col.sub_column_name) ? ViewBag.col.column_name + "_" + ViewBag.col.sub_column_name : ViewBag.col.column_name;




                                @Html.Partial("Form/" + mJObj[0]["view"])
                                ;
                            }


                        </fieldset>
                    }

                    @if (columns.ContainsKey("file"))
                    {
                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4">
                                <i class="icon-angle-double-down2 mr-3"></i>檔案管理
                            </legend>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" for="fileUp">
                                    多媒體檔案<span class="text-danger ml-1"></span>
                                </label>
                                <div class="col-sm-10">
                                    <div class="form-row">
                                        <div class="col-auto">
                                            <div class="custom-file">
                                                <input class="custom-file-input" type="file" id="fileUp" multiple="multiple" />
                                                <label class="custom-file-label" for="fileUp">檔案上傳</label>
                                            </div>
                                        </div>
                                        <div class="col-auto mt-sm-0 mt-1">
                                            <button class="btn btn-secondary" type="button" data-target="#modal_file" data-toggle="modal"> <i class="icon-pictures"> </i> 檔案庫</button>
                                        </div>
                                    </div><small class="form-text text-muted ml-sm-auto col-sm-10"></small>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-10 offset-sm-2">
                                    <div class="file-img-list">
                                        <div class="card mr-2 d-inline-block mt-1">
                                            <input class="form-control form-control-sm mb-1" type="text" name="title" value="圖片名稱" readonly="readonly" /><a class="thumb" href="styles/images/demo/example/531047179.jpg" data-fancybox=""><span class="imgFill imgLiquid_bgSize imgLiquid_ready" style="background-image: url(&quot;styles/images/demo/example/531047179.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;"><img src="styles/images/demo/example/531047179.jpg" style="display: none;" /></span></a>
                                            <div class="form-row mt-1">
                                                <div class="col-auto">
                                                    <div class="btn-group btn-group-sm justify-content-center">
                                                        <button class="btn btn-outline-default mt-sweetalert" type="button" data-title="是否確認刪除" data-message="您將刪除此檔案" data-type="info" data-show-confirm-button="true" data-confirm-button-class="btn-danger" data-show-cancel-button="true" data-cancel-button-class="btn-outline-default" data-close-on-confirm="false" data-confirm-button-text="確認" data-cancel-button-text="取消" data-popup-title-success="刪除完成" data-popup-message-success="您的項目已丟進垃圾桶區"><i class="icon-trash2"></i></button>
                                                        <button class="btn btn-outline-default" type="button" title="設定" data-target="#modal_set" data-toggle="modal"><i class="icon-wrench"></i></button>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <input class="form-control form-control-sm" type="text" name="order" value="10" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card mr-2 d-inline-block mt-1">
                                            <input class="form-control form-control-sm mb-1" type="text" name="title" value="圖片名稱" readonly="readonly" /><a class="thumb" href="styles/images/demo/example/531047179.jpg" data-fancybox=""><span class="imgFill imgLiquid_bgSize imgLiquid_ready" style="background-image: url(&quot;styles/images/demo/example/531047179.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;"><img src="styles/images/demo/example/531047179.jpg" style="display: none;" /></span></a>
                                            <div class="form-row mt-1">
                                                <div class="col-auto">
                                                    <div class="btn-group btn-group-sm justify-content-center">
                                                        <button class="btn btn-outline-default mt-sweetalert" type="button" data-title="是否確認刪除" data-message="您將刪除此檔案" data-type="info" data-show-confirm-button="true" data-confirm-button-class="btn-danger" data-show-cancel-button="true" data-cancel-button-class="btn-outline-default" data-close-on-confirm="false" data-confirm-button-text="確認" data-cancel-button-text="取消" data-popup-title-success="刪除完成" data-popup-message-success="您的項目已丟進垃圾桶區"><i class="icon-trash2"></i></button>
                                                        <button class="btn btn-outline-default" type="button" title="設定" data-target="#modal_set" data-toggle="modal"><i class="icon-wrench"></i></button>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <input class="form-control form-control-sm" type="text" name="order" value="10" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card mr-2 d-inline-block mt-1">
                                            <input class="form-control form-control-sm mb-1" type="text" name="title" value="圖片名稱" readonly="readonly" /><a class="thumb" href="styles/images/demo/example/531047179.jpg" data-fancybox=""><span class="imgFill imgLiquid_bgSize imgLiquid_ready" style="background-image: url(&quot;styles/images/demo/example/531047179.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;"><img src="styles/images/demo/example/531047179.jpg" style="display: none;" /></span></a>
                                            <div class="form-row mt-1">
                                                <div class="col-auto">
                                                    <div class="btn-group btn-group-sm justify-content-center">
                                                        <button class="btn btn-outline-default mt-sweetalert" type="button" data-title="是否確認刪除" data-message="您將刪除此檔案" data-type="info" data-show-confirm-button="true" data-confirm-button-class="btn-danger" data-show-cancel-button="true" data-cancel-button-class="btn-outline-default" data-close-on-confirm="false" data-confirm-button-text="確認" data-cancel-button-text="取消" data-popup-title-success="刪除完成" data-popup-message-success="您的項目已丟進垃圾桶區"><i class="icon-trash2"></i></button>
                                                        <button class="btn btn-outline-default" type="button" title="設定" data-target="#modal_set" data-toggle="modal"><i class="icon-wrench"></i></button>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <input class="form-control form-control-sm" type="text" name="order" value="10" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade bd-example-modal-lg" id="modal_set" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <ul class="nav nav-tabs" id="tabModal" role="tabModal">
                                                <li class="nav-item"><a class="nav-link active" id="tabModal-1" data-toggle="tab" href="#tabModal-pane-1" role="tab" aria-controls="tabModal-pane-1" aria-selected="true">圖片資訊</a></li>
                                            </ul>
                                            <div class="tab-content mt-4" id="tabModalContent">
                                                <div class="tab-pane fade show active" id="tabModal-pane-1" role="tabpanel" aria-labelledby="tabModal-1">
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <form>
                                                                <fieldset>
                                                                    <legend class="legend h6 mb-4">
                                                                        <i class="icon-angle-double-down2 mr-3"></i>基本設定
                                                                    </legend>
                                                                    <div class="form-group row">
                                                                        <label class="col-sm-2 col-form-label" for="title">
                                                                            檔名<span class="text-danger ml-1"></span>
                                                                        </label>
                                                                        <div class="col-sm-10">
                                                                            <input class="form-control" type="text" name="title" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label class="col-sm-2 col-form-label" for="tag">
                                                                            圖片標題<span class="text-danger ml-1"></span>
                                                                        </label>
                                                                        <div class="col-sm-10">
                                                                            <input class="form-control" type="text" name="tag" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label class="col-sm-2 col-form-label" for="description">
                                                                            備註區塊
                                                                        </label>
                                                                        <div class="col-sm-10">
                                                                            <input class="form-control" type="text" name="" aria-describedby="description" />
                                                                        </div>
                                                                    </div>
                                                                </fieldset>
                                                                <fieldset class="mt-4">
                                                                    <legend class="legend h6 mb-4">
                                                                        <i class="icon-angle-double-down2 mr-3"></i>詳細資訊
                                                                    </legend>
                                                                    <div class="form-group row">
                                                                        <label class="col-sm-2 col-form-label" for="author">
                                                                            檔案作者<span class="text-danger ml-1"></span>
                                                                        </label>
                                                                        <div class="col-sm-10">
                                                                            <input class="form-control" type="text" author="author" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label class="col-sm-2 col-form-label" for="date">
                                                                            檔案作者<span class="text-danger ml-1"></span>
                                                                        </label>
                                                                        <div class="col-sm-10">
                                                                            <input class="form-control" type="text" name="date" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label class="col-sm-2 col-form-label" for="copyright">
                                                                            版權聲明<span class="text-danger ml-1"></span>
                                                                        </label>
                                                                        <div class="col-sm-10">
                                                                            <input class="form-control" type="text" name="copyright" />
                                                                        </div>
                                                                    </div>
                                                                </fieldset>
                                                                <fieldset class="mt-4">
                                                                    <legend class="legend h6 mb-4">
                                                                        <i class="icon-angle-double-down2 mr-3"></i>進階選項
                                                                    </legend>
                                                                    <div class="form-group row">
                                                                        <label class="col-sm-2 col-form-label">
                                                                            設為封面
                                                                        </label>
                                                                        <div class="col-sm-10">
                                                                            <div class="custom-control custom-radio custom-control-inline">
                                                                                <input class="custom-control-input" type="radio" id="default-1" name="default" checked="checked" />
                                                                                <label class="custom-control-label" for="default-1">停用</label>
                                                                            </div>
                                                                            <div class="custom-control custom-radio custom-control-inline">
                                                                                <input class="custom-control-input" type="radio" id="default-2" name="default" />
                                                                                <label class="custom-control-label" for="default-2">啟用</label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label class="col-sm-2 col-form-label">
                                                                            縮圖品質
                                                                        </label>
                                                                        <div class="col-sm-10">
                                                                            <div class="custom-control custom-radio custom-control-inline">
                                                                                <input class="custom-control-input" type="radio" id="q-1" name="q" checked="checked" />
                                                                                <label class="custom-control-label" for="q-1">自動</label>
                                                                            </div>
                                                                            <div class="custom-control custom-radio custom-control-inline">
                                                                                <input class="custom-control-input" type="radio" id="q-2" name="q" />
                                                                                <label class="custom-control-label" for="q-2">無損壓縮</label>
                                                                            </div>
                                                                            <div class="custom-control custom-radio custom-control-inline">
                                                                                <input class="custom-control-input" type="radio" id="q-3" name="q" />
                                                                                <label class="custom-control-label" for="q-3">最佳品質</label>
                                                                            </div>
                                                                            <div class="custom-control custom-radio custom-control-inline">
                                                                                <input class="custom-control-input" type="radio" id="q-4" name="q" />
                                                                                <label class="custom-control-label" for="q-4">高品質</label>
                                                                            </div>
                                                                            <div class="custom-control custom-radio custom-control-inline">
                                                                                <input class="custom-control-input" type="radio" id="q-5" name="q" />
                                                                                <label class="custom-control-label" for="q-5">普通</label>
                                                                            </div>
                                                                            <div class="custom-control custom-radio custom-control-inline">
                                                                                <input class="custom-control-input" type="radio" id="q-6" name="q" />
                                                                                <label class="custom-control-label" for="q-6">草稿</label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label class="col-sm-2 col-form-label">
                                                                            縮圖對齊
                                                                        </label>
                                                                        <div class="col-sm-10">
                                                                            <select class="bs-select form-control">
                                                                                <option value="">自動</option>
                                                                                <option value="c">置中對齊</option>
                                                                                <option value="t">靠上對齊</option>
                                                                                <option value="r">靠右對齊</option>
                                                                                <option value="b">靠下對齊</option>
                                                                                <option value="l">靠左對齊</option>
                                                                                <option value="tl">左上方</option>
                                                                                <option value="tr">右上方</option>
                                                                                <option value="bl">左下方</option>
                                                                                <option value="br">右下方</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </fieldset>
                                                            </form>
                                                        </div>
                                                        <div class="col-lg-6"><img class="img-fluid" src="styles/images/demo/example/531047179.jpg" /></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
                                            <button class="btn btn-primary" type="button">送出</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade bd-example-modal-lg" id="modal_file" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">媒體庫</h5>
                                            <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button><span aria-hidden="true">×</span>
                                        </div>
                                        <div class="modal-body">坎入內容</div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    }

                    @if (columns.ContainsKey("association"))
                    {
                        <fieldset>
                            <legend class="legend h6 mb-4">
                                <i class="icon-angle-double-down2 mr-3"></i>產品關聯
                            </legend>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    商品選項
                                </label>
                                <div class="col-sm-10">
                                    <select class="multiSelect" multiple="" name="country">
                                        <option value="AF">Afghanistan</option>
                                        <option disabled="">不能選取</option>
                                        <option value="AL">Albania</option>
                                        <option value="DZ">Algeria</option>
                                        <option value="AS">American Samoa</option>
                                        <option value="AD">Andorra</option>
                                    </select>
                                    <div class="button-multiselect-box mt-1"><a class="select-all btn btn-secondary btn-sm" href="#">選取全部</a><a class="deselect-all btn btn-secondary btn-sm" href="#">清除選取</a></div>
                                </div>
                            </div>
                        </fieldset>
                    }

                    @if (columns.ContainsKey("option"))
                    {
                        <fieldset>
                            <legend class="legend h6 mb-4">
                                <i class="icon-angle-double-down2 mr-3"></i>綜合設定
                            </legend>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" for="tags[]">
                                    綜合推薦
                                </label>
                                <div class="col-sm-10">
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input class="custom-control-input" type="checkbox" id="tags-1" />
                                        <label class="custom-control-label" for="tags-1">首頁主推文章</label>
                                    </div>
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input class="custom-control-input" type="checkbox" id="tags-3" />
                                        <label class="custom-control-label" for="tags-3">置頂</label>
                                    </div>
                                </div><small class="form-text text-muted ml-sm-auto col-sm-10">更多設定請至<a href="parameterItems.html">參數項目</a> 新增</small>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" for="groupList[]">
                                    會員限定
                                </label>
                                <div class="col-sm-10">
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input class="custom-control-input" type="checkbox" id="groupList-1" />
                                        <label class="custom-control-label" for="groupList-1">一般會員</label>
                                    </div>
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input class="custom-control-input" type="checkbox" id="groupList-3" />
                                        <label class="custom-control-label" for="groupList-3">黃金會員</label>
                                    </div>
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input class="custom-control-input" type="checkbox" id="groupList-4" />
                                        <label class="custom-control-label" for="groupList-4">白金會員</label>
                                    </div>
                                </div><small class="form-text text-muted ml-sm-auto col-sm-10">更多設定請至<a href="memberGroups.html">會員群組管理</a> 設定</small>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" for="isReply">
                                    留言開放
                                </label>
                                <div class="col-sm-10">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input class="custom-control-input" type="radio" id="isReply-1" name="isReply" />
                                        <label class="custom-control-label" for="isReply-1">啟用</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input class="custom-control-input" type="radio" id="isReply-2" name="isReply" checked="checked" />
                                        <label class="custom-control-label" for="isReply-2">停用</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" for="tag">
                                    關聯標籤
                                </label>
                                <div class="col-sm-10">
                                    <input class="form-control tagtypeahead" type="text" name="tag">
                                </div><small class="form-text text-muted ml-sm-auto col-sm-10">定義<a href="parameterItems.html">標籤清單</a>將內容加以細分，以提供快速關聯。</small>
                            </div>
                        </fieldset>
                    }

                    @if (columns.ContainsKey("meta"))
                    {
                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4">
                                <i class="icon-angle-double-down2 mr-3"></i>附加資訊 (Metadata)
                            </legend>
                          

                            @foreach (Columns item in (List<Columns>)columns["meta"])
                            {

                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse("[" + item.options.ToString() + "]");
                                ViewBag.colJson = mJObj[0];//欄位設定
                                ViewBag.col = item;//欄位資料
                                ViewBag.categories = helper.GetCategory(mJObj[0], ViewBag.Uri , "");//取得分類判斷

                                //欄位名稱
                                ViewBag.colName = !string.IsNullOrEmpty(ViewBag.col.sub_column_name) ? ViewBag.col.column_name + "[" + ViewBag.col.sub_column_name + "]" : ViewBag.col.column_name;

                                //欄位ID
                                ViewBag.colId = !string.IsNullOrEmpty(ViewBag.col.sub_column_name) ? ViewBag.col.column_name + "_" + ViewBag.col.sub_column_name : ViewBag.col.column_name;




                                @Html.Partial("Form/" + mJObj[0]["view"])
                                ;
                            }



                        </fieldset>
                    }
                    @if (columns.ContainsKey("adv"))
                    {
                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4">
                                <i class="icon-angle-double-down2 mr-3"></i>進階選項
                            </legend>
                            @foreach (Columns item in (List<Columns>)columns["adv"])
                            {

                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse("[" + item.options.ToString() + "]");
                                ViewBag.colJson = mJObj[0];//欄位設定
                                ViewBag.col = item;//欄位資料
                                ViewBag.categories = helper.GetCategory(mJObj[0], ViewBag.Uri, "");//取得分類判斷

                                //欄位名稱
                                ViewBag.colName = !string.IsNullOrEmpty(ViewBag.col.sub_column_name) ? ViewBag.col.column_name + "[" + ViewBag.col.sub_column_name + "]" : ViewBag.col.column_name;

                                //欄位ID
                                ViewBag.colId = !string.IsNullOrEmpty(ViewBag.col.sub_column_name) ? ViewBag.col.column_name + "_" + ViewBag.col.sub_column_name : ViewBag.col.column_name;

                                @Html.Partial("Form/" + mJObj[0]["view"]);
                            }
                        </fieldset>
                    }

                    
                    @if (ViewBag.Uri != "Questionnaire")
                    {
                        <div class="text-center my-4 form-btn-group">
                            <button class="btn btn-main btn-submit" type="submit">送出</button>
                            <button class="btn btn-default" type="reset">清除重填</button>
                        </div>
                    }
                </form>
            </div>
        </div>
    </section>
    <!-- / layout-content-->
</div>


@section Scripts {

<script>

    
   
</script>
}