﻿@using WebApp.Models;
@using Web.Repositories.Admin;
@using WebApp.Services;
@{
    Layout = "~/Areas/Siteadmin/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "管理首頁";

}



<div class="content-body">
    <section class="panel panel-default">
        <header class="panel-heading">
            <h1 class="h5 float-left font-weight-bold">匯出</h1>
            <div class="float-right">

                <!--

                   <div class="btn-group btn-group-sm dropdown" role="group">
                     <button class="btn dropdown-toggle btn-main" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="語系" id="tableLen"><i class="icon-globe"></i><span class="ml-1 d-none d-md-inline-block">語系</span></button>
                     <div class="dropdown-menu dropdown-menu-right" aria-labelledby="tableLen"><a class="dropdown-item selected" href="#">中文</a><a class="dropdown-item" href="#">English</a>
                     </div>
                   </div>
                   -->
            </div>
        </header>
        <div class="panel-wrapper">
            <div class="panel-body">
                <form action="~/Siteadmin/Excel/ExportSave" method="post" name="ExportForm" id="ExportForm" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()

                    <input type="hidden" name="uri" value="@ViewBag.NowUri" />

                    <fieldset>


                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="password">
                                語系
                            </label>


                            <div class="col-sm-6">


                                @if (ViewBag.languages != null)
                                {


                                    <select class="bs-select form-control min-w-select" data-style="btn-outline-light btn-sm" name="lang">
                                      
                                       
                                    
                                    int i = 1;
                                    @foreach (Languages item in ViewBag.languages)
                                    {
                                            if (item.language_id == "en")
                                            {
                                             <option value="@item.language_id">@item.title</option>   
                                            }
                                    
                                    }

                                    </select>
                                }


                            </div>


                            <small class="form-text text-muted offset-md-2 col-sm-9"></small>
                            <div class="_formErrorMsg"></div>
                        </div>


                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="password">
                                起始時間
                               
                            </label>
                            <div class="col-sm-6">
                                <input class="datepicker-birthdateTime is-valid" type="text" name="start_at" id="start_at"  />
                            </div>


                            <small class="form-text text-muted offset-md-2 col-sm-9"></small>
                            <div class="_formErrorMsg"></div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="password">
                                結束時間
                                
                            </label>
                            <div class="col-sm-6">
                                <input class="datepicker-birthdateTime is-valid" type="text" name="end_at" id="end_at"  />
                            </div>


                            <small class="form-text text-muted offset-md-2 col-sm-9"></small>
                            <div class="_formErrorMsg"></div>
                        </div>





                        @if (ViewBag.Category != null)
                        {
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" for="password">
                                    Product Category
                                </label>


                                <div class="col-sm-6">


                                    @if (ViewBag.Category != null)
                                    {
                                        int i = 1;
                                        foreach (SiteParameterItem item in ViewBag.Category)
                                        {
                                             LanguageResource LangData = item.LangData.FirstOrDefault();

                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                <input class="custom-control-input" type="checkbox" name="@Html.Raw("category[]")" id="@Html.Raw("category" + i)" value="@item.id" />
                                                <label class="custom-control-label" for="@Html.Raw("category" + i)">@LangData?.title</label>
                                            </div>
                                            i++;
                                        }
                                    }


                                </div>


                                <small class="form-text text-muted offset-md-2 col-sm-9"></small>
                                <div class="_formErrorMsg"></div>
                            </div>
                        }


                        @if(ViewBag.NowUri == "Contact")
                        {
                            <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="enable">
                                狀態
                            </label>
                            <div class="col-sm-10">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input class="custom-control-input" type="radio" name="active" id="activeAll" value="All"
                                           checked />
                                    <label class="custom-control-label" for="activeAll">全部</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input class="custom-control-input" type="radio" name="active" id="active1" value="True" />
                                    <label class="custom-control-label" for="active1">已處理</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input class="custom-control-input" type="radio" name="active" id="active2" value="False" />
                                    <label class="custom-control-label" for="active2">未處理</label>
                                </div>


                            </div>
                        </div>
                        }
                        





                    </fieldset>





                    <div class="text-center my-4 form-btn-group">
                        <button class="btn btn-main btn-submit" type="submit">送出</button>
                        <button class="btn btn-default" type="reset">清除重填</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- / layout-content-->
</div>


@section Scripts {

    <script>



    </script>
}