﻿<div class="d-flex">
    <div class="service-top-left">
        <p class="service-top-ps">Dedicated to Being Your Preferred Solution Provider Pushing the limits worldwide</p>
        <h3 class="service-top-title">Our Products</h3>
        <div class="service-top-img">
            <img src="/styles/images/packaging/packaging1.webp" alt="">
        </div>
    </div>
    <div class="service-top-right">
        <p>SPIL provides comprehensive packaging, offering lead frame base and substrate base packages, with either wire bond or flip chip interconnections. These packages satisfy most applications for customers serving the PC, hand-held product, consumer product and wire communication markets.</p>
        <p>Besides the conventional SOP and QFP packages, SPIL has been devoted to the development of wafer thinning, fine-pitch wire bonding, stacked-die bonding, wafer bumping and flip-chip assembly technologies in order to realize advanced packages like: QFN, PBGA, TFBGA, Stacked-die CSP, WLCSP and FCBGA.</p>
        <p>In order to meet our customer's future packaging requirements, we are continuously developing the next generation assembly technologies. Currently studies include: Through Silicon Vias, Integrated Passive Devices and 3D-SiP/3D-SIC packaging solutions.</p>
    </div>
</div>