﻿<div class="edit-box page-edit">
    <div class="edit-flex-3">
        <div class="packaging-edit-list">
            <h3 class="packaging-edit-title">Plastic Ball Grid Array</h3>
            <p>PBGA is a die-up design, plastic overmolded BGA using 2, 4 or 6 layer BT substrate and 0.8 or 1.0 or 1.27mm ball pitch and above. It offers high a I/O replacement for the QFP package when the I/O exceeds QFP-256 limitations. Siliconware's PBGA offers improved electrical and thermal operation through multiple routing layers such as ground and power planes. Additionally, industry proven processes and materials provide assurance for reliable and long-term operation.</p>
        </div>
        <div class="packaging-edit-list">
            <h3 class="packaging-edit-title">Features</h3>
            <ul>
                <li>14x22 to 40x40 mm body sizes</li>
                <li>Perimeter and full ball arrays</li>
                <li>Ball counts available up to 1156</li>
                <li>Multiple routing layers for improved electrical performance</li>
                <li>BT substrates</li>
                <li>Eutectic 63/37 Sn/Pb solder ball,Pb-free solder also available</li>
                <li>Passive component Optional.</li>
                <li>Multi-chip: stacked or side by side.</li>
                <li>Full in-house design ability</li>
                <li>JEDEC standard outlines</li>
            </ul>
        </div>
        <div class="packaging-edit-list">
            <h3 class="packaging-edit-title">Plastic Ball Grid Array</h3>
            <p>Siliconware's PBGAs improved electrical and thermal performance make them an ideal solution for high-performance applications such as microprocessors / controllers, DSPs, high pin-count ASICs, gate arrays, memory and PC chipsets. The packages are also well suited to applications requiring improved portability such as cellular, wireless, laptop PCs and other similar products.</p>
        </div>
    </div>
    <table class="packaging-table">
        <thead>
            <tr>
                <td rowspan="2">
                    Process Flow
                </td>
                <td colspan="2">
                    Material
                </td>
            </tr>
            <tr>
                <td>
                    Lead Free package
                </td>
                <td>
                    Halogen Free package
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Wafer Back Grinding (Option)</td>
                <td colspan="2">Grinding tape</td>
            </tr>
            <tr>
                <td>Wafer Mount</td>
                <td colspan="2">Blue tape</td>
            </tr>
            <tr>
                <td> Wafer Saw & Clean</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>2nd Optical Inspection</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>Substrate Pre-bake</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>Die Attach & Epoxy Cure</td>
                <td colspan="2">Siliver Epoxy / Film</td>
            </tr>
            <tr>
                <td>Plasma Clean</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>Wire Bond</td>
                <td colspan="2">Gold Wire: 99.99% & 99% Au Copper Wire: Au-Pd-Cu</td>
            </tr>
            <tr>
                <td>3rd Optical Inspection</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>Heat Sink</td>
                <td colspan="2">Cu core</td>
            </tr>
            <tr>
                <td>Molding</td>
                <td colspan="2">Compound: Nitto / Hitachi Copper Wire :Hitachi</td>
            </tr>
            <tr>
                <td>Marking</td>
                <td colspan="2">White Ink</td>
            </tr>
            <tr>
                <td>Post Mold Cure</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>Solder Ball Mount, Reflow & Flux Clean</td>
                <td colspan="2">Sn/Pb: 63-37; Sn/Ag/Cu: 95.5% / 4.0% / 0.5%; Sn/Ag/Cu: 95.5% / 3.0% / 0.5%</td>
            </tr>
            <tr>
                <td>Singulation</td>
                <td colspan="2">Tray</td>
            </tr>
            <tr>
                <td>Final Visual Inspection</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>Packing</td>
                <td colspan="2">Tray</td>
            </tr>
        </tbody>
    </table>
    <div class="edit-flex">
        <div class="flex-col">
            <h3 class="packaging-edit-title">Reliability</h3>
            <p style="font-weight: bold;">Normal package :</p>
            <p>• Moisture Sensitivity  │  JEDEC Level 3 (30°C / 60% RH / 192 hours), IR : 225°C</p>
            <p>• Temp. Cycle Test  │  -65/+150°C, 1000 cycles</p>
            <p>• High Accelerated Stress Test  │  130°C, 85%RH, 168 hours</p>
            <p>• High Temp. Storage Life test  │  150°C, 1000 hours</p>
        </div>
        <div class="flex-col">
            <h3 class="packaging-edit-title">Lead Free / Green package :</h3>
            <p>• Moisture Sensitivity  │  JEDEC Level 3 (30°C / 60% RH / 192 hours), IR : 260°C</p>
            <p>• Temp. Cycle Test  │  -65/+150°C, 1000 cycles</p>
            <p>• High Accelerated Stress Test  │  130°C, 85%RH, 168 hours</p>
            <p>• High Temp. Storage Life test    │  150°C, 1000 hours</p>
            <p>Note: Sample preconditioning prior to environmental tests is as follows:</p>
            <p>Baking 125°C, 24 hours ◊ Pre-con IR Reflow 3 times</p>
        </div>
    </div>
</div>