﻿@using WebApp.Services;
@inject LocalService _localizer
@{
    ViewData["Title"] = "Home";
}


<main>
    <h1 class="title-h1">SPIL</h1>
    <section class="banner-block">
        <div class="banner-box">
            @if (ViewBag.banner != null)
            {
                foreach (Advertising item in ViewBag.banner)
                {
                    <div class="banner-list">

                        @Html.Raw(item.LangData.FirstOrDefault()?.DetailsData.editor ?? "")

                    </div>
                }

            }
        </div>
    </section>



    <section class="financial-block">


        <div class="container-box">

            @if (ViewBag.FinancialReport != null)
            {
                Dictionary<string, List<Advertising>> msg = ViewBag.FinancialReport;

                foreach (KeyValuePair<string, List<Advertising>> ad in msg)
                {
                    <div class="financial-top fade-up">
                        <div class="financial-title-box">
                            <div class="financial-title-icon"></div>
                            <h2>@ad.Key</h2>
                        </div>
                        <div class="financial-new-block">
                            <div class="financial-new-box">
                                @foreach (Advertising item in ad.Value)
                                {
                                    LanguageResource LangData = item.LangData.FirstOrDefault();

                                    if (LangData.end_at != null)
                                    {
                                        if (LangData.end_at >= DateTime.Now)
                                        {
                                            string date = "";
                                            string langid = LangData.language_id;

                                            if (!string.IsNullOrEmpty(LangData?.start_at.ToString()))
                                            {

                                                if (langid == "zh-TW")
                                                {
                                                    date = DateTime.Parse(LangData?.start_at.ToString()).ToString("MMMM dd日, yyyy");
                                                }
                                                else if (langid == "zh-CN")
                                                {
                                                    date = DateTime.Parse(LangData?.start_at.ToString()).ToString("MMMM dd日, yyyy");
                                                }
                                                else
                                                {
                                                    date = DateTime.Parse(LangData?.start_at.ToString()).ToString("MMMM dd, yyyy");
                                                }
                                            }
                                            else
                                            {
                                                if (!string.IsNullOrEmpty(LangData?.created_at.ToString()))
                                                {
                                                    if (langid == "zh-TW")
                                                    {
                                                        date = DateTime.Parse(LangData?.created_at.ToString()).ToString("MMMM dd日, yyyy");
                                                    }
                                                    else if (langid == "zh-CN")
                                                    {
                                                        date = DateTime.Parse(LangData?.created_at.ToString()).ToString("MMMM dd日, yyyy");
                                                    }
                                                    else
                                                    {
                                                        date = DateTime.Parse(LangData?.created_at.ToString()).ToString("MMMM dd, yyyy");
                                                    }
                                                }
                                            }



                                            <a href="@Html.Raw(LangData?.DetailsData.link ?? "#1")" target="_blank" class="financial-new-list">
                                                <h5>@date</h5>
                                                <p>@LangData?.title</p>
                                            </a>
                                        }
                                    }
                                    else
                                    {
                                        string date = "";
                                        string langid = LangData.language_id;

                                        if (LangData?.start_at > DateTime.Now)
                                        {

                                        }
                                        else
                                        {
                                            if (!string.IsNullOrEmpty(LangData?.start_at.ToString()))
                                            {

                                                if (langid == "zh-TW")
                                                {
                                                    date = DateTime.Parse(LangData?.start_at.ToString()).ToString("MMMM dd日, yyyy");
                                                }
                                                else if (langid == "zh-CN")
                                                {
                                                    date = DateTime.Parse(LangData?.start_at.ToString()).ToString("MMMM dd日, yyyy");
                                                }
                                                else
                                                {
                                                    date = DateTime.Parse(LangData?.start_at.ToString()).ToString("MMMM dd, yyyy");
                                                }
                                            }
                                            else
                                            {
                                                if (!string.IsNullOrEmpty(LangData?.created_at.ToString()))
                                                {
                                                    if (langid == "zh-TW")
                                                    {
                                                        date = DateTime.Parse(LangData?.created_at.ToString()).ToString("MMMM dd日, yyyy");
                                                    }
                                                    else if (langid == "zh-CN")
                                                    {
                                                        date = DateTime.Parse(LangData?.created_at.ToString()).ToString("MMMM dd日, yyyy");
                                                    }
                                                    else
                                                    {
                                                        date = DateTime.Parse(LangData?.created_at.ToString()).ToString("MMMM dd, yyyy");
                                                    }
                                                }
                                            }



                                            <a href="@Html.Raw(LangData?.DetailsData.link ?? "#1")" target="_blank" class="financial-new-list">
                                                <h5>@date</h5>
                                                <p>@LangData?.title</p>
                                            </a>
                                        }


                                    }

                                }
                            </div>
                        </div>
                    </div>
                }
            }




            @if (ViewBag.ServiceAd != null)
            {


                <div class="financial-link-box fade-up">
                    @foreach (Advertising item in ViewBag.ServiceAd)
                    {
                        LanguageResource LangData = item.LangData.FirstOrDefault();

                        <a href="@Html.Raw(LangData?.DetailsData.link ?? "#1")" class="financial-link">
                            <span class="financial-link-img-box">
                                <span class="financial-img-icon">
                                    <img src="@LangData?.PicData?.icon[0].path" alt="@LangData?.PicData?.icon[0].title">
                                </span>
                                <span class="financial-link-img">
                                    <img class="img-object" src="@Html.Raw((new Helper()).FormatPic(LangData , "pic" , "image"))" alt="@Html.Raw((new Helper()).FormatPic(LangData , "pic" , "title"))">
                                </span>
                            </span>
                            <span class="financial-info-box">
                                <span class="financial-info-title">@LangData?.title</span>
                                <span class="financial-info-p">@Html.Raw(LangData?.DetailsData.notes ?? "")</span>
                                <span class="financial-info-link">
                                    <span class="financial-link-p">Read More</span>
                                    <span class="financial-link-icon"><img src="~/styles/static/icon/financial-arrow.svg" alt></span>
                                </span>
                            </span>
                        </a>
                    }

                </div>
            }





        </div>
    </section>

    @if (ViewBag.MainEditor != null && ViewBag.MainEditor.Count > 0)
    {
        Advertising item = ViewBag.MainEditor[0];
        LanguageResource LangData = item.LangData.FirstOrDefault();

        <section class="spil-block">
            @Html.Raw(LangData?.DetailsData.editor ?? "")
        </section>
    }



    <section class="invest-block">
        <div class="container-box">

            @if (ViewBag.NumEditor != null && ViewBag.NumEditor.Count > 0)
            {
                Advertising item = ViewBag.NumEditor[0];
                LanguageResource LangData = item.LangData.FirstOrDefault();

                @Html.Raw(LangData?.DetailsData.editor ?? "")
            }
            @if (ViewBag.MainAd != null)
            {

                <div class="invest-slick-block fade-up">
                    <div class="invest-slick-box">
                        @foreach (Advertising item in ViewBag.MainAd)
                        {
                            LanguageResource LangData = item.LangData.FirstOrDefault();

                            <div class="invest-slick show">
                                <div class="invest-slick-img">
                                    <img class="img-object" src="@Html.Raw((new Helper()).FormatPic(LangData , "pic" , "image"))" alt="@Html.Raw((new Helper()).FormatPic(LangData , "pic" , "title"))">
                                </div>
                                <div class="invest-slick-info-box">
                                    <div class="invest-slick-info clear">
                                        @Html.Raw(LangData?.DetailsData.editor ?? "")
                                    </div>
                                </div>
                            </div>
                        }



                    </div>
                    <div class="invest-round-box">
                        <div class="invest-round">
                            <span></span>
                        </div>
                        <div class="invest-round">
                            <span></span>
                        </div>
                    </div>
                </div>

            }
        </div>
        <div class="invest-bg"></div>
    </section>
    @if (ViewBag.news != null)
    {
        <section class="index-news-block ">
            <h2 class="fade-up">@_localizer.GetLocalizedHtmlString("NewsEvent").ToString()</h2>
            <div class="container-box">
                <div class="index-news-box fade-up">

                    @foreach (ArticleNews item in ViewBag.news)
                    {
                        LanguageResource LangData = item.LangData.FirstOrDefault();


                        string date = "";
                        string langid = LangData.language_id;

                        if (!string.IsNullOrEmpty(LangData?.start_at.ToString()))
                        {
                            if (langid == "zh-TW")
                            {
                                date = DateTime.Parse(LangData?.start_at.ToString()).ToString("MMMM dd日, yyyy");
                            }
                            else if (langid == "zh-CN")
                            {
                                date = DateTime.Parse(LangData?.start_at.ToString()).ToString("MMMM dd日, yyyy");
                            }
                            else
                            {
                                date = DateTime.Parse(LangData?.start_at.ToString()).ToString("MMMM dd, yyyy");
                            }
                        }
                        else
                        {
                            if (langid == "zh-TW")
                            {
                                if (!string.IsNullOrEmpty(LangData?.created_at.ToString()))
                                {
                                    date = DateTime.Parse(LangData?.created_at.ToString()).ToString("MMMM dd日, yyyy");
                                }
                            }
                            else if (langid == "zh-CN")
                            {
                                if (!string.IsNullOrEmpty(LangData?.created_at.ToString()))
                                {
                                    date = DateTime.Parse(LangData?.created_at.ToString()).ToString("MMMM dd日, yyyy");
                                }
                            }
                            else
                            {
                                if (!string.IsNullOrEmpty(LangData?.created_at.ToString()))
                                {
                                    date = DateTime.Parse(LangData?.created_at.ToString()).ToString("MMMM dd, yyyy");
                                }
                            }
                        }

                        <a href="@Html.Raw(ViewBag.culturePath + "NewsDetail/" + (!string.IsNullOrEmpty(item.path) ? item.path :　item.id))" class="index-news-list">
                            <span class="index-news-title">@date</span>
                            <p class="index-news-p">@LangData?.title</p>
                        </a>
                    }

                </div>
                <a href="@Html.Raw(ViewBag.culturePath + "News/All")" class="index-news-more">
                    <span class="index-news-more-icon"></span>
                    <span class="index-news-more-p">@_localizer.GetLocalizedHtmlString("AllNews").ToString()</span>
                </a>
            </div>
        </section>
    }
    @if (ViewBag.DownAd != null)
    {
        <section class="index-link-box fade">

            @foreach (Advertising item in ViewBag.DownAd)
            {
                LanguageResource LangData = item.LangData.FirstOrDefault();

                <a href="@Html.Raw(LangData?.DetailsData.link ?? "#1")" class="index-link">
                    <span class="index-link-img">
                        <img class="img-object" src="@Html.Raw((new Helper()).FormatPic(LangData , "pic" , "image"))" alt="@Html.Raw((new Helper()).FormatPic(LangData , "pic" , "title"))">

                    </span>
                    <span class="index-link-title">@LangData?.title</span>
                </a>
            }

        </section>
    }
</main>







