﻿<div class="edit-box page-edit technology-detail">
    <h3 class="technology-detail-title">What is SiP technology</h3>
    <p>A System in Package (SiP) is a combination of one or more semiconductor devices plus optionally passive components that define a certain or partial functional block within a quasi-package.</p>
    <p>The Package Structure of SiP module includes:</p>
    <div class="edit-flex margin-tb-50">
        <div class="detail2-box1-list">
            <img src="/styles/images/techonogy/detail2-img1.webp" alt>
        </div>
        <div class="detail2-box1-list">
            <img src="/styles/images/techonogy/detail2-img2.webp" alt>
        </div>
        <div class="detail2-box1-list">
            <img src="/styles/images/techonogy/detail2-img3.webp" alt>
        </div>
        <div class="detail2-box1-list">
            <img src="/styles/images/techonogy/detail2-img4.webp" alt>
        </div>
    </div>
    <div class="technology-s-box">
        <h3 class="technology-detail-title">Why SiP Module</h3>
        <p>Electronic devices have been integrating more functions. The design of a product is getting more complicated. Modulated design in a product only can help us to shorten the time to market but also enhance the performance, for applications below.</p>
        <div class="edit-flex">
            <div class="detail2-box2-list">
                <img src="/styles/images/techonogy/detail2-img5.webp" alt>
            </div>
            <div class="detail2-box2-list">
                <img src="/styles/images/techonogy/detail2-img6.webp" alt>
            </div>
            <div class="detail2-box2-list">
                <img src="/styles/images/techonogy/detail2-img7.webp" alt>
            </div>
            <div class="detail2-box2-list">
                <img src="/styles/images/techonogy/detail2-img8.webp" alt>
            </div>
            <div class="detail2-box2-list">
                <img src="/styles/images/techonogy/detail2-img9.webp" alt>
            </div>
            <div class="detail2-box2-list">
                <img src="/styles/images/techonogy/detail2-img10.webp" alt>
            </div>
            <div class="detail2-box2-list">
                <img src="/styles/images/techonogy/detail2-img11.webp" alt>
            </div>
        </div>
    </div>
    <div class="technology-s-box">
        <h3 class="technology-detail-title">Why SiP Module</h3>
        <p>Key advantages of applying SiP solution in a product design includes:</p>
        <p>• Small Form Factor</p>
        <p>• Fast Time-to-Market (Simplify the Design)</p>
        <p>• Better Performance</p>
        <p>• Pre-Tested and Pre-Qualified (Better Production Efficiency & Yield)</p>
    </div>
    <div class="technology-s-box">
        <h3 class="technology-detail-title">Provide Total Solution to Customers</h3>
        <p>By integrating system design capability with advanced IC packaging technology, SPIL provides services, including design, bumping, wafer sort, PKG assembly and testing, to satisfy customers’ requirement of “One Stop Shop” Solution.</p>
        <p>The production line is also well arranged with CIM (Computing Integrating Manufacturing). The Shop Floor Control System provides good quality control and material, component and process traceability.</p>
    </div>

    <div class="mt-50">
        <img src="/styles/images/techonogy/detail2-img12.webp" alt>
    </div>
</div>