﻿<div class="edit-box page-edit technology-detail fade-up">
    <h2 class="technology-detail-title">What is Fine Pitch Flip Chip Die Bond </h2>
    <p> Moore’s law has been slowed down in transistor scaling, but the demands of high computing processing does not cool down and the data rate transmission is growing exponentially in each day. The surge in high data rate causes present DDR4 memories succumb to this horrendous needs. High bandwidth memories (HBM) are then developed to fulfill these requirements. The upended trends drive up chiplets integrated package evolution. Presently most of these chiplets integrated packages are either homogeneously or heterogeneously packed together using 2.5D or Fan-Out-Multi-Chip Module. And these packages contain of micro bump pitches at the range of 40~55μm. While HBM package are either stacked by 4 or 8 heights of memories dies with bump pitch of 40 μm. Hybrid bond are then developed for much higher I/O density. However, hybrid bond technology has better economic values for bump pitch which is equal or below than 10 μm. There is a grey area of bump pitch between 10 μm to 55 μm and that is fine pitch die bond.</p>
    <p class="mb-50">Fine pitch flip chip die bond is based on flip chip technology with more fine solder to solder space</p>
    <img src="/styles/images/techonogy/detail5-2-img1.webp" alt>

    <div class="technology-s-box">
        <div class="flex-col pc-pd-30 rwd-mb-30">
            <h2 class="technology-detail-title">Application:</h2>
            <p>High performace PKG such as FO-EB/FO-MCM/2.5D/3D and application w/ HPC/Server/AI……etc. </p>
        </div>
        <div class="edit-flex ">
            <div class="detail2-box1-list">
                <img src="/styles/images/techonogy/detail5-2-img2.webp" alt>
            </div>
            <div class="detail2-box1-list">
                <img src="/styles/images/techonogy/detail5-2-img3.webp" alt>
            </div>
            <div class="detail2-box1-list">
                <img src="/styles/images/techonogy/detail5-2-img4.webp" alt>
            </div>
            <div class="detail2-box1-list">
                <img src="/styles/images/techonogy/detail5-2-img5.webp" alt>
            </div>
        </div>
    </div>
    <div class="technology-s-box">
        <h2 class="technology-detail-title">Benefits</h2>
        <p>• Small form factor w/ higher performance</p>
        <p>• No need Cu-Cu bonding to save pricing</p>
        <p>• Both of mass reflow & TCNCF process is available for different application</p>
        <p>SPIL is one of the pioneers in Fine Pitch Flip Chip Die Bonding technology with ubump pitch under 40um using both mass reflow & TCNCF process.</p>
    </div>
    <div class="technology-s-box">
        <h2 class="technology-detail-title mb-50">Mass Reflow & TCNCF process flow</h2>
        <img src="/styles/images/techonogy/detail5-2-img6.webp" alt>
    </div>


</div>