﻿<div class="edit-box page-edit technology-detail fade-up">
    <h2 class="technology-detail-title" style="margin-bottom:20px;">What is AiP:</h2>
    <p class="mb-20">Antenna in package (AiP) is one packaging technology to fully integrate antennas, chips and passives in an IC package.</p>
    <div class="edit-flex mb-20">
        <div class="detail7-img-list">
            <img src="/styles/images/techonogy/detail8-img1.webp" alt="">
        </div>
        <div class="detail7-img-list">
            <img src="/styles/images/techonogy/detail8-img2.webp" alt="">
        </div>
        <div class="detail7-img-list">
            <img src="/styles/images/techonogy/detail8-img3.webp" alt="">
        </div>
        <div class="detail7-img-list">
            <img src="/styles/images/techonogy/detail8-img4.webp" alt="">
        </div>
        <div class="detail7-img-list">
            <img src="/styles/images/techonogy/detail8-img5.webp" alt="">
        </div>
    </div>
    <div class="technology-s-box edit-flex">
        <div class="flex-col pc-pd-30 rwd-mb-30">
            <h3 class="technology-detail-title">Application</h3>
            <p>AiP with functional antennas is designed to support wireless communication (WiGi, 5G mobile networks, Bluetooth, etc.) and radar sensor (gesture, automotive, etc.) through radio frequency band, especially millimeter-wave (mmWave).</p>
        </div>
        <div class="flex-col pc-pd-30 rwd-mb-30">
            <h3 class="technology-detail-title">Benefits</h3>
            <ul class="edit-ul">
                <li>Shorten interconnections between the antenna and the RF Chips</li>
                <li>Small size</li>
                <li>Highly integration</li>
                <li>Reduce design and test complexity at system side (Regulatory Certification)</li>
            </ul>
        </div>
    </div>
    <div class="technology-s-box">
        <h2 class="technology-detail-title" style="margin-bottom:20px;">AiP Measurement System</h2>
        <h3 class="technology-detail-s-title fz-18">S-Parameter Measurement</h3>
        <ul class="edit-ul">
            <li>Anritsu MS4647B Vector-Star 4-Port (10MHz~67GHz)</li>
            <li>Anritsu ME7838E Broadband VNA System 2-Port (70kHz~110GHz)</li>
            <li>FormFactor Elite300 Probe Station</li>
            <li>FormFactor Coplanar Probe</li>
        </ul>
        <h3 class="technology-detail-s-title fz-18">mmWave Antenna Measurement Chamber</h3>
        <ul class="edit-ul mb-50">
            <li>Frequency Measurement Range 26.5GHz - 90GHz</li>
            <li>Coaxial Measurement</li>
            <li>Probe Measurement</li>
            <li>2D Antenna Gain Export & Analysis</li>
        </ul>

        <div class="edit-flex">
            <div class="detail8-list3-img">
                <img src="/styles/images/techonogy/detail8-img6.webp" alt>
            </div>
            <div class="detail8-list3-img">
                <img src="/styles/images/techonogy/detail8-img7.webp" alt>
            </div>
            <div class="detail8-list3-img">
                <img src="/styles/images/techonogy/detail8-img8.webp" alt>
            </div>
        </div>

    </div>


</div>