﻿<div class="edit-box page-edit technology-detail fade-up">
    <h3 class="technology-detail-title">What is TSV Technology</h3>
    <p>Through-Silicon-Via (TSV) is a technique to provide vertical electrical interconnections passing through a silicon die to effectively transmit signal or power for homogeneous and heterogeneous integration.</p>
    <p>TSVs are manufactured in wafer form and filled with Cu to provide the interconnection of die to die and die to substrate.</p>
    <div class="technology-s-box">
        <h3 class="technology-detail-title">2.5D IC & 3D IC Package</h3>
        <div class="edit-flex">
            <div class="pc-pd-30 rwd-mb-30">
                <img style="margin-bottom:30px;" src="/styles/images/techonogy/detail1-img1.webp" alt>
            </div>
            <div class="pc-pd-30 rwd-mb-30">
                <img style="margin-bottom:30px;" src="/styles/images/techonogy/detail1-img1.webp" alt>
            </div>
        </div>
        <h3 class="technology-detail-s-title">2.5D IC</h3>
        <p>In 2.5D, several dies placed side by side above a passive silicon interposer without functionality and through the interposer to connect either memory packages or logic dies.</p>
        <h3 class="technology-detail-s-title">3D IC</h3>
        <p>In 3D, it is benefited from shorter distance of circuit by stacking dies vertically to save power consumption while boost the performance and keep small form factor in one single package for high bandwidth and multi-function integration.</p>


    </div>
    <div class="technology-s-box edit-flex">
        <div class="flex-col pc-pd-30 rwd-mb-30">
            <h3 class="technology-detail-title">Application</h3>
            <p>• High-End Application for High Performance Computing, Networking & Data servers</p>
        </div>
        <div class="flex-col pc-pd-30 rwd-mb-30">
            <h3 class="technology-detail-title">Benefits</h3>
            <p>• High IO / High bandwidth with short routing distance</p>
            <p>• Energy efficiency</p>
            <p>• Small form factor</p>
        </div>
    </div>
    <div class="technology-s-box edit-flex">
        <div class="flex-col pc-pd-30 rwd-mb-30">
            <img src="/styles/images/techonogy/detail1-img3.webp" alt>
        </div>
        <div class="flex-col">
            <h3 class="technology-detail-title">Key enabling technology for 2.5D/3DIC in SPIL MEoL<br> (Middle End of Line)</h3>
            <p>• Carrier Bond/de-bond Technology</p>
            <p>• Wafer Thinning Technology</p>
            <p>• TSV Reveal Technology</p>
            <p>• C4 and Micro Bumping Technology</p>
            <br>
            <h3 class="technology-detail-title">BEoL (Back End of Line)</h3>
            <p>• Die Stacking Assembly Technology</p>
        </div>
    </div>
</div>