﻿<div class="edit-box page-edit technology-detail fade-up">
    <h2 class="technology-detail-title">What is Thin mold</h2>
    <p>The Package of thin mold Includes :</p>
    <p>• LF base: TQFP, QFN</p>
    <h2 class="technology-detail-s-title">LF Base</h2>
    <div class="edit-flex mb-20">
        <div class="detail7-img-list">
            <img src="/styles/images/techonogy/detail7-img1.webp" alt>
        </div>
        <div class="detail7-img-list">
            <img src="/styles/images/techonogy/detail7-img2.webp" alt>
        </div>
    </div>
    <p>• LF base: TQFP, QFN</p>
    <h2 class="technology-detail-s-title">Substrate Base</h2>
    <div class="edit-flex mb-20">
        <div class="detail7-img-list">
            <img src="/styles/images/techonogy/detail7-img3.webp" alt>
        </div>
        <div class="detail7-img-list">
            <img src="/styles/images/techonogy/detail7-img4.webp" alt>
        </div>
        <div class="detail7-img-list">
            <img src="/styles/images/techonogy/detail7-img5.webp" alt>
        </div>
        <div class="detail7-img-list">
            <img src="/styles/images/techonogy/detail7-img6.webp" alt>
        </div>
        <div class="detail7-img-list">
            <img src="/styles/images/techonogy/detail7-img7.webp" alt>
        </div>
    </div>
    <div class="technology-s-box edit-flex">
        <div class="flex-col pc-pd-30 rwd-mb-30">
            <h3 class="technology-detail-title">Application</h3>
            <p>Thin mold packages are particularly well suited for electronic systems applications requiring broad performance characteristics, including computing, video/audio, telecommunications, data acquisition, communication, etc.. </p>
        </div>
        <div class="flex-col pc-pd-30 rwd-mb-30">
            <h3 class="technology-detail-title">Benefits</h3>
            <p>• Procurement flexibility : memory components</p>
            <p>• Faster time to Market.</p>
            <p>The most obvious benefit is motherboard space savings.</p>
        </div>
    </div>
    <div class="technology-s-box">
        <h3 class="technology-detail-title mb-50">Thin mold package Development Direction</h3>
        <img src="/styles/images/techonogy/detail7-img8.webp" alt>
    </div>

    <div class="technology-s-box">
        <h3 class="technology-detail-title">What is compression mold technology?</h3>
        <p class="mb-50">Compression mold is a method of molding technology. Powder compound materials are used into the mold die and the pressure is applied to force the material to contact with all mold areas.</p>
        <div class="edit-flex detail7-step-box">
            <div class="detail7-step">
                <img src="/styles/images/techonogy/detail7-img9.webp" alt>
            </div>
            <div class="detail7-step">
                <img src="/styles/images/techonogy/detail7-img10.webp" alt>
            </div>
            <div class="detail7-step">
                <img src="/styles/images/techonogy/detail7-img11.webp" alt>
            </div>
            <div class="detail7-step">
                <img src="/styles/images/techonogy/detail7-img12.webp" alt>
            </div>
            <div class="detail7-step">
                <img src="/styles/images/techonogy/detail7-img13.webp" alt>
            </div>
            <div class="detail7-step">
                <img src="/styles/images/techonogy/detail7-img14.webp" alt>
            </div>
        </div>
        <h2 class="technology-detail-title">Features</h2>
        <ul class="edit-ul">
            <li>Thinner mold capability design</li>
            <li>Low mold flow (wire sweep capability is better)</li>
            <li>Gate free</li>
            <li>No compound waste (No cull & Runner design)</li>
            <li>Faster time to Market.</li>
        </ul>
        <p>The most obvious benefit is motherboard space savings.</p>

    </div>
    <div class="technology-s-box detail7-box3">
        <div class="pc-pd-30  detail7-box3-info">
            <h2 class="technology-detail-title" style="margin-bottom:20px;">What is compression mold technology?</h2>
            <p>Compression mold is a method of molding technology. Powder compound materials are used into the mold die and the pressure is applied to force the material to contact with all mold areas.</p>
            <ul class="detail6-list-style mb-30">
                <li>Thinner mold capability design</li>
                <li>Low mold flow (wire sweep capability is better)</li>
                <li>Gate free</li>
                <li>No compound waste (No cull & Runner design)</li>
                <li>Mold die thickness range 0.3 mm w/o change Kit.</li>
            </ul>
        </div>
        <div class="pc-pd-30  detail7-box1-img-box">
            <img src="/styles/images/techonogy/detail7-3.webp" alt>
        </div>
    </div>
</div>