﻿<div class="edit-box page-edit technology-detail fade-up">
    <h2 class="technology-detail-title">What is Exposed die Molding</h2>
    <p>Molding process is the key process of exposed die FCCSP and requires to be proceeded in specific film type molding equipment.</p>
    <p>The major key and different process is molding, the other are the same as STD FCCSP. </p>
    <img src="/styles/images/techonogy/detail7-2-img1.webp" alt>


    <div class="technology-s-box edit-flex">
        <div class="flex-col pc-pd-30 rwd-mb-30">
            <h3 class="technology-detail-title">Application</h3>
            <p>Exposed die FCCSP has good thermal dissipation and lower profile in high thermal products such as storage and communications.</p>
        </div>
        <div class="flex-col pc-pd-30 rwd-mb-30">
            <h3 class="technology-detail-title">Benefits</h3>
            <p>Two Features on Exposed Die FCCSP:</p>
            <p>• Better Thermal Dissipation and Lower Profile compared to normal over-molded FCCSP.</p>
            <p>• Better Chip Protection compared to Bare Die FCCSP during FT and SMT handling.</p>
        </div>
    </div>
    <div class="technology-s-box">
        <h3 class="technology-detail-title mb-50">FCCSP Package Development Direction</h3>
        <img src="/styles/images/techonogy/detail7-2-img2.webp" alt>
    </div>
    <div class="technology-s-box">
        <h3 class="technology-detail-title">Real Case Thermal Simulation</h3>
        <p>ED-FCCSP is designed to provide the thinnest bonding line and best thermal impedance between the Flip Chip die backside and the attached heat sink. Thermal behavior is determined by the exact configuration of the overall structure and the distribution of power dissipation among the entire die. During the package design stage, we provide thermal simulation and data analysis as needed to help ensure proper thermal dissipation performance. </p>
        <p>• PKG Type : FCCSP 92mm2, Die Size: 19mm2</p>
        <p>• Mold THK: 0.45 mm, Substrate: 3L ETS (Embedded Trace Substrate)</p>
        <p class="mb-30">• External Heatsink Size : 30 x 30 x 10 mm</p>
        <div class="w-100 overflow-auto">
            <table class="detail7-table mb-20">
                <thead>
                    <tr style="color:#FFF">
                        <th style="width:20%;" rowspan="2">PKG Type</th>
                        <th style="width:calc(80% / 3);height:50px;border:1px solid #2378C3;">1</th>
                        <th style="width:calc(80% / 3);border:1px solid #2378C3;">2</th>
                        <th style="width:calc(80% / 3);border:1px solid #2378C3;">3</th>
                    </tr>
                    <tr style="background-color:#FFF;">
                        <th style="background-color:#f0f0f0;border-bottom:1px solid #DCDCDC;border-right:1px solid #DCDCDC;"><img src="/styles/images/techonogy/detail7-img1.webp" alt></th>
                        <th style="background-color:#f0f0f0;border-bottom:1px solid #DCDCDC;border-right:1px solid #DCDCDC;"><img src="/styles/images/techonogy/detail7-img2.webp" alt></th>
                        <th style="background-color:#f0f0f0;border-bottom:1px solid #DCDCDC;border-right:1px solid #DCDCDC;"><img src="/styles/images/techonogy/detail7-img3.webp" alt></th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="background-color:#FFF;">
                        <td style="background-color:#005EAB;color:#FFF;height:50px;border:1px solid #2378C3;">Die THK (mil)</td>
                        <td style="border-bottom:1px solid #DCDCDC;border-right:1px solid #DCDCDC;">8</td>
                        <td style="border-bottom:1px solid #DCDCDC;border-right:1px solid #DCDCDC;">16</td>
                        <td style="border-bottom:1px solid #DCDCDC;border-right:1px solid #DCDCDC;">16</td>
                    </tr>
                    <tr style="background-color:#f0f0f0;">
                        <td style="background-color:#005EAB;color:#FFF;height:50px;border:1px solid #2378C3;">EMC Type</td>
                        <td style="border-bottom:1px solid #DCDCDC;border-right:1px solid #DCDCDC;">Normal (K=0.9 W/mk)</td>
                        <td style="border-bottom:1px solid #DCDCDC;border-right:1px solid #DCDCDC;">Normal (K=0.9 W/mk)</td>
                        <td style="border-bottom:1px solid #DCDCDC;border-right:1px solid #DCDCDC;">Normal (K=0.9 W/mk)</td>
                    </tr>
                    <tr style="background-color:#FFF;">
                        <td style="background-color:#005EAB;color:#FFF;height:50px;border:1px solid #2378C3;">H/S</td>
                        <td style="border-bottom:1px solid #DCDCDC;border-right:1px solid #DCDCDC;">NA</td>
                        <td style="border-bottom:1px solid #DCDCDC;border-right:1px solid #DCDCDC;">NA</td>
                        <td style="border-bottom:1px solid #DCDCDC;border-right:1px solid #DCDCDC;">t=0.5mm</td>
                    </tr>
                    <tr style="background-color:#f0f0f0;">
                        <td style="background-color:#005EAB;color:#FFF;height:50px;border:1px solid #2378C3;">Theta JA ( °C/W)</td>
                        <td style="border-bottom:1px solid #DCDCDC;border-right:1px solid #DCDCDC;">10.6</td>
                        <td style="border-bottom:1px solid #DCDCDC;border-right:1px solid #DCDCDC;">8.5</td>
                        <td style="border-bottom:1px solid #DCDCDC;border-right:1px solid #DCDCDC;">8.2</td>
                    </tr>
                    <tr style="background-color:#FFF;">
                        <td style="background-color:#005EAB;color:#FFF;height:50px;">Theta JC ( °C/W)</td>
                        <td style="border-bottom:1px solid #DCDCDC;border-right:1px solid #DCDCDC;">2.43</td>
                        <td style="border-bottom:1px solid #DCDCDC;border-right:1px solid #DCDCDC;">0.04</td>
                        <td style="border-bottom:1px solid #DCDCDC;border-right:1px solid #DCDCDC;">0.17</td>
                    </tr>

                </tbody>
            </table>
        </div>
        <p class="mb-30">ED-FCCSP with PKG + System cooling can enhance ~20% compared to normal over-molded FCCSP. </p>
    </div>

</div>