﻿<div class="edit-box page-edit technology-detail  fade-up">
    <h3 class="technology-detail-title">What is POP </h3>
    <p style="margin-bottom:20px">Package on package (PoP) is an integrated circuit packaging method to combine vertically discrete logic and memory ball grid array (BGA) packages. </p>
    <div class="edit-flex">
        <div class="detail3-box1-list">
            <img src="/styles/images/techonogy/detail3-img1.webp" alt>
        </div>
        <div class="detail3-box1-list">
            <img src="/styles/images/techonogy/detail3-img2.webp" alt>
        </div>
    </div>
    <div class="technology-s-box">
        <h3 class="technology-detail-title">Benefits</h3>
        <p>• Components are tested separately</p>
        <p>• Procurement flexibility : memory components</p>
        <p>• Faster time to Market.</p>
        <p>The most obvious benefit is motherboard space savings.</p>
        <p>Electrically, PoP offers benefits by minimizing track length between different interoperating parts, such as a controller and a memory. This yields better electrical performance of devices, since shorter routing of interconnections between circuits yields faster signal propagation and reduced noise and cross-talk. </p>
    </div>
    <div class="technology-s-box">
        <h3 class="technology-detail-title" style="margin-bottom:45px">POP(Package On Package) Bottom Package Development Direction</h3>
        <div class="detail3-box2-img">
            <img src="/styles/images/techonogy/detail3-img3.webp" alt>
        </div>
    </div>
</div>