﻿<div class="edit-box page-edit technology-detail fade-up">

    <h2 class="technology-detail-title mb-40">AiP Measurement System</h2>
    <p class="technology-detail-s-title">1.Cu wire technology</p>
    <ul class="edit-ul mb-20">
        <li>Wire inductance and capacitance are almost the same when Au / Cu wire diameter is fixed.</li>
        <li>Cu wires have better electrical performance due to low resistance parasitic comparing with gold wires.</li>
    </ul>
    <img class="mb-20" src="/styles/images/techonogy/detail6-img1.webp" alt>
    <p class="technology-detail-s-title">2.Fine pitch technology</p>
    <p>The pad pitch < 45um is the so-called fine pitch, which can have more powerful functions in the design of smaller chips</p>
    <img src="/styles/images/techonogy/detail6-img2.webp" alt>

    <div class="technology-s-box">
        <h2 class="technology-detail-title" style="margin-bottom:20px;">Application  </h2>
        <p>Fine pitch design allows higher wire density in electronic products, such as smart phones, media tablets, TV , wifi controller, game consoles, etc.</p>
        <img src="/styles/images/techonogy/detail6-img3.webp" alt>
    </div>
    <div class="technology-s-box">
        <div class="edit-flex">
            <div class="detail6-left">
                <h2 class="technology-detail-title mb-20">Benefits</h2>
                <p class="technology-detail-s-title fz-18">Low cost:</p>
                <ul class="edit-ul mb-20">
                    <li>Gold makes up majority of wire cost.</li>
                    <li>Gold price has risen 153% since 2007.</li>
                </ul>
                <p class="technology-detail-s-title fz-18">High efficiency:</p>
                <ul class="edit-ul mb-20">
                    <li>Small size and high output (I/O)</li>
                    <li>High heat dissipation, low noise</li>
                </ul>
                <p>The packaging process is constantly developing in the direction of reducing the chip size or integrating more functions in the same chip area to increase the number of I/Os and reduce cost considerations. Among them, "fine pitch bonding" (fine pitch bonding) technology, due to the above conditions.</p>
            </div>
            <div class="detail6-right">
                <img src="/styles/images/techonogy/detail6-img4.webp" alt>
            </div>
        </div>

    </div>
    <div class="technology-s-box">
        <h2 class="technology-detail-title" style="margin-bottom:20px;">Cu Wire Bond Roadmap</h2>
        <div class="mb-30" style="overflow: auto;">
            <table class="detail6-table">
                <thead>
                    <tr>
                        <th style="width:100px">Item</th>
                        <th>Technology Item</th>
                        <th>Production</th>
                        <th colspan="2">Avaliable</th>
                        <th>Engineering </th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="background-color:#FAFAFA;">
                        <td rowspan="7">Cu Wire</td>
                        <td>Wafer Technology</td>
                        <td>ULK/ELK<br>22/20 nm</td>
                        <td>ULK/ELK<br>22/20 nm</td>
                        <td>ULK/ELK<br>18 nm</td>
                        <td>ULK/ELK<br>16/14 nm</td>
                    </tr>
                    <tr>
                        <td>Bond Pad structure</td>
                        <td>BOAC / CUP</td>
                        <td>BOAC / CUP</td>
                        <td>BOAC / CUP</td>
                        <td>BOAC / CUP</td>
                    </tr>
                    <tr style="background-color:#FAFAFA;">
                        <td>Bond Pad Pitch (um)</td>
                        <td>45</td>
                        <td>47</td>
                        <td>45</td>
                        <td>43</td>
                    </tr>
                    <tr>
                        <td>Bond Pad Open (um)</td>
                        <td>40</td>
                        <td>43</td>
                        <td>40</td>
                        <td>38</td>
                    </tr>
                    <tr style="background-color:#FAFAFA;">
                        <td>Wire Diameter (mil)</td>
                        <td>0.65</td>
                        <td>0.7</td>
                        <td>0.65</td>
                        <td>0.6</td>
                    </tr>
                    <tr>
                        <td>Bond Pad Structure</td>
                        <td>Tri-tiers/<br>Quad-tiers</td>
                        <td>Tri-tiers/<br>Quad-tiers</td>
                        <td>Tri-tiers/<br>Quad-tiers</td>
                        <td>Tri-tiers/<br>Quad-tiers</td>
                    </tr>
                    <tr style="background-color:#FAFAFA;">
                        <td>Pad to Pad Bonding</td>
                        <td>Au+Cu</td>
                        <td>All Cu Wire</td>
                        <td>All Cu Wire</td>
                        <td>All Cu Wire</td>
                    </tr>



                </tbody>
            </table>
        </div>
        <img src="/styles/images/techonogy/detail6-img5.webp" alt>
    </div>

</div>