﻿<div class="edit-box page-edit technology-detail fade-up">
    <div class="edit-flex">
        <div class="detail4-left edit-flex">
            <h3 class="technology-detail-title">What is FO-WLP:</h3>
            <p>Fan-Out Wafer Level Package (FO-WLP) has been developed to offer additional space for routing higher number of I/O on top of silicon chip area and extending the package size with so-called the fan-out process which cannot be possibly applied in conventional Fan-In Wafer Level Package (FI-WLP).</p>
        </div>
        <div class="detail4-right edit-flex">
            <div class="detail4-img">
                <img src="/styles/images/techonogy/detail4-img1.webp" alt>
            </div>
            <div class="detail4-img">
                <img src="/styles/images/techonogy/detail4-img2.webp" alt>
            </div>
        </div>
    </div>
    <div class="technology-s-box">
        <h3 class="technology-detail-title mb-50">Fan-Out Wafer Level Package</h3>
        <div class="edit-flex">
            <div class="detail4-left edit-flex">
                <div class="detail4-img">
                    <img src="/styles/images/techonogy/detail4-img3.webp" alt>
                </div>
                <div class="detail4-img">
                    <img src="/styles/images/techonogy/detail4-img4.webp" alt>
                </div>
            </div>
            <div class="detail4-right ">
                <p class="technology-detail-s-title">Target Application :</p>
                <ul class="edit-ul">
                    <li> Low Pin Count Application for PMIC/ RF/ WIFI/ PA/ Audio etc.</li>
                </ul>
                <p class="technology-detail-s-title">Benefits :</p>
                <ul class="edit-ul">
                    <li>Single or multiple dies embedded in molding compound to have more IO than WLCSP by applying fan-out wafer level RDL processes.</li>
                    <li>Thin dielectrics RDL with fine lines routing capability.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="technology-s-box">
        <div class="edit-flex">
            <div class="detail4-left edit-flex">
                <div class="detail4-img">
                    <img src="/styles/images/techonogy/detail4-img5.webp" alt>
                </div>
                <div class="detail4-img">
                    <img src="/styles/images/techonogy/detail4-img6.webp" alt>
                </div>
            </div>
            <div class="detail4-right ">
                <p class="technology-detail-s-title">Target Application :</p>
                <ul class="edit-ul">
                    <li>Mobile Application for Smart Phone & Tablet, High-End AP/BB</li>
                </ul>
                <p class="technology-detail-s-title">Benefits :</p>
                <ul class="edit-ul">
                    <li>Small form factor & thin package</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="technology-s-box">
        <div class="edit-flex">
            <div class="detail4-left edit-flex">
                <div class="detail4-img">
                    <img src="/styles/images/techonogy/detail4-img7.webp" alt>
                </div>
                <div class="detail4-img">
                    <img src="/styles/images/techonogy/detail4-img8.webp" alt>
                </div>
            </div>
            <div class="detail4-right ">
                <p class="technology-detail-s-title">Target Application :</p>
                <ul class="edit-ul">
                    <li>High-End Application for High Performance Computing, Networking & Data servers</li>
                </ul>
                <p class="technology-detail-s-title">Benefits :</p>
                <ul class="edit-ul">
                    <li>High IO / High bandwidth with fine line/multi-layer RDL routability</li>
                    <li>Bridging technology in molding compound</li>
                </ul>
            </div>
        </div>
    </div>

</div>