﻿<div class="edit-box page-edit technology-detail fade-up">
    <h2 class="technology-detail-title">What is Cu Pillar bump</h2>
    <p class="mb-50">The typical bump structure of Cu pillar bump is as below; bump UBM was sputtered on PSV (SiN or PI) and Cu post with solder tip formed by plating process. The typical Cu pillar height is 50~70 um, and the typical production bump pitch is 60~125 um. </p>
    <img src="/styles/images/techonogy/technology5-1-img1.webp" alt>

    <div class="technology-s-box edit-flex">
        <div class="flex-col pc-pd-30 rwd-mb-30">
            <h2 class="technology-detail-title">Application:</h2>
            <p>This technology can be applied on application processor, baseband, PMIC, memory devices, etc. products. For mobile communications, flip chip development is driven by increased device performance and package miniaturization trends, particularly for the CPU or so called applications processor that powers smart phones and media tablets. </p>
        </div>
        <div class="flex-col pc-pd-30 rwd-mb-30">
            <h2 class="technology-detail-title">Benefits:</h2>
            <p>• Lead free solution for RoHS requirement</p>
            <p>• High current and EM capability(at least 3X better than LF solder bump )</p>
            <p>• High I/O density with B.O.T. (Bump On Trace)</p>
            <p>Higher device performance leads to more input/output connections per IC, while miniaturization requires smaller/ thinner packaging, leading to smaller, closer spaced connections. </p>
        </div>
    </div>
    <div class="technology-s-box">
        <h2 class="technology-detail-title">Cu Pillar + BOT</h2>
        <p>This technology provides better substrate layout density, so it can shrink package size and reduce substrate layers (such as 6L → 4L) to lower the cost.</p>
        <p class="mb-50">Example: 150um Bump pitch with 25/25um trace width/space</p>
        <div class="edit-flex">
            <div class="flex-col pc-pd-30 rwd-mb-30">
                <h3 class="technology-detail-s-title fz-18 mb-20">1.Solder bump : No trace designed in between 2 bumps.</h3>
                <img src="/styles/images/techonogy/technology5-1-img2.webp" alt>
            </div>
            <div class="flex-col pc-pd-30 rwd-mb-30">
                <h3 class="technology-detail-s-title fz-18 mb-20">2.Cu pillar bump + B.O.T. : Allow 2 traces designed between 2 bumps. </h3>
                <img src="/styles/images/techonogy/technology5-1-img3.webp" alt>

            </div>
        </div>

    </div>
    <div class="technology-s-box">
        <h2 class="technology-detail-title mb-50">Low Cost Solution</h2>
        <img src="/styles/images/techonogy/technology5-1-img4.webp" alt>
    </div>


</div>