﻿@model IEnumerable<WebApp.Models.LanguageResource>
@using System.Text.RegularExpressions
@using WebApp.Services;
@inject LocalService _localizer
@{
    var AllProductCategoryCategory = ViewBag.AllProductCategoryCategory;

    var newsCategories = ViewBag.newsCategories;

    var AllArticlePage = ViewBag.AllArticlePage;
    var AllAdvertisingPage = ViewBag.AllAdvertising;
}

<main>
    <h1 class="title-h1">Privacy Policy</h1>
    <div class="page-banner-box">
        <div class="page-banner">
            <h2 class="page-banner-title">Search Results</h2>
            <img class="img-object" src="/styles/images/home/search-banner.webp" alt>
        </div>
    </div>
    <div class="bg-F5F5F5">
        <div class="all-search-block">
            <p class="search-top-ps fade">
                @Html.Raw(_localizer.GetLocalizedHtmlString("SearchResultsInfo").ToString().Replace("{N}" , ViewBag.searchCount.ToString()).Replace("{Keyword}" , ViewBag.keyword))
            </p>
            <div class="all-search-box">


                @if (ViewBag.searchCount > 0)
                {

                    @foreach (LanguageResource item in Model)
                    {

                        string url = "";

                        switch (item.model_type)
                        {
                            case "ProductCategory":

                                url = await (new Helper()).GetSearchResultUrl(item, ViewBag.culturePath, AllProductCategoryCategory);


                                break;
                            case "ArticleCategory":

                                url = await (new Helper()).GetSearchResultUrl(item, ViewBag.culturePath, newsCategories);


                                break;
                            case "ArticleNews":

                                url = ViewBag.culturePath + "NewsDetail/" + item.ArticleNewsId;


                                break;

                            case "ProductSet":

                                url = ViewBag.culturePath + "IC_PackagingData/" + item.ProductSetId;


                                break;

                            case "ArticleLocation":

                                url = ViewBag.culturePath + "About/Locations";


                                break;

                            case "ArticleColumn":

                                url = ViewBag.culturePath + "About/Milestones";


                                break;

                            case "ArticlePage":

                                url = await (new Helper()).GetSearchResultUrl(item, ViewBag.culturePath, AllArticlePage);


                                break;

                            case "Advertising":

                                url = await (new Helper()).GetSearchResultUrl(item, ViewBag.culturePath, AllAdvertisingPage);


                                break;
                        }



                        <a href="@url" class="all-search fade-up">
                            <span class="all-search-left">
                                <span class="all-search-title line2">@item.title</span>
                                <span class="all-search-info line2">

                                    @if (item.DetailsData != null)
                                    {
                                        @if (item.DetailsData.notes != null && item.DetailsData.notes != "")
                                        {
                                            @Html.Raw(item?.DetailsData?.notes ?? "")
                                        }
                                        else
                                        {
                                            if(item.DetailsData.editor != null && item.DetailsData.editor != ""){
                                                var temp1 = Regex.Replace(item.DetailsData.editor, "(?is)<.+?>", "");
                                                var temp2 = temp1.ToString().Split(".");
                                                @Html.Raw(temp1)
                                                @*@Html.Raw(temp2[0])*@;
                                            }
@*                                            if (item.DetailsData.editor != null && item.DetailsData.editor != "")
                                            {
                                                var temp1 = Html.Raw(item?.DetailsData?.editor ?? "");
                                                var temp2 = temp1.ToString().Split("<p class=\"mb-15\">");
                                                var temp2length = temp2.Length;
                                                if (temp2.Length >= 2)
                                                {
                                                    if (item.title == "Recruitment")
                                                    {

                                                    }
                                                    else
                                                    {
                                                        @Html.Raw(temp2[1])
                                                    }
                                                }
                                                else
                                                {
                                                    var temp21 = temp1.ToString().Split("<p class=\"mb-40\">");
                                                    var temp21length = temp21.Length;
                                                    if (temp21.Length >= 2)
                                                    {
                                                        if (item.title == "Vision & Core Value")
                                                        {
                                                            @Html.Raw(temp21[1].Split('.')[0])
                                                        }
                                                        else
                                                        {
                                                            @Html.Raw(temp21[1].Split(',')[0])
                                                        }
                                                    }
                                                    else
                                                    {
                                                        var temp22 = temp1.ToString().Split("<p class=\"mb-50\">");
                                                        var temp22length = temp22.Length;
                                                        if (temp22.Length >= 2)
                                                        {
                                                            @Html.Raw(temp22[1].Split(',')[0])
                                                        }
                                                        else
                                                        {
                                                            if (temp2[0].Contains("&emsp;") && item.ArticleNewsId != null)
                                                            {
                                                                var tempemsp = temp2[0].Split('。')[0];
                                                                var retemp = tempemsp.Split("&emsp;");
                                                                @Html.Raw(retemp[1])
                                                            }
                                                            else
                                                            {
                                                                //@Html.Raw(temp2[0].Split('。')[0])
                                                            }
                                                        }
                                                    }
                                                }

                                            }*@
                                        }
                                    }


                                </span>

                            </span>
                            <span class="all-search-right">
                                <span class="all-search-link">
                                    <i class="demo-icon icon-service-more"></i>
                                </span>
                            </span>
                        </a>
                    }

                }
            </div>


            @Html.Partial("Pagination")

        </div>
    </div>
</main>