﻿@model IEnumerable<WebApp.Models.ArticleDownload>
@using WebApp.Services;
@inject LocalService _localizer

<main>
    <h1 class="title-h1">About SPIL</h1>
    <div class="page-banner-box">
        <div class="page-banner">
            <h2 class="page-banner-title">@_localizer.GetLocalizedHtmlString("About").ToString()</h2>
            <img class="img-object" src="~/styles/images/finance/page-banner1.webp" alt>
        </div>
        <div class="breadnav-block fade">
            <ul class="breadnav-box">
                <li><a href="@Url.Content("~/" + ViewBag.culture)"><i class="demo-icon icon-home"></i></a></li>
                <li><a href="@Html.Raw(ViewBag.culturePath + "About/Overview")"><span>@_localizer.GetLocalizedHtmlString("About").ToString()</span></a></li>
                <li><a href="@Html.Raw(ViewBag.culturePath + "About/CertificationOverview")"><span>@_localizer.GetLocalizedHtmlString("Certification").ToString()</span></a></li>
                @*<li><span>@_localizer.GetLocalizedHtmlString("Certification").ToString()</span></li>*@
                <li><span>@ViewBag.LangData.title</span></li>
            </ul>
            <div class="breadnav-bg"></div>
        </div>
    </div>
    <div class="about-box w-1500">


        @Html.Partial("Nav")

        <div class="about-info-block fade-left">
            <div class="about-top-line"></div>
            <h2 class="about-title">@ViewBag.LangData.title</h2>
            @if (Model != null)
            {
                <div class="certification-block about-page">
                    <div class="certification-box">


                        @foreach (ArticleDownload item in Model)
                        {
                            LanguageResource LangData = item.LangData.FirstOrDefault();

                            <div class="certification-list">
                                <div class="certification-list-img">
                                    <img src="@Html.Raw((new Helper()).FormatPic(LangData , "pic" , "image"))" alt="@Html.Raw((new Helper()).FormatPic(LangData , "pic" , "title"))">
                                </div>
                                <div class="certification-list-info-box">
                                    <div class="certification-title-box">
                                        @if (!string.IsNullOrEmpty(LangData?.DetailsData.sub_title))
                                        {
                                            <p class="fw-bold">@LangData?.DetailsData.sub_title</p>
                                        }


                                        <p class="fw-bold fz-20">@LangData?.title</p>
                                    </div>
                                    <div class="mb-30 certification-list-info">

                                        @Html.Raw(LangData?.DetailsData?.editor ?? "")

                                    </div>
                                    @if (LangData?.FilesData.file != null)
                                    {
                                        <a href="@Html.Raw(LangData?.FilesData.file[0].path ?? "#1")" class="certification-download" download>
                                            <span class="certification-download-icon">
                                                <img src="/styles/static/icon/download-icon.svg" alt>
                                            </span>
                                            <span class="certification-download-title">@_localizer.GetLocalizedHtmlString("DOWNLOAD_FILE").ToString()</span>
                                        </a>

                                    }


                                </div>
                            </div>


                        }


                    </div>
                    @{
                        /*頁碼*/
                    }
                    @Html.Partial("Pagination")
                </div>

            }
        </div>
    </div>
</main>