﻿@using WebApp.Services;
@inject LocalService _localizer
@{
    LanguageResource LangData = ViewBag.LangData;
}


<main>
    <h1 class="title-h1">About SPIL</h1>
    <div class="page-banner-box">
        <div class="page-banner">
            <h2 class="page-banner-title">@_localizer.GetLocalizedHtmlString("About").ToString()</h2>
            <img class="img-object" src="/styles/images/finance/page-banner1.webp" alt>
        </div>
        <div class="breadnav-block fade">
            <ul class="breadnav-box">
                <li><a href="@Url.Content("~/" + ViewBag.culture)"><i class="demo-icon icon-home"></i></a></li>
                <li><a href="@Html.Raw(ViewBag.culturePath + "About/Overview")"><span>@_localizer.GetLocalizedHtmlString("About").ToString()</span></a></li>

                @if(ViewBag.TopAvtice["CompanyProfile"] == "active")
                {
                    <li><a href="@Html.Raw(ViewBag.culturePath + "About/Overview")"><span>@_localizer.GetLocalizedHtmlString("CompanyProfile").ToString()</span></a></li>
                }
                @if(ViewBag.TopAvtice["Certification"] == "active")
                {
                     <li><a href="@Html.Raw(ViewBag.culturePath + "About/CertificationOverview")"><span>@_localizer.GetLocalizedHtmlString("Certification").ToString()</span></a></li>
                }
             

                <li><span>@LangData.title</span></li>

            </ul>
            <div class="breadnav-bg"></div>
        </div>
    </div>


    <div class="about-box w-1500">


            @Html.Partial("Nav")




        <div class="about-info-block fade-left">
            <div class="about-top-line"></div>
            <h2 class="about-title">@LangData.title</h2>
            <!-- 編輯器開始 -->
           	@Html.Raw( LangData?.DetailsData?.editor ?? "" )
            <!-- 編輯器結束 -->
        </div>
    </div>
</main>


