﻿@using WebApp.Services;
@inject LocalService _localizer
@{
    LanguageResource category = ViewBag.category;

    List<ArticleCategory> articleCategories = ViewBag.subCategory;

    List<ArticleLocation> locations = ViewBag.Location;
    int maintitle = 0;
}
<main>
    <h1 class="title-h1">About SPIL</h1>
    <div class="page-banner-box">
        <div class="page-banner">
            <h2 class="page-banner-title">@_localizer.GetLocalizedHtmlString("About").ToString()</h2>
            <img class="img-object" src="/styles/images/finance/page-banner1.webp" alt>
        </div>
        <div class="breadnav-block fade">
            <ul class="breadnav-box">
                <li><a href="@Url.Content("~/" + ViewBag.culture)"><i class="demo-icon icon-home"></i></a></li>
                <li><a href="@Html.Raw(ViewBag.culturePath + "About/Overview")"><span>@_localizer.GetLocalizedHtmlString("About").ToString()</span></a></li>
                <li><span>@_localizer.GetLocalizedHtmlString("LocationsandBusinessContact").ToString()</span></li>
            </ul>
            <div class="breadnav-bg"></div>
        </div>
    </div>
    <div class="about-box w-1500">
        @Html.Partial("Nav")
        <div class="about-info-block fade-left">
            <div class="about-top-line"></div>
            <h2 class="about-title">@_localizer.GetLocalizedHtmlString("LocationsandBusinessContact").ToString()</h2>
            <!-- 編輯器開始 -->
            <div class="edit-box about-info-box editor">

                @Html.Raw(category.DetailsData?.editor ?? "")


                @if (articleCategories != null && articleCategories.Count > 0)
                {
                    @foreach (ArticleCategory item in articleCategories)
                    {
                        LanguageResource LangData = item.LangData.FirstOrDefault();


                        var thisLocation = locations.Where(m => m.category_id == item.id).OrderBy(m => m.sort).ToList();

                        if (thisLocation != null && thisLocation.Count > 0)
                        {
                            @foreach (ArticleLocation subItemtitle in thisLocation)
                            {
                                LanguageResource subLangDatatitle = subItemtitle.LangData.FirstOrDefault();
                                if (subItemtitle.LangData.Count != 0)
                                {
                                    maintitle = 1;
                                }
                            }

                            @if (maintitle == 1)
                            {
                                <div class="location-list-block">

                                    <h2 class="location-company-title">@LangData?.title</h2>

                                    <div class="location-list-box">

                                        @foreach (ArticleLocation subItem in thisLocation)
                                        {
                                            LanguageResource subLangData = subItem.LangData.FirstOrDefault();

                                            if (subItem.LangData.Count != 0)
                                            {
                                                <div class="location-list">
                                                    <h3 class="location-list-title">@subLangData?.title</h3>

                                                    @Html.Raw(subLangData?.DetailsData?.editor ?? "")

                                                    <ul class="contact-company-info">
                                                        @if (!string.IsNullOrEmpty(subLangData?.DetailsData?.tel))
                                                        {
                                                            <li>
                                                                <span class="company-list-icon">
                                                                    <img src="/styles/static/icon/company-list.svg" alt="">
                                                                </span>
                                                                <a href="tel:@subLangData?.DetailsData?.tel" class="company-list-link">@_localizer.GetLocalizedHtmlString("Tel").ToString(): @subLangData?.DetailsData?.tel</a>
                                                            </li>
                                                        }

                                                        @if (!string.IsNullOrEmpty(subLangData?.DetailsData?.fax))
                                                        {
                                                            <li>
                                                                <span class="company-list-icon">
                                                                    <img src="/styles/static/icon/company-list.svg" alt="">
                                                                </span>
                                                                <div class="company-list-link">@_localizer.GetLocalizedHtmlString("Fax").ToString(): @subLangData?.DetailsData?.fax</div>
                                                            </li>
                                                        }
                                                        @if (!string.IsNullOrEmpty(subLangData?.DetailsData?.email))
                                                        {
                                                            <li>
                                                                <span class="company-list-icon">
                                                                    <img src="/styles/static/icon/company-list.svg" alt="">
                                                                </span>
                                                                <a href="mailto:@subLangData?.DetailsData?.email" class="company-list-link">Email: @subLangData?.DetailsData?.email</a>
                                                            </li>
                                                        }
                                                    </ul>
                                                    @if (!string.IsNullOrEmpty(subLangData?.DetailsData?.map))
                                                    {
                                                        <a href="@subLangData?.DetailsData?.map" class="contact-map-link" target="_blank">
                                                            <i class="demo-icon icon-location"></i>
                                                            <span>Map</span>
                                                        </a>
                                                    }
                                                </div>
                                            }


                                        }
                                    </div>
                                </div>
                            }

                        }


                    }
                }




            </div>
            <!-- 編輯器結束 -->
        </div>
    </div>
</main>