﻿@using WebApp.Services;
@inject LocalService _localizer
@{
    Dictionary<string, List<ArticleColumn>> data = ViewBag.data;
    var aaa = ViewBag.nowLang;
}
<main>
    <h1 class="title-h1">About SPIL</h1>
    <div class="page-banner-box">
        <div class="page-banner">
            <h2 class="page-banner-title">@_localizer.GetLocalizedHtmlString("About").ToString()</h2>
            <img class="img-object" src="/styles/images/finance/page-banner1.webp" alt>
        </div>
        <div class="breadnav-block fade">
            <ul class="breadnav-box">
                <li><a href="@Url.Content("~/" + ViewBag.culture)"><i class="demo-icon icon-home"></i></a></li>
                <li><a href="@Html.Raw(ViewBag.culturePath + "About/Overview")"><span>@_localizer.GetLocalizedHtmlString("About").ToString()</span></a></li>
                <li><a href="@Html.Raw(ViewBag.culturePath + "About/Overview")"><span>@_localizer.GetLocalizedHtmlString("CompanyProfile").ToString()</span></a></li>
                <li><span>@_localizer.GetLocalizedHtmlString("Milestones").ToString()</span></li>
            </ul>
            <div class="breadnav-bg"></div>
        </div>
    </div>
    <div class="about-box w-1500">

        @Html.Partial("Nav")



        <div class="about-info-block fade-left">
            <div class="about-top-line"></div>
            <h2 class="about-title">@_localizer.GetLocalizedHtmlString("Milestones").ToString()</h2>
            <!-- 編輯器開始 -->
            <div class="edit-box about-info-box editor">
                <div class="milestones-box">

                    @foreach (KeyValuePair<string, List<ArticleColumn>> year in data)
                    {
                        int yearcount = 0;
                        @foreach (ArticleColumn item in year.Value)
                        {
                            LanguageResource LangData = item.LangData.FirstOrDefault();
                            if (LangData != null && ViewBag.nowLang == LangData.language_id)
                            {
                                yearcount = 1;
                            }
                        }

                        if (yearcount != 0)
                        {
                            <div class="milestones-list">
                                <h4 class="milestones-year">@year.Key</h4>
                                <div class="milestones-rot-block">
                                    <span class="milestones-rot-box">
                                        <span class="milestones-rot"></span>
                                    </span>
                                </div>
                                <div class="milestones-info-box">

                                    @foreach (ArticleColumn item in year.Value)
                                    {
                                        LanguageResource LangData = item.LangData.FirstOrDefault();
                                        if (LangData != null)
                                        {
                                            <div class="milestones-info">
                                                <h5 class="milestones-month">@DateTime.Parse( year.Key+"-"+ item.month.ToString().PadLeft(2 ,'0') + "-01" ).ToString("MMM")</h5>
                                                <div class="milestones-line-box">
                                                    <div class="milestones-line"></div>
                                                </div>
                                                <p class="milestones-p">@LangData?.title</p>
                                            </div>
                                        }


                                    }




                                </div>
                            </div>
                        }

                    }


                </div>
            </div>
            <!-- 編輯器結束 -->
        </div>
    </div>
</main>