﻿@using WebApp.Services;
@inject LocalService _localizer
@{
    List<ArticleCategory> certificationCategory = ViewBag.certificationCategory;
}

<div class="about-class-block fade">
    <div class="rwd-about-class-title">@_localizer.GetLocalizedHtmlString("CompanyProfile").ToString()</div>
    <div class="about-class-box">
        <div class="about-class @ViewBag.TopAvtice["CompanyProfile"]">
            <div class="about-class-title about-more-class">@_localizer.GetLocalizedHtmlString("CompanyProfile").ToString()</div>
            <ul class="about-class-more">
                <li class="@ViewBag.SubAvtice["Overview"]"><a href="@Html.Raw(ViewBag.culturePath + "About/Overview")">@_localizer.GetLocalizedHtmlString("SPILOverviewFactSheet").ToString()</a></li>
                <li class="@ViewBag.SubAvtice["Milestones"]"><a href="@Html.Raw(ViewBag.culturePath + "About/Milestones")">@_localizer.GetLocalizedHtmlString("Milestones").ToString()</a></li>
                <li class="@ViewBag.SubAvtice["Organization"]"><a href="@Html.Raw(ViewBag.culturePath + "About/Organization")">@_localizer.GetLocalizedHtmlString("Organization").ToString()</a></li>
            </ul>
        </div>
        <div class="about-class @ViewBag.SubAvtice["Vision"]">
            <a href="@Html.Raw(ViewBag.culturePath + "About/Vision")" class="about-class-title">@_localizer.GetLocalizedHtmlString("VisionCoreValue").ToString()</a>
        </div>
        <div class="about-class @ViewBag.SubAvtice["Locations"]">
            <a href="@Html.Raw(ViewBag.culturePath + "About/Locations")" class="about-class-title">@_localizer.GetLocalizedHtmlString("LocationsandBusinessContac").ToString()</a>
        </div>
        <div class="about-class @ViewBag.SubAvtice["Stakeholder"]">
            <a href="@Html.Raw(ViewBag.culturePath + "About/Stakeholder")" class="about-class-title">@_localizer.GetLocalizedHtmlString("StakeholderEngagement").ToString()</a>
        </div>
        <div class="about-class @ViewBag.SubAvtice["Security"]">
            <a href="@Html.Raw(ViewBag.culturePath + "About/Security")" class="about-class-title">@_localizer.GetLocalizedHtmlString("BusinessContinuityandSecurityPolicy").ToString()</a>
        </div>
        <div class="about-class @ViewBag.SubAvtice["Video"]">
            <a href="@Html.Raw(ViewBag.culturePath + "About/Video")" class="about-class-title">@_localizer.GetLocalizedHtmlString("Video").ToString()</a>
        </div>

        <div class="about-class @ViewBag.TopAvtice["Certification"]">
            <div class="about-class-title about-more-class">@_localizer.GetLocalizedHtmlString("Certification").ToString()</div>
            <ul class="about-class-more">

                <li class="@ViewBag.SubAvtice["CertificationOverview"]"><a href="@Html.Raw(ViewBag.culturePath + "About/CertificationOverview")">@_localizer.GetLocalizedHtmlString("CertificationOverview").ToString()</a></li>

                @foreach (ArticleCategory item in certificationCategory)
                {
                    LanguageResource LangData = item.LangData.FirstOrDefault();
                    string active = (ViewBag.CategoryId == item.id) ? "active" : "";
                    if (LangData != null)
                    {
                        <li class="@active"><a href="@Html.Raw(ViewBag.culturePath + "About/Certification/" + item.id)">@LangData?.title</a></li>
                    }

                }


            </ul>
        </div>

    </div>
</div>