﻿@using WebApp.Services;
@inject LocalService _localizer
@{
    LanguageResource LangData = ViewBag.LangData;
}

<main>
    <h1 class="title-h1">Privacy Policy</h1>
    <div class="page-banner-box">
        <div class="page-banner">
            <h2 class="page-banner-title">@_localizer.GetLocalizedHtmlString("PrivacyPolicy").ToString()</h2>
            <img class="img-object" src="/styles/images/privacy/banner-img.webp" alt>
        </div>
    </div>
    <div class="bg-F5F5F5">
        <div class="privacy-box">
           	@Html.Raw( LangData?.DetailsData?.editor ?? "" )
        </div>
    </div>
</main>