﻿@using Web.Repositories.Web
@using WebApp.Services;
@inject LocalService _localizer
@{
    //LanguageResource LangData = ViewBag.LangData;

    List<ProductCategory> ICPackagingCategory = ViewBag.ICPackagingCategory;

    List<ProductCategory> ServiceCategory = ViewBag.ServiceCategory;

    List<ProductCategory> TechnologyCategory = ViewBag.TechnologyCategory;

    List<ArticleCategory> newsCategories = ViewBag.newsCategories;

    List<ProductSet> productsAll = ViewBag.Product;

    string judgelang = ViewBag.culturePath;

    List<ArticlePage> CS = await (new ArticlePageRepository()).FindArticlePages(ViewBag.nowLang, "CS");
}

<main>
    <h1 class="title-h1">Privacy Policy</h1>
    <div class="page-banner-box">
        <div class="page-banner">
            <h2 class="page-banner-title">@_localizer.GetLocalizedHtmlString("sitemapsmall").ToString()</h2>
            <img class="img-object" src="/styles/images/privacy/banner-img.webp" alt>
        </div>
    </div>
    <div class="bg-F5F5F5">
        <div class="privacy-box">
            <div class="sitemap-box">
                <div class="sitemap-list fade-up">
                    <h2 class="sitemap-title">@_localizer.GetLocalizedHtmlString("About").ToString()</h2>
                    <ul class="sitemap-info-box">
                        <li>
                            <a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "About/Overview")">@_localizer.GetLocalizedHtmlString("CompanyProfile").ToString()</a>
                            <ul>
                                <li><a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "About/Overview")">@_localizer.GetLocalizedHtmlString("SPILOverviewFactSheet").ToString()</a></li>
                                <li><a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "About/Milestones")">@_localizer.GetLocalizedHtmlString("Milestones").ToString()</a></li>
                                <li><a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "About/Organization")">@_localizer.GetLocalizedHtmlString("Organization").ToString()</a></li>
                            </ul>


                        </li>
                        <li><a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "About/Vision")">@_localizer.GetLocalizedHtmlString("VisionCoreValue").ToString()</a></li>
                        <li><a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "About/Locations")">@_localizer.GetLocalizedHtmlString("LocationsandBusinessContac").ToString()</a></li>
                        <li><a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "About/Stakeholder")">@_localizer.GetLocalizedHtmlString("StakeholderEngagement").ToString()</a></li>
                        <li><a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "About/Security")">@_localizer.GetLocalizedHtmlString("BusinessContinuityandSecurityPolicy").ToString()</a></li>
                        <li><a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "About/Video")">@_localizer.GetLocalizedHtmlString("Video").ToString()</a></li>
                        <li>
                            @*<a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "About/Certification/" + ViewBag.certificationCategory[0].id)">@_localizer.GetLocalizedHtmlString("Certification").ToString()</a>*@
                            <a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "About/CertificationOverview")">@_localizer.GetLocalizedHtmlString("Certification").ToString()</a>

                            @if (ViewBag.certificationCategory != null)
                            {
                                <ul>

                                    <li class="sitemap-class"><a href="@Html.Raw(ViewBag.culturePath + "About/CertificationOverview")">@_localizer.GetLocalizedHtmlString("CertificationOverview").ToString()</a></li>

                                    @foreach (ArticleCategory item in ViewBag.certificationCategory)
                                    {
                                        LanguageResource LangData = item.LangData.FirstOrDefault();
                                        string active = (ViewBag.CategoryId == item.id) ? "active" : "";

                                        <li class="sitemap-class"><a href="@Html.Raw(ViewBag.culturePath + "About/Certification/" + item.id)">@LangData?.title</a></li>
                                    }
                                </ul>
                            }

                        </li>
                    </ul>
                </div>
                @if (ICPackagingCategory != null)
                {
                    <div class="sitemap-list fade-up">
                        <h2 class="sitemap-title">@_localizer.GetLocalizedHtmlString("IC_Packaging").ToString()</h2>
                        <ul class="sitemap-info-box">


                            @foreach (ProductCategory item in ICPackagingCategory.Where(m => m.parent_id == "ICPackaging").ToList())
                            {
                                LanguageResource LangData = item.LangData.FirstOrDefault();
                                List<ProductCategory> SubProductCategory = ICPackagingCategory.Where(m => m.parent_id == item.id).ToList();

                                string url = ViewBag.culturePath + "IC_PackagingData/" + item.id;

                                if (SubProductCategory != null && SubProductCategory.Count > 0)
                                {
                                    url = ViewBag.culturePath + "IC_PackagingSecond/" + item.id;
                                }

                                if (LangData != null)
                                {
                                    <li>
                                        <a class="sitemap-class" href="@url">@LangData?.title</a>
                                        @if (SubProductCategory != null)
                                        {
                                            <ul>

                                                @foreach (ProductCategory subItem in SubProductCategory)
                                                {
                                                    LanguageResource subLangData = subItem.LangData.FirstOrDefault();





                                                    <li>
                                                        <a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "IC_PackagingThird/" + subItem.id)">@subLangData?.title</a>

                                                        @if (productsAll != null && productsAll.Count > 0)
                                                        {
                                                            <ul>
                                                                @foreach (ProductSet product in productsAll.Where(m => m.category_id == subItem.id).ToList())
                                                                {
                                                                    LanguageResource productLangData = product.LangData.FirstOrDefault();

                                                                    <li><a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "IC_PackagingData/" + product.id)">@productLangData?.title</a></li>
                                                                }
                                                            </ul>
                                                        }

                                                    </li>
                                                }
                                            </ul>
                                        }

                                    </li>
                                }

                            }



                        </ul>
                    </div>
                }


                @if (ServiceCategory != null)
                {
                    <div class="sitemap-list fade-up">
                        <h2 class="sitemap-title">@_localizer.GetLocalizedHtmlString("Services").ToString()</h2>
                        <ul class="sitemap-info-box">

                            @foreach (ProductCategory item in ServiceCategory.Where(m => m.parent_id == "Service").ToList())
                            {
                                LanguageResource LangData = item.LangData.FirstOrDefault();
                                List<ProductCategory> SubProductCategory = ServiceCategory.Where(m => m.parent_id == item.id).ToList();

                                string url = ViewBag.culturePath + "ServiceData/" + item.id;

                                if (SubProductCategory != null && SubProductCategory.Count > 0)
                                {
                                    url = ViewBag.culturePath + "ServiceSecond/" + item.id;
                                }

                                if (LangData != null)
                                {
                                    <li>
                                        <a class="sitemap-class" href="@url">@LangData?.title</a>
                                        @if (SubProductCategory != null)
                                        {
                                            <ul>

                                                @foreach (ProductCategory subItem in SubProductCategory)
                                                {
                                                    LanguageResource subLangData = subItem.LangData.FirstOrDefault();


                                                    var ServiceProductsAll = ServiceCategory.Where(m => m.parent_id == subItem.id).ToList();


                                                    <li>
                                                        <a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "ServiceThird/" + subItem.id)">@subLangData?.title</a>


                                                        @if (ServiceProductsAll != null && ServiceProductsAll.Count > 0)
                                                        {
                                                            <ul>
                                                                @foreach (ProductCategory product in ServiceProductsAll)
                                                                {
                                                                    LanguageResource productLangData = product.LangData.FirstOrDefault();

                                                                    <li><a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "ServiceData/" + product.id)">@productLangData?.title</a></li>
                                                                }
                                                            </ul>
                                                        }


                                                    </li>
                                                }
                                            </ul>
                                        }
                                    </li>
                                }

                            }


                        </ul>
                    </div>



                }


                @if (TechnologyCategory != null)
                {
                    <div class="sitemap-list fade-up">
                        <h2 class="sitemap-title">@_localizer.GetLocalizedHtmlString("Technology").ToString()</h2>
                        <ul class="sitemap-info-box">
                            @foreach (ProductCategory item in TechnologyCategory.Where(m => m.parent_id == "Technology").ToList())
                            {
                                LanguageResource LangData = item.LangData.FirstOrDefault();
                                List<ProductCategory> SubProductCategory = TechnologyCategory.Where(m => m.parent_id == item.id).ToList();

                                string url = ViewBag.culturePath + "TechnologyData/" + item.id;

                                if (SubProductCategory != null && SubProductCategory.Count > 0)
                                {
                                    url = ViewBag.culturePath + "TechnologyList/" + item.id;
                                }

                                if (LangData != null)
                                {
                                    <li>
                                        <a class="sitemap-class" href="@url">@LangData?.title</a>
                                        @if (SubProductCategory != null)
                                        {
                                            <ul>

                                                @foreach (ProductCategory subItem in SubProductCategory)
                                                {
                                                    LanguageResource subLangData = subItem.LangData.FirstOrDefault();




                                                    <li><a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "TechnologyData/" + subItem.id)">@subLangData?.title</a></li>
                                                }
                                            </ul>
                                        }
                                    </li>
                                }


                            }

                        </ul>
                    </div>
                }

                @if (newsCategories != null)
                {
                    <div class="sitemap-list fade-up">
                        <h2 class="sitemap-title">@_localizer.GetLocalizedHtmlString("News").ToString()</h2>
                        <ul class="sitemap-info-box">
                            @foreach (ArticleCategory item in newsCategories)
                            {

                                LanguageResource LangData = item.LangData.FirstOrDefault();
                                if (LangData != null)
                                {
                                    <li>
                                        <a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "News/" + (!string.IsNullOrEmpty(item.path) ? item.path :　item.id))">@LangData?.title</a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                }




                <div class="sitemap-list fade-up">
                    <h2 class="sitemap-title">@_localizer.GetLocalizedHtmlString("Financials").ToString()</h2>
                    <ul class="sitemap-info-box">
                        <li>
                            @*<a class="sitemap-class" href="technology-list5">@_localizer.GetLocalizedHtmlString("FinancialReport").ToString()</a>*@
                            <a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "Finance")">@_localizer.GetLocalizedHtmlString("FinancialReport").ToString()</a>
                            <ul>
                                <li><a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "Finance")">@_localizer.GetLocalizedHtmlString("MonthlySales").ToString()</a></li>
                                <li><a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "Quarterly")">@_localizer.GetLocalizedHtmlString("QuarterlyResults").ToString()</a></li>
                                <li><a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "Filings")">@_localizer.GetLocalizedHtmlString("USSECFilings").ToString()</a></li>
                                <li><a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "FinancialReports")">@_localizer.GetLocalizedHtmlString("FinancialReport").ToString()</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "Annual")">@_localizer.GetLocalizedHtmlString("AnnualReport").ToString()</a>
                        </li>

                    </ul>
                </div>
                <div class="sitemap-list fade-up">
                    <h2 class="sitemap-title">@_localizer.GetLocalizedHtmlString("Career").ToString()</h2>
                    <ul class="sitemap-info-box">
                        <li>
                            <a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "Careers/Awards")">@_localizer.GetLocalizedHtmlString("Awards").ToString()</a>
                        </li>
                        <li>
                            @*<p class="sitemap-class">@_localizer.GetLocalizedHtmlString("Recruitment").ToString()</p>*@
                            <a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "Careers/Recruitment")">@_localizer.GetLocalizedHtmlString("Recruitment").ToString()</a>
                            <ul>
                                <li><a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "Careers/Recruitment")">@_localizer.GetLocalizedHtmlString("Recruitment").ToString()</a></li>
                                <li><a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "Careers/JobApply")">@_localizer.GetLocalizedHtmlString("JobApply").ToString()</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "Careers/TrainingDevelopment")">@_localizer.GetLocalizedHtmlString("TrainingDevelopment").ToString()</a>
                        </li>
                        <li>
                            <a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "Careers/IncentivesBenefits")">@_localizer.GetLocalizedHtmlString("IncentivesBenefits").ToString()</a>
                        </li>
                        <li>
                            <a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "Careers/HRSystem")">@_localizer.GetLocalizedHtmlString("HRSystem").ToString()</a>
                        </li>
                        @if (judgelang.Contains("zh-TW"))
                        {
                            <li>
                                @*<p class="sitemap-class">@_localizer.GetLocalizedHtmlString("AlternativeService").ToString()</p>*@
                                <a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "Careers/Careers1")">@_localizer.GetLocalizedHtmlString("AlternativeService").ToString()</a>
                                <ul>
                                    <li><a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "Careers/Careers1")">@_localizer.GetLocalizedHtmlString("DevelopResults").ToString()</a></li>
                                    <li><a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "Careers/Careers2")">@_localizer.GetLocalizedHtmlString("DevelopLayout").ToString()</a></li>
                                    <li><a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "Careers/Experience")">@_localizer.GetLocalizedHtmlString("RdExperience").ToString()</a></li>
                                    <li><a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "Careers/Careers3")">@_localizer.GetLocalizedHtmlString("DevelopKeepLayout").ToString()</a></li>
                                </ul>
                            </li>
                        }

                        <li>
                            <a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "Careers/HealthManagement")">@_localizer.GetLocalizedHtmlString("HealthManagement").ToString()</a>
                        </li>
                    </ul>
                </div>
                <div class="sitemap-list fade-up">
                    <h2 class="sitemap-title">@_localizer.GetLocalizedHtmlString("CorporateSustainability").ToString()</h2>
                    <ul class="sitemap-info-box">
                        <li>
                            @*<a class="sitemap-class" href="sustainability-ceo">@_localizer.GetLocalizedHtmlString("AMessageFromTheCEO").ToString()</a>*@
                            <a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "Sustainability/AMessageFromTheCEO")">@_localizer.GetLocalizedHtmlString("AMessageFromTheCEO").ToString()</a>
                        </li>
                        <li>
                            @*<p class="sitemap-class">@_localizer.GetLocalizedHtmlString("CorporateSustainability").ToString()</p>*@
                            @if(CS[0].LangData.FirstOrDefault() != null)
                            {
                                <a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "Sustainability/" + CS[0].id)">@_localizer.GetLocalizedHtmlString("CorporateSustainability").ToString()</a>
                            }
                            <ul>
                                @foreach (ArticlePage item in CS)
                                {
                                    LanguageResource LangData = item.LangData.FirstOrDefault();
                                    if (LangData != null)
                                    {
                                        <li><a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "Sustainability/" + item.id)">@LangData.title</a></li>
                                    }

                                }
@*                                <li><a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "Sustainability/SustainableManagement")">@_localizer.GetLocalizedHtmlString("SustainableManagement").ToString()</a></li>
                                <li><a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "Sustainability/InnovationsandServices")">@_localizer.GetLocalizedHtmlString("InnovationsandServices").ToString()</a></li>
                                <li><a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "Sustainability/ResponsibleSupplyChain")">@_localizer.GetLocalizedHtmlString("ResponsibleSupplyChain").ToString()</a></li>
                                <li><a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "Sustainability/Environmentfriendly")">@_localizer.GetLocalizedHtmlString("Environmentfriendly").ToString()</a></li>
                                <li><a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "Sustainability/SocialProsperity")">@_localizer.GetLocalizedHtmlString("SocialProsperity").ToString()</a></li>
                                <li><a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "Sustainability/HappyWorkplace")">@_localizer.GetLocalizedHtmlString("HappyWorkplace").ToString()</a></li>*@
                            </ul>
                        </li>
                        <li>
                            @*<p class="sitemap-class">@_localizer.GetLocalizedHtmlString("StakeholderEngagement").ToString()</p>*@
                            <a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "Sustainability/StakeholderCommunication")">@_localizer.GetLocalizedHtmlString("StakeholderEngagement").ToString()</a>
                            <ul>
                                <li><a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "Sustainability/StakeholderCommunication")">@_localizer.GetLocalizedHtmlString("StakeholderCommunication").ToString()</a></li>
                                <li><a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "Sustainability/CSRQuestionnaire")">@_localizer.GetLocalizedHtmlString("CSRQuestionnaire").ToString()</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "Sustainability/Download")">@_localizer.GetLocalizedHtmlString("Download").ToString()</a>
                        </li>
                        <li>
                            @*<a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "Sustainability/Contact")">@_localizer.GetLocalizedHtmlString("ContactUs").ToString()</a>*@
                            <a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "Contact")">@_localizer.GetLocalizedHtmlString("ContactUs").ToString()</a>
                        </li>
                        <li>
                            <a class="sitemap-class" href="@Html.Raw(ViewBag.culturePath + "News/All")">@_localizer.GetLocalizedHtmlString("News").ToString()</a>
                        </li>
                    </ul>
                </div>
                <div class="sitemap-link-box">
                    <a class="sitemap-link fade-up" href="@Html.Raw(ViewBag.culturePath + "Contact")" target="_blank">@_localizer.GetLocalizedHtmlString("Contact").ToString()</a>
                    <a class="sitemap-link fade-up" href="https://mservice.spilglobal.com/vpn/index.html" target="_blank">@_localizer.GetLocalizedHtmlString("EmployeeService").ToString()</a>
                    <a class="sitemap-link fade-up" href="http://cws.spilglobal.com/Direct/" target="_blank">@_localizer.GetLocalizedHtmlString("CustomerWeb").ToString()</a>
                    <a class="sitemap-link fade-up" href="https://somp.spilglobal.com/" target="_blank">@_localizer.GetLocalizedHtmlString("SupplierWeb").ToString()</a>
                    @*<a class="sitemap-link fade-up" href="https://www.spil.com.tw/Questionnaire/Login.aspx" target="_blank">@_localizer.GetLocalizedHtmlString("HealthDeclaration").ToString()</a>*@
                </div>

            </div>
        </div>
    </div>
</main>
