﻿@using WebApp.Services;
@inject LocalService _localizer
@{
    LanguageResource LangData = ViewBag.LangData;
}


<main>
    <h1 class="title-h1">Privacy Policy</h1>
    <div class="page-banner-box">
        <div class="page-banner">
            <h2 class="page-banner-title">@_localizer.GetLocalizedHtmlString("termsmall").ToString()</h2>
            <img class="img-object" src="/styles/images/privacy/banner-img.webp" alt>
        </div>
    </div>
    <div class="bg-F5F5F5">
        <div class="privacy-box">
            <div class="terms-class-box">
                <a href="@Html.Raw(ViewBag.culturePath + "Terms/Legal")" class="terms-class @Html.Raw( (LangData.ArticlePageId == "Legal") ? "active" : "")">@_localizer.GetLocalizedHtmlString("Legal").ToString()</a>
                <a href="@Html.Raw(ViewBag.culturePath + "Terms/Logo")" class="terms-class @Html.Raw( (LangData.ArticlePageId == "Logo") ? "active" : "")">@_localizer.GetLocalizedHtmlString("Logo").ToString()</a>
            </div>
            <h3 class="terms-title Public">@LangData?.title</h3>
             	@Html.Raw( LangData?.DetailsData?.editor ?? "" )
        </div>
    </div>
</main>
