﻿@model IEnumerable<WebApp.Models.ArticleNews>
@using WebApp.Services;
@inject LocalService _localizer

<main>
    <h1 class="title-h1">About SPIL</h1>
    <div class="page-banner-box">
        <div class="page-banner">
            <h2 class="page-banner-title">@_localizer.GetLocalizedHtmlString("About").ToString()</h2>
            <img class="img-object" src="/styles/images/finance/page-banner1.webp" alt>
        </div>
        <div class="breadnav-block fade">
            <ul class="breadnav-box">
                <li><a href="@Url.Content("~/" + ViewBag.culture)"><i class="demo-icon icon-home"></i></a></li>
                <li><a href="@Html.Raw(ViewBag.culturePath + "About/Overview")"><span>@_localizer.GetLocalizedHtmlString("About").ToString()</span></a></li>
                <li><span>@_localizer.GetLocalizedHtmlString("Video").ToString()</span></li>
            </ul>
            <div class="breadnav-bg"></div>
        </div>
    </div>
    <div class="about-box w-1500">
        @Html.Partial("Nav")
        <div class="about-info-block fade-left">
            <div class="about-top-line"></div>
            <h2 class="about-title">@_localizer.GetLocalizedHtmlString("Video").ToString()</h2>
            @if (Model != null)
            {
                <div class="about-video-block about-page">
                    <div class="about-video-box">


                        @foreach (ArticleNews item in Model)
                        {
                            LanguageResource LangData = item.LangData.FirstOrDefault();


                            string MonthDay = "";
                            string Year = "";
                            string langid = LangData.language_id;

                            if (!string.IsNullOrEmpty(item?.start_at.ToString()))
                            {
                                if (langid == "zh-TW")
                                {
                                    MonthDay = DateTime.Parse(item?.start_at.ToString()).ToString("MMM dd日");
                                    Year = DateTime.Parse(item?.start_at.ToString()).ToString("yyyy");
                                }
                                else if (langid == "zh-CN")
                                {
                                    MonthDay = DateTime.Parse(item?.start_at.ToString()).ToString("MMM dd日");
                                    Year = DateTime.Parse(item?.start_at.ToString()).ToString("yyyy");
                                }
                                else
                                {
                                    MonthDay = DateTime.Parse(item?.start_at.ToString()).ToString("MMM dd");
                                    Year = DateTime.Parse(item?.start_at.ToString()).ToString("yyyy");
                                }
                            }
                            else
                            {
                                if (langid == "zh-TW")
                                {
                                    MonthDay = DateTime.Parse(LangData?.created_at.ToString()).ToString("MMM dd日");
                                    Year = DateTime.Parse(LangData?.created_at.ToString()).ToString("yyyy");
                                }
                                else if (langid == "zh-CN")
                                {
                                    MonthDay = DateTime.Parse(LangData?.created_at.ToString()).ToString("MMM dd日");
                                    Year = DateTime.Parse(LangData?.created_at.ToString()).ToString("yyyy");
                                }
                                else
                                {
                                    MonthDay = DateTime.Parse(LangData?.created_at.ToString()).ToString("MMM dd");
                                    Year = DateTime.Parse(LangData?.created_at.ToString()).ToString("yyyy");
                                }
                            }

                            <a href="@Html.Raw(LangData?.DetailsData?.youtube ?? "#")" class="about-video" target="_blank">
                                <span class="video-img-box">
                                    <span class="about-video-img">
                                        <img class="img-object" src="@Html.Raw((new Helper()).FormatPic(LangData , "pic" , "image"))" alt="@Html.Raw((new Helper()).FormatPic(LangData , "pic" , "title"))">
                                    </span>
                                    <span class="about-video-icon-box">
                                        <span class="about-video-icon">
                                            <img src="/styles/static/icon/video-arrow.svg" alt>
                                        </span>
                                    </span>
                                    <span class="about-video-mask"></span>
                                </span>
                                <span class="video-title-box">
                                    <span class="video-title">@LangData?.title</span>
                                    <span class="video-date">@MonthDay<span class="video-date-line"></span>@Year</span>
                                </span>
                            </a>

                        }


                    </div>

                    @{
                        /*頁碼*/
                    }
                    @Html.Partial("Pagination")


                </div>

            }
        </div>
    </div>
</main>