﻿@using Newtonsoft.Json.Linq;
@using WebApp.Models;
@{
    string required = "";
}

<div class="form-group row">
    <label class="col-sm-2 col-form-label" for="@Html.Raw(ViewBag.colId + "List[]")">
        @ViewBag.col.title
        @if (!string.IsNullOrEmpty(ViewBag.colJson["required"].ToString()))
        {
            required = "required=\"required\"";

            <span class="text-danger ml-1">*</span>
        }
    </label>
    <div class="col-sm-10">

        @if (ViewBag.categories != null)
        {
            int i = 1;
            foreach (KeyValuePair<int, object> data in ViewBag.categories)
            {
                //var test = data.Value;

                var item = (WebApp.Models.Categories)data.Value;


                string showSubject = item.title;

                if (ViewBag.colJson["show"].ToString() == "pic")
                {
                    showSubject = "<img src=\"" + Url.Content(item.PicData.pic[0].path) + "\" height=\"30\">";
                }


                <div class="custom-control custom-checkbox custom-control-inline">
                    <input class="custom-control-input" type="checkbox" name="@Html.Raw(ViewBag.colName + "[]")" id="@Html.Raw(ViewBag.colId + i)" 
                    value="@item.id"
                    @Html.Raw( (ViewBag.Data != null && ViewBag.Data[ViewBag.colId].ToString().IndexOf(item.id) != -1 ? "checked" : "" ))
                    />
                    <label class="custom-control-label" for="@Html.Raw(ViewBag.colId + i)">@Html.Raw(showSubject)</label>
                </div>

                i++;
            }
        }

    </div>
    @if (ViewBag.colJson["notes"] != null && !string.IsNullOrEmpty(ViewBag.colJson["notes"].ToString()))
    {
        <small class="form-text text-muted offset-md-2 col-sm-9">@ViewBag.colJson["notes"].ToString() </small>
    }
</div>
