﻿@{
    string required = "";
    var judgestate = ViewBag.Data;
    var currentcolumn = ViewBag.colName;
}
 <div class="form-group row ">
    <label class="col-sm-2 col-form-label" for="@ViewBag.colId">
        @ViewBag.col.title
        @if (!string.IsNullOrEmpty(ViewBag.colJson["required"].ToString()))
        {
            required = "required=\"required\"";

            <span class="text-danger ml-1">*</span>
        }
    </label>
    <div class="col-sm-3">
        <div class="input-group">
            <div class="input-group-prepend" onclick="$(this).parent().find('input').click();">
                <span class="input-group-text"><i class="icon-calendar"></i></span>
            </div>
            @if (judgestate == null && currentcolumn == "start_at")
            {
                            <input type="text" class="form-control datepicker-birthdateTime"
                    @required
                   name="@ViewBag.colName" 
                   id="@ViewBag.colId"
                   value= @DateTime.Now
                   placeholder=""
                   autocomplete="off"
                    />
            }
            else
            {
            <input type="text" class="form-control datepicker-birthdateTime"
                    @required
                   name="@ViewBag.colName" 
                   id="@ViewBag.colId"
                   value="@Html.Raw(ViewBag.Data != null ? ViewBag.Data[ViewBag.colId] : "")"
                   placeholder=""
                   autocomplete="off"
                    />                
            }

        </div>
    </div>
    @if(ViewBag.colJson["notes"] != null && !string.IsNullOrEmpty(ViewBag.colJson["notes"].ToString()))
    {
         <small class="form-text text-muted offset-md-2 col-sm-9">@ViewBag.colJson["notes"].ToString() </small>
    }
    </div>