﻿@{
    string required = "";
}
<div class="form-group row">
    <label class="col-sm-2 col-form-label" for="subject">
        @ViewBag.col.title
        @if (!string.IsNullOrEmpty(ViewBag.colJson["required"].ToString()))
        {
            required = "required=\"required\"";

            <span class="text-danger ml-1">*</span>
        }
    </label>
    <div class="col-sm-10">
        <textarea class="editor" name="@ViewBag.colName" id="@ViewBag.colId"  @required >@Html.Raw(ViewBag.Data != null ? ViewBag.Data[ViewBag.colId] : "")</textarea>
    </div>
    @if(ViewBag.colJson["notes"] != null && !string.IsNullOrEmpty(ViewBag.colJson["notes"].ToString()))
    {
         <small class="form-text text-muted offset-md-2 col-sm-9">@ViewBag.colJson["notes"].ToString() </small>
    }
   

</div>