﻿@using WebApp.Services;
@{
    string required = "";
    CipherService cipherService = new CipherService();

    string val = ViewBag.Data != null ? ViewBag.Data[ViewBag.colId].ToString() : "";
    if(ViewBag.colJson["encode"] == "Y")
    {
        val = ViewBag.Data != null ? cipherService.Decrypt(ViewBag.Data[ViewBag.colId].ToString()) : "";
    }
     string readonlyed = "";
    if(ViewBag.colJson["readonly"] == "readonly")
    {
        readonlyed = "readonly";
    }

}
<div class="form-group row">
    <label class="col-sm-2 col-form-label" for="@ViewBag.colId">
        @ViewBag.col.title 
        @if (!string.IsNullOrEmpty(ViewBag.colJson["required"].ToString()))
        {
            required = "required=\"required\"";

            <span class="text-danger ml-1">*</span>
        }
    </label>
    <div class="col-sm-4">
        <input class="form-control" type="email" name="@ViewBag.colName" id="@ViewBag.colId" 

        @required
        @readonlyed

        value="@Html.Raw(val)"/>
    </div>
   @if(ViewBag.colJson["notes"] != null && !string.IsNullOrEmpty(ViewBag.colJson["notes"].ToString()))
    {
         <small class="form-text text-muted offset-md-2 col-sm-9">@ViewBag.colJson["notes"].ToString() </small>
    }
</div>