﻿@{
    string required = "";
}
<div class="form-group row">
    <label class="col-sm-2 col-form-label" for="subject">
        @ViewBag.col.title
        @if (!string.IsNullOrEmpty(ViewBag.colJson["required"].ToString()))
        {
            required = "required=\"required\"";

            <span class="text-danger ml-1">*</span>
        }
    </label>
    <div class="col-sm-8" style="padding-left:0px;">

        <div class="file-img-list viewPic col-sm-10" style="padding-left:0px;">



            @if(ViewBag.Data != null && ViewBag.Data[ViewBag.colId] != null && !string.IsNullOrEmpty(ViewBag.Data[ViewBag.colId]))
            {
                var temp = Newtonsoft.Json.Linq.JArray.Parse(ViewBag.Data[ViewBag.colId]);

                foreach (var file in temp.Children())
                {

                    
                                <div class="imgLayOut uploadFile" data-filename="@file["path"].ToString()" data-filed="@ViewBag.colId">
                                    <a href="@Url.Content(file["path"].ToString())" target="_blank" class="files_@ViewBag.colId"
                                       data-filename="@file["path"].ToString()"
                                       data-filed="@ViewBag.colId">@file["path"].ToString()</a>　

                                     
                                       <input type="text"  
                                           class="@Html.Raw(@ViewBag.colId + "_title")"  
                                           value="@Html.Raw(file["title"]?.ToString() ?? "")" 
                                           style="width: 200px" placeholder="檔案標題">

                                    <button type="button" class="btn btn-sm-danger delFile files_@ViewBag.colId"
                                            data-file="@ViewBag.colId"><i class="fa fa-trash">刪除</i></button></div>
                      
                }

            }

        </div>

          <input type="hidden" class="form-control" name="@Html.Raw(ViewBag.colId)" id="@Html.Raw(ViewBag.colId)" value="" data-plural="@ViewBag.colJson["plural"].ToString()">

        <div class="file-img-list viewPic">
        </div>
    </div>
</div>


<div class="form-group row len">
    <label class="col-sm-2" for="subject"></label>
    <div class="col-sm-2">
  

        <button class="btn btn-secondary popup_selector" type="button" 
                data-toggle="modal"
                data-field="@ViewBag.colId"
                data-lay="area" data-type="image" data-multiple="multiple">
            <i class="icon-pictures"> </i> 媒體庫
        </button>
    </div>

  @if(ViewBag.colJson["notes"] != null && !string.IsNullOrEmpty(ViewBag.colJson["notes"].ToString()))
    {
         <small class="form-text text-muted offset-md-2 col-sm-9">@ViewBag.colJson["notes"].ToString() </small>
    }

</div>
