﻿@using WebApp.Models;
@using Newtonsoft.Json;
@{
    int isrequired = 0;
    string required = "";
    string val = ViewBag.Data != null ? ViewBag.Data[ViewBag.colId] : "";
    var data = ViewBag.Data;
    Dictionary<string, string> options = new Dictionary<string, string>();
    if (data != null)
    {
        options = JsonConvert.DeserializeObject<Dictionary<string, string>>(data["options"]);
    }
    Dictionary<string, string> details = new Dictionary<string, string>();
    if (data != null)
    {
        LanguageResource subData = ViewBag.subData;
        if (!string.IsNullOrEmpty(subData.details))
        {
            details = JsonConvert.DeserializeObject<Dictionary<string, string>>(subData.details);
        }

    }

    List<QuestionnaireGroup> Area = ViewBag.Area;

    string parent_id = ViewBag.parent_id;



}

<div class="form-group row">
    <label class="col-sm-2 col-form-label" for="spec">
        欄位ID
        <span class="text-danger ml-1">*</span>
    </label>
    <div class="col-sm-4">
        <input class="form-control" type="text" name="Spec" id="Spec"
               required="required"
               value="@Html.Raw( (data != null ) ? ViewBag.TopData.spec : "" )" />
    </div>
    <small class="form-text text-muted offset-md-2 col-sm-9">請使用英文作為欄位ID，不可有空格，並請勿重複!</small>
</div>



<div class="form-group row">
    <label class="col-sm-2 col-form-label" for="spec">
        是否必填
        <span class="text-danger ml-1">*</span>
    </label>
    <div class="col-sm-10">
        @foreach (var item in options)
        {
            if (item.Key == "required")
            {
                isrequired = 1;
            }
        }
        @if(isrequired == 1)
        {
        <div class="custom-control custom-radio custom-control-inline">
            <input class="custom-control-input" type="radio" name="options[required]" id="options_required1" value="required"
                   @Html.Raw( (data != null && options["required"] == "required") ? "checked" : "" ) />
            <label class="custom-control-label" for="options_required1">是</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input class="custom-control-input" type="radio" name="options[required]" id="options_required2" value="non"
                   @Html.Raw( (data == null || options["required"] == "non") ? "checked" : "" ) />
            <label class="custom-control-label" for="options_required2">否</label>
        </div>
        }
        else
        {
        <div class="custom-control custom-radio custom-control-inline">
            <input class="custom-control-input" type="radio" name="options[required]" id="options_required1" value="required"
                    />
            <label class="custom-control-label" for="options_required1">是</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input class="custom-control-input" type="radio" name="options[required]" id="options_required2" value="non"
                    />
            <label class="custom-control-label" for="options_required2">否</label>
        </div>
        }

    </div>
    <small class="form-text text-muted offset-md-2 col-sm-9"></small>
</div>




<div class="form-group row">

    <input type="hidden" name="category_id" id="category_id" value="@Html.Raw( (data != null) ? data["category_id"] : "" )" />

    <label class="col-sm-2 col-form-label" for="@ViewBag.colId">
        所屬區塊
    </label>

    <div class="col-sm-4">
        <select class="bs-select form-control" id="top_category_id" required>
            <option value="">請選擇區塊</option>
            @foreach (QuestionnaireGroup item in Area.Where(m => string.IsNullOrEmpty(m.parent_id)).ToList())
            {
                LanguageResource LangData = item.LangData.FirstOrDefault();

                <option value="@item.id" @Html.Raw( (data != null && ( data["category_id"] == item.id || ViewBag.parent_id == item.id) ) ? "selected" : "" )>@LangData.title</option>
            }




        </select>
    </div>
</div>


<div class="form-group row categories" style="display:none;">



    <label class="col-sm-2 col-form-label">
        問卷類別
    </label>

    <div class="col-sm-4">
        <select class="bs-select form-control" id="sub_category_id">
            <option value="">請選擇問卷類別</option>
            @foreach (QuestionnaireGroup item in Area.Where(m => m.parent_id == "responsibility").ToList())
            {
                LanguageResource LangData = item.LangData.FirstOrDefault();

                <option value="@item.id" @Html.Raw( (data != null && data["category_id"] == item.id) ? "selected" : "" )>@Html.Raw(@LangData == null ?  "" : LangData.title)</option>
            }




        </select>
    </div>
</div>



<div class="form-group row options_notes" style="display:none;">
    <label class="col-sm-2 col-form-label" for="subject">
        說明
        <span class="text-danger ml-1">*</span>
    </label>
    <div class="col-sm-6">

        <textarea class="form-control"
                  name="details[notes]"
                  id="options_notes"
                  rows="5"
                  placeholder="">@Html.Raw( (data != null && details != null && details.ContainsKey("notes")) ? details["notes"] : "" )</textarea>


    </div>
</div>

<input type="hidden" name="options[type]" id="options_type" value="@Html.Raw( (data != null ) ? options["type"] : "" )" />

<div class="form-group row options_types" style="@Html.Raw( (data != null && options.ContainsKey("type") && options["type"] == "text" ) ? "display:none;" : (data == null) ? "display:none;" : ""  )">


    <label class="col-sm-2 col-form-label" for="enable">
        欄位屬性
    </label>
    <div class="col-sm-10">

        <div class="custom-control custom-radio custom-control-inline">
            <input class="custom-control-input options_type" type="radio" name="options_type" id="options_type2" value="checkbox" @Html.Raw( (data != null ) ? options["type"] == "checkbox" ? "checked" : "" : "" ) />
            <label class="custom-control-label" for="options_type2">複選</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input class="custom-control-input options_type" type="radio" name="options_type" id="options_type3" value="radio" @Html.Raw( (data != null ) ? options["type"] == "radio" ? "checked" : "" : "" ) />
            <label class="custom-control-label" for="options_type3">單選</label>
        </div>

    </div>
</div>


<div class="form-group row" style="@Html.Raw( (data != null && options.ContainsKey("type") && options["type"] == "text" ) ? "display:none;" : (data == null) ? "display:none;" : ""  )" id="designArea">


    <label class="col-sm-2 col-form-label" for="enable">
        項目管理
    </label>



    <div class="col-sm-6">

        <div style="padding-bottom:10px;">
            @*<button type="button" class="btn btn-sm ml-1 btn-main" v-on:click="addCol()"><i class="icon-plus2"></i>新增</button>*@
            <button type="button" class="btn btn-sm ml-1 btn-main addCol"><i class="icon-plus2"></i>新增</button>
        </div>

@*        <div class="row valueArea" style="padding-bottom:5px;" v-for="(item, index) in items">
            <div class="col">
                顯示文字：<input type="text" class="form-control" name="value1[]" :value="item.value1">
            </div>
            <div class="col">
                值：<input type="text" class="form-control" name="value2[]" :value="item.value2">
            </div>
            <div class="col">

                <button type="button" class="btn btn-sm ml-1 btn-main removeCol" style="margin-top:30px;"><i class="icon-trash"></i>刪除</button>
            </div>
        </div>*@

        <div id="jsaddvalue"></div>

        @for (int i = 1; i <= 300; i++)
        {
                <div class="row valueArea" style="padding-bottom:5px;display:none" id="additemvalue_@i">
            <div class="col">
                顯示文字：<input type="text" class="form-control" name="value1" id="viewvalue_@i" value="">
            </div>
            <div class="col">
                值：<input type="text" class="form-control" name="value2" id="addvalue_@i" value="">
            </div>
            <div class="col">

                <button type="button" class="btn btn-sm ml-1 btn-main removeCol" style="margin-top:30px;"><i class="icon-trash"></i>刪除</button>
            </div>
        </div>
        }
    

    </div>
</div>   