﻿@using WebApp.Services;
@{
    string required = "";
    CipherService cipherService = new CipherService();

    string readonlyed = "";
    if(ViewBag.colJson["readonly"] == "readonly")
    {
        readonlyed = "readonly";
    }
}
<div class="form-group row">
    <label class="col-sm-2 col-form-label" for="@ViewBag.colId">
        @ViewBag.col.title 
        @if (!string.IsNullOrEmpty(ViewBag.colJson["required"].ToString()))
        {
            required = "required=\"required\"";

            <span class="text-danger ml-1">*</span>
        }
    </label>
    <div class="col-sm-4">
        <input class="form-control" type="text" name="@ViewBag.colName" id="@ViewBag.colId" 

        @required
        @readonlyed

         value="@Html.Raw(ViewBag.Data != null ? cipherService.Decrypt(ViewBag.Data[ViewBag.colId].ToString()) : "")"/>
    </div>
   @if(ViewBag.colJson["notes"] != null && !string.IsNullOrEmpty(ViewBag.colJson["notes"].ToString()))
    {
         <small class="form-text text-muted offset-md-2 col-sm-9">@ViewBag.colJson["notes"].ToString() </small>
    }
</div>