﻿@using Newtonsoft.Json
@using WebApp.Models;
@{
    string required = "";
}
<div class="form-group row">
    <label class="col-sm-2 col-form-label" for="subject">
        @ViewBag.col.title
        @if (!string.IsNullOrEmpty(ViewBag.colJson["required"].ToString()))
        {
            required = "required=\"required\"";

            <span class="text-danger ml-1">*</span>
        }
    </label>
    <div class="col-sm-8" style="padding-left:0px;">

        <div class="file-img-list viewPic col-sm-10" style="padding-left:0px;">



            @if (ViewBag.Data != null && ViewBag.Data[ViewBag.colId] != null && !string.IsNullOrEmpty(ViewBag.Data[ViewBag.colId]) && ViewBag.Data[ViewBag.colId] != "{}")
            {
                var temp = Newtonsoft.Json.Linq.JArray.Parse(ViewBag.Data[ViewBag.colId]);

                foreach (var pic in temp.Children())
                {


                    <div class="imgLayOut col-sm-2 card mr-2 d-inline-block ui-sortable-handle uploadFilePic" data-filename="@pic["path"].ToString()" data-filed="@ViewBag.colId">
                        <div>
                            <a href="@Url.Content(pic["path"].ToString())" data-fancybox="gallery" class="files_@ViewBag.colId">

                                <img src="@Url.Content(pic["path"].ToString())" style="width:130px; background-size: cover;">
                                <!--
                                <div style="background:#fff url(@Url.Content(pic["path"].ToString())) center center no-repeat; width:130px; height:130px;background-size: cover;"></div>
                                -->

                            </a>
                        </div>
                        <div class="inputLay">

                            <div class="pt5"><input type="text" class="@Html.Raw(@ViewBag.colId + "_title")" value="@Html.Raw(pic["title"]?.ToString() ?? "")" style="width: 130px" placeholder="圖片描述"></div>

                        </div>
                        <div style="text-align: center;"><a href="#1" class="delFile files_@ViewBag.colId" data-file="@ViewBag.colId" title="刪除" data-plural="@ViewBag.colJson["plural"].ToString()">[<i class="fa fa-trash-o">刪除</i>]</a></div>
                    </div>
                }

            }

        </div>

        <input type="hidden" class="form-control" name="@Html.Raw(ViewBag.colId)" id="@Html.Raw(ViewBag.colId)" value="" data-plural="@ViewBag.colJson["plural"].ToString()">

        <div class="file-img-list viewPic">
        </div>
    </div>
</div>


<div class="form-group row len">
    <label class="col-sm-2" for="subject"></label>
    <div class="col-sm-2">


        <button class="btn btn-secondary popup_selector" type="button"
                data-toggle="modal"
                data-field="@ViewBag.colId"
                data-lay="area" data-type="image" data-multiple="multiple">
            <i class="icon-pictures"> </i> 媒體庫
        </button>
    </div>

    @if (ViewBag.colJson["notes"] != null && !string.IsNullOrEmpty(ViewBag.colJson["notes"].ToString()))
    {
        <small class="form-text text-muted offset-md-2 col-sm-9">@ViewBag.colJson["notes"].ToString() </small>
    }

</div>
