﻿@using Newtonsoft.Json
@using WebApp.Data
@using WebApp.Models;
@using Web.Services;
@using WebApp.Services;
@{


    string json = ViewBag.Data != null ? ViewBag.Data[ViewBag.colId].ToString() : "";
    dynamic obj = null;
    if (!string.IsNullOrEmpty(json))
    {
        var serializerOptions = new System.Text.Json.JsonSerializerOptions
                {
                    Converters = { new DynamicJsonConverter() },
                    WriteIndented = true
                };

        obj = System.Text.Json.JsonSerializer.Deserialize<dynamic>(json, serializerOptions);
    }

}

@if (!string.IsNullOrEmpty(json))
{

    foreach (var data in (IDictionary<String, Object>)obj)
    {
        QuestionnaireItem questionnaireItem = await (new Helper()).GetQuestionnaireItem(data.Key);

        if (questionnaireItem != null)
        {


            LanguageResource LangData = questionnaireItem.LangData.FirstOrDefault();

            string showVal = "";

            FormModel model = JsonConvert.DeserializeObject<FormModel>(LangData.options);

            if (model.type == "checkbox")
            {

                foreach (var propertyInfo in (IList<object>)data.Value)
                {
                    // do stuff here
                    showVal += propertyInfo + "<br>";

                }

            }
            else
            {
                showVal = data.Value.ToString();
            }


            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="@ViewBag.colId">
                    @LangData?.title

                </label>
                <div class="col-sm-4">
                    @Html.Raw(showVal)
                </div>

            </div>

        }

        if (data.Key == "others")
        {
            if (data.Value.ToString() != "" && data.Value.ToString() != null)
            {
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="@data.Key">
                        @data.Key

                    </label>
                    <div class="col-sm-4">
                        @data.Value.ToString()
                    </div>

                </div>
            }

        }
    }
}
