﻿@using Newtonsoft.Json.Linq;
@{
    JArray radioValue = JArray.Parse("[" + ViewBag.colJson.value + "]");
    int i = 1;
     string required = "";
}
<div class="form-group row">
    <label class="col-sm-2 col-form-label" for="enable">
        @ViewBag.col.title 
        @if (!string.IsNullOrEmpty(ViewBag.colJson["required"].ToString()))
        {
            required = "required=\"required\"";

            <span class="text-danger ml-1">*</span>
        }
    </label>
    <div class="col-sm-10">
        @foreach (JObject obj in radioValue.Children<JObject>())
        {
            foreach (JProperty item in obj.Properties())
            {
                <div class="custom-control custom-radio custom-control-inline">
                    <input class="custom-control-input" type="radio" name="@ViewBag.colName" id="@Html.Raw(ViewBag.colId + i.ToString())" value="@item.Name"
                   @if(ViewBag.Data == null){
                   if(ViewBag.colJson["checked"] == item.Name){
                   @Html.Raw("checked")
;
                   }
                   }
                   else{
                   if(ViewBag.Data[ViewBag.colId] == item.Name){
                   @Html.Raw("checked")
;
                   }
                   } />
                    <label class="custom-control-label" for="@Html.Raw(ViewBag.colId + i.ToString())">@item.Value</label>
                </div>

                i++;
            }
        }


    </div>
    @if(!string.IsNullOrEmpty(ViewBag.colJson["notes"].ToString()))
    {
        <small class="form-text text-muted offset-md-2 col-sm-9">@ViewBag.colJson["notes"].ToString() </small>
    }
</div>