﻿@{
    string required = "";

}
<div class="form-group row">
    <label class="col-sm-2 col-form-label" for="categoryId">
        @ViewBag.col.title
        @if (!string.IsNullOrEmpty(ViewBag.colJson["required"].ToString()))
        {
            required = "required=\"required\"";

            <span class="text-danger ml-1">*</span>
        }
    </label>
    <div class="col-sm-4">
        <select class="bs-select form-control" name="@ViewBag.colName" id="@ViewBag.colId" @required>

          
         <option value="admin" @Html.Raw( (ViewBag.Data != null && ViewBag.RoleId == "admin" ? "selected" : "" ))>後台</option>
         <option value="web" @Html.Raw( (ViewBag.Data != null && ViewBag.RoleId == "web" ? "selected" : "" ))>前台</option>
          

        </select>
    </div>
    @if(ViewBag.colJson["notes"] != null && !string.IsNullOrEmpty(ViewBag.colJson["notes"].ToString()))
    {
         <small class="form-text text-muted offset-md-2 col-sm-9">@ViewBag.colJson["notes"].ToString() </small>
    }
</div>