﻿@using WebApp.Models;
@{
    string required = "";
}
 <div class="form-group row">
                      <label class="col-sm-2 col-form-label"> @ViewBag.col.title
        @if (!string.IsNullOrEmpty(ViewBag.colJson["required"].ToString()))
        {
            required = "required=\"required\"";

            <span class="text-danger ml-1">*</span>
        }
                      </label>
                      <div class="col-sm-10">
                        <select class="multiSelect" multiple="" name="@ViewBag.colName" id="@ViewBag.colId">

                            @if (ViewBag.categories != null)
                            {
                                foreach (KeyValuePair<int, object> data in ViewBag.categories)
                                {
                                     var item = (WebApp.Models.Categories)data.Value;

                                      <option value="@item.id"
                                      @Html.Raw( (ViewBag.Data != null && ViewBag.Data[ViewBag.colId].ToString().IndexOf(item.id) != -1 ? "selected" : "" ))
                                      >@item.title</option>
                                }
                            }
                         
                        </select>
                        <div class="button-multiselect-box mt-1"><a class="select-all btn btn-secondary btn-sm" href="#">選取全部</a><a class="deselect-all btn btn-secondary btn-sm" href="#">清除選取</a></div>
                      </div>
                            </div>