﻿@using WebApp.Models;
@{
    string required = "";
}
@if(ViewBag.categories != null && ViewBag.categories.Count > 0)
{
    <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="categoryId">
        @ViewBag.col.title
        @if (!string.IsNullOrEmpty(ViewBag.colJson["required"].ToString()))
        {
            required = "required=\"required\"";

            <span class="text-danger ml-1">*</span>
        }
    </label>
    <div class="col-sm-4">
        <select class="bs-select form-control" name="@ViewBag.colName" id="@ViewBag.colId">

            @if (ViewBag.colJson["show_first"] != null && ViewBag.colJson["show_first"].ToString() == "1")
            {
                <option value="">根分類</option>
            }

            @if (int.Parse(ViewBag.colJson["limit"].ToString()) <= 1)
            {
                if (ViewBag.categories != null)
                {
                    foreach (KeyValuePair<int, Object> obj in ViewBag.categories)
                    {
                        Categories item = (Categories)obj.Value;

                        string disabled = "";
                        if (ViewBag.colJson["show_first"] != null && ViewBag.colJson["show_first"].ToString() == "1" && (ViewBag.Data != null && ViewBag.Id == item.id))
                        {
                            disabled = "disabled";
                        }


                        <option value="@item.parent_id" @Html.Raw( (ViewBag.Data != null && ViewBag.Data[ViewBag.colId] == item.parent_id ? "selected" : "" )) @disabled>@item.title</option>
                    }
                }
            }
            else
            {
                if (ViewBag.categories != null)
                {
                    foreach (KeyValuePair<int, object> data in ViewBag.categories)
                    {
                        var item = (WebApp.Models.Categories)data.Value;

                       
                        if (item.sub_categories != null)
                        {

                             <option value="@item.id" data-uri="@item.uri" @Html.Raw( (ViewBag.Data != null && ViewBag.Data[ViewBag.colId] == item.id ? "selected" : "" ))>@item.title</option>

                            foreach (var subItem in item.sub_categories)
                            {
                                <option value="@subItem.id" data-uri="@subItem.uri" @Html.Raw( (ViewBag.Data != null && ViewBag.Data[ViewBag.colId] == subItem.id ? "selected" : "" ))>　└ @subItem.title</option>
                               
                                if (ViewBag.Uri == "Service" && subItem.sub_categories != null)
                                {
                                    foreach (var theItem in subItem.sub_categories)
                                    {
                                        <option value="@theItem.id" data-uri="@theItem.uri" @Html.Raw( (ViewBag.Data != null && ViewBag.Data[ViewBag.colId] == theItem.id ? "selected" : "" ))>　　└ @theItem.title</option>
                                    }
                                }
                                
                            
                            
                            }
                        }
                        else
                        {
                             <option value="@item.id" data-uri="@item.uri" @Html.Raw( (ViewBag.Data != null && ViewBag.Data[ViewBag.colId] == item.id ? "selected" : "" ))>@item.title</option>
                        }

                    }
                }
            }



        </select>
    </div>
  
    @if (ViewBag.colJson["notes"] != null && !string.IsNullOrEmpty(ViewBag.colJson["notes"].ToString()))
    {
        <small class="form-text text-muted offset-md-2 col-sm-9">@ViewBag.colJson["notes"].ToString() </small>
    }
</div>
}
