﻿@using Newtonsoft.Json
@using WebApp.Models
@using WebApp.Services;
@{
    string required = "";
    string val = ViewBag.Data != null ? ViewBag.Data[ViewBag.colId] : "";


    string readonlyed = "";
    if (ViewBag.colJson["readonly"] == "readonly")
    {
        readonlyed = "readonly";
    }

    var options = new List<string>();

    if (!string.IsNullOrEmpty(val))
    {
        options = JsonConvert.DeserializeObject<List<string>>(val);

        if(ViewBag.colId == "options_ProductCategory")
        {

            List<string> title = await (new Helper()).GetSiteParameterItem(options);
                val = title.Aggregate((x, y) => x + ", " + y);

        }
        else
        {
               val = options.Aggregate((x, y) => x + ", " + y);
        }
     

    }


}
<div class="form-group row">
    <label class="col-sm-2 col-form-label" for="@ViewBag.colId">
        @ViewBag.col.title
        @if (!string.IsNullOrEmpty(ViewBag.colJson["required"].ToString()))
        {
            required = "required=\"required\"";

            <span class="text-danger ml-1">*</span>
        }
    </label>
    <div class="col-sm-4">
       @Html.Raw(val)
    </div>
    @if (ViewBag.colJson["notes"] != null && !string.IsNullOrEmpty(ViewBag.colJson["notes"].ToString()))
    {
        <small class="form-text text-muted offset-md-2 col-sm-9">@ViewBag.colJson["notes"].ToString() </small>
    }
</div>