﻿@using WebApp.Models;
@{
    string required = "";
}

<div v-if="items.length > 0">
<div class="form-group row"  v-for="(item, index) in items">
    <label class="col-sm-2 col-form-label">
        {{item.title}}
    </label>
    <div class="col-sm-4">
       
        <input v-if="item.input_type === 'input'" class="form-control" type="text" :name="'specs['+item.id+']'" :id="'specs_' + item.id" :value="item.val"/>

           <select v-if="item.input_type === 'select'" class="bs-select form-control" :id="'specs_' + item.id"  :name="'specs['+item.id+']'">
          
                <option value="">請選擇</option>
                <option v-for="(subItem, subIndex) in item.productSpec" :value="subItem.id" >{{subItem.langData[0].title}}</option>
            
            </select>

    </div>
  
    @if (ViewBag.colJson["notes"] != null && !string.IsNullOrEmpty(ViewBag.colJson["notes"].ToString()))
    {
        <small class="form-text text-muted offset-md-2 col-sm-9">@ViewBag.colJson["notes"].ToString() </small>
    }
</div>

</div>
