﻿@{
    string required = "";

     string readonlyed = "";
    if(ViewBag.colJson["readonly"] == "readonly")
    {
        readonlyed = "readonly";
    }
}
<div class="form-group row">
    <label class="col-sm-2 col-form-label" for="subject">
        @ViewBag.col.title
        @if (!string.IsNullOrEmpty(ViewBag.colJson["required"].ToString()))
        {
            required = "required=\"required\"";

            <span class="text-danger ml-1">*</span>
        }
    </label>
    <div class="col-sm-6">

         <textarea class="form-control"
                  name="@ViewBag.colName" 
                  id="@ViewBag.colId"
                  rows="5"
                  placeholder=""
                  @required
                  @readonlyed
                   >@Html.Raw(ViewBag.Data != null ? ViewBag.Data[ViewBag.colId] : "")</textarea>


    </div>
    @if(ViewBag.colJson["notes"] != null && !string.IsNullOrEmpty(ViewBag.colJson["notes"].ToString()))
    {
         <small class="form-text text-muted offset-md-2 col-sm-9">@ViewBag.colJson["notes"].ToString() </small>
    }
</div>

