﻿@using WebApp.Services;
@{
    string required = "";    
}
<div class="form-group row">
    <label class="col-sm-2 col-form-label" for="@ViewBag.colId">
        @ViewBag.col.title 
        @if (!string.IsNullOrEmpty(ViewBag.colJson["required"].ToString()))
        {
            required = "required=\"required\"";

            <span class="text-danger ml-1">*</span>
        }


    </label>
    <div class="col-sm-4">
        <input class="form-control" type="text" name="@ViewBag.colName" id="@ViewBag.colId" 

        @required
        @Html.Raw(ViewBag.Data != null ? "readonly=\"readonly\"" : "")
        value="@Html.Raw(ViewBag.Data != null ? ViewBag.Data[ViewBag.colId] : "")" />
    </div>
   @if(ViewBag.colJson["notes"] != null && !string.IsNullOrEmpty(ViewBag.colJson["notes"].ToString()))
    {
         <small class="form-text text-muted offset-md-2 col-sm-9">@ViewBag.colJson["notes"].ToString() </small>
    }
    <div class="_formErrorMsg"></div>
</div>