﻿@using Newtonsoft.Json
@using WebApp.Models
@{
    string required = "";
    string val = ViewBag.Data != null ? ViewBag.Data[ViewBag.colId] : "";
    if (ViewBag.colJson["encode"] == "Y")
    {
        WebApp.Services.CipherService cipherService = new WebApp.Services.CipherService();
        val = ViewBag.Data != null ? cipherService.Decrypt(ViewBag.Data[ViewBag.colId].ToString()) : "";
    }

    string readonlyed = "";
    if (ViewBag.colJson["readonly"] == "readonly")
    {
        readonlyed = "readonly";
    }

    List<VideoModel> vidoeData = new List<VideoModel>();

    if (!string.IsNullOrEmpty(val))
    {
        vidoeData = JsonConvert.DeserializeObject<List<VideoModel>>(val);
    }

}
<div class="form-group row" id="videoLay">
    <label class="col-sm-2 col-form-label" for="@ViewBag.colId">
        @ViewBag.col.title
        @if (!string.IsNullOrEmpty(ViewBag.colJson["required"].ToString()))
        {
            required = "required=\"required\"";

            <span class="text-danger ml-1">*</span>
        }
    </label>
    <div class="col-sm-6">



        <div class="form-group">

            <div class="col-sm-3">
                @*<button type="button" class="btn btn-danger is-valid "  v-on:click="addVideo('@ViewBag.colId')"><i class="fa fa-plus">新增</i></button>*@
                @*<button type="button" class="btn btn-danger is-valid " onclick="addVideo('@ViewBag.colId')"><i class="fa fa-plus">新增</i></button>*@
                <button type="button" class="btn btn-danger is-valid addVideo"><i class="fa fa-plus">新增</i></button>

            </div>
        </div>


        @if (vidoeData.Count > 0)
        {
            int i = 0;
            foreach (VideoModel item in vidoeData)
            {

                if (item.path == "" && item.title == "" && item.sub_title == "")
                {

                }
                else
                {
                    <div class="form-group row showVideo">

                        <div class="col-sm-8 uploadVideo" data-filed="@ViewBag.colId">
                            <input type="text" class="form-control @Html.Raw(ViewBag.colId + "_path")" placeholder="Youtube嵌入網址" value="@item.path">
                            <input class="form-control @Html.Raw(ViewBag.colId + "_title")" type="text" placeholder="影片標題" value="@item.title" />
                            <input class="form-control @Html.Raw(ViewBag.colId + "_sub_title")" type="text" placeholder="副標題" value="@item.sub_title" />

                            <button type="button" class="btn btn-sm-danger is-valid delVideo"><i class="fa fa-trash">刪除</i></button>

                        </div>
                        <hr />


                    </div>
                }


            }


        }

        @for (int i = 1; i <= 300; i++)
        {
            <div class="form-group row showVideo" style="padding-bottom:5px;display:none" id="addvalue_@i">

                <div class="col-sm-8 uploadVideo" data-filed="@ViewBag.colId">
                    <input type="text" class="form-control @Html.Raw(ViewBag.colId + "_path")" placeholder="Youtube嵌入網址" value="">
                    <input class="form-control @Html.Raw(ViewBag.colId + "_title")" type="text" placeholder="影片標題" value="" />
                    <input class="form-control @Html.Raw(ViewBag.colId + "_sub_title")" type="text" placeholder="副標題" value="" />

                    <button type="button" class="btn btn-sm-danger is-valid removeVideoCol"><i class="fa fa-trash">刪除</i></button>

                </div>
                <hr />


            </div>


        }

        @*           <div class="form-group row showVideo"  v-for="index in videoNum">

        <div class="col-sm-8 uploadVideo" data-filed="@ViewBag.colId">
        <input type="text" class="form-control @Html.Raw(ViewBag.colId + "_path")"  placeholder="Youtube嵌入網址" value="">
        <input class="form-control @Html.Raw(ViewBag.colId + "_title")" type="text"  placeholder="影片標題"  value=""/>
        <input class="form-control @Html.Raw(ViewBag.colId + "_sub_title")" type="text"  placeholder="副標題"  value=""/>

        <button type="button" class="btn btn-sm-danger is-valid delVideo"  ><i class="fa fa-trash">刪除</i></button>

        </div>
        <hr />


        </div>*@


        <input class="form-control" type="hidden" name="@ViewBag.colName" id="@ViewBag.colId" value="" />

    </div>
    @if (ViewBag.colJson["notes"] != null && !string.IsNullOrEmpty(ViewBag.colJson["notes"].ToString()))
    {
        <small class="form-text text-muted offset-md-2 col-sm-9">@ViewBag.colJson["notes"].ToString() </small>
    }
</div>