﻿@using WebApp.Services;
@{
    Layout = "~/Areas/Siteadmin/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "管理首頁";
    WebApp.Models.SystemMenu systemMenuData = ViewBag.SystemMenuData;
        Helper helper = new Helper();
    var menuOptions = Newtonsoft.Json.Linq.JArray.Parse("[" + systemMenuData.options.ToString() + "]");
}
<div class="content-body">
    <!-- layout-content-->
    <section class="panel panel-default">
        <header class="panel-heading">
            <h1 class="h5 float-left font-weight-bold">@systemMenuData.title</h1>
            <div class="float-right">
               
                @if (menuOptions[0]["add"].ToString() == "Y")
                {
                    <a class="btn btn-sm ml-1 btn-main" 
                        role="button" title="新增" href="~/Siteadmin/@ViewBag.ControllerName/Edit/add/@ViewBag.Id">
                        <i class="icon-plus2"></i><span class="ml-1 d-none d-md-inline-block">新增</span>
                    </a>
                }

               

               <!-- <div class="btn-group btn-group-sm dropdown" role="group">
                    <button class="btn dropdown-toggle btn-main" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="語系" id="tableLen"><i class="icon-globe"></i><span class="ml-1 d-none d-md-inline-block">語系</span></button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="tableLen">
                        <a class="dropdown-item selected" href="#">中文</a><a class="dropdown-item" href="#">English</a>
                    </div>
                </div>-->

            </div>
        </header>

        <div class="panel-wrapper">
            <div class="panel-body">
                <div class="table-toolbar row">

                    @if (ViewBag.Search != null)
                    {
                        <div class="col-md-auto">
                            <div class="dataTablesSearch row no-gutters">
                                <label class="col-auto mr-2"><i class="icon-search i-o align-middle h3 mb-0 p-0"></i>搜尋</label>
                                <div class="col col-md-auto mr-1">
                                    <input class="form-control form-control-sm table-search-input" type="search" placeholder="" aria-controls="tableList" />
                                </div>
                                <div class="col-auto mr-1">
                                    <select class="bs-select form-control min-w-select" data-style="btn-outline-light btn-sm">
                                        <option value="all">所有範圍</option>
                                        @foreach (KeyValuePair<string, object> item in (Dictionary<string, object>)ViewBag.Search)
                                        {
                                            <option value="@item.Key">@item.Value</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    }


                    @if (ViewBag.Find != null)
                    {
                        <div class="col-md">
                            <div class="datatableFilter row no-gutters justify-content-end text-nowrap">
                                <label class="col-auto mr-1"><i class="icon-narrow i-o align-middle h3 mb-0 p-0"></i>檢視</label>
                                <div class="col col-md-auto ml-1">
                                    <select class="bs-select form-control min-w-select" data-live-search="true" data-size="8" data-style="btn-outline-light btn-sm" id="category">
                                        <option selected="selected">單元全部</option>
                                        <option value="13">常見問答</option>
                                        <option value="41">網站鏈結</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    }

                </div>






                <table class="table table-striped table-bordered dt-responsive nowrap datatables" style="width:100%" id="tableList">
                    <thead>
                        <tr>
                            <th class="nosort w-3">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input group-checkable" type="checkbox" value="1" aria-label="選取" data-set="#tableList .checkboxes" id="selectall" />
                                    <label class="custom-control-label" for="selectall"></label>
                                </div>
                            </th>
                            <th>帳號</th>
                            <th>姓名</th>                            
                            <th>狀態</th>
                            <th>
                                操作
                            </th>
                              
                        </tr>
                    </thead>

                </table>


            </div>
        </div>
    </section>
    <!-- / layout-content-->
</div>


@section Scripts {
<script>

 

       $(function () {
         runDataTable(searchJson);
     });

     function runDataTable(searchJson)
     {

         $('.rank').each(function(){

             if($(this).val() != '')
             {
                 searchVal[$(this).attr('data-field')] = $(this).val();
                 searchJson = JSON.stringify(searchVal);
             }
         });

         dataTableObj = $('#tableList').dataTable({

             "ajax": {
                 "url": '/Siteadmin/@ViewBag.ControllerName/dataTable/@ViewBag.Id',
                 "data": {searchJson},
                 "type": "POST",
                 "dataType":'json',
                 headers: {
                    // 'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                 }
             },
             "autoWidth" : false,
             "processing": true,
             "serverSide": true,
             "columns": [
                        {"data": "Id"},
                        {"data": "NormalizedUserName"},
                        {"data": "UserName"},
                        {"data": "LockoutEnabled"},                       
                        {"data": "modifyAdmin"},
                       
             ],
         
             "order": [
                   ['1', 'asc']
             ],
             columnDefs: [   { "orderable": false, "targets": [0, 2] },],

             pageLength: 25,
             language: {
                 aria: {
                     sortAscending: ": 生序",
                     sortDescending: ": 降序"
                 },
                 emptyTable: "無資料",
                 info: "<span class='text-muted'>_START_ 到 _END_ 筆，全部 _TOTAL_ 筆</span>",
                 infoEmpty: "無資料",
                 //infoFiltered: "(篩選1 from _MAX_ total 筆)",
                 infoFiltered :"",
                 lengthMenu: "<span class='mr-1 text-muted'>每頁</span>  _MENU_",
                 search: "<i class='icon-search'></i> 搜尋：",
                 zeroRecords: "無資料",
                 paginate: {
                     previous: "上一頁",
                     next: "下一頁",
                     last: "<i class='icon-last_page'></i>",
                     first: "<i class='icon-first_page'></i>"
                 }
             },

         });

     }
</script>
}