﻿@using System.Globalization
@using WebApp.Services;
@using Microsoft.AspNetCore.Http.Features
@inject LocalService _localizer
@{
    
     var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
     var showBanner = !consentFeature?.CanTrack ?? false;
     var cookieString = consentFeature?.CreateConsentCookie();
}
@if (showBanner)
{
    <div class="bottom-privacy-block cookie show" id="cookieConsent">
        <div class="bottom-privacy-box">
            <p class="bottom-privacy-p Lato">@_localizer.GetLocalizedHtmlString("CookieInfo").ToString()</p>

            <button class="bottom-privacy-button Lato accept-policy close" data-cookie-string="@cookieString" 
            onClick="$('.cookie').removeClass('show')"
            aria-label="Close"
              data-dismiss="alert"
            >
                @_localizer.GetLocalizedHtmlString("Iagree").ToString()
                </button>


            <p class="bottom-privacy-link Public">
                @_localizer.GetLocalizedHtmlString("Tolearnmorereadour").ToString() <a href="privacy">@_localizer.GetLocalizedHtmlString("PrivacyPolicy").ToString()</a>.
            </p>
        </div>
    </div>
}
