﻿@using System.Globalization
@using WebApp.Services;
@inject LocalService _localizer

<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    @Html.Partial("header_title")

</head>
<body>
    @Html.Partial("header")

    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    @RenderBody()



    @Html.Partial("footer")




    <script src="~/scripts/default/jquery-3.6.1.min.js"></script>
    <script src="~/scripts/plugins/popper.min.js"></script>
    <script src="~/scripts/plugins/bootstrap.bundle.min.js"></script>
    <script src="~/scripts/plugins/bootstrap-select.min.js"></script>
    <script src="~/scripts/plugins/bootstrap-datepicker.js"></script>
    <script src="~/scripts/plugins/animateNumber.js"></script>
    <script src="~/scripts/plugins/swiper-bundle.js"></script>
    <script src="~/scripts/plugins/slick.min.js"></script>
    <script src="~/scripts/plugins/aos.js"></script>
    <script src="~/scripts/plugins/mCustomScrollbar.js"></script>
    <script src="~/scripts/plugins/jquery.waypoints.min.js"></script>
    <script src="~/static/sweetalert/sweetalert.min.js"></script>
    <script src="~/scripts/default/ui.js"></script>
    <script src="~/js/jquery.loading.min.js"></script>
    <script src="~/static/web/vue.min.js"></script>
    @*<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>*@


    @await RenderSectionAsync("Scripts", required: false)


    <script>


        (function() {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            if (button) {
                button.addEventListener("click", function(event) {

                    console.log(button.dataset.cookieString);

                    document.cookie = button.dataset.cookieString;
                    console.log(document.cookie);

                    $.post("@Url.Action("OkCookie","Home")", "", function() { });

                }, false);
            }

        })();



        $(function() {


            $('#searchForm').submit(function() {


                if ($(this).find('.keyword').val() == '') {

                    swal("Warning!", "@Html.Raw(@_localizer.GetLocalizedHtmlString("NeedKeyword").ToString())", "warning");
                    return false;

                }
                else {
                    return true;
                }


            });


            $('.products-search-box').submit(function() {


                if ($('.keywords').val() == "") {
                    swal("Warning!", "@Html.Raw(@_localizer.GetLocalizedHtmlString("PleaseTypeKeyword").ToString())", "warning");
                    return false;
                }


            });

            $('.SendSubscribe').click(function() {


                if ($('#SubscribeForm').find('.email').val() == "" || $('#SubscribeForm').find('.email').val().indexOf('@Html.Raw("@")') == -1) {
                    swal("Warning!", "@Html.Raw(@_localizer.GetLocalizedHtmlString("PleaseTypeEmail").ToString())", "warning");
                    return false;
                }
                else {
                    let needVal = new FormData();
                    needVal.append("email", $('#SubscribeForm').find('.email').val());
                    needVal.append("lang", $('#SubscribeForm').find('.lang').val());


                    $.ajax({
                        type: 'POST',
                        url: '/SendToSubscribe',
                        data: needVal,
                        //dataType: 'json',
                        cache: false,
                        contentType: false,
                        processData: false,
                        headers: {
                            'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                        },
                        success: function(json) {



                            swal("Success!", '@Html.Raw(@_localizer.GetLocalizedHtmlString("IsSubscribe").ToString())', "success");

                            $('#SubscribeForm').find('.email').val('');
                        },
                    });
                }
            });

        });


    </script>



</body>
</html>
