﻿@{
    Layout = null;
    ViewData["Title"] = "404";
}
<!doctype html>
<html lang="zh-Hant">

<head>
     @Html.Partial("header_title")
</head>

<body>

    <main>
    <h1 class="title-h1">404</h1>
    <div class="page404-block">
        <div class="page404-box">
            <h2 class="page404-title">ERROR <span>404</span><br> NOT FOUND</h2>
            <div class="page404-line"></div>
            <p class="page404-p">We're sorry, the page you requested could not be found.<br>
            Please go back to the homepage</p>
            <a href="@Url.Content("~/" + ViewBag.culture)" class="page404-back Lato">HOME</a>
        </div>
    </div>
</main>

 <script src="~/scripts/default/jquery-3.6.1.min.js"></script>
    <script src="~/scripts/plugins/popper.min.js"></script>
    <script src="~/scripts/plugins/bootstrap.bundle.min.js"></script>
    <script src="~/scripts/plugins/bootstrap-select.min.js"></script>
    <script src="~/scripts/plugins/bootstrap-datepicker.js"></script>
    <script src="~/scripts/plugins/animateNumber.js"></script>
    <script src="~/scripts/plugins/swiper-bundle.js"></script>
    <script src="~/scripts/plugins/slick.min.js"></script>
    <script src="~/scripts/plugins/aos.js"></script>
    <script src="~/scripts/plugins/mCustomScrollbar.js"></script>
    <script src="~/scripts/plugins/jquery.waypoints.min.js"></script>
    <script src="~/static/sweetalert/sweetalert.min.js"></script>
    <script src="~/scripts/default/ui.js"></script>


</body>

</html>