﻿@using System.Globalization
@using WebApp.Services;
@inject LocalService _localizer
@using Microsoft.AspNetCore.Http.Features
@{
    List<Languages> languages = ViewBag.languages;
    List<ProductCategory> ICPackagingCategory = ViewBag.ICPackagingCategory;

    List<ProductCategory> ServiceCategory = ViewBag.ServiceCategory;

    List<ProductCategory> TechnologyCategory = ViewBag.TechnologyCategory;


    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}
<div class="gotop-box">
    <img src="~/styles/static/icon/top.png" alt="top">
    <p>TOP</p>
</div>
@if (showBanner && ViewBag.Message == null)
{
    <div class="bottom-privacy-block cookie show" id="cookieConsent">
        <div class="bottom-privacy-box">
            <p class="bottom-privacy-p Lato">@_localizer.GetLocalizedHtmlString("CookieInfo").ToString()</p>

            <button class="bottom-privacy-button Lato" data-cookie-string="@cookieString"
                onClick="$('.cookie').removeClass('show')"
                aria-label="Close"
                data-dismiss="alert">
                @_localizer.GetLocalizedHtmlString("Iagree").ToString()
            </button>


            <p class="bottom-privacy-link Public">
                @_localizer.GetLocalizedHtmlString("Tolearnmorereadour").ToString() <a href="privacy">@_localizer.GetLocalizedHtmlString("PrivacyPolicy").ToString()</a>.
            </p>
        </div>
    </div>
}

<footer>
    <div class="footer-box">
        <div class="container-box">
            <div class="footer-logo-box">
                <div class="footer-logo">
                    <img src="~/styles/images/home/logo.svg" alt>
                </div>
                <div class="rwd-community-box">

                    @if (ViewBag.WebData.SocialData != null && !string.IsNullOrEmpty(ViewBag.WebData.SocialData?.facebook))
                    {
                        <a href="@ViewBag.WebData.SocialData.facebook" target="_blank" class="rwd-community facebook">
                            <i class="demo-icon icon-fb"></i>
                        </a>
                    }
                    @if (ViewBag.WebData.SocialData != null && !string.IsNullOrEmpty(ViewBag.WebData.SocialData.ig))
                    {
                        <a href="@ViewBag.WebData.SocialData.ig;" target="_blank" class="rwd-community instagram">
                            <i class="demo-icon icon-ig"></i>
                        </a>
                    }
                    @if (ViewBag.WebData.SocialData != null && !string.IsNullOrEmpty(ViewBag.WebData.SocialData.line))
                    {
                        <a href="@ViewBag.WebData.SocialData.line" class="rwd-community line" target="_blank">
                            <i class="demo-icon icon-footer-line"></i>
                        </a>
                    }

                </div>
            </div>
            <div class="footer-menu-block">
                <div class="footer-menu-box">
                    <div class="footer-menu-left">
                        <div class="footer-menu-list-block">
                            <div class="footer-menu-title-box">
                                <a href="@Html.Raw(ViewBag.culturePath + "About/Overview")" class="footer-menu-title">@_localizer.GetLocalizedHtmlString("About").ToString()</a>
                            </div>
                            <ul class="footer-menu-list-box">
                                <li>
                                    <a href="@Html.Raw(ViewBag.culturePath + "About/Overview")">@_localizer.GetLocalizedHtmlString("CompanyProfile").ToString()</a>
                                </li>
                                <li>
                                    <a href="@Html.Raw(ViewBag.culturePath + "About/Vision")">@_localizer.GetLocalizedHtmlString("VisionCoreValue").ToString()</a>
                                </li>
                                <li>
                                    <a href="@Html.Raw(ViewBag.culturePath + "About/Locations")">@_localizer.GetLocalizedHtmlString("LocationsandBusinessContac").ToString()</a>
                                </li>
                                <li>
                                    <a href="@Html.Raw(ViewBag.culturePath + "About/Stakeholder")">@_localizer.GetLocalizedHtmlString("StakeholderEngagement").ToString()</a>
                                </li>
                                <li>
                                    <a href="@Html.Raw(ViewBag.culturePath + "About/Security")">@_localizer.GetLocalizedHtmlString("BusinessContinuityandSecurityPolicy").ToString()</a>
                                </li>
                                <li>
                                    <a href="@Html.Raw(ViewBag.culturePath + "About/Video")">@_localizer.GetLocalizedHtmlString("Video").ToString()</a>
                                </li>
                                <li>
                                    @*<a href="@Html.Raw(ViewBag.culturePath + "About/Certification/certification1")">@_localizer.GetLocalizedHtmlString("Certification").ToString()</a>*@
                                    <a href="@Html.Raw(ViewBag.culturePath + "About/CertificationOverview")">@_localizer.GetLocalizedHtmlString("Certification").ToString()</a>
                                </li>
                            </ul>
                        </div>

                        @if (ICPackagingCategory != null)
                        {
                            <div class="footer-menu-list-block">
                                <div class="footer-menu-title-box">
                                    <a href="@Html.Raw(ViewBag.culturePath + "IC_Packaging")" class="footer-menu-title">@_localizer.GetLocalizedHtmlString("IC_Packaging").ToString()</a>
                                </div>
                                <ul class="footer-menu-list-box">
                                    @foreach (ProductCategory item in ICPackagingCategory.Where(m => m.parent_id == "ICPackaging").ToList())
                                    {
                                        LanguageResource LangData = item.LangData.FirstOrDefault();
                                        List<ProductCategory> SubProductCategory = ICPackagingCategory.Where(m => m.parent_id == item.id).ToList();

                                        string url = ViewBag.culturePath + "IC_PackagingData/" + item.id;

                                        if (SubProductCategory != null && SubProductCategory.Count > 0)
                                        {
                                            url = ViewBag.culturePath + "IC_PackagingSecond/" + item.id;
                                        }

                                        if (LangData != null)
                                        {
                                            <li>
                                                <a href="@url">@LangData?.title</a>
                                            </li>
                                        }

                                    }
                                </ul>
                            </div>
                        }
                        @if (ServiceCategory != null)
                        {
                            <div class="footer-menu-list-block">
                                <div class="footer-menu-title-box">
                                    <a href="@Html.Raw(ViewBag.culturePath + "Service")" class="footer-menu-title">@_localizer.GetLocalizedHtmlString("Services").ToString()</a>
                                </div>
                                <ul class="footer-menu-list-box">
                                    @foreach (ProductCategory item in ServiceCategory.Where(m => m.parent_id == "Service").ToList())
                                    {
                                        LanguageResource LangData = item.LangData.FirstOrDefault();
                                        List<ProductCategory> SubProductCategory = ServiceCategory.Where(m => m.parent_id == item.id).ToList();

                                        string url = ViewBag.culturePath + "ServiceData/" + item.id;

                                        if (SubProductCategory != null && SubProductCategory.Count > 0)
                                        {
                                            url = ViewBag.culturePath + "ServiceSecond/" + item.id;
                                        }


                                        if (LangData != null)
                                        {
                                            <li>
                                                <a href="@url">@LangData?.title</a>
                                            </li>
                                        }


                                    }
                                </ul>
                            </div>
                        }
                        @if (TechnologyCategory != null)
                        {
                            <div class="footer-menu-list-block">
                                <div class="footer-menu-title-box">
                                    <a href="@Html.Raw(ViewBag.culturePath + "Technology")" class="footer-menu-title">@_localizer.GetLocalizedHtmlString("Technology").ToString()</a>
                                </div>
                                <ul class="footer-menu-list-box">
                                    @foreach (ProductCategory item in TechnologyCategory.Where(m => m.parent_id == "Technology").ToList())
                                    {
                                        @*  LanguageResource LangData = item.LangData.FirstOrDefault();
                                List<ProductCategory> SubProductCategory = ServiceCategory.Where(m => m.parent_id == item.id).ToList();

                                string url = ViewBag.culturePath + "TechnologyData/" + item.id;

                                <li>
                                <a href="@url">@LangData?.title</a>
                                </li>*@

                                        LanguageResource LangData = item.LangData.FirstOrDefault();
                                        List<ProductCategory> SubProductCategory = TechnologyCategory.Where(m => m.parent_id == item.id).ToList();

                                        string url = ViewBag.culturePath + "TechnologyData/" + item.id;

                                        if (SubProductCategory != null && SubProductCategory.Count > 0)
                                        {
                                            url = ViewBag.culturePath + "TechnologyList/" + item.id;
                                        }


                                        if (LangData != null)
                                        {
                                            <li>
                                                <a href="@url">@LangData?.title</a>
                                            </li>
                                        }


                                    }
                                </ul>
                            </div>
                        }
                    </div>
                    <div class="footer-menu-right">
                        <div class="footer-menu-title-box">
                            <a href="@Html.Raw(ViewBag.culturePath + "News/All")" class="footer-menu-title">@_localizer.GetLocalizedHtmlString("News").ToString()</a>
                            <a href="@Html.Raw(ViewBag.culturePath + "Finance")" class="footer-menu-title">@_localizer.GetLocalizedHtmlString("Financials").ToString()</a>
                            <a href="@Html.Raw(ViewBag.culturePath + "Careers/Awards")" class="footer-menu-title">@_localizer.GetLocalizedHtmlString("Career").ToString()</a>
                            <a href="@Html.Raw(ViewBag.culturePath + "Sustainability/AMessageFromTheCEO")" class="footer-menu-title">@_localizer.GetLocalizedHtmlString("CorporateSustainability").ToString()</a>
                            <a href="@Html.Raw(ViewBag.culturePath + "Contact")" class="footer-menu-title">@_localizer.GetLocalizedHtmlString("Contact").ToString()</a>
                        </div>
                        <ul class="footer-menu-list-box">
                            <li>
                                <a href="https://mservice.spilglobal.com/vpn/index.html" target="_blank">@_localizer.GetLocalizedHtmlString("EmployeeService").ToString()</a>
                            </li>
                            <li>
                                <a href="https://cws.spilglobal.com/Direct/" target="_blank">@_localizer.GetLocalizedHtmlString("CustomerWeb").ToString()</a>
                            </li>
                            <li>
                                <a href="https://somp.spilglobal.com/" target="_blank">@_localizer.GetLocalizedHtmlString("SupplierWeb").ToString()</a>
                            </li>
@*                            <li>
                                <a href="https://www.spil.com.tw/Questionnaire/Login.aspx" target="_blank">@_localizer.GetLocalizedHtmlString("HealthDeclaration").ToString()</a>
                            </li>*@
                        </ul>
                    </div>
                </div>
                <div class="footer-submail-box">
                    <form class="footer-submail" id="SubscribeForm">
                        <input type="hidden" class="form-control lang" value="@ViewBag.nowLang">
                        <input type="email" name="email" class="email" placeholder="@Html.Raw(_localizer.GetLocalizedHtmlString("Enteryouremail").ToString() + "...")">
                        <button class="footer-submail-button SendSubscribe" type="button">
                            <i class="demo-icon icon-subscribe"></i>
                            <span>@_localizer.GetLocalizedHtmlString("Subscribe").ToString()</span>
                        </button>
                    </form>

                    <div class="footer-community-box">
                        @if (ViewBag.WebData.SocialData != null && !string.IsNullOrEmpty(ViewBag.WebData.SocialData?.facebook))
                        {
                            <a href="@ViewBag.WebData.SocialData.facebook" target="_blank" class="footer-community">
                                <i class="demo-icon icon-fb"></i>
                            </a>
                        }
                        @if (ViewBag.WebData.SocialData != null && !string.IsNullOrEmpty(ViewBag.WebData.SocialData.ig))
                        {
                            <a href="@ViewBag.WebData.SocialData.ig;" target="_blank" class="footer-community">
                                <i class="demo-icon icon-ig"></i>
                            </a>
                        }
                        @if (ViewBag.WebData.SocialData != null && !string.IsNullOrEmpty(ViewBag.WebData.SocialData.line))
                        {
                            <a href="@ViewBag.WebData.SocialData.line" class="footer-community" target="_blank">
                                <i class="demo-icon icon-footer-line"></i>
                            </a>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="copyright-box">
        <div class="container-box">
            <div class="copyright-left">
                <p>© 2000-@ViewBag.currentyear Siliconware Precision Industries Co., Ltd. All Rights Reserved.</p>
                <p> Designed by <a href="https://minmax.tw/" target="_blank">MINMAX 網頁設計</a></p>
            </div>
            <div class="copyright-right">
                <a href="@Html.Raw(ViewBag.culturePath + "Sitemap")">@_localizer.GetLocalizedHtmlString("SITEMAP").ToString()</a>
                <a href="@Html.Raw(ViewBag.culturePath + "Terms/Legal")">@_localizer.GetLocalizedHtmlString("TERMS_OF_USE").ToString()</a>
                <a href="@Html.Raw(ViewBag.culturePath + "Privacy")">@_localizer.GetLocalizedHtmlString("PRIVACY_POLICY").ToString()</a>
            </div>
        </div>
    </div>
</footer>

