﻿@using System.Globalization
@using WebApp.Services;
@inject LocalService _localizer
@{
    List<Languages> languages = ViewBag.languages;
    List<ProductCategory> ICPackagingCategory = ViewBag.ICPackagingCategory;

    List<ProductCategory> ServiceCategory = ViewBag.ServiceCategory;

    List<ProductCategory> TechnologyCategory = ViewBag.TechnologyCategory;
}

<header>
    <div class="header-top-box container-box">
        <ul class="header-top-list-box">
            <li>
                <a href="https://mservice.spilglobal.com/vpn/index.html" target="_blank">@_localizer.GetLocalizedHtmlString("EmployeeService").ToString()</a>
            </li>
            <li>
                <a href="https://cws.spilglobal.com/Direct/" target="_blank">@_localizer.GetLocalizedHtmlString("CustomerWeb").ToString()</a>
            </li>
            <li>
                <a href="https://somp.spilglobal.com/" target="_blank">@_localizer.GetLocalizedHtmlString("SupplierWeb").ToString()</a>
            </li>
            @*            <li>
            <a href="https://www.spil.com.tw/Questionnaire/Login.aspx" target="_blank">@_localizer.GetLocalizedHtmlString("HealthDeclaration").ToString()</a>
            </li>*@
        </ul>
        <div class="language-block">
            <div class="language-box">
                <span class="icon text-005EAB">
                    <i class="demo-icon icon-language-icon"></i>
                </span>
                <span class="language-title">@languages.Where(m=>m.language_id == ViewBag.nowLang).FirstOrDefault()?.title</span>
            </div>
            <div class="lang-list-box">
                <a href="@ViewBag.LangUrl["en"]" class="lang-list">EN</a>
                <a href="@ViewBag.LangUrl["zh-TW"]" class="lang-list">繁中</a>
                <a href="@ViewBag.LangUrl["zh-CN"]" class="lang-list">簡中</a>
            </div>
        </div>

        <form class="search-box" action="@Html.Raw(ViewBag.culturePath + "SearchResult")" method="get" class="searchForm" id="searchForm">
            <div class="search-input">
                <input type="text" class="keyword" name="keyword" placeholder="Keyword...">
            </div>
            <div class="search-button-box">
                <i class="demo-icon icon-search-2 text-005EAB"></i>
                <button type="submit" class="search-button submitSearch">
                    <i class="demo-icon icon-search-2 text-005EAB"></i>
                </button>
            </div>
        </form>

    </div>
    <div class="header-block">
        <div class="header-box container-box">
            <a href="@Url.Content("~/" + ViewBag.culture)" class="logo-box">
                <img src="~/styles/images/home/logo.svg" alt>
            </a>
            <div class="rwd-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="menu-block">
                <ul class="menu-box">
                    <li class="menu-list menu-about" data-menu=".menu-about">
                        <a href="@Html.Raw(ViewBag.culturePath + "About/Overview")" class="menu-title">@_localizer.GetLocalizedHtmlString("About").ToString()</a>
                        <ul class="rwd-menu-class-box">
                            <li>
                                <a href="@Html.Raw(ViewBag.culturePath + "About/Overview")">@_localizer.GetLocalizedHtmlString("CompanyProfile").ToString()</a>
                            </li>
                            <li>
                                <a href="@Html.Raw(ViewBag.culturePath + "About/Vision")">@_localizer.GetLocalizedHtmlString("VisionCoreValue").ToString()</a>
                            </li>
                            <li>
                                <a href="@Html.Raw(ViewBag.culturePath + "About/Locations")">@_localizer.GetLocalizedHtmlString("LocationsandBusinessContac").ToString()</a>
                            </li>
                            <li>
                                <a href="@Html.Raw(ViewBag.culturePath + "About/Stakeholder")">@_localizer.GetLocalizedHtmlString("StakeholderEngagement").ToString()</a>
                            </li>
                            <li>
                                <a href="@Html.Raw(ViewBag.culturePath + "About/Security")">@_localizer.GetLocalizedHtmlString("BusinessContinuityandSecurityPolicy").ToString()</a>
                            </li>
                            <li>
                                <a href="@Html.Raw(ViewBag.culturePath + "About/Video")">@_localizer.GetLocalizedHtmlString("Video").ToString()</a>
                            </li>
                            <li>
                                @*<a href="@Html.Raw(ViewBag.culturePath + "About/Certification/" + ViewBag.certificationCategory[0].id)">@_localizer.GetLocalizedHtmlString("Certification").ToString()</a>*@
                                <a href="@Html.Raw(ViewBag.culturePath + "About/CertificationOverview")">@_localizer.GetLocalizedHtmlString("Certification").ToString()</a>
                            </li>
                        </ul>
                    </li>
                    @if (ICPackagingCategory != null)
                    {
                        <li class="menu-list menu-packaging" data-menu=".menu-packaging">
                            <a href="@Html.Raw(ViewBag.culturePath + "IC_Packaging")" class="menu-title">@_localizer.GetLocalizedHtmlString("IC_Packaging").ToString()</a>
                            <ul class="rwd-menu-class-box">
                                @foreach (ProductCategory item in ICPackagingCategory.Where(m => m.parent_id == "ICPackaging").ToList())
                                {
                                    LanguageResource LangData = item.LangData.FirstOrDefault();
                                    List<ProductCategory> SubProductCategory = ICPackagingCategory.Where(m => m.parent_id == item.id).ToList();

                                    string url = ViewBag.culturePath + "IC_PackagingData/" + item.id;

                                    if (SubProductCategory != null && SubProductCategory.Count > 0)
                                    {
                                        url = ViewBag.culturePath + "IC_PackagingSecond/" + item.id;
                                    }

                                    if (LangData != null)
                                    {
                                        <li>
                                            <a href="@url">@LangData?.title</a>
                                        </li>
                                    }

                                }

                            </ul>
                        </li>
                    }


                    @if (ServiceCategory != null)
                    {
                        <li class="menu-list menu-services" data-menu=".menu-services">
                            <a href="@Html.Raw(ViewBag.culturePath + "Service")" class="menu-title">@_localizer.GetLocalizedHtmlString("Services").ToString()</a>
                            <ul class="rwd-menu-class-box">
                                @foreach (ProductCategory item in ServiceCategory.Where(m => m.parent_id == "Service").ToList())
                                {
                                    LanguageResource LangData = item.LangData.FirstOrDefault();
                                    List<ProductCategory> SubProductCategory = ServiceCategory.Where(m => m.parent_id == item.id).ToList();

                                    string url = ViewBag.culturePath + "ServiceData/" + item.id;

                                    if (SubProductCategory != null && SubProductCategory.Count > 0)
                                    {
                                        url = ViewBag.culturePath + "ServiceSecond/" + item.id;
                                    }


                                    if (LangData != null)
                                    {
                                        <li>
                                            <a href="@url">@LangData?.title</a>
                                        </li>
                                    }


                                }

                            </ul>
                        </li>
                    }
                    @if (TechnologyCategory != null)
                    {
                        <li class="menu-list menu-technology" data-menu=".menu-technology">
                            <a href="@Html.Raw(ViewBag.culturePath + "Technology")" class="menu-title">@_localizer.GetLocalizedHtmlString("Technology").ToString()</a>
                            <ul class="rwd-menu-class-box">


                                @foreach (ProductCategory item in TechnologyCategory.Where(m => m.parent_id == "Technology").ToList())
                                {
                                    LanguageResource LangData = item.LangData.FirstOrDefault();
                                    List<ProductCategory> SubProductCategory = TechnologyCategory.Where(m => m.parent_id == item.id).ToList();

                                    string url = ViewBag.culturePath + "TechnologyData/" + item.id;

                                    if (SubProductCategory != null && SubProductCategory.Count > 0)
                                    {
                                        url = ViewBag.culturePath + "TechnologyList/" + item.id;
                                    }

                                    if (LangData != null)
                                    {
                                        <li>
                                            <a href="@url">@LangData?.title</a>
                                        </li>
                                    }


                                }
                            </ul>
                        </li>
                    }
                </ul>
                <div class="rwd-second-box">
                    <ul class="rwd-second-left">
                        @*                        <li>
                        <a href="news">News</a>
                        </li>
                        <li>
                        <a href="">Financials</a>
                        </li>
                        <li>
                        <a href="">Career</a>
                        </li>
                        <li>
                        <a href="">Corporate Sustainability</a>
                        </li>
                        <li>
                        <a href="">Contact</a>
                        </li>*@
                        <li><a href="@Html.Raw(ViewBag.culturePath + "News/All")" class="footer-menu-title">@_localizer.GetLocalizedHtmlString("News").ToString()</a></li>
                        <li><a href="@Html.Raw(ViewBag.culturePath + "Finance")" class="footer-menu-title">@_localizer.GetLocalizedHtmlString("Financials").ToString()</a></li>
                        <li><a href="@Html.Raw(ViewBag.culturePath + "Careers/Awards")" class="footer-menu-title">@_localizer.GetLocalizedHtmlString("Career").ToString()</a></li>
                        <li><a href="@Html.Raw(ViewBag.culturePath + "Sustainability/AMessageFromTheCEO")" class="footer-menu-title">@_localizer.GetLocalizedHtmlString("CorporateSustainability").ToString()</a></li>
                        <li><a href="@Html.Raw(ViewBag.culturePath + "Contact")" class="footer-menu-title">@_localizer.GetLocalizedHtmlString("Contact").ToString()</a></li>
                    </ul>
                    <ul class="rwd-second-right">
@*                        <li><a href="">@_localizer.GetLocalizedHtmlString("EmployeeService").ToString()</a></li>
                        <li><a href="">@_localizer.GetLocalizedHtmlString("CustomerWeb").ToString()</a></li>
                        <li><a href="">@_localizer.GetLocalizedHtmlString("SupplierWeb").ToString()</a></li>
                        <li><a href="">@_localizer.GetLocalizedHtmlString("HealthDeclaration").ToString()</a></li>*@

                        <li>
                            <a href="https://mservice.spilglobal.com/vpn/index.html" target="_blank">@_localizer.GetLocalizedHtmlString("EmployeeService").ToString()</a>
                        </li>
                        <li>
                            <a href="https://cws.spilglobal.com/Direct/" target="_blank">@_localizer.GetLocalizedHtmlString("CustomerWeb").ToString()</a>
                        </li>
                        <li>
                            <a href="https://somp.spilglobal.com/" target="_blank">@_localizer.GetLocalizedHtmlString("SupplierWeb").ToString()</a>
                        </li>
                    </ul>
                </div>
                <form class="rwd-search-box">
                    <input type="text">
                    <button type="submit">
                        <i class="demo-icon icon-search-2"></i>
                    </button>
                </form>
                <div class="rwd-lang-box">
                    <a class="rwd-lang @Html.Raw(ViewBag.nowLang == "en" ? "active" : "")" href="@ViewBag.LangUrl["en"]">EN</a>
                    <a class="rwd-lang @Html.Raw(ViewBag.nowLang == "zh-TW" ? "active" : "")" href="@ViewBag.LangUrl["zh-TW"]">繁中</a>
                    <a class="rwd-lang @Html.Raw(ViewBag.nowLang == "zh-CN" ? "active" : "")" href="@ViewBag.LangUrl["zh-CN"]">簡中</a>
                </div>
                <div class="menu-class-block">
                    <div class="menu-class-box  container-box">
                        <ul class="menu-class-list menu-about" data-menu=".menu-about">



                            <li>
                                <a href="@Html.Raw(ViewBag.culturePath + "About/Overview")">@_localizer.GetLocalizedHtmlString("CompanyProfile").ToString()</a>
                            </li>
                            <li>
                                <a href="@Html.Raw(ViewBag.culturePath + "About/Vision")">@_localizer.GetLocalizedHtmlString("VisionCoreValue").ToString()</a>
                            </li>
                            <li>
                                <a href="@Html.Raw(ViewBag.culturePath + "About/Locations")">@_localizer.GetLocalizedHtmlString("LocationsandBusinessContac").ToString()</a>
                            </li>
                            <li>
                                <a href="@Html.Raw(ViewBag.culturePath + "About/Stakeholder")">@_localizer.GetLocalizedHtmlString("StakeholderEngagement").ToString()</a>
                            </li>
                            <li>
                                <a href="@Html.Raw(ViewBag.culturePath + "About/Security")">@_localizer.GetLocalizedHtmlString("BusinessContinuityandSecurityPolicy").ToString()</a>
                            </li>
                            <li>
                                <a href="@Html.Raw(ViewBag.culturePath + "About/Video")">@_localizer.GetLocalizedHtmlString("Video").ToString()</a>
                            </li>
                            <li>
                                @*<a href="@Html.Raw(ViewBag.culturePath + "About/Certification/" + ViewBag.certificationCategory[0].id)">@_localizer.GetLocalizedHtmlString("Certification").ToString()</a>*@
                                <a href="@Html.Raw(ViewBag.culturePath + "About/CertificationOverview")">@_localizer.GetLocalizedHtmlString("Certification").ToString()</a>
                            </li>


                        </ul>

                        @if (ICPackagingCategory != null)
                        {
                            <ul class="menu-class-list menu-packaging" data-menu=".menu-packaging">
                                @foreach (ProductCategory item in ICPackagingCategory.Where(m => m.parent_id == "ICPackaging").ToList())
                                {
                                    LanguageResource LangData = item.LangData.FirstOrDefault();

                                    List<ProductCategory> SubProductCategory = ICPackagingCategory.Where(m => m.parent_id == item.id).ToList();

                                    string url = ViewBag.culturePath + "IC_PackagingData/" + item.id;

                                    if (SubProductCategory != null && SubProductCategory.Count > 0)
                                    {
                                        url = ViewBag.culturePath + "IC_PackagingSecond/" + item.id;
                                    }

                                    if (LangData != null)
                                    {
                                        <li>
                                            <a href="@url">@LangData?.title</a>
                                        </li>
                                    }

                                }

                            </ul>
                        }

                        @if (ServiceCategory != null)
                        {
                            <ul class="menu-class-list menu-services" data-menu=".menu-services">
                                @foreach (ProductCategory item in ServiceCategory.Where(m => m.parent_id == "Service").ToList())
                                {
                                    LanguageResource LangData = item.LangData.FirstOrDefault();
                                    List<ProductCategory> SubProductCategory = ServiceCategory.Where(m => m.parent_id == item.id).ToList();

                                    string url = ViewBag.culturePath + "ServiceData/" + item.id;

                                    if (SubProductCategory != null && SubProductCategory.Count > 0)
                                    {
                                        url = ViewBag.culturePath + "ServiceSecond/" + item.id;
                                    }


                                    if (LangData != null)
                                    {
                                        <li>
                                            <a href="@url">@LangData?.title</a>
                                        </li>
                                    }


                                }
                            </ul>
                        }
                        <ul class="menu-class-list menu-technology" data-menu=".menu-technology">
                            @foreach (ProductCategory item in TechnologyCategory.Where(m => m.parent_id == "Technology").ToList())
                            {
                                LanguageResource LangData = item.LangData.FirstOrDefault();
                                List<ProductCategory> SubProductCategory = TechnologyCategory.Where(m => m.parent_id == item.id).ToList();

                                string url = ViewBag.culturePath + "TechnologyData/" + item.id;



                                if (SubProductCategory != null && SubProductCategory.Count > 0)
                                {
                                    url = ViewBag.culturePath + "TechnologyList/" + item.id;
                                }


                                if (LangData != null)
                                {
                                    <li>
                                        <a href="@url">@LangData?.title</a>
                                    </li>
                                }


                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="menu-class-mask"></div>
</header>

