﻿@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Core.Fluent
@using X.PagedList.Web.Common
@{
    var pagedList = (IPagedList)ViewBag.pagedList;


       int startPage = (pagedList.PageNumber < 10) ? 1 : pagedList.PageNumber;
    int endPage = pagedList.PageNumber + 9;

    if(endPage > pagedList.PageCount)
    {
        endPage = pagedList.PageCount;
    }
}
@if (pagedList != null && pagedList.PageCount > 1)
{

    <div class="search-page-box">
        <a href="@Html.Raw(ViewBag.FullUrl + "?page=1&keywords=" + ViewBag.Keywords)" class="search-page-button">
            <img src="/styles/static/icon/search-page-first.png" alt>
        </a>
        <a href="@Html.Raw(ViewBag.FullUrl + "?page=" + (pagedList.PageNumber - 1) + (ViewBag.pageAdd ?? "") + "&keywords=" +  ViewBag.Keywords)" class="search-page-button">
            <img src="/styles/static/icon/search-page-prev.png" alt>
        </a>
        @for (int p = startPage; p <= endPage; p++)
        {
            <a href="@Html.Raw(ViewBag.FullUrl + "?page=" + p + (ViewBag.pageAdd ?? "") + "&keywords=" +  ViewBag.Keywords)" class="search-page-num @Html.Raw( (pagedList.PageNumber == p) ? "active" : "" )">@p.ToString()</a>
        }

        <a href="@Html.Raw(ViewBag.FullUrl + "?page=" + (pagedList.PageNumber + 1) + (ViewBag.pageAdd ?? "")  + "&keywords=" +  ViewBag.Keywords)" class="search-page-button">
            <img src="/styles/static/icon/search-page-next.png" alt>
        </a>
        <a href="@Html.Raw(ViewBag.FullUrl + "?page=" + pagedList.PageCount  + "&keywords=" +  ViewBag.Keywords)" class="search-page-button">
            <img src="/styles/static/icon/search-page-last.png" alt>
        </a>
    </div>





}
