﻿@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Core.Fluent
@using X.PagedList.Web.Common
@{
    var pagedList = (IPagedList)ViewBag.pagedList;

    int startPage = (pagedList.PageNumber < 10) ? 1 : pagedList.PageNumber;
    int endPage = pagedList.PageNumber + 5;

    if(endPage > pagedList.PageCount)
    {
        endPage = pagedList.PageCount;
    }

    startPage = (pagedList.PageNumber - 5 <= 0 ? 1 : pagedList.PageNumber - 5);

}
@if (pagedList != null && pagedList.PageCount > 1)
{
    <div class="page-block">
        <div class="page-box fade-right">
            @for (int p = startPage; p <= endPage; p++)
            {
                <a href="@Html.Raw(ViewBag.FullUrl + "?page=" + p + (ViewBag.pageAdd ?? ""))" class="@Html.Raw( (pagedList.PageNumber == p) ? "active" : "" )">@p.ToString()</a>
            }


        </div>
        <div class="page-button-box fade-left">
            @if(!pagedList.IsFirstPage)
            {
                 <a href="@Html.Raw(ViewBag.FullUrl + "?page=" + (pagedList.PageNumber - 1) + (ViewBag.pageAdd ?? ""))" class="page-button page-prev @Html.Raw((pagedList.IsFirstPage) ? "disabled" : "")">
                <span class="page-button-icon"></span>
                Previous
            </a>
            }
           
             @if(!pagedList.IsLastPage)
            {
            <a href="@Html.Raw(ViewBag.FullUrl + "?page=" + (pagedList.PageNumber + 1) + (ViewBag.pageAdd ?? ""))" class="page-button page-next @Html.Raw((pagedList.IsLastPage) ? "disabled" : "")">
                Next
                <span class="page-button-icon"></span>
            </a>
            }

        </div>
    </div>



}
