﻿@using WebApp.Services;
@inject LocalService _localizer
@{
    LanguageResource categoryData = ViewBag.category.LangData[0];
    LanguageResource topCategoryData = ViewBag.topCategory.LangData[0];
    List<ProductCategory> ServiceCategory = ViewBag.ServiceCategory;
    var productsAll = ServiceCategory.Where(m => m.parent_id == categoryData.ProductCategoryId).ToList();

}
<main>
    <h1 class="title-h1">service</h1>
    <div class="page-banner-box">
        <div class="page-banner">
            <h2 class="page-banner-title">@_localizer.GetLocalizedHtmlString("Services").ToString()</h2>
            <img class="img-object" src="/styles/images/service/page-banner1.webp" alt>
        </div>
        <div class="breadnav-block fade">
            <ul class="breadnav-box">
                <li><a href="@Url.Content("~/" + ViewBag.culture)"><i class="demo-icon icon-home"></i></a></li>
                <li><a href="@Html.Raw(ViewBag.culturePath + "Service")"><span>@_localizer.GetLocalizedHtmlString("Services").ToString()</span></a></li>
                @if (topCategoryData?.parent_id != "Service")
                {
                    <li><a href="@Html.Raw(ViewBag.culturePath + "ServiceSecond/" + topCategoryData?.parent_id)"><span>@topCategoryData?.parent_id</span></a></li>
                }
                <li><a href="@Html.Raw(ViewBag.culturePath + "ServiceSecond/" + topCategoryData?.ProductCategoryId)"><span>@topCategoryData?.title</span></a></li>
                <li><span>@categoryData?.title</span></li>
            </ul>
            <div class="breadnav-bg"></div>
        </div>
    </div>
    
    @if (productsAll != null && productsAll.Count > 0)
    {
        <div class="bg-fff">
            <div class="service-page-top">
                <div class="container-box">
                    <div class="service-top-back-box fade-right">
                        <a href="@Html.Raw(ViewBag.culturePath + "Service")" class="back-box">
                            <span class="back-menu"></span>
                            <span class="back-p">@_localizer.GetLocalizedHtmlString("Menu").ToString()</span>
                        </a>
                        <a href="@Html.Raw(ViewBag.culturePath + "ServiceSecond/" + topCategoryData?.ProductCategoryId)" class="back-box">
                            <span class="back-icon"></span>
                            <span class="back-p">@_localizer.GetLocalizedHtmlString("Back").ToString()</span>
                        </a>
                    </div>
                    <h2 class="service-page-top-title fade">@categoryData?.title</h2>


                    <div class="service-page-top-info edit-box fade-up">
                        <img src="@Html.Raw((new Helper()).FormatPic(categoryData , "path_pic" , "image"))" alt="@Html.Raw((new Helper()).FormatPic(categoryData , "path_pic" , "title"))">
                        @if (productsAll != null && productsAll.Count > 0)
                        {
                            @Html.Raw(@categoryData?.DetailsData?.editor ?? "")
                        }

                    </div>
                </div>
            </div>

            @if (productsAll != null && productsAll.Count > 0)
            {

                <div class="page-list-block">
                    <div class="container-box">
                        <div class="service-list-box">

                            @foreach (ProductCategory product in productsAll)
                            {
                                LanguageResource productLangData = product.LangData.FirstOrDefault();
                                <div class="service-list fade-up">
                                    <a href="@Html.Raw(ViewBag.culturePath + "ServiceData/" + product.id)" class="service-list-title-box">
                                        <span class="service-list-title">@productLangData?.title</span>
                                        <span class="service-list-link"></span>
                                    </a>
                                    <div class="service-img">
                                        <img src="@Html.Raw((new Helper()).FormatPic(productLangData , "pic" , "image"))" alt="@Html.Raw((new Helper()).FormatPic(productLangData , "pic" , "title"))">
                                    </div>
                                    <div class="service-list-info"> @Html.Raw(productLangData.DetailsData?.notes ?? "")</div>

                                </div>
                            }
                        </div>
                    </div>
                </div>


            }
            else
            {
                <div class="page-list-block bg-fff">
                    <div class="container-box">
                        @Html.Raw(@categoryData?.DetailsData?.editor ?? "")
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="bgf5f5f5">
            <div class="service-page-top">
                <div class="container-box">
                    <div class="service-top-back-box fade-right">
                        <a href="@Html.Raw(ViewBag.culturePath + "Service")" class="back-box">
                            <span class="back-menu"></span>
                            <span class="back-p">@_localizer.GetLocalizedHtmlString("Menu").ToString()</span>
                        </a>
                        <a href="@Html.Raw(ViewBag.culturePath + "ServiceSecond/" + topCategoryData?.ProductCategoryId)" class="back-box">
                            <span class="back-icon"></span>
                            <span class="back-p">@_localizer.GetLocalizedHtmlString("Back").ToString()</span>
                        </a>
                    </div>
                    <h2 class="service-page-top-title fade">@categoryData?.title</h2>


                    <div class="service-page-top-info edit-box fade-up">
                        <img src="@Html.Raw((new Helper()).FormatPic(categoryData , "path_pic" , "image"))" alt="@Html.Raw((new Helper()).FormatPic(categoryData , "path_pic" , "title"))">
                        @if (productsAll != null && productsAll.Count > 0)
                        {
                            @Html.Raw(@categoryData?.DetailsData?.editor ?? "")
                        }

                    </div>
                </div>
            </div>

            @if (productsAll != null && productsAll.Count > 0)
            {

                <div class="page-list-block">
                    <div class="container-box">
                        <div class="service-list-box">

                            @foreach (ProductCategory product in productsAll)
                            {
                                LanguageResource productLangData = product.LangData.FirstOrDefault();
                                <div class="service-list fade-up">
                                    <a href="@Html.Raw(ViewBag.culturePath + "ServiceData/" + product.id)" class="service-list-title-box">
                                        <span class="service-list-title">@productLangData?.title</span>
                                        <span class="service-list-link"></span>
                                    </a>
                                    <div class="service-img">
                                        <img src="@Html.Raw((new Helper()).FormatPic(productLangData , "pic" , "image"))" alt="@Html.Raw((new Helper()).FormatPic(productLangData , "pic" , "title"))">
                                    </div>
                                    <div class="service-list-info"> @Html.Raw(productLangData.DetailsData?.notes ?? "")</div>

                                </div>
                            }
                        </div>
                    </div>
                </div>


            }
            else
            {
                <div class="page-list-block bg-fff">
                    <div class="container-box">
                        @Html.Raw(@categoryData?.DetailsData?.editor ?? "")
                    </div>
                </div>
            }
        </div>
    }

</main>