﻿@using WebApp.Services;
@inject LocalService _localizer
@{
    LanguageResource LangData = ViewBag.LangData;
    List<Dictionary<string, string>> Breadcrumbs = ViewBag.Breadcrumbs;
}
<main>
    <h1 class="title-h1">service</h1>
    <div class="page-banner-box">
        <div class="page-banner">
            <h2 class="page-banner-title">@_localizer.GetLocalizedHtmlString("Services").ToString()</h2>
            <img class="img-object" src="/styles/images/service/page-banner1.webp" alt>
        </div>
        <div class="breadnav-block fade">
            <ul class="breadnav-box">
                <li><a href="@Url.Content("~/" + ViewBag.culture)"><i class="demo-icon icon-home"></i></a></li>
                <li><a href="@Html.Raw(ViewBag.culturePath + "Service")"><span>@_localizer.GetLocalizedHtmlString("Services").ToString()</span></a></li>


                @for (int i = (Breadcrumbs.Count - 1); i >= 0; i--)
                {
                    string url = ViewBag.culturePath + "ServiceThird/" + Breadcrumbs[i]["id"];
                    if (i == 1)
                    {
                        url = ViewBag.culturePath + "ServiceSecond/" + Breadcrumbs[i]["id"];
                    }

                    <li><a href="@url"><span>@Breadcrumbs[i]["title"]</span></a></li>

                }
                <li><span>@LangData?.title</span></li>

            </ul>
            <div class="breadnav-bg"></div>
        </div>
    </div>
    <div class="bgf5f5f5">
        <div class="service-page-top">
            <div class="container-box">
                <div class="service-top-back-box fade-right">
                    <a href="@Html.Raw(ViewBag.culturePath + "Service")" class="back-box">
                        <span class="back-menu"></span>
                        <span class="back-p">@_localizer.GetLocalizedHtmlString("Menu").ToString()</span>
                    </a>

                    @if (ViewBag.showType == "serviceproduct")
                    {
                        <a href="@Html.Raw(ViewBag.culturePath + "ServiceThird/" + ViewBag.categoryLangData?.ProductCategoryId)" class="back-box">
                            <span class="back-icon"></span>
                            <span class="back-p">@_localizer.GetLocalizedHtmlString("Back").ToString()</span>
                        </a>
                    }
                    else if (ViewBag.showType == "secondproduct")
                    {
                        <a href="@Html.Raw(ViewBag.culturePath + "ServiceSecond/" + ViewBag.categoryLangData?.ProductCategoryId)" class="back-box">
                            <span class="back-icon"></span>
                            <span class="back-p">@_localizer.GetLocalizedHtmlString("Back").ToString()</span>
                        </a>
                    }
                    else
                    {

                        <a href="@Html.Raw(ViewBag.culturePath + "Service")" class="back-box">
                            <span class="back-icon"></span>
                            <span class="back-p">@_localizer.GetLocalizedHtmlString("Back").ToString()</span>
                        </a>
                    }
                </div>


                <h2 class="service-page-top-title fade">@LangData?.title</h2>
                @if (!string.IsNullOrEmpty(LangData.pic) && LangData.pic != "{}" && LangData?.PicData.path_pic != null)
                {
                    <div class="service-page-top-info edit-box fade-up">

                        <img src="@LangData?.PicData.path_pic[0]?.path" alt="LangData?.PicData.path_pic[0]?.title">
                    </div>
                }
            </div>
        </div>
        <div class="page-list-block bg-fff">
            <div class="container-box">
                @Html.Raw(LangData?.DetailsData?.editor ?? "")
            </div>
        </div>
    </div>
</main>