﻿@using WebApp.Services;
@inject LocalService _localizer
@{
    LanguageResource categoryData = ViewBag.category.LangData[0];
    List<ProductCategory> ServiceCategory = ViewBag.ServiceCategory;


}

<main>
    <h1 class="title-h1">service</h1>
    <div class="page-banner-box">
        <div class="page-banner">
            <h2 class="page-banner-title">@_localizer.GetLocalizedHtmlString("Services").ToString()</h2>
            <img class="img-object" src="/styles/images/service/page-banner1.webp" alt>
        </div>
        <div class="breadnav-block fade">
            <ul class="breadnav-box">
                <li><a href="@Url.Content("~/" + ViewBag.culture)"><i class="demo-icon icon-home"></i></a></li>
                <li><span>@_localizer.GetLocalizedHtmlString("Services").ToString()</span></li>
            </ul>
            <div class="breadnav-bg"></div>
        </div>
    </div>
    <div class="bg-fff">
        @Html.Raw(categoryData.DetailsData?.editor ?? "")

        @if (ServiceCategory != null)
        {
            <div class="page-list-block">


                <div class="container-box">
                    <div class="service-list-box">


                        @foreach (ProductCategory item in ServiceCategory.Where(m => m.parent_id == "Service").ToList())
                        {
                            LanguageResource LangData = item.LangData.FirstOrDefault();
                            if (LangData != null)
                            {
    List<ProductCategory> SubProductCategory = ServiceCategory.Where(m => m.parent_id == item.id).ToList();

                            string url = ViewBag.culturePath + "ServiceData/" + item.id;

                            if (SubProductCategory != null && SubProductCategory.Count > 0)
                            {
                                url = ViewBag.culturePath + "ServiceSecond/" + item.id;
                            }


                            <div class="service-list">
                                <a href="@url" class="service-list-title-box">
                                    <span class="service-list-title">@LangData?.title</span>
                                    <span class="service-list-link"></span>
                                </a>
                                <div class="service-img">
                                    <img src="@Html.Raw((new Helper()).FormatPic(LangData , "pic" , "image"))" alt="@Html.Raw((new Helper()).FormatPic(LangData , "pic" , "title"))">
                                </div>
                                <div class="service-list-info">
                                    @Html.Raw(LangData?.DetailsData?.notes)
                                </div>
                                @if (SubProductCategory != null && SubProductCategory.Count > 0)
                                {

                                    List<string> subCategoryId = SubProductCategory.Select(m => m.id).ToList();

                                    int productsCount = ServiceCategory.Where(m => subCategoryId.Contains(m.parent_id)).Count();

                                    <div class="service-list-class-box">


                                        @foreach (ProductCategory subItem in SubProductCategory)
                                        {
                                            LanguageResource subLangData = subItem.LangData.FirstOrDefault();

                                            var products = ServiceCategory.Where(m => m.parent_id == subItem.id).ToList();




                                            @if (products != null && products.Count > 0)
                                            {
                                                <div class="service-list-class more-class ">
                                                    <div class="first-class-title-box class-title-box">
                                                        <span class="class-title">@subLangData?.title</span>
                                                        <a href="@Html.Raw(ViewBag.culturePath + "ServiceThird/" + subItem.id)" class="class-link-icon"></a>
                                                    </div>


                                                    <div class="second-class-title-box">
                                                        @foreach (ProductCategory product in products)
                                                        {
                                                            LanguageResource productLangData = product.LangData.FirstOrDefault();
                                                            <a href="@Html.Raw(ViewBag.culturePath + "ServiceData/" + product.id)" class="class-title-box">
                                                                <span class="class-title">@productLangData?.title</span>
                                                                <span class="class-link-icon"></span>
                                                            </a>
                                                        }
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="service-list-class">
                                                    <a href="@Html.Raw(ViewBag.culturePath + "ServiceData/" + subItem.id)" class="class-title-box">
                                                        <span class="class-title">@subLangData?.title</span>
                                                        <span class="class-link-icon"></span>
                                                    </a>
                                                </div>
                                            }

                                        }






                                    </div>
                                }


                            </div>                                
                            }

                        }



                    </div>
                </div>


            </div>
        }

    </div>
</main>