﻿@using WebApp.Services;
@inject LocalService _localizer
@{
    List<ArticleColumn> Model = ViewBag.data;
     LanguageResource thisLangData = ViewBag.LangData;
}

<main>
    <h1 class="title-h1">Careers</h1>
    <div class="page-banner-box">
        <div class="page-banner">
            <h2 class="page-banner-title">@_localizer.GetLocalizedHtmlString("Career").ToString()</h2>
            <img class="img-object" src="/styles/images/career/career-banner.webp" alt>
        </div>
        <div class="breadnav-block fade">
            <ul class="breadnav-box">
                <li><a href="@Url.Content("~/" + ViewBag.culture)"><i class="demo-icon icon-home"></i></a></li>
                <li><a href="@Html.Raw(ViewBag.culturePath + "Careers/Awards")"><span>@_localizer.GetLocalizedHtmlString("Career").ToString()</span></a></li>
                <li><span>@_localizer.GetLocalizedHtmlString("Awards").ToString()</span></li>
            </ul>
            <div class="breadnav-bg"></div>
        </div>
    </div>
    <div class="about-box w-1500">

        @Html.Partial("Nav")

        <div class="about-info-block fade-left">
            <div class="about-top-line"></div>
            <h2 class="about-title">@thisLangData?.title</h2>
            <!-- 編輯器開始 -->
            <div class="edit-box about-info-box editor">

               @Html.Raw( thisLangData?.DetailsData?.editor ?? "" )


                @if (Model != null)
                {
                    <div class="award-list-box">

                        @foreach (ArticleColumn item in Model)
                        {
                            LanguageResource LangData = item.LangData.FirstOrDefault();
                            
                              @Html.Raw(LangData.DetailsData?.editor ?? "")
                        }
                    </div>
                }



            </div>
            <!-- 編輯器結束 -->
        </div>
    </div>
</main>