﻿@using WebApp.Services;
@inject LocalService _localizer
@{
    List<ArticleColumn> Model = ViewBag.data;
}

<main>
    <h1 class="title-h1">人力資源</h1>
    <div class="page-banner-box">
        <div class="page-banner">
            <h2 class="page-banner-title">人力資源</h2>
            <img class="img-object" src="/styles/images/career/career-banner.webp" alt>
        </div>
        <div class="breadnav-block fade">
            <ul class="breadnav-box">
                <li><a href="@Url.Content("~/" + ViewBag.culture)"><i class="demo-icon icon-home"></i></a></li>
                <li><a href="@Html.Raw(ViewBag.culturePath + "Careers/Awards")"><span>人才招募</span></a></li>
                <li><a href="@Html.Raw(ViewBag.culturePath + "Careers/Careers1")"><span>研發替代役專區</span></a></li>
                <li><span>訓儲人員心得</span></li>
            </ul>
            <div class="breadnav-bg"></div>
        </div>
    </div>
    <div class="about-box w-1500">

        @Html.Partial("Nav")

        <div class="about-info-block fade-left">
            <div class="about-top-line"></div>
            <h2 class="about-title">訓儲人員心得</h2>
            <!-- 編輯器開始 -->
            <div class="edit-box about-info-box editor Noto-Sans">


                @if (Model != null)
                {
                    <div class="substitute-3-box">

                        @foreach (ArticleColumn item in Model)
                        {
                            LanguageResource LangData = item.LangData.FirstOrDefault();
                            <div class="substitute-3-list">
                                <div class="substitute-3-list-img">
                                    <img src="@Html.Raw((new Helper()).FormatPic(LangData , "pic" , "image"))" alt="@Html.Raw((new Helper()).FormatPic(LangData , "pic" , "title"))">
                                </div>
                                <div class="substitute-3-list-info">
                                    <div class="substitute-3-name-box bg-EBF3FA">
                                        <h2 class="fz-20 color-005EAB fw-bold">@LangData?.title (@Html.Raw(item?.year)年度)</h2>
                                        <p class="color-005EAB">@LangData?.DetailsData?.sub_title</p>
                                    </div>
                                    <div class="substitute-3-narrative bg-F3F3F3">
                                        @Html.Raw( (LangData != null) ? LangData.DetailsData?.editor ?? "" : "")
                                    </div>
                                </div>
                            </div>

                        }

                    </div>

                }

            </div>
            <!-- 編輯器結束 -->
        </div>
    </div>
</main>