﻿@using WebApp.Services;
@inject LocalService _localizer
<div class="about-class-block fade">
    <div class="rwd-about-class-title">@ViewBag.MenuTitle</div>
    <div class="about-class-box">
        <div class="about-class @ViewBag.SubAvtice["Awards"]">
            <a href="@Html.Raw(ViewBag.culturePath + "Careers/Awards")" class="about-class-title">@_localizer.GetLocalizedHtmlString("Awards").ToString()</a>
        </div>
        <div class="about-class @ViewBag.TopAvtice["Recruitment"]">
            <div class="about-class-title about-more-class">@_localizer.GetLocalizedHtmlString("Recruitment").ToString()</div>
            <ul class="about-class-more">
                <li class="@ViewBag.SubAvtice["Recruitment"]"><a href="@Html.Raw(ViewBag.culturePath + "Careers/Recruitment")">@_localizer.GetLocalizedHtmlString("Recruitment").ToString()</a></li>
                <li class="@ViewBag.SubAvtice["JobApply"]"><a href="@Html.Raw(ViewBag.culturePath + "Careers/JobApply")">@_localizer.GetLocalizedHtmlString("JobApply").ToString()</a></li>
            </ul>
        </div>
        <div class="about-class @ViewBag.SubAvtice["TrainingDevelopment"]">
            <a href="@Html.Raw(ViewBag.culturePath + "Careers/TrainingDevelopment")" class="about-class-title">@_localizer.GetLocalizedHtmlString("TrainingDevelopment").ToString()</a>
        </div>
        <div class="about-class @ViewBag.SubAvtice["IncentivesBenefits"]">
            <a href="@Html.Raw(ViewBag.culturePath + "Careers/IncentivesBenefits")" class="about-class-title">@_localizer.GetLocalizedHtmlString("IncentivesBenefits").ToString()</a>
        </div>
        <div class="about-class @ViewBag.SubAvtice["HRSystem"]">
            <a href="@Html.Raw(ViewBag.culturePath + "Careers/HRSystem")" class="about-class-title">@_localizer.GetLocalizedHtmlString("HRSystem").ToString()</a>
        </div>
        @if (ViewBag.nowLang == "zh-TW")
        {

            <div class="about-class @ViewBag.TopAvtice["Careers"]">
                    <div class="about-class-title about-more-class">研發替代役專區</div>
                    <ul class="about-class-more">
                        <li class="@ViewBag.SubAvtice["Careers1"]"><a href="@Html.Raw(ViewBag.culturePath + "Careers/Careers1")">研發成果與專利</a></li>
                        <li class="@ViewBag.SubAvtice["Careers2"]"><a href="@Html.Raw(ViewBag.culturePath + "Careers/Careers2")">研發佈局</a></li>
                        <li class="@ViewBag.SubAvtice["Experience"]"><a href="@Html.Raw(ViewBag.culturePath + "Careers/Experience")">訓儲人員心得</a></li>
                        <li class="@ViewBag.SubAvtice["Careers3"]"><a href="@Html.Raw(ViewBag.culturePath + "Careers/Careers3")">研發領域與留用規劃</a></li>
                    </ul>
                </div>


        }


        <div class="about-class @ViewBag.SubAvtice["HealthManagement"]">
            <a href="@Html.Raw(ViewBag.culturePath + "Careers/HealthManagement")" class="about-class-title">@_localizer.GetLocalizedHtmlString("HealthManagement").ToString()</a>
        </div>


    </div>
</div>