﻿<div class="banner-img">
    <img class="img-object pc-img" src="/styles/images/home/banner1.webp" alt="">
    <img class="img-object mb-img" src="/styles/images/home/mb-banner1.webp" alt="">
</div>
<div class="banner-info-box">
    <div class="banner-info container-box ">
        <h2 class="Poppins"> Cutting-edge packaging and testing technology</h2>
        <p>Unleashes chip computing power</p>
        <a href="" class="banner-link">Learn More</a>
    </div>
</div>