﻿<div class="banner-img">
    <img class="img-object pc-img" src="/styles/images/home/banner3.webp" alt="">
    <img class="img-object mb-img" src="/styles/images/home/mb-banner3.webp" alt="">
</div>
<div class="banner-info-box">
    <div class="banner-info container-box ">
        <h2 class="Poppins">Cleaner production</h2>
        <p>Environmental sustainability</p>
        <a href="" class="banner-link">Learn More</a>
    </div>
</div>