﻿@using WebApp.Services;
@using Newtonsoft.Json;
@inject LocalService _localizer

<main>
    <h1 class="title-h1">@_localizer.GetLocalizedHtmlString("CorporateSustainability").ToString()</h1>
    <div class="page-banner-box">
        <div class="page-banner">
            <h2 class="page-banner-title">@_localizer.GetLocalizedHtmlString("CorporateSustainability").ToString()</h2>
            <img class="img-object" src="/styles/images/contact/contact-banner.webp" alt>
        </div>

    </div>
    <div class="bgf5f5f5">
        <div class="contact-ok-box">
            <div class="contact-ok-img">
                <img src="/styles/static/icon/contact-OK.webp" alt>
            </div>
            <h2>@_localizer.GetLocalizedHtmlString("Thankyouforyourreply").ToString()</h2>
            @*<p>@_localizer.GetLocalizedHtmlString("Yourfeedback").ToString()</p>*@
            <div class="questionnaire-ok-button">
                <a href="@Html.Raw(ViewBag.culturePath + "Sustainability/AMessageFromTheCEO")" class="back-button"><span>@_localizer.GetLocalizedHtmlString("OK").ToString()</span></a>
                <!--
                <a href="@Url.Content("~/" + ViewBag.culture + "StatisticalResults")" class="back-button after-323232"><span>@_localizer.GetLocalizedHtmlString("StatisticalResults").ToString()</span></a>
           -->
                </div>
        </div>
    </div>
</main>