﻿@using WebApp.Services;
@using Newtonsoft.Json;
@inject LocalService _localizer
@{
    LanguageResource LangData = ViewBag.LangData;

    List<QuestionnaireItem> questionnaireItems = ViewBag.AllQuestionnaireItem;

    List<QuestionnaireItem> information = questionnaireItems.Where(m => m.category_id == "information").ToList();

    List<QuestionnaireItem> relation = questionnaireItems.Where(m => m.category_id == "relation").ToList();




    List<QuestionnaireGroup> questionnaireGroups = ViewBag.AllQuestionnaireGroup;


    List<QuestionnaireGroup> responsibilityGroups = questionnaireGroups.Where(m => m.parent_id == "responsibility").ToList();

}
<main>
    <h1 class="title-h1">@_localizer.GetLocalizedHtmlString("CorporateSustainability").ToString()</h1>
    <div class="page-banner-box">
        <div class="page-banner">
            <h2 class="page-banner-title">@_localizer.GetLocalizedHtmlString("CorporateSustainability").ToString()</h2>
            <img class="img-object" src="/styles/images/sustainability/sustainability-banner.webp" alt>
        </div>
        <div class="breadnav-block fade">
            <ul class="breadnav-box">
                <li><a href="@Url.Content("~/" + ViewBag.culture)"><i class="demo-icon icon-home"></i></a></li>
                <li><a href="@Html.Raw(ViewBag.culturePath + "Sustainability/AMessageFromTheCEO")"><span>@_localizer.GetLocalizedHtmlString("CorporateSustainability").ToString()</span></a></li>
                <li><a href="@Html.Raw(ViewBag.culturePath + "Sustainability/StakeholderCommunication")"><span>@_localizer.GetLocalizedHtmlString("StakeholderEngagement").ToString()</span></a></li>
                <li><span>@_localizer.GetLocalizedHtmlString("CSRQuestionnaire").ToString()</span></li>
            </ul>
            <div class="breadnav-bg"></div>
        </div>
    </div>
    <div class="about-box w-1500">
        @Html.Partial("Nav")
        <div class="about-info-block fade-left">
            <div class="about-top-line"></div>
            <h2 class="about-title">@_localizer.GetLocalizedHtmlString("CSRQuestionnaire").ToString()</h2>
            <!-- 編輯器開始 -->
            @Html.Raw( LangData?.DetailsData?.editor ?? "" )
            <!-- 編輯器結束 -->

            <form class="questionnaire-form-box" action="~/Contact/SendQuestionnaire" method="post" name="saveForm" id="saveForm">
                @Html.AntiForgeryToken()
                <input type="hidden" class="form-control" id="lang" name="lang" value="@ViewBag.nowLang">

                <div class="questionnaire-form">
                    <h2 class="fz-26 fw-bold color-005EAB mb-20">1. @_localizer.GetLocalizedHtmlString("Yourcontactinformation").ToString()</h2>

                    @if (information != null && information.Count > 0)
                    {
                        @foreach (QuestionnaireItem item in information)
                        {

                            LanguageResource subLangData = item.LangData.FirstOrDefault();
                            FormModel model = JsonConvert.DeserializeObject<FormModel>(subLangData.options);


                            @if (model.type == "text")
                            {
                                <div class="questionnaire-form-input">
                                    <h3 class="questionnaire-input-label">@subLangData?.title @Html.Raw( (model.required == "required") ? "<span  class=\"color-red\">*</span>" : "" )</h3>
                                    <input class="questionnaire-input" type="text" name="@Html.Raw(item.spec)" @Html.Raw( (model.required == "required") ? "required" : "" )>
                                </div>
                            }



                        }



                    }



                </div>
                <div class="questionnaire-form">
                    <h2 class="fz-26 fw-bold color-005EAB mb-20">2. @_localizer.GetLocalizedHtmlString("YourrelationwithSPIL").ToString()</h2>

                    @if (relation != null && relation.Count > 0)
                    {
                        @foreach (QuestionnaireItem item in relation)
                        {

                            LanguageResource subLangData = item.LangData.FirstOrDefault();
                            FormModel model = JsonConvert.DeserializeObject<FormModel>(subLangData.options);

                            @if (model.type == "checkbox")
                            {

                                <p class="color-323232 fz-16 mb-20">@subLangData?.title @Html.Raw( (model.required == "required") ? "<span class=\"color-red\">*</span>" : "" )</p>

                                List<Dictionary<string, string>> checkboxs = JsonConvert.DeserializeObject<List<Dictionary<string, string>>>(model.value);

                                int i = 1;

                                <div class="questionnaire-check-box">


                                    @foreach (Dictionary<string, string> subItem in checkboxs)
                                    {

                                        foreach (KeyValuePair<string, string> c in subItem)
                                        {

                                            <label class="questionnaire-check" for="@Html.Raw(item.spec + "-" + i)">
                                                <input type="checkbox" id="@Html.Raw(item.spec + "-" + i)"
                                   name="@Html.Raw(item.spec)" value="@c.Value" @Html.Raw( (model.required == "required") ? "required" : "" )>
                                                <span class="questionnaire-checkbox"></span>
                                                <span class="questionnaire-checkbox-title">@c.Value</span>
                                            </label>
                                            i++;
                                        }

                                    }




                                </div>

                            }

                            @if (model.type == "radio")
                            {
                                Dictionary<string, string> radios = JsonConvert.DeserializeObject<Dictionary<string, string>>(model.value);
                                int i = 1;

                                <div class="questionnaire-form">
                                    <p class="color-323232 fz-16 mb-20">@subLangData?.title @Html.Raw( (model.required == "required") ? "<span class=\"color-red\">*</span>" : "" )</p>
                                    <div class="questionnaire-radio-block">



                                        @foreach (KeyValuePair<string, string> c in radios)
                                        {

                                            <label class="questionnaire-radio-box" for="r-1">
                                                <input type="radio" id="@Html.Raw(item.spec + "-" + i)"
                                       @Html.Raw( (i==1) ? "checked" : "")
                                       name="@Html.Raw(item.spec)" value="@c.Value" @Html.Raw( (model.required == "required") ? "required" : "")>
                                                <span class="questionnaire-radio-title">@c.Value</span>
                                            </label>

                                            i++;
                                        }




                                    </div>
                                </div>
                            }

                        }
                    }






                </div>

                <div class="questionnaire-form">
                    <h2 class="fz-26 fw-bold color-005EAB mb-20">3. @_localizer.GetLocalizedHtmlString("Pleaseput").ToString()</h2>
                    <p class="color-646464 mb-20">(@_localizer.GetLocalizedHtmlString("souce").ToString())</p>


                    <div class="questionnaire-info-box">
                        <div class="questionnaire-info-title-box">
                            <div class="questionnaire-dimension questionnaire-info-title">
                                <p class="fw-bold color-FFF">@_localizer.GetLocalizedHtmlString("Dimension").ToString()</p>
                            </div>
                            <div class="questionnaire-info-right">
                                <div class="questionnaire-issues questionnaire-info-title">
                                    <p class="fw-bold color-FFF">@_localizer.GetLocalizedHtmlString("Issues").ToString()</p>
                                </div>
                                <div class="questionnaire-descriptions questionnaire-info-title">
                                    <p class="fw-bold color-FFF">@_localizer.GetLocalizedHtmlString("Descriptions").ToString()</p>
                                </div>
                                <div class="questionnaire-level">
                                    <p class="fw-bold color-FFF level-title text-center">@_localizer.GetLocalizedHtmlString("LevelofImportancetoYou").ToString()</p>
                                    <div class="level-box">
                                        <div class="level-list">1</div>
                                        <div class="level-list">2</div>
                                        <div class="level-list">3</div>
                                        <div class="level-list">4</div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="questionnaire-list-box color-323232">

                            @if (responsibilityGroups != null && responsibilityGroups.Count > 0)
                            {

                                @foreach (QuestionnaireGroup group in responsibilityGroups)
                                {
                                    LanguageResource groupLangData = group.LangData.FirstOrDefault();


                                    List<QuestionnaireItem> responsibility = questionnaireItems.Where(m => m.category_id == group.id).ToList();

                                    @if (responsibility != null && responsibility.Count > 0)
                                    {
                                        <div class="questionnaire-list">
                                            <div class="questionnaire-dimension">
                                                <p>@groupLangData?.title</p>
                                            </div>

                                            <div class="questionnaire-info-right">

                                                @foreach (QuestionnaireItem item in responsibility)
                                                {

                                                    LanguageResource subLangData = item.LangData.FirstOrDefault();

                                                    try
                                                    {
                                                        FormModel model = JsonConvert.DeserializeObject<FormModel>(subLangData.options);

                                                        Dictionary<string, string> radios = JsonConvert.DeserializeObject<Dictionary<string, string>>(model.value);
                                                        int i = 1;

                                                        <div class="list">
                                                            <div class="questionnaire-issues list-box">
                                                                <p>@subLangData?.title</p>
                                                            </div>
                                                            <div class="questionnaire-descriptions list-box">
                                                                <p>@subLangData?.DetailsData?.notes</p>
                                                            </div>
                                                            <div class="questionnaire-level level-box">

                                                                <!--
                                                                <div class="level-list" style="display:none;"><div class="rwd-level">0</div><input type="radio" name="@Html.Raw(item.spec)" value="0" checked></div>
                                                                -->
                                                                <div class="level-list"><div class="rwd-level">1</div><input type="radio" name="@Html.Raw(item.spec)" value="1" @Html.Raw( (model.required == "required") ? "required" : "")></div>
                                                                <div class="level-list"><div class="rwd-level">2</div><input type="radio" name="@Html.Raw(item.spec)" value="2" @Html.Raw( (model.required == "required") ? "required" : "")></div>
                                                                <div class="level-list"><div class="rwd-level">3</div><input type="radio" name="@Html.Raw(item.spec)" value="3" @Html.Raw( (model.required == "required") ? "required" : "")></div>
                                                                <div class="level-list"><div class="rwd-level">4</div><input type="radio" name="@Html.Raw(item.spec)" value="4" @Html.Raw( (model.required == "required") ? "required" : "")></div>


                                                            </div>
                                                        </div>
                                                    }
                                                    catch
                                                    {

                                                    }

                                                }


                                            </div>
                                        </div>
                                    }
                                }


                            }





                        </div>
                    </div>




                    <h2 class="fz-26 fw-bold color-005EAB mb-20">3. @_localizer.GetLocalizedHtmlString("Others").ToString()</h2>
                    <textarea class="questionnaire-textarea" name="others"></textarea>
                    <div class="verificarion-box">
                        <h2 class="verificarion-title"><span class="color-red">*</span>@_localizer.GetLocalizedHtmlString("VerificarionCode").ToString()</h2>

                        <input type="text" class="verificarion-input" required id="verification" name="verification">
                        <a href="javascript:void(0)" class="verificarion-img codeImg">
                            <img src="~/api/Captcha" alt="" id="changeImg">
                        </a>
                    </div>
                </div>
                <div class="questionnaire-form ">
                    <div class="form-button bg-gradient-005DAA">
                        <button class="button" type="submit">@_localizer.GetLocalizedHtmlString("Submit").ToString()</button>
                    </div>
                    <div class="form-button bg-323232">
                        <button class="button" type="reset">@_localizer.GetLocalizedHtmlString("Reset").ToString()</button>
                    </div>
                </div>


                <textarea class="questionnaire-textarea" name="sendVal" id="sendVal" style="display:none;"></textarea>

            </form>
        </div>
    </div>
</main>
@section Scripts {
    <script src="~/static/modules/validate/jquery.validate.js"></script>
    <script src="~/static/admin/js/validate.js"></script>
    <script src="~/static/modules/module-localization.js"></script>
    <script src="/static/modules/sweetalert/sweetalert.min.js"></script>
    <script src="/static/modules/sweetalert/ui-sweetalert.min.js"></script>


    <script>
        $(function () {

            $("#saveForm").each(function () {

                $("#saveForm").validate({


                    submitHandler: function (form) {



                        swal({
                            title: "@Html.Raw(_localizer.GetLocalizedHtmlString("SystemMsg").ToString())",//系統訊息
                            text: "@Html.Raw(_localizer.GetLocalizedHtmlString("SendForm").ToString())",//確定送出諮詢表單
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#e7505a",
                            confirmButtonText: "@Html.Raw(_localizer.GetLocalizedHtmlString("OK").ToString())",
                            closeOnConfirm: false,
                            cancelButtonText: "@Html.Raw(_localizer.GetLocalizedHtmlString("Cancel").ToString())",
                        },
                            function () {

                                $('.submitBut').attr("disabled", true);

                                let needVal = new FormData();
                                needVal.append("verification", $('#verification').val());



                                $.ajax({
                                    type: 'POST',
                                    url: '/CheckVerification',
                                    data: needVal,
                                    //dataType: 'json',
                                    cache: false,
                                    contentType: false,
                                    processData: false,
                                    headers: {
                                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                                    },
                                    success: function (json) {


                                        if (json == "verificationError") {

                                            swal("Warning!", '@Html.Raw(@_localizer.GetLocalizedHtmlString("VerificationError").ToString())', "warning");

                                            $('.submitBut').attr("disabled", false);

                                            return false;
                                        }
                                        else {



                                            $('#sendVal').val(JSON.stringify($('#saveForm').serializeObject()));
                                            $('.sa-confirm-button-container').find('button').attr('disabled' , true);
                                            //  convertFormToJSON('saveForm')
                                            form.submit();
                                        }

                                    },
                                });


                            });
                    },
                    errorPlacement: function (error, element) {
                        element.attr('style', 'border:#FF0000 1px solid;');
                        element.parents('.form-group').find("._formErrorMsg").html('<div style="color: #FF0000; padding-bottom: 10px; padding-left: 10px;">' + error.text() + '</div>');

                    },
                    success: function (error, element) {
                        // element.attr('style', '');
                        console.log(element);
                        return false;
                    }
                });



            });
            $('#modal').each(function () {
                $('#modal').modal('show');
            });

            $('#modalError').each(function () {
                $('#modalError').modal('show');
            });

            $('#changeImg').click(function () {
                $(this).attr('src', $(this).attr('src') + "?d=" + Date.now());

            });

           //  $('#changeImg').trigger("click");
            $('#changeImg').trigger("click");

            $.fn.serializeObject = function () {
                var checkboxNames = [];
                var $checkbox = $('input[type=checkbox]', this);
                $.each($checkbox, function () {
                    if ($.inArray(this.name, checkboxNames) == -1) {
                        checkboxNames.push(this.name);
                    }
                });
                var o = {};
                var a = this.serializeArray();
                $.each(a, function () {
                    if (o[this.name] !== undefined) {
                        if (!o[this.name].push) {
                            o[this.name] = [o[this.name]]; //为数组追加value
                        }
                        o[this.name].push(this.value || '');
                    } else {
                        if ($.inArray(this.name, checkboxNames) >= 0) {
                            o[this.name] = [this.value]; //构造 {name : []} checkbox值放入数组中
                        } else {
                            o[this.name] = this.value || '';//构造 {name : value}
                        }
                    }
                });
                return o;
            };

            function convertFormToJSON(form) {
                const array = $('#' + form).serializeArray(); // Encodes the set of form elements as an array of names and values.

                const test = $('#' + form).serializeObject();
                console.log(test);

                const json = {};
                $.each(array, function () {

                    json[this.name] = this.value || "";



                });




                return JSON.stringify(json);
            }
        });


        window.onload = function () {

            

        }

    </script>
}