﻿@using WebApp.Services;
@inject LocalService _localizer
@{
    List<ArticleDownload> Model = ViewBag.data;
}

<main>
    <h1 class="title-h1">Corporate Sustainability</h1>
    <div class="page-banner-box">
        <div class="page-banner">
            <h2 class="page-banner-title">@_localizer.GetLocalizedHtmlString("CorporateSustainability").ToString()</h2>
            <img class="img-object" src="/styles/images/sustainability/sustainability-banner.webp" alt>
        </div>
        <div class="breadnav-block fade">
            <ul class="breadnav-box">
                <li><a href="@Url.Content("~/" + ViewBag.culture)"><i class="demo-icon icon-home"></i></a></li>
                <li><a href="@Html.Raw(ViewBag.culturePath + "Sustainability/AMessageFromTheCEO")"><span>@_localizer.GetLocalizedHtmlString("CorporateSustainability").ToString()</span></a></li>
                <li><span>@_localizer.GetLocalizedHtmlString("Download").ToString()</span></li>
            </ul>
            <div class="breadnav-bg"></div>
        </div>
    </div>
    <div class="about-box w-1500">

        @Html.Partial("Nav")


        <div class="about-info-block fade-left">
            <div class="about-top-line"></div>
            <h2 class="about-title">@_localizer.GetLocalizedHtmlString("Download").ToString()</h2>
            @if (Model != null)
            {

                <div class="download-box">
                    @foreach (ArticleDownload item in Model)
                    {
                        LanguageResource LangData = item.LangData.FirstOrDefault();
                        <a class="download-list" href="@Html.Raw( (LangData?.FilesData.file != null && LangData?.FilesData.file.Count > 0 && LangData?.FilesData.file[0].path != null ) ? LangData?.FilesData.file[0].path : "#1")" target="_blank">
                            <span class="download-list-img-box">
                                <span class="download-list-img">
                                    <img src="@Html.Raw((new Helper()).FormatPic(LangData , "pic" , "image"))" alt="@Html.Raw((new Helper()).FormatPic(LangData , "pic" , "title"))">
                                </span>
                            </span>
                            <span class="download-list-title-box">
                                <span class="download-list-year">@item.year</span>
                                <span class="download-list-p">@LangData?.title</span>
                            </span>
                        </a>
                    }


                </div>
            }

        </div>



    </div>
</main>