﻿@using WebApp.Services;
@inject LocalService _localizer
@using Web.Repositories.Web;
@{
    List<ArticlePage> CS = await (new ArticlePageRepository()).FindArticlePages(ViewBag.nowLang, "CS");
}
<div class="about-class-block fade">
    <div class="rwd-about-class-title">@ViewBag.MenuTitle</div>
    <div class="about-class-box">
        <div class="about-class @ViewBag.SubAvtice["AMessageFromTheCEO"]">
            <a href="@Html.Raw(ViewBag.culturePath + "Sustainability/AMessageFromTheCEO")" class="about-class-title">@_localizer.GetLocalizedHtmlString("AMessageFromTheCEO").ToString()</a>
        </div>
        <div class="about-class @ViewBag.TopAvtice["CorporateSustainability"]">
            <div class="about-class-title about-more-class">@_localizer.GetLocalizedHtmlString("CorporateSocialResponsibility").ToString()</div>
            <ul class="about-class-more">
                @foreach (ArticlePage item in CS)
                {
                    LanguageResource LangData = item.LangData.FirstOrDefault();
                    if (LangData != null)
                    {
                        <li class="@Html.Raw( (ViewBag.id == item.id) ? "active" : "" )"><a href="@Html.Raw(ViewBag.culturePath + "Sustainability/" + item.id)">@LangData.title</a></li>
                    }

                }


            </ul>
        </div>
        <div class="about-class @ViewBag.TopAvtice["StakeholderEngagement"]">
            <div class="about-class-title about-more-class">@_localizer.GetLocalizedHtmlString("StakeholderEngagement").ToString()</div>
            <ul class="about-class-more">
                <li class="@ViewBag.SubAvtice["StakeholderCommunication"]"><a href="@Html.Raw(ViewBag.culturePath + "Sustainability/StakeholderCommunication")">@_localizer.GetLocalizedHtmlString("StakeholderCommunication").ToString()</a></li>
                <li class="@ViewBag.SubAvtice["CSRQuestionnaire"]"><a href="@Html.Raw(ViewBag.culturePath + "Sustainability/CSRQuestionnaire")">@_localizer.GetLocalizedHtmlString("CSRQuestionnaire").ToString()</a></li>
            </ul>
        </div>
        <div class="about-class @ViewBag.SubAvtice["Download"]">
            <a href="@Html.Raw(ViewBag.culturePath + "Sustainability/Download")" class="about-class-title">@_localizer.GetLocalizedHtmlString("Download").ToString()</a>
        </div>
        <div class="about-class">
            <a href="@Html.Raw(ViewBag.culturePath + "Contact")" " class="about-class-title">@_localizer.GetLocalizedHtmlString("ContactUs").ToString()</a>
        </div>
        <div class="about-class">
            <a href="@Html.Raw(ViewBag.culturePath + "News/All")" class="about-class-title">@_localizer.GetLocalizedHtmlString("News").ToString()</a>
        </div>



    </div>
</div>