﻿@using WebApp.Services;
@using Newtonsoft.Json;
@inject LocalService _localizer
@{
    List<QuestionnaireItem> questionnaireItems = ViewBag.AllQuestionnaireItem;
    List<QuestionnaireItem> relation = questionnaireItems.Where(m => m.category_id == "relation").ToList();
    List<QuestionnaireGroup> questionnaireGroups = ViewBag.AllQuestionnaireGroup;
    List<QuestionnaireGroup> responsibilityGroups = questionnaireGroups.Where(m => m.parent_id == "responsibility").ToList();
    List<Contact> contact = ViewBag.Contact;
}

<main>
    <h1 class="title-h1">Corporate Sustainability</h1>
    <div class="page-banner-box">
        <div class="page-banner">
            <h2 class="page-banner-title">@_localizer.GetLocalizedHtmlString("CorporateSustainability").ToString()</h2>
            <img class="img-object" src="/styles/images/sustainability/sustainability-banner.webp" alt>
        </div>

    </div>
    <div class="bgf5f5f5">
        <div class="w-1500 bg-fff results-block fade">
            <div class="results-top">
                <div class="results-top-line"><span></span></div>
                <h2 class="results-top-title">@_localizer.GetLocalizedHtmlString("StatisticalResults").ToString()</h2>
                <div class="chart-box">

                    @if (relation != null && relation.Count > 0)
                    {
                        @foreach (QuestionnaireItem item in relation)
                        {

                            LanguageResource subLangData = item.LangData.FirstOrDefault();
                            FormModel model = JsonConvert.DeserializeObject<FormModel>(subLangData.options);



                            @if (model.type == "checkbox")
                            {

                                List<Dictionary<string, string>> checkboxs = JsonConvert.DeserializeObject<List<Dictionary<string, string>>>(model.value);

                                int i = 1;

                                @foreach (Dictionary<string, string> subItem in checkboxs)
                                {

                                    foreach (KeyValuePair<string, string> c in subItem)
                                    {

                                        <div class="chart-list">
                                            <h2 class="chart-list-title">@c.Value</h2>
                                            <div class="chart-line-box">
                                                <div class="chart-line">
                                                    <span class="chart-line-num"></span>
                                                </div>
                                                <div class="chart-line-bottom"></div>
                                            </div>
                                            <div class="chart-num">@Html.Raw( await (new Helper()).Calculate(c.Value , contact , "checkbox") )</div>
                                        </div>
                                    }
                                }
                            }
                        }
                    }

                </div>
                <div class="results-box">
                    <p class="color-646464 mb-20">(@_localizer.GetLocalizedHtmlString("souce").ToString())</p>
                    <div class="questionnaire-info-box">
                        <div class="questionnaire-info-title-box">
                            <div class="questionnaire-dimension questionnaire-info-title">
                                <p class="fw-bold color-FFF">@_localizer.GetLocalizedHtmlString("Dimension").ToString()</p>
                            </div>
                            <div class="questionnaire-info-right">
                                <div class="questionnaire-issues questionnaire-info-title">
                                    <p class="fw-bold color-FFF">@_localizer.GetLocalizedHtmlString("Issues").ToString()</p>
                                </div>
                                <div class="questionnaire-descriptions questionnaire-info-title">
                                    <p class="fw-bold color-FFF">@_localizer.GetLocalizedHtmlString("Descriptions").ToString()</p>
                                </div>
                                <div class="questionnaire-level">
                                    <p class="fw-bold color-FFF level-title text-center">@_localizer.GetLocalizedHtmlString("LevelofImportance").ToString()</p>
                                </div>
                            </div>
                        </div>
                        <div class="questionnaire-list-box color-323232">

                            @if (responsibilityGroups != null && responsibilityGroups.Count > 0)
                            {

                                @foreach (QuestionnaireGroup group in responsibilityGroups)
                                {
                                    LanguageResource groupLangData = group.LangData.FirstOrDefault();


                                    List<QuestionnaireItem> responsibility = questionnaireItems.Where(m => m.category_id == group.id).ToList();

                                    @if (responsibility != null && responsibility.Count > 0)
                                    {
                                        <div class="questionnaire-list">
                                            <div class="questionnaire-dimension">
                                                  <p>@groupLangData?.title</p>
                                            </div>
                                            <div class="questionnaire-info-right">
                                                @foreach (QuestionnaireItem item in responsibility)
                                                {

                                                    LanguageResource subLangData = item.LangData.FirstOrDefault();
                                                    FormModel model = JsonConvert.DeserializeObject<FormModel>(subLangData.options);

                                                    Dictionary<string, string> radios = JsonConvert.DeserializeObject<Dictionary<string, string>>(model.value);
                                                    int i = 1;
                                                <div class="list">
                                                    <div class="questionnaire-issues list-box">
                                                         <p>@subLangData?.title</p>
                                                    </div>
                                                    <div class="questionnaire-descriptions list-box">
                                                        <p>@subLangData?.DetailsData?.notes</p>
                                                    </div>
                                                    <div class="questionnaire-level level-box">
                                                        @Html.Raw( await (new Helper()).CalculateSource(item.spec , contact , "") )
                                                    </div>
                                                </div>

                                                }
                                            </div>
                                        </div>

                                    }
                                }
                            }

                          
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>