﻿@using WebApp.Services;
@inject LocalService _localizer
@{
    LanguageResource category = ViewBag.category;
    LanguageResource data = ViewBag.data;
}
<main>
    <h1 class="title-h1">new</h1>
    <div class="page-banner-box">
        <div class="page-banner">
            <h2 class="page-banner-title">@category.title</h2>
            <img class="img-object" src="~/styles/images/finance/page-banner1.webp" alt>
        </div>
        <div class="breadnav-block fade">
            <ul class="breadnav-box">
                <li><a href="@Html.Raw( ViewBag.culturePath)"><i class="demo-icon icon-home"></i></a></li>
                <li><a href="@Html.Raw( ViewBag.culturePath + "News/All")"><span>@_localizer.GetLocalizedHtmlString("News").ToString()</span></a></li>
                <li><span>@category.title</span></li>
            </ul>
            <div class="breadnav-bg"></div>
        </div>
    </div>

    <div class="finance-block" id="new">
        <div class="container-box">
            <div class="new-block">
                <div class="new-box">
                    <div class="new-day-box">
                        <span class="news-info-date">@ViewBag.MonthDay</span>
                        <span class="news-info-year">@ViewBag.Year</span>
                        <span class="new-info-class">@category.title</span>
                    </div>
                    <h3 class="new-title">@data.title</h3>
                    <div class="new-share-box">
                        <a href="#1" class="new-share fb_bat fb_s"><i class="demo-icon icon-fb"></i></a>
                        <!-- Your share button code -->
@*                        <div class="fb-share-button"
                             data-href=""
                             data-layout="button_count">
                        </div>*@
                        <a href="#1" class="new-share twitter_bat tt_s"><i class="demo-icon icon-twitter"></i></a>
                        <a href="#1" class="new-share line_bat line_s"><i class="demo-icon icon-footer-line"></i></a>
                    </div>
                    <div class="edit-box">
                        @Html.Raw(data.DetailsData?.editor ?? "")

                    </div>
                    @if (data?.files != "{}" && data?.FilesData != null && data?.FilesData.file != null && data?.FilesData.file[0].path != "" && data?.FilesData.file[0].path.Contains("/"))
                    {
                        <a href="@Html.Raw(data?.FilesData.file[0].path ?? "#1")" class="news-download" target="_blank">@_localizer.GetLocalizedHtmlString("Download").ToString()</a>
                    }

                    <div class="back-block">
                        <a href="@Html.Raw( ViewBag.culturePath + "News/"+category.ArticleCategoryId)" class="back-box fade-right">
                            <span class="back-icon"></span>
                            <span class="back-p">Back</span>
                        </a>
                        <div class="page-button-box fade-left">
                            @if (ViewBag.prevData != null)
                            {
                                <a href="@Html.Raw( ViewBag.culturePath+"NewsDetail/" + (!string.IsNullOrEmpty(ViewBag.prevData.path) ? ViewBag.prevData.path : ViewBag.prevData.id))" class="page-button page-prev">
                                    <span class="page-button-icon"></span>
                                    Previous
                                </a>
                            }
                            @if (ViewBag.nextData != null)
                            {
                                <a href="@Html.Raw( ViewBag.culturePath+"NewsDetail/" + (!string.IsNullOrEmpty(ViewBag.nextData.path) ? ViewBag.nextData.path : ViewBag.nextData.id))" class="page-button page-next">
                                    Next
                                    <span class="page-button-icon"></span>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


@section Scripts {
    <script>
        //var str = window.document.location.href;
        //$(".fb-comments").prop("data-href",'http://www.facebook.com/share.php?u='.concat(str));

        $(function() {
            //FB分享
            $(".fb_s").click(function(e) {
                var thisURL = window.document.location.href;

                window.open('http://www.facebook.com/share.php?u='.concat(thisURL), 'pop', config = 'height=500,width=500');
            });

            //twitter分享
            $(".tt_s").click(function(e) {
                var thisURL = window.document.location.href;

                window.open('https://www.twitter.com/intent/tweet?url=' + thisURL, 'pop', config = 'height=500,width=500');
            });

            //line分享
            $(".line_s").click(function(e) {
                var pageTitle = encodeURIComponent(document.title);
                var thisURL = encodeURIComponent(window.document.location.href);
                // window.open('http://line.naver.jp/R/msg/text/?' + "+".concat(thisURL), 'pop', config = 'height=500,width=500');

                window.open('https://social-plugins.line.me/lineit/share?url=' + thisURL, 'pop', config = 'height=500,width=500');
            });



        });

    </script>
}