﻿@model IEnumerable<WebApp.Models.ArticleNews>
@using WebApp.Services;
@inject LocalService _localizer
@{
    List<ArticleCategory> categories = ViewBag.categories;
}
<main>
    <h1 class="title-h1">News</h1>
    <div class="page-banner-box">
        <div class="page-banner">
            <h2 class="page-banner-title">@Html.Raw( (ViewBag.category != null) ? ViewBag.LangData.title : _localizer.GetLocalizedHtmlString("News").ToString() )</h2>
            <img class="img-object" src="~/styles/images/finance/page-banner1.webp" alt>
        </div>
        <div class="breadnav-block fade">
            <ul class="breadnav-box">
                <li><a href="@Url.Content("~/" + ViewBag.culture)"><i class="demo-icon icon-home"></i></a></li>
                <li><a href="@Html.Raw( ViewBag.culturePath + "News/All")"><span>@_localizer.GetLocalizedHtmlString("News").ToString()</span></a></li>
                <li><span>@Html.Raw( (ViewBag.category != null) ? ViewBag.LangData.title : "All" )</span></li>
            </ul>
            <div class="breadnav-bg"></div>
        </div>
    </div>

    <div class="finance-block filings-block" id="news">
        <div class="finance-class-block">
            <div class="rwd-finance-box"></div>
            <ul class="finance-class-box fade-up ">
                <li class="@Html.Raw( (ViewBag.category == null) ? "active" : "" )"><a href="@Html.Raw(ViewBag.culturePath + "News/All")">All</a></li>
                @foreach (ArticleCategory item in categories)
                {
                    LanguageResource LangData = item.LangData.FirstOrDefault();
                    if (!string.IsNullOrEmpty(LangData?.title))
                    {
                        <li class="@Html.Raw( (ViewBag.category != null && ViewBag.category.id == item.id) ? "active" : "" )"><a href="@Html.Raw(ViewBag.culturePath + "News/" + (!string.IsNullOrEmpty(item.path) ? item.path :　item.id))">@LangData?.title</a></li>
                    }

                }


            </ul>
        </div>
        <div class="container-box">
            @if (Model != null)
            {
                <div class="news-list-box">

                    @foreach (ArticleNews item in Model)
                    {
                        var categorycount = categories.Where(m => m.id == item.category_id).Count();
                        if (categorycount != 0)
                        {
                        LanguageResource LangData = item.LangData.FirstOrDefault();

                        string MonthDay = "";
                        string Year = "";
                        string langid = LangData.language_id;

                       @* if (!string.IsNullOrEmpty(item?.start_at.ToString()))
                        {
                            if (langid == "zh-TW")
                            {
                                MonthDay = DateTime.Parse(LangData?.start_at.ToString()).ToString("MMM dd日");
                                Year = DateTime.Parse(LangData?.start_at.ToString()).ToString("yyyy");
                            }
                            else if (langid == "zh-CN")
                            {
                                MonthDay = DateTime.Parse(LangData?.start_at.ToString()).ToString("MMM dd日");
                                Year = DateTime.Parse(LangData?.start_at.ToString()).ToString("yyyy");
                            }
                            else
                            {
                                MonthDay = DateTime.Parse(LangData?.start_at.ToString()).ToString("MMM dd");
                                Year = DateTime.Parse(LangData?.start_at.ToString()).ToString("yyyy");
                            }
                        }
                        else
                        {
                            if (!string.IsNullOrEmpty(LangData?.created_at.ToString()))
                            {
                                if (langid == "zh-TW")
                                {
                                    MonthDay = DateTime.Parse(LangData?.created_at.ToString()).ToString("MMM dd日");
                                    Year = DateTime.Parse(LangData?.created_at.ToString()).ToString("yyyy");
                                }
                                else if (langid == "zh-CN")
                                {
                                    MonthDay = DateTime.Parse(LangData?.created_at.ToString()).ToString("MMM dd日");
                                    Year = DateTime.Parse(LangData?.created_at.ToString()).ToString("yyyy");
                                }
                                else
                                {
                                    MonthDay = DateTime.Parse(LangData?.created_at.ToString()).ToString("MMM dd");
                                    Year = DateTime.Parse(LangData?.created_at.ToString()).ToString("yyyy");
                                }
                            }
                        }*@
                         if (!string.IsNullOrEmpty(item?.start_at.ToString()))
                        {
                            if (langid == "zh-TW")
                            {
                                MonthDay = DateTime.Parse(LangData?.start_at.ToString()).ToString("MMM dd日");
                                Year = DateTime.Parse(LangData?.start_at.ToString()).ToString("yyyy");
                            }
                            else if (langid == "zh-CN")
                            {
                                MonthDay = DateTime.Parse(LangData?.start_at.ToString()).ToString("MMM dd日");
                                Year = DateTime.Parse(LangData?.start_at.ToString()).ToString("yyyy");
                            }
                            else
                            {
                                MonthDay = DateTime.Parse(LangData?.start_at.ToString()).ToString("MMM dd");
                                Year = DateTime.Parse(LangData?.start_at.ToString()).ToString("yyyy");
                            }
                        }
                        else
                        {
                            if (!string.IsNullOrEmpty(LangData?.start_at.ToString()))
                            {
                                if (langid == "zh-TW")
                                {
                                    MonthDay = DateTime.Parse(LangData?.start_at.ToString()).ToString("MMM dd日");
                                    Year = DateTime.Parse(LangData?.start_at.ToString()).ToString("yyyy");
                                }
                                else if (langid == "zh-CN")
                                {
                                    MonthDay = DateTime.Parse(LangData?.start_at.ToString()).ToString("MMM dd日");
                                    Year = DateTime.Parse(LangData?.start_at.ToString()).ToString("yyyy");
                                }
                                else
                                {
                                    MonthDay = DateTime.Parse(LangData?.start_at.ToString()).ToString("MMM dd");
                                    Year = DateTime.Parse(LangData?.start_at.ToString()).ToString("yyyy");
                                }
                            }
                        }

                        var thisCategory = categories.Where(m => m.id == item.category_id).FirstOrDefault().LangData?.FirstOrDefault() ?? null;

                        <a href="@Html.Raw(ViewBag.culturePath + "NewsDetail/" + (!string.IsNullOrEmpty(item.path) ? item.path :　item.id))" class="news-list fade-up">
                            <span class="news-img-block">
                                <span class="news-img">
                                    <img src="@Html.Raw((new Helper()).FormatPic(LangData , "pic" , "image"))" alt="@Html.Raw((new Helper()).FormatPic(LangData , "pic" , "title"))">
                                </span>

                                <span class="news-class" style="background-color:@thisCategory?.DetailsData.color;">@thisCategory?.title</span>

                            </span>
                            <span class="news-info-box">
                                <div class="news-info-day">
                                    <span class="news-info-date">@MonthDay</span>
                                    <span class="news-info-year">@Year</span>
                                </div>
                                <span class="news-info-title">@LangData?.title</span>
                                <span class="news-info">
                                    @LangData?.DetailsData.notes ...
                                </span>
                            </span>
                        </a>                            
                        }

                    }
                </div>




            }

            @{
                /*頁碼*/
            }
            @Html.Partial("Pagination")

        </div>
    </div>
</main>