﻿@model IEnumerable<dynamic>
@using WebApp.Services;
@inject LocalService _localizer

<main>
    <h1 class="title-h1">Annual Report</h1>
    <div class="page-banner-box">
        <div class="page-banner">
             <h2 class="page-banner-title">@_localizer.GetLocalizedHtmlString("Financials").ToString()</h2>
            <img class="img-object" src="/styles/images/finance/page-banner1.webp" alt>
        </div>
        <div class="breadnav-block fade">
            <ul class="breadnav-box">
                <li><a href="@Html.Raw(ViewBag.culturePath)"><i class="demo-icon icon-home"></i></a></li>
                <li><a href="@Html.Raw(ViewBag.culturePath + "Finance")"><span>@_localizer.GetLocalizedHtmlString("Financials").ToString()</span></a></li>
                <li><span>@_localizer.GetLocalizedHtmlString("AnnualReport").ToString()</span></li>

            </ul>
            <div class="breadnav-bg"></div>
        </div>
    </div>
    <div  class="finance-class-block">
        <div class="rwd-finance-box"></div>
        <ul class="finance-class-box fade-up ">
            <li><a href="@Html.Raw(ViewBag.culturePath + "Finance")">@_localizer.GetLocalizedHtmlString("FinancialsNext").ToString()</a></li>
            <li class="active"><a href="@Html.Raw(ViewBag.culturePath + "Annual")">@_localizer.GetLocalizedHtmlString("AnnualReport").ToString()</a></li>
            <li><a href="@Html.Raw(ViewBag.culturePath + "News/All")">@_localizer.GetLocalizedHtmlString("NewsCenter").ToString()</a></li>
        </ul>
    </div >
     @if (Model != null)
     {

        <div  class="finance-block  filings-block">
            <div class="container-box">
            <h3 class="finance-title fade">@_localizer.GetLocalizedHtmlString("AnnualReport").ToString()</h3>
            <div class="filings-box">



               @foreach (ArticleDownload item in Model)
                    {
                        LanguageResource LangData = item.LangData.FirstOrDefault();

                    <a class="annual-list fade-up"  href="@Html.Raw(LangData?.FilesData.file[0].path ?? "#1")" target="_blank" >
                        <span class="annual-info-box">
                                <span class="annual-info-title">@_localizer.GetLocalizedHtmlString("AnnualReport").ToString()</span>
                            <span class="annual-info-year">@item.year</span>
                            <span class="annual-info-icon"></span>
                            <span class="annual-info-footer">
                                <span class="annual-footer-logo">
                                    <img src="~/styles/static/home/annual-logo.png" alt>
                                    <img src="~/styles/static/home/annual-logo-hover.png" class="annual-footer-logo-hover" alt>
                                </span>
                                <span class="annual-footer-copy">Siliconware Precision Industries Co., Ltd</span>
                            </span>
                        </span>
                        <!-- 客戶要可以自己改hover的背景 -->
    
                          @if(LangData?.PicData != null  && LangData?.PicData?.pic != null && LangData?.PicData?.pic.Count > 0)
                            {
                                   <span class="filings-info-bg" style="background-image:url(@LangData?.PicData?.pic[0].path)"></span>
                            }
                            else
                            {
                                   <span class="filings-info-bg" style="background-image:url(/styles/images/finance/annual-bg2.jpg)"></span>
                            }
                    </a>
               }
            </div>

                 @{
                        /*頁碼*/
                    }
                    @Html.Partial("Pagination")
        </div>
    </div >

    }

</main>