﻿@model IEnumerable<dynamic>
@using WebApp.Services;
@inject LocalService _localizer

<main>
    <h1 class="title-h1">Financial Report</h1>
    <div class="page-banner-box">
        <div class="page-banner">
            <h2 class="page-banner-title">@_localizer.GetLocalizedHtmlString("Financials").ToString()</h2>
            <img class="img-object" src="~/styles/images/finance/page-banner1.webp" alt>
        </div>

        <div class="breadnav-block fade">
            <ul class="breadnav-box">
                <li><a href="@Html.Raw(ViewBag.culturePath)"><i class="demo-icon icon-home"></i></a></li>
                <li><a href="@Html.Raw(ViewBag.culturePath + "Finance")"><span>@_localizer.GetLocalizedHtmlString("Financials").ToString()</span></a></li>
                <li><a href="@Html.Raw(ViewBag.culturePath + "Finance")"><span>@_localizer.GetLocalizedHtmlString("FinancialsNext").ToString()</span></a></li>
                <li><span>@_localizer.GetLocalizedHtmlString("USSECFilings").ToString()</span></li>
            </ul>
            <div class="breadnav-bg"></div>
        </div>
    </div>
    <div class="finance-class-block">
        <div class="rwd-finance-box"></div>
        <ul class="finance-class-box fade-up ">
            <li class="active"><a href="@Html.Raw(ViewBag.culturePath + "Finance")">@_localizer.GetLocalizedHtmlString("FinancialsNext").ToString()</a></li>
            <li><a href="@Html.Raw(ViewBag.culturePath + "Annual")">@_localizer.GetLocalizedHtmlString("AnnualReport").ToString()</a></li>
            <li><a href="@Html.Raw(ViewBag.culturePath + "News/All")">@_localizer.GetLocalizedHtmlString("NewsCenter").ToString()</a></li>
        </ul>

        <ul class="finance-s-class-box fade">
            <li><a href="@Html.Raw(ViewBag.culturePath + "Finance")">@_localizer.GetLocalizedHtmlString("MonthlySales").ToString()</a></li>
            <li><a href="@Html.Raw(ViewBag.culturePath + "Quarterly")">@_localizer.GetLocalizedHtmlString("QuarterlyResults").ToString()</a></li>
            <li class="active"><a href="@Html.Raw(ViewBag.culturePath + "Filings")">@_localizer.GetLocalizedHtmlString("USSECFilings").ToString()</a></li>
            <li><a href="@Html.Raw(ViewBag.culturePath + "FinancialReports")">@_localizer.GetLocalizedHtmlString("FinancialReport").ToString()</a></li>
        </ul>
    </div>


    <div class="finance-block filings-block">
        <div class="container-box">
            <h3 class="finance-title fade">@_localizer.GetLocalizedHtmlString("USSECFilings").ToString()</h3>


            @if (Model != null)
            {
                <div class="filings-box">


                    @foreach (ArticleDownload item in Model)
                    {
                        LanguageResource LangData = item.LangData.FirstOrDefault();


                        <div class="filings-list fade-up">
                            <div class="filings-info-box">
                                <h2>@LangData.title</h2>
                                @if(LangData?.FilesData.file != null && LangData?.FilesData.file.Count >0 && !string.IsNullOrEmpty(LangData?.FilesData.file[0].path))
                                {
                                  <a href="@Html.Raw(LangData?.FilesData.file[0].path ?? "#1")" target="_blank" class="filings-link">
                                    20F
                                </a>  
                                }
                                
                                @if (LangData?.FilesData.file2 != null  && LangData?.FilesData.file2.Count >0 && !string.IsNullOrEmpty(LangData?.FilesData.file2[0].path))
                                {
                                    <a href="@Html.Raw(LangData?.FilesData.file2[0].path ?? "#1")" target="_blank" class="filings-link">
                                        Conflict Mineral Report
                                    </a>
                                }

                            </div>
                            <!-- 客戶要可以自己改hover的背景 -->
                            @if(LangData?.PicData != null && LangData?.PicData?.pic != null && LangData?.PicData?.pic.Count > 0 && LangData?.PicData?.pic[0].path != "")
                            {
                                   <div class="filings-info-bg" style="background-image:url(@LangData?.PicData?.pic[0].path)"></div>
                            }
                            else
                            {
                                   <div class="filings-info-bg" style="background-image:url(/styles/images/finance/filing-hover.png)"></div>
                            }
                         

                        </div>

                    }



                </div>

            }

         @{
                        /*頁碼*/
                    }
                    @Html.Partial("Pagination")

        </div>
    </div>
</main>