﻿@model IEnumerable<dynamic>
@using WebApp.Services;
@inject LocalService _localizer
@{
    Dictionary<string, List<LanguageResource>> AllReport = ViewBag.AllReport;
}
<main>
    <h1 class="title-h1">@_localizer.GetLocalizedHtmlString("Financials").ToString()</h1>
    <div class="page-banner-box">
        <div class="page-banner">
            <h2 class="page-banner-title">@_localizer.GetLocalizedHtmlString("Financials").ToString()</h2>
            <img class="img-object" src="~/styles/images/finance/page-banner1.webp" alt>
        </div>

        <div class="breadnav-block fade">
            <ul class="breadnav-box">
                <li><a href="@Html.Raw(ViewBag.culturePath)"><i class="demo-icon icon-home"></i></a></li>
                <li><a href="@Html.Raw(ViewBag.culturePath + "Finance")"><span>@_localizer.GetLocalizedHtmlString("Financials").ToString()</span></a></li>
                <li><a href="@Html.Raw(ViewBag.culturePath + "Finance")"><span>@_localizer.GetLocalizedHtmlString("FinancialsNext").ToString()</span></a></li>
                <li><span>@_localizer.GetLocalizedHtmlString("MonthlySales").ToString()</span></li>
            </ul>
            <div class="breadnav-bg"></div>
        </div>
    </div>
    <div class="finance-class-block">
        <div class="rwd-finance-box"></div>
        <ul class="finance-class-box fade-up ">
            <li class="active"><a href="@Html.Raw(ViewBag.culturePath + "Finance")">@_localizer.GetLocalizedHtmlString("FinancialsNext").ToString()</a></li>
        <li><a href="@Html.Raw(ViewBag.culturePath + "Annual")">@_localizer.GetLocalizedHtmlString("AnnualReport").ToString()</a></li>
            <li><a href="@Html.Raw(ViewBag.culturePath + "News/All")">@_localizer.GetLocalizedHtmlString("NewsCenter").ToString()</a></li>
        </ul>

        <ul class="finance-s-class-box fade">
            <li class="active"><a href="@Html.Raw(ViewBag.culturePath + "Finance")">@_localizer.GetLocalizedHtmlString("MonthlySales").ToString()</a></li>
            <li><a href="@Html.Raw(ViewBag.culturePath + "Quarterly")">@_localizer.GetLocalizedHtmlString("QuarterlyResults").ToString()</a></li>
            <li><a href="@Html.Raw(ViewBag.culturePath + "Filings")">@_localizer.GetLocalizedHtmlString("USSECFilings").ToString()</a></li>
            <li><a href="@Html.Raw(ViewBag.culturePath + "FinancialReports")">@_localizer.GetLocalizedHtmlString("FinancialReport").ToString()</a></li>
        </ul>
    </div>
    <div class="finance-block">
        <div class="container-box">
            <h3 class="finance-title fade">@_localizer.GetLocalizedHtmlString("MonthlySales").ToString()</h3>
            <div class="sales-block">
                <div class="table-top-box fade-up">
                    <div class="table-year">@_localizer.GetLocalizedHtmlString("Year").ToString()</div>
                    <div class="table-list-box">
                        <div class="table-list">@_localizer.GetLocalizedHtmlString("Monthly").ToString()</div>
                    </div>
                </div>

                @if (Model != null)
                {
                    <div class="sales-list-box">

                        @foreach (string year in Model)
                        {
                            <div class="sales-list fade-up">
                                <div class="table-year">@year</div>
                                <div class="table-list-box">
                                    @for(int m=1;m<=12;m++)
                                    {
                                        if(AllReport.ContainsKey(year + "-" + m))
                                        {
                                            
                                            string date = DateTime.Parse( year+"-"+ m.ToString().PadLeft(2 ,'0') + "-01" ).ToString("MMM");    
                                            
                                            // LanguageResource LangData = AllReport[year + "-" + m];

                                            List<LanguageResource> LangDatas = AllReport[year + "-" + m];

                                            <div class="table-list">
                                                @foreach (LanguageResource LangData in LangDatas)
                                                {
                                                    <p><a href="@Html.Raw(LangData?.FilesData.file[0].path ?? "#1")" target="_blank">@date</a></p>
                                                }
                                               
                                                
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="table-list">-</div>
                                        }

                                        
                                    }



                                </div>
                            </div>

                        }


                        



                    </div>

                }
                  @{
                        /*頁碼*/
                    }
                    @Html.Partial("Pagination")
            </div>
            <div class="sales-ps-box  fade-up">
                <h2>Remark:</h2>
                <p>1.From the fiscal year of 2010 to 2012, Siliconware Precision Industries Co. Ltd provided monthly sales on standalone and consolidated basis.</p>
                <p>2.Starting from the fiscal year of 2013, Siliconware Precision Industries Co. Ltd will provide monthly sales on consolidated basis only due to the adoption of IFRSs.</p>
            </div>
        </div>
    </div>
</main>