﻿@using WebApp.Services;
@inject LocalService _localizer

<main>
    <h1 class="title-h1">Financial Report</h1>
    <div class="page-banner-box">
        <div class="page-banner">
            <h2 class="page-banner-title">@_localizer.GetLocalizedHtmlString("Financials").ToString()</h2>
            <img class="img-object" src="/styles/images/finance/page-banner1.webp" alt>
        </div>
        <div class="breadnav-block fade">
            <ul class="breadnav-box">
                <li><a href="@Html.Raw(ViewBag.culturePath)"><i class="demo-icon icon-home"></i></a></li>
                <li><a href="@Html.Raw(ViewBag.culturePath + "Finance")"><span>@_localizer.GetLocalizedHtmlString("Financials").ToString()</span></a></li>
                <li><a href="@Html.Raw(ViewBag.culturePath + "Finance")"><span>@_localizer.GetLocalizedHtmlString("FinancialsNext").ToString()</span></a></li>
                <li><span>@_localizer.GetLocalizedHtmlString("FinancialReport").ToString()</span></li>
            </ul>
            <div class="breadnav-bg"></div>
        </div>
    </div>
    <div class="finance-class-block">
        <div class="rwd-finance-box"></div>
        <ul class="finance-class-box fade-up ">
            <li class="active"><a href="@Html.Raw(ViewBag.culturePath + "Finance")">@_localizer.GetLocalizedHtmlString("FinancialsNext").ToString()</a></li>
            <li><a href="@Html.Raw(ViewBag.culturePath + "Annual")">@_localizer.GetLocalizedHtmlString("AnnualReport").ToString()</a></li>
            <li><a href="@Html.Raw(ViewBag.culturePath + "News/All")">@_localizer.GetLocalizedHtmlString("NewsCenter").ToString()</a></li>
        </ul>

        <ul class="finance-s-class-box fade">
            <li><a href="@Html.Raw(ViewBag.culturePath + "Finance")">@_localizer.GetLocalizedHtmlString("MonthlySales").ToString()</a></li>
            <li><a href="@Html.Raw(ViewBag.culturePath + "Quarterly")">@_localizer.GetLocalizedHtmlString("QuarterlyResults").ToString()</a></li>
            <li><a href="@Html.Raw(ViewBag.culturePath + "Filings")">@_localizer.GetLocalizedHtmlString("USSECFilings").ToString()</a></li>
            <li class="active"><a href="@Html.Raw(ViewBag.culturePath + "FinancialReports")">@_localizer.GetLocalizedHtmlString("FinancialReport").ToString()</a></li>
        </ul>
    </div>
    <div class="finance-block" id="reports">
        <div class="container-box">
            <h3 class="finance-title fade">@_localizer.GetLocalizedHtmlString("FinancialReport").ToString()</h3>
            <p class="reports-ps">@_localizer.GetLocalizedHtmlString("FinancialReportInfo").ToString()</p>
            <h2 class="reports-table-title fade-up">@_localizer.GetLocalizedHtmlString("Consolidated").ToString()</h2>
            <div class="quarterly-block">
                <div class="table-top-box fade-up">
                    <div class="table-year">@_localizer.GetLocalizedHtmlString("Year").ToString()</div>
                    <div class="table-list-box">
                        <div class="table-list">@_localizer.GetLocalizedHtmlString("Q1").ToString()</div>
                            <div class="table-list">@_localizer.GetLocalizedHtmlString("Q2").ToString()</div>
                            <div class="table-list">@_localizer.GetLocalizedHtmlString("Q3").ToString()</div>
                            <div class="table-list">@_localizer.GetLocalizedHtmlString("Q4").ToString()</div>
                    </div>
                </div>

                @if (ViewBag.Model1 != null)
                {
                    <div class="sales-list-box">

                        @foreach (string year in ViewBag.Model1)
                        {
                            <div class="sales-list fade-up">
                                <div class="table-year">@year</div>
                                <div class="table-list-box">

                                    @for (int m = 1; m <= 4; m++)
                                    {
                                        if (ViewBag.Consolidated.ContainsKey(year + "-" + m))
                                        {

                                           // LanguageResource LangData = ViewBag.Consolidated[year + "-" + m];

                                            List<LanguageResource> LangDatas = ViewBag.Consolidated[year + "-" + m];
                                          

                                            <div class="table-list">
                                                <div class="reports-link">
                                                    @foreach (LanguageResource LangData in LangDatas)
                                                    {
                                                    <p>
                                                    <a href="@Html.Raw(LangData?.FilesData.file[0].path ?? "#1")" target="_blank">@Html.Raw(m + "Q")</a>
                                                    </p>
                                                    }

                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="table-list">
                                                <div class="reports-link">-</div>
                                            </div>
                                        }


                                    }


                                </div>
                            </div>
                        }


                    </div>

                }
            </div>
            <h2 class="reports-table-title">@_localizer.GetLocalizedHtmlString("FinancialStatements").ToString()</h2>

            @if (ViewBag.Model2 != null)
            {
                <div class="quarterly-block">
                    <div class="table-top-box fade-up">
                        <div class="table-year">@_localizer.GetLocalizedHtmlString("Year").ToString()</div>
                        <div class="table-list-box">
                            <div class="table-list">@_localizer.GetLocalizedHtmlString("Q1").ToString()</div>
                            <div class="table-list">@_localizer.GetLocalizedHtmlString("Q2").ToString()</div>
                            <div class="table-list">@_localizer.GetLocalizedHtmlString("Q3").ToString()</div>
                            <div class="table-list">@_localizer.GetLocalizedHtmlString("Q4").ToString()</div>
                        </div>
                    </div>
                    <div class="sales-list-box">


                        @foreach (string year in ViewBag.Model2)
                        {
                            <div class="sales-list fade-up">
                                <div class="table-year">@year</div>
                                <div class="table-list-box">

                                    @for (int m = 1; m <= 4; m++)
                                    {
                                        if (ViewBag.AllReport.ContainsKey(year + "-" + m))
                                        {

                                            //LanguageResource LangData = ViewBag.AllReport[year + "-" + m];

                                            List<LanguageResource> LangDatas = ViewBag.AllReport[year + "-" + m];

                                          <div class="table-list">
                                                <div class="reports-link">
                                                    @foreach (LanguageResource LangData in LangDatas)
                                                    {
                                                   <p> <a href="@Html.Raw(LangData?.FilesData.file[0].path ?? "#1")" target="_blank">@Html.Raw(m + "Q")</a> </p>
                                                    }
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="table-list">
                                                <div class="reports-link">-</div>
                                            </div>
                                        }


                                    }


                                </div>
                            </div>
                        }




                    </div>

                </div>
            }
            <div class="sales-ps-box  fade-up">
                <h2>@_localizer.GetLocalizedHtmlString("Remark").ToString()</h2>
                @Html.Raw(_localizer.GetLocalizedHtmlString("FinancialReportInfoRemark").ToString())

              
            </div>
        </div>
    </div>
</main>