﻿@model IEnumerable<dynamic>
@using WebApp.Services;
@inject LocalService _localizer

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    Dictionary<string, List<LanguageResource>> AllReport = ViewBag.AllReport;
}

<main>
    <h1 class="title-h1">@_localizer.GetLocalizedHtmlString("FinancialReport").ToString()</h1>
    <div class="page-banner-box">
        <div class="page-banner">
            <h2 class="page-banner-title">@_localizer.GetLocalizedHtmlString("Financials").ToString()</h2>
            <img class="img-object" src="~/styles/images/finance/page-banner1.webp" alt>
        </div>

        <div class="breadnav-block fade">
            <ul class="breadnav-box">
                <li><a href="@Html.Raw(ViewBag.culturePath)"><i class="demo-icon icon-home"></i></a></li>
                <li><a href="@Html.Raw(ViewBag.culturePath + "Finance")"><span>@_localizer.GetLocalizedHtmlString("Financials").ToString()</span></a></li>
                <li><a href="@Html.Raw(ViewBag.culturePath + "Finance")"><span>@_localizer.GetLocalizedHtmlString("FinancialsNext").ToString()</span></a></li>
                <li><span>@_localizer.GetLocalizedHtmlString("QuarterlyResults").ToString()</span></li>
            </ul>
            <div class="breadnav-bg"></div>
        </div>
    </div>
    <div class="finance-class-block">
        <div class="rwd-finance-box"></div>
        <ul class="finance-class-box fade-up ">
            <li class="active"><a href="@Html.Raw(ViewBag.culturePath + "Finance")">@_localizer.GetLocalizedHtmlString("FinancialsNext").ToString()</a></li>
            <li><a href="@Html.Raw(ViewBag.culturePath + "Annual")">@_localizer.GetLocalizedHtmlString("AnnualReport").ToString()</a></li>
            <li><a href="@Html.Raw(ViewBag.culturePath + "News/All")">@_localizer.GetLocalizedHtmlString("NewsCenter").ToString()</a></li>
        </ul>

        <ul class="finance-s-class-box fade">

            <li><a href="@Html.Raw(ViewBag.culturePath + "Finance")">@_localizer.GetLocalizedHtmlString("MonthlySales").ToString()</a></li>
            <li class="active"><a href="@Html.Raw(ViewBag.culturePath + "Quarterly")">@_localizer.GetLocalizedHtmlString("QuarterlyResults").ToString()</a></li>
            <li><a href="@Html.Raw(ViewBag.culturePath + "Filings")">@_localizer.GetLocalizedHtmlString("USSECFilings").ToString()</a></li>
            <li><a href="@Html.Raw(ViewBag.culturePath + "FinancialReports")">@_localizer.GetLocalizedHtmlString("FinancialReport").ToString()</a></li>
        </ul>
    </div>
    <div class="finance-block">
        <div class="container-box">
            <h3 class="finance-title fade">@_localizer.GetLocalizedHtmlString("QuarterlyResults").ToString()</h3>
            <div class="quarterly-block">
                <div class="table-top-box fade-up">
                    <div class="table-year">Year</div>
                    <div class="table-list-box">
                        <div class="table-list">@_localizer.GetLocalizedHtmlString("Q1").ToString()</div>
                        <div class="table-list">@_localizer.GetLocalizedHtmlString("Q2").ToString()</div>
                        <div class="table-list">@_localizer.GetLocalizedHtmlString("Q3").ToString()</div>
                        <div class="table-list">@_localizer.GetLocalizedHtmlString("Q4").ToString()</div>
                    </div>
                </div>

                @if (Model != null)
                {

                    <div class="sales-list-box">

                        @foreach (string year in Model)
                        {
                            <div class="sales-list fade-up">
                                <div class="table-year">@year</div>
                                <div class="table-list-box">

                                    @for (int m = 1; m <= 4; m++)
                                    {
                                        if (AllReport.ContainsKey(year + "-" + m))
                                        {

                                            //LanguageResource LangData = AllReport[year + "-" + m];

                                            List<LanguageResource> ListLangData = AllReport[year + "-" + m];

                                            <div class="table-list">

                                                @foreach (LanguageResource LangData in ListLangData)
                                                {
                                                    <p class="document-button openMedia" data-id="@LangData?.ArticleDownloadId">@Html.Raw(LangData?.title)</p>
                                                }



                                            </div>
                                        }
                                        else
                                        {
                                            <div class="table-list">
                                                -
                                            </div>
                                        }


                                    }


                                </div>
                            </div>
                        }



                    </div>

                }

                @{
                    /*頁碼*/
                }
                @Html.Partial("Pagination")
            </div>

        </div>
    </div>
</main>
@*<div class="advertise-block" id="ShowMedia">
    <div class="advertise-show-box">
        <div class="advertise-close close-button"></div>

        <div class="document-block">
            <h2 class="document-title" v-html="items.title"></h2>

            <div class="document-list-box">


                <div v-if="items.video.length > 0" v-for="(video, index) in items.video">

                    <div v-if="video.type === 'youtube'">

                        <div class="document-list document-video" :data-index="index" :data-video="video.path">



                            <div class="icon">
                                <img src="~/styles/static/icon/video-icon.svg" alt>
                            </div>
                            <div class="document-info">

                                <h2 class="document-info-title" v-if="video.title !== ''">{{video.title}}</h2>
                                <h2 class="document-info-title" v-if="video.title === ''">Video</h2>

                                <p>{{video.sub_title}}</p>
                            </div>




                        </div>


                    </div>



                    <div v-if="video.type === 'other'">



                        <div class="document-list">
                            <div class="icon">
                                <img src="~/styles/static/icon/video-icon.svg" alt>
                            </div>
                            <div class="document-info">
                                <a :href="video.path" target="_blank" class="document-info-title" v-if="video.title !== ''">{{video.title}}</a>
                                <a :href="video.path" target="_blank" class="document-info-title" v-if="video.title === ''">Video</a>
                            </div>
                        </div>



                    </div>


                </div>




                <div v-if="items.files.length > 0" v-for="(file, index) in items.files" class="document-list">
                    <div class="icon">
                        <img src="~/styles/static/icon/document-icon.svg" alt>
                    </div>
                    <div class="document-info">
                        <a :href="file.path" target="_blank" class="document-info-title">{{file.title}}</a>
                    </div>
                </div>




            </div>
        </div>

    </div>
    <div class="advertise-video-block">
        <div class="video-close close-button"></div>
        <div class="advertise-video-box">
            <h2 class="advertise-video-title" v-if="video.title !== ''">{{video.title}}</h2>
            <h3 class="advertise-video-p" v-if="video.sub_title !== ''">{{video.sub_title}}</h3>
            <div class="video-iframe">
                <iframe width="560" height="315" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="advertise-mask"></div>
</div>*@

<div class="advertise-block">
    <!-- 原本是advertise-box改成advertise-show-box -->
    <div class="advertise-show-box">
        <div class="advertise-close close-button"></div>
        <div class="document-block">
            <h2 class="document-title" id="windowtitle"></h2>
            <div class="document-list-box">
                <div id="documentvideochange"></div>
                <div id="documentfilechange"></div>

            </div>
        </div>
    </div>
    <div class="advertise-video-block">
        <div class="video-close close-button"></div>
        <div class="advertise-video-box">
            <h2 class="advertise-video-title">Investor Conference Call Live Webcast – in Mandarin</h2>
            <h3 class="advertise-video-p">2:30 PM on Apr. 29, 2015 Taiwan Time</h3>
            <div class="video-iframe">
                <iframe width="560" height="315" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="advertise-mask"></div>
</div>

@section Scripts {

    <script>

        let lang = '@ViewBag.nowLang';

        //$(function() {

        //    $('.openMedia').click(function() {

        //        showMedia.getMedia($(this).attr('data-id'));


        //    });

        //});
        $(function() {

            $('.document-video').click(function() {
                var youtube = $(this).data("video");
                console.log(youtube);
                $('.advertise-show-box').addClass('close');
                $('.advertise-video-block').addClass('open');
                $('.video-iframe').find('iframe').attr("src", youtube);

                //let index = $(this).attr('data-index');
                //$this.video = $this.items.video[index];



            });

            $('.openMedia').click(function() {


                let needVal = new FormData();
                console.log($(this).attr('data-id'));
                needVal.append('id', $(this).attr('data-id'));

                needVal.append('lang', lang);
                var temphtml = "";
                var temphtml2 = "";

                $.ajax({
                    type: 'POST',
                    url: "/Report/GetQuarterlyMedia",
                    data: needVal,
                    // dataType: 'json',
                    cache: false,
                    contentType: false,
                    processData: false,
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    },
                    success: function(json) {

                        document.getElementById("windowtitle").innerHTML = json.title;

                        for (var i = 0; i < json.files.length; i++) {
                            if (json.files[i].title != "") {
                                temphtml = temphtml + '<div class="document-list"><div class="icon"><img src="styles/static/icon/document-icon.svg" alt></div><div class="document-info"><a href="' + json.files[i].path + '" target="_blank" class="document-info-title">' + json.files[i].title + '</a></div></div>';
                            }
                            else {
                                temphtml = temphtml + '<div class="document-list"><div class="icon"><img src="styles/static/icon/document-icon.svg" alt></div><div class="document-info"></div></div>';
                            }
                        }

                        document.getElementById('documentfilechange').innerHTML = temphtml;

                        for (var i = 0; i < json.video.length; i++) {
                            if (json.video[i].type == "youtube") {
                                if (json.video[i].title != "") {
                                    temphtml2 = temphtml2 + '<div class="document-list document-video" data-video="' + json.video[i].path + '"><div class="icon"><img src="styles/static/icon/video-icon.svg" alt></div><div class="document-info"><h2 class="document-info-title">' + json.video[i].title + '</h2><p>' + json.video[i].sub_title + '</p></div></div>';
                                }
                                else {
                                    temphtml2 = temphtml2 + '<div class="document-list document-video" data-video="' + json.video[i].path + '"><div class="icon"><img src="styles/static/icon/video-icon.svg" alt></div><div class="document-info"><p>' + json.video[i].sub_title + '</p></div></div>';
                                }
                            }
                            else if (json.video[i].type == "other") {
                                if (json.video[i].title != "") {
                                    temphtml2 = temphtml2 + '<div class="document-list"><div class="icon"><img src="styles/static/icon/video-icon.svg" alt></div><div class="document-info"><a href="' + json.video[i].path + '" class="document-info-title" target="_blank">' + json.video[i].title + '</a></div></div>';
                                }
                                else {
                                    temphtml2 = temphtml2 + '<div class="document-list"><div class="icon"><img src="styles/static/icon/video-icon.svg" alt></div><div class="document-info"></div></div>';
                                }
                            }
                        }

                        document.getElementById('documentvideochange').innerHTML = temphtml2;
                    },
                });

            });

        });



                                                //let showMedia = new Vue({
                                                //    el: '#ShowMedia',
                                                //    data: {
                                                //        items: [],
                                                //        video: [],
                                                //    },
                                                //    methods: {
                                                //        getMedia(id) {


                                                //            let needVal = new FormData();
                                                //            let $this = this;
                                                //            needVal.append('id', id);

                                                //            needVal.append('lang', lang);

                                                //            $.ajax({
                                                //                type: 'POST',
                                                //                url: "/Report/GetQuarterlyMedia",
                                                //                data: needVal,
                                                //                // dataType: 'json',
                                                //                cache: false,
                                                //                contentType: false,
                                                //                processData: false,
                                                //                headers: {
                                                //                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                                                //                },
                                                //                success: function(json) {

                                                //                    $this.items = json;


                                                //                },
                                                //            });
                                                //        },

                                                //    },
                                                //    watch: {
                                                //        items: function() {
                                                //            let $this = this;

                                                //            this.$nextTick(function() {

                                                //                $('.document-video').click(function() {
                                                //                    var youtube = $(this).data("video");
                                                //                    $('.advertise-show-box').addClass('close');
                                                //                    $('.advertise-video-block').addClass('open');
                                                //                    $('.video-iframe').find('iframe').attr("src", youtube);

                                                //                    let index = $(this).attr('data-index');
                                                //                    $this.video = $this.items.video[index];



                                                //                });


                                                //            });

                                                //        },

                                                //    },
                                                //    mounted: function() {



                                                //    },

                                                //});        //let showMedia = new Vue({
                                                //    el: '#ShowMedia',
                                                //    data: {
                                                //        items: [],
                                                //        video: [],
                                                //    },
                                                //    methods: {
                                                //        getMedia(id) {


                                                //            let needVal = new FormData();
                                                //            let $this = this;
                                                //            needVal.append('id', id);

                                                //            needVal.append('lang', lang);

                                                //            $.ajax({
                                                //                type: 'POST',
                                                //                url: "/Report/GetQuarterlyMedia",
                                                //                data: needVal,
                                                //                // dataType: 'json',
                                                //                cache: false,
                                                //                contentType: false,
                                                //                processData: false,
                                                //                headers: {
                                                //                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                                                //                },
                                                //                success: function(json) {

                                                //                    $this.items = json;


                                                //                },
                                                //            });
                                                //        },

                                                //    },
                                                //    watch: {
                                                //        items: function() {
                                                //            let $this = this;

                                                //            this.$nextTick(function() {

                                                //                $('.document-video').click(function() {
                                                //                    var youtube = $(this).data("video");
                                                //                    $('.advertise-show-box').addClass('close');
                                                //                    $('.advertise-video-block').addClass('open');
                                                //                    $('.video-iframe').find('iframe').attr("src", youtube);

                                                //                    let index = $(this).attr('data-index');
                                                //                    $this.video = $this.items.video[index];



                                                //                });


                                                //            });

                                                //        },

                                                //    },
                                                //    mounted: function() {



                                                //    },

                                                //});


    </script>

}