﻿@{
    Layout = null;
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="tw">
<head>
    <title>管理後台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <link href="/static/admin/css/app.css" rel="stylesheet" type="text/css">
</head>
<body class="login">
    <div class="loadscreen" id="preloader">
        <div class="loader spinner-bubble spinner-bubble-danger"></div>
    </div>

    <div class="wrapper user-login2">
        <div class="login-container container">
            <div class="row">
                <div class="col-md-auto col text-center">
                    <div class="login-content text-center text-sm-left">
                        <h1 class="text-main h3"><span class="login-logo d-block d-sm-inline"><img class="mr-2 mb-3" src="@ViewBag.webData?.PicData.icon[0].path" height="50"></span><span class="ml-2 d-block d-sm-inline">管理後台</span></h1>
                        <form class="login-form mt-4" action="/Siteadmin/Login/Verify" method="post">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="ReturnUrl" value="@ViewData["ReturnUrl"]" />

                            <div class="form-group row">
                                <div class="col-auto col-form-label">您的帳號 @ViewBag.username</div>
                                <div class="col">
                                    <input class="form-control" type="text" autocomplete="off" name="username" required="required">
                                </div>
                                <div class="col-auto"><i class="icon-profile-male h2 text-muted"></i></div>
                            </div>

                            <div class="form-group row">
                                <div class="col-auto col-form-label">您的密碼</div>
                                <div class="col">
                                    <input class="form-control" type="password" autocomplete="off" name="password" required="required">
                                </div>
                                <div class="col-auto d-none d-md-block"><i class="icon-key2 h2 text-muted"></i></div>
                            </div>

                            <div class="form-group row">
                                <label class="col-auto col-form-label" for="verification">驗證號碼</label>
                                <div class="col">
                                    <input class="form-control" type="text" id="verification" autocomplete="off" name="verification" required />
                                </div>
                                <div class="col-sm-auto d-md-block col-xs-12">
                                    <img src="~/api/Captcha" id="changeImg" style="width:100px;height:auto;cursor:pointer;" alt="" />
                                </div>
                            </div>






                            <div class="row align-items-center mt-4">
                                <div class="col">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="remember" name="remember" value="1" />
                                        <label class="custom-control-label" for="remember">記住我</label>
                                    </div>
                                </div>


                                <div class="col text-sm-left text-right">
                                    <!--
                                    <div class="forgot-password"><a class="forget-password text-secondary" id="forget-password" href="javascript:;">忘記密碼?</a></div>
                                    -->
                                </div>
                                <div class="col-sm text-md-right col-xs-12 text-center mt-4 mt-md-2">
                                    <button class="btn btn-main btn-lg rounded text-nowrap" type="submit">登入系統</button>
                                </div>
                            </div>

                            <div class="alert alert-danger error fade mt-3" role="alert"><span class="text">請輸入您的帳號與密碼</span></div>
                        </form>

                    </div>
                </div>

                <div class="col d-md-block d-none">
                    <div class="welcome-panl">
                        <h2 class="mb-3">Welcome !</h2>
                        <p>歡迎您使用企業網站內部管理系統，<br>若您於登入上有任何問題，<br>請來信與我們聯絡，我們將會盡快為您處裡!<br>祝您使用愉快與方便!</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="login-footer">
            <div class="login-copyright mb-3">
                <p>Copyright © minmax 2022</p>
            </div>
        </div>

        <div class="login-bg">
            <div class="swiper-container" id="login-swiper">
                <div class="swiper-wrapper">
                    <a class="swiper-slide imgFill"><img src="/static/admin/images/demo/example/01.jpg" alt="" /></a>
                    <a class="swiper-slide imgFill"><img src="/static/admin/images/demo/example/02.jpg" alt="" /></a>
                    <a class="swiper-slide imgFill"><img src="/static/admin/images/demo/example/03.jpg" alt="" /></a>
                </div>
            </div>
        </div>

    </div>
    <script src="/static/modules/lib/jquery.min.js"></script>
    <script src="/static/modules/lib/jquery-ui.min.js"></script>
    <script src="/static/modules/lib/env.js"></script>
    <script src="/static/modules/lib/popper.min.js"></script>


    <script src="/static/modules/bootstrap4/dist/js/bootstrap.min.js"></script>

    <script src="/static/modules/imgLiquid/imgLiquid-min.js"></script>

    <script src="/static/modules/validate/jquery.validate.js"></script>
    <script src="/static/modules/validate/additional-methods.js"></script>

    <script src="/static/modules/swiper/js/swiper.min.js"></script>
    <script src="/static/modules/module-localization.js"></script>


    <script src="/static/admin/js/validate.js"></script>
    <script src="/static/admin/js/login.js"></script>
    
    <script>
          $(function () {
            $('#changeImg').click(function () {
                    $(this).attr('src', $(this).attr('src') + "?d=" + Date.now());
                });
                
                $('#changeImg').click();
          });




    </script>
</body>
</html>